<style lang="scss">
.bugreport {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
  border: solid 2px;
  border-color: #808DB0;
}
.bugreport_columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}
.bugreport_column {
  display: block;
  flex-direction: column;
  flex-basis: 33%;
}
</style>

<template lang="html">
<div>
<div v-if="loading">
  <p>Loading...</p>
</div>
<div v-else class="columns is-multiline is-mobile bugreport">
  <div class="column is-12 has-text-centered">
    <p class="title">Bug Report</p>
  </div>
  <div class="bugreport_columns">
    <div class="bugreport_column">
      <exp-field label="Package ID">
        <exp-input type="text" disabled id="package_id" v-model="package_id" placeholder="Package ID"></exp-input>
      </exp-field>
      <exp-field label="Module ID">
        <exp-input type="text" disabled id="module_id" v-model="module_id" placeholder="Module ID"></exp-input>
      </exp-field>
      <exp-field label="Page ID">
        <exp-input type="text" disabled id="page_id" v-model="page_id" placeholder="Page ID"></exp-input>
      </exp-field>
    </div>
    <div class="bugreport_column">
      <exp-field label="Component Name">
        <exp-multiselect track-by="name" label="name" v-model="component_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" open-direction="bottom" :options="componentNames" required>
        </exp-multiselect>
      </exp-field>
      <exp-field label="User ID">
        <exp-input type="text" disabled id="user_id" v-model="user_id" placeholder="User ID"></exp-input>
      </exp-field>
    </div>
    <div class="bugreport_column">
      <exp-field label="Bug Title">
        <exp-input type="text" v-model="bug_title" id="bug_title" placeholder="Bug Title"></exp-input>
      </exp-field>
      <exp-field label="Bug Description">
        <exp-input type="textarea" v-model="bug_description" id="bug_description" placeholder="Bug Description"></exp-input>
      </exp-field>
    </div>
  </div>
  
  <div class="column is-12">
    <div class="is-pulled-right">
      <a @click="createBug()" class="button is-success">CREATE BUG</a>
      <a @click="clear()" class="button is-danger">CLEAR FIELDS</a>
    </div>
  </div>
</div>
</div>
</template>

<script>
export default {
  name: 'Bugreportform',
  props: {
    package_id: Number,
    module_id: Number,
    page_id: Number,
    parentmodal: Function
  },
  data () {
    return {
      loading: true,
      component_name: '',
      bug_title: '',
      bug_description: '',
      components: [],
      componentNames: {}
    }
  },
  mounted () {
    // get component keys of the current page from local storage 'dropped'
    this.components = JSON.parse(localStorage.getItem('dropped'))
    this.componentNames = this.components.reduce((output, i, index) => {
      return [...output, {name: `${index}: ${i.key} ${i.index}`, component_name: `${i.key}`}]
    }, [])
    this.user_id = JSON.parse(window.localStorage.getItem('expUser')).user_id
    this.loading = false
  },
  methods: {
    createBug () {
      if (this.package_id !== undefined && this.module_id !== undefined && this.page_id !== undefined && this.bug_title && this.bug_description) {
        this.$swal({
          title: 'New Bug',
          html: 
          `<div class="card">
            <header class="card-header ">
              <p class="card-header-title" style="display: block">` + this.bug_title + `</p>
            </header>
            <div class="card-content">
              <div class="content">
                <p><span class="has-text-weight-bold">Bug Description:</span> ` +   this.bug_description + `</p> 
                <p><span class="has-text-weight-bold">Package ID:</span> ` + this.package_id + `</p>
                <p><span class="has-text-weight-bold">Module ID:</span> ` + this.module_id + `</p>
                <p><span class="has-text-weight-bold">Page ID:</span> ` + this.page_id + `</p>
                <p><span class="has-text-weight-bold">Component Name:</span> ` +   this.component_name.component_name + `</p> 
              </div>
            </div> 
          </div>`,
          icon: 'info',
          dangerMode: false,
          showCancelButton: true,
          confirmButtonColor: '#23d160',
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Create'
        }).then((swalValue) => {
          if (swalValue.value) {
            this.$store.dispatch('bugs/CREATE_BUG', {
              package_id: this.package_id,
              module_id: this.module_id,
              page_id: this.page_id,
              bug_issuer: this.user_id,
              component_name: this.component_name.component_name,
              bug_title: this.bug_title,
              bug_description: this.bug_description
            })
            .then(resolve => {
              this.clear()
              this.$swal({
                title: 'Successfully created',
                icon: 'success',
                confirmButtonColor: '#23d160',
                confirmButtonText: 'Ok'
              })
            })
            .catch(error => {
              this.$swal({
                title: `${error.message}`,
                icon: 'error',
                cancelButtonColor: '#ff3860',
                confirmButtonText: 'Ok'
              })
            })
          }
        })
      } else {
        let errormessage = ''
        if (!this.bug_title) {
          errormessage = errormessage + 'Empty Bug Title field <br>'
        }
        if (!this.bug_description) {
          errormessage = errormessage + 'Empty Bug Description field <br>'
        }
        if (!this.component_name) {
          errormessage = errormessage + 'Empty Component Name field <br>'
        }
        this.$swal('All fields are required', errormessage , 'error')
      }
    },
    clear () {
      this.component_name = undefined
      this.bug_title = undefined
      this.bug_description = undefined
    }
  }
}

</script>
