<template>
<div>
  <template v-if="dropped.length">
    <div class="preview-wrapper">
      <!-- always a dropzone on top -->
      <div class="dropzone" data-index="0"></div>

      <!-- loop through all the added components -->
      <div  v-for="(el, index) in dropped" :key="index">

        <!-- <div class="columns is-mobile" :class="{ 'show-container' : el.sibling }"> -->
          <div class="columns is-mobile" :class="{ 'show-container' : el.sibling }">

          <dropped-component
            :el="el"
            :dropped="droppedonzone"
            :index="index"
            :class="containerClasses(el, index, false)" :swipe="swipe">
          </dropped-component>

          <!-- component may have a sibling in the row with it, add that too -->
          <!-- <dropped-component
            v-if="el.sibling"
            :el="el.sibling"
            :dropped="droppedonzone"
            :index="index"
            :is-sibling="true"
            :class="containerClasses(el, index, true)">
          </dropped-component> -->


          <div v-if="el.hasDropzone" class="fill dropzone" :class="containerClasses(el, index, false, true)"
              :data-index="index" :sibling="true"></div>

        </div>

        <!-- for each component, leave a dropzone underneath them -->
        <div class="dropzone" :data-index="index + 1"></div>
        <!-- <div class="dropzone columns is-multiline is-mobile" :data-index="index + 1"></div> -->
      </div>
    </div>
  </template>


  <!-- cute filler -->
  <div v-else class="preview-wrapper">
    <div class="dropzone" data-index="0"></div>
    <div class="has-text-centered default">
      <div class="customloader">
        <span class="is-size-1">l</span>
        <span class="is-size-1">o</span>
        <span class="is-size-1">a</span>
        <span class="is-size-1">d</span>
        <span class="is-size-1">i</span>
        <span class="is-size-1">n</span>
        <span class="is-size-1">g</span>
      </div>
      <!-- <p class="quote">Just drag and drop elements over to here!</p>
      <p class="quote">Then hover over them to edit, clone, or delete</p> -->
    </div>
  </div>
</div>
</template>

<script>
/* eslint-disable no-return-assign   */
import InteractJS from 'interactjs'
import Bus from '../config/eventhub'
import Component from './Component'
export default {

  name: 'Preview',

  props: {
    dropped: Array,
    swipe: Function
  },

  components: {
    'dropped-component': Component
  },

  data() {
    return {
      droppedonzone: this.dropped,
      highlightedContainers: [],
      beingEdited: {
        index: null,
        isSibling: false
      }
    }
  },
  created() {
    Bus.listen('dropzone-init', (data) => {
      this.initDropzones()
    })

    Bus.listen('droppedchanged', (data) => {
      this.$forceUpdate()
      this.droppedonzone = data
    })
    // whenever a container is edited, briefly highlight its borders
    Bus.listen('highlight-container', (index) => this.highlightContainer(index))

    // when component is being edited, highlight the container in red
    Bus.listen('editing-component', (data) => {
      this.beingEdited = {
        index: data.index,
        isSibling: data.isSibling
      }
    })
    Bus.listen('done-editing', (data) => this.beingEdited.index = null)
  },

  methods: {
    /**
     * Flash this component's container after it's newly created
     *
     * @param {int} index  Which container is new in the this.dropped
     */
    highlightContainer(index) {
      // attach the class by setting flag for this.customContainerClasses
      this.$set(this.highlightedContainers, index, true)

      // remove the class after a second
      setTimeout(() => {
        this.$set(this.highlightedContainers, index, false)
      }, 1000)
    },

    /**
     * Decide if the component's container has any special classes
     *
     * @param {object} el   The component
     * @param {int} index   The index of the row
     * @param {bool} sibling Is this component the sibling in a container?
     * @param {bool} dropzone  Are these classes going onto a dropzone element?
     * @returns {object}    Classes to be attached
     */
    containerClasses(el, index, sibling, dropzone) {
      return {
        'show-container': el.sibling,
        'highlighted': this.highlightedContainers[index],
        'being-edited': this.beingEdited.index === index && this.beingEdited.isSibling === sibling && !dropzone
      }
    },

    /**
     * Create zones for the components to be dragged into
     */
    initDropzones() {
      InteractJS.interact('.dropzone').dropzone({

        // need a 10% overlap to count as 'droppable'
        overlap: 0.1,

        // only accept draggable elements
        accept: '.draggable',
        // highlight all the zones that can be dropped in
        ondropactivate: function(event) {
          // add active dropzone feedback
          event.target.classList.add('drop-active')
        },

        // when a component is hovering inside a dropzone
        ondragenter: function(event) {
          let draggableElement = event.relatedTarget
          let dropzoneElement = event.target

          // feedback the possibility of a drop: green component, blue zone
          dropzoneElement.classList.add('drop-target')
          draggableElement.classList.add('can-drop')
        },

        // when a component is no longer hovering a dropzone
        ondragleave: function(event) {
          // remove the drop feedback style
          event.target.classList.remove('drop-target')
          event.relatedTarget.classList.remove('can-drop')
        },

        // when a component has been dropped in a dropzone
        ondrop: function(event) {
          Bus.fire('component-dropped', event)
          event.relatedTarget.classList.remove('can-drop')
        },

        // the dragging and dropping motion is over
        ondropdeactivate: function(event) {
          event.target.classList.remove('drop-active')
          event.target.classList.remove('drop-target')
        }
      })
    }
  }
}
</script>

<style lang="scss">
@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}
$background: #fefefe;
$text: #4b507a;

$primaryColor: #702c91;
$secondaryColor: #7cc242;

.preview-wrapper {
    background: white;
    overflow: hidden;
    width: 100%;
    padding: 1em;
    min-width: 1024px !important;
    max-width: 1024px !important;
}

.row {
    display: flex;
    border: 2px dashed transparent;
    transition: all 200ms ease;
    background-color: red;
    &:hover.show-container {
        border-color: lighten(hsl(48, 100%, 67%), 15%);
        transition: all 200ms ease;
    }
}

.quote {
    opacity: 0.7;
    color: hsl(204, 86%, 53%);
    margin-bottom: 10px;
    transition: all 200ms ease;
}
.dropzone {
    background: white;
    display: none;
    z-index: 0;
    margin: 0;
    height: 10px;
    border: 1px dashed transparent;
    border-color: transparent;
    transition: border-color 200ms ease;
    &:first-child{
      display: block;
    }
    &.default {
        height: auto;
        padding: 1em;
        font-size: 20px;
        border-width: 2px;
    }
    &.drop-target {
        .by,
        .quote {
            opacity: 0;
        }
    }
    &.fill {
        height: auto;
        margin: 0 10px;
        z-index: 0;
        min-height: 10px;
    }
    &.highlighted {
        border-color: hsl(141, 71%, 48%);
        transition: border-color 200ms ease;

    }
}
.drop-active {
    border: 1px dashed hsl(217, 71%, 53%);
    margin: 0;
    display: block;
    height: 40px;
    transition: all 200ms ease;
}

.drop-target {
    background: hsl(217, 71%, 53%);
    border-color: transparent;
    z-index: 1;
    transition: background 200ms ease, border-color 200ms ease;
}
.empty {
    background: $background;
    color: $text;
    font: 300 24px/1.5 Lato, sans-serif;
    margin: 1em auto;
    text-align: center;
    p {
        background: none;
        border: 0;
        box-sizing: border-box;
        margin: 1em auto;
        padding: 1em 2em;
        font-size: inherit;
        font-weight: 700;
        position: relative;

        &::after {
            box-sizing: inherit;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}

.spin {
    width: 5em;
    height: 5em;
    padding: 0;
    color: #702c91;

    &::after {
        top: -8px;
        left: 30px;
        border: 0 solid transparent;
        border-top: 2px solid;
        border-left-width: 2px;
        border-right-width: 2px;
        animation: infiniteRotate 1s infinite;
        transition: border-top-color ease-in 0.5s, transform ease-in 0.1s;
    }
}

.circle {
    border-radius: 10%;
    box-shadow: none;

    &::after,
    &::before {
        border-radius: 100%;
    }
}

@include keyframes(infiniteRotate) {
    from {
        transform: rotate(0deg);
        border-top-color: $secondaryColor;
    }
    to {
        transform: rotate(360deg);
        border-top-color: $primaryColor;
    }
}
</style>
