<style lang="scss">
.skillassignment{
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  border: solid 2px;
  border-color: #808DB0;
}
</style>

<template lang="html">
<div>
<div v-if="digipackageid === null" class="columns is-multiline is-mobile skillassignment">
  <div class="column is-12 has-text-centered">
    <p class="title">Digi Package ID is Missing! Please Contact Administration!</p>
  </div>
</div>
<div v-else class="columns is-multiline is-mobile skillassignment">
  <div class="column is-12 has-text-centered">
    <p class="title">Skill Assignment</p>
  </div>
  <div class="column is-12">
    <div class="columns is-mobile">
      <div class="column is-4">
        <exp-field label="Page ID">
            <exp-input type="text" disabled id="page_id" v-model="pageid" placeholder="Page ID"></exp-input>
        </exp-field>
      </div>
      <div class="column is-4">
        <exp-field label="Page Name">
            <exp-input type="text" id="page_name" v-model="page_name" placeholder="Page Name"></exp-input>
        </exp-field>
      </div>
      <div class="column is-4">
        <exp-field label="Page Keywords">
            <exp-input type="text" disabled id="page_keywords" placeholder="Page Keywords"></exp-input>
        </exp-field>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="columns is-mobile">
      <div class="column is-4">
        <exp-field label="Page URL">
            <exp-input type="text" disabled v-model="page_url" id="page_url" placeholder="Page URL"></exp-input>
        </exp-field>
      </div>
      <div class="column is-4">
        <exp-field label="Page Skill Type">
          <exp-multiselect track-by="id" label="name" v-model="page_skilltype" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" open-direction="bottom" :options="digi_skilltypes" required>
          </exp-multiselect>
        </exp-field>
      </div>
      <div class="column is-4">
        <exp-field label="Page Category">
          <exp-multiselect track-by="id" label="name" v-model="page_category" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" open-direction="bottom" :options="digi_categories" required>
          </exp-multiselect>
        </exp-field>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="columns is-mobile">
      <div class="column is-4">
        <exp-field label="Page Parent Module">
          <exp-multiselect track-by="id" label="name" v-model="page_module" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="digi_modules" open-direction="bottom" required>
          </exp-multiselect>
        </exp-field>
        <a @click="newmodule()" class="button is-success"><span>New Module</span><span class="icon"><i class="fa fa-plus"></i></span></a>
        <a v-if="digiresponseflag" @click="addlocalmodules()" class="button is-info"><span>Add Local Modules</span><span class="icon"><i class="fa fa-cloud-upload"></i></span></a>
      </div>
      <div class="column is-4">
        <exp-field label="Page Elec Limitation">
          <exp-multiselect track-by="id" label="name" v-model="page_eleclimitation" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" open-direction="bottom" :options="digi_eleclimitations" required>
          </exp-multiselect>
        </exp-field>
      </div>
      <div class="column is-4">
        <exp-field label="Page Weight">
          <exp-multiselect track-by="id" label="name" v-model="page_weight" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" open-direction="bottom" :options="digi_weights" required>
          </exp-multiselect>
        </exp-field>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="is-pulled-right">
      <a @click="assignskill()" class="button is-success">ASSIGN SKILL</a>
      <a @click="removeassign()" class="button is-danger">REMOVE SKILL</a>
    </div>
  </div>
  </div>
</div>
</template>

<script>
// import axios from 'axios'
import _ from 'lodash'
import {
  // DIGIENDPOINT,
    DIGITOKEN
    // APIENDPOINT
    } from '@/config/app-config'
import Bus from '@/config/eventhub'
export default {
  name: 'Skillassignment',
  props: {
    package_id: Number,
    module_id: Number,
    pageid: Number,
    parentmodal: Function
  },
  data () {
    return {
      localdigiurl: 'http://192.168.1.155/digi/web/api/digipubv1/getstandards',
      digiurl: 'https://beta.expressdigibooks.com/web/api/digipubv1/',
      skillassignment: null,
      digiresponseflag: false,
      digipackageid: null,
      page: {},
      page_url: null,
      page_name: null,
      page_activity_id: null,
      page_activity_name: null,
      page_module: {
        id: null,
        name: null
      },
      page_skilltype: {
        id: null,
        name: null
      },
      page_keywords: null,
      page_category: {
        id: null,
        name: null
      },
      page_weight: {
        id: null,
        name: null
      },
      page_eleclimitation: {
        id: null,
        name: null
      },
      digi_skilltypes: [],
      digi_modules: [],
      digi_categories: [],
      digi_weights: [],
      digi_keywords: [],
      digi_eleclimitations: []
    }
  },
  mounted () {
    // Init Values from DigiPub DB
    this.findlocalpage()
    // axios({
    //   method: 'post',
    //   url: this.digiurl + 'getstandards',
    //   data: {token: DIGITOKEN}
    // })
    this.$http.post(this.digiurl + 'getstandards', {data: {token: DIGITOKEN}})
    .then((response) => {
      console.log(response)
      this.digi_skilltypes = _.transform(response.data.skilltypes, (result, value, key) => {
        result.push({id: key, name: value})
      }, [])
      this.page_skilltype = this.digi_skilltypes[_.findIndex(this.digi_skilltypes, {'id': this.page.digi_skilltype_id})]
      this.digi_categories = _.transform(response.data.categories, (result, value, key) => {
        result.push({id: key, name: value})
      }, [])
      this.digi_eleclimitations = _.transform(response.data.eleclimitation, (result, value, key) => {
        result.push({id: key, name: value})
      }, [])
      this.digi_weights = _.transform(response.data.weights, (result, value, key) => {
        result.push({id: key, name: value})
      }, [])
      this.page_weight = this.digi_weights[_.findIndex(this.digi_weights, {'id': this.page.digi_weight})] === undefined ? {id: null, name: ''} : this.digi_weights[_.findIndex(this.digi_weights, {'id': this.page.digi_weight})]
      if (_.findIndex(this.digi_eleclimitations, {'id': String(this.page.digi_eleclimitation)}) !== -1) {
        this.page_eleclimitation = this.digi_eleclimitations[_.findIndex(this.digi_eleclimitations, {'id': String(this.page.digi_eleclimitation)})]
      } else {
        this.page_eleclimitation = this.digi_eleclimitations[_.findIndex(this.digi_eleclimitations, {'id': '5'})]
      }
      this.page_category = this.digi_categories[_.findIndex(this.digi_categories, {'id': this.page.digi_category})] === undefined ? {id: null, name: ''} : this.digi_categories[_.findIndex(this.digi_categories, {'id': this.page.digi_category})]
      this.page_skilltype = this.digi_skilltypes[_.findIndex(this.digi_skilltypes, {'id': String(this.page.digi_skilltype_id)})]
    }).catch((error) => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', error)
      }
    })
    this.getpackage().then((response) => {
      this.digipackageid = response.data.package.digi_package_id
      this.getmodules().then(() => {
        this.digiresponseflag = true
      })
    })
    Bus.listen('submit_addlocalmodules', () => {
      this.getmodules().then(() => {
        this.digiresponseflag = true
      })
    })
  },
  methods: {
    /**
     * Create New Module and return all modules assigned to this package
     *
     */
    newmodule () {
      this.$swal({
        title: 'New Module',
        input: 'text',
        inputPlaceholder: 'Enter Module Name',
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Save Module Name!',
        inputValidator: (value) => {
          return !value && 'You need to write something!'
        }
      }).then((modulename) => {
        if (!modulename.dismiss) {
          // axios({
          //   method: 'post',
          //   url: this.digiurl + 'createmodule',
          //   data: {token: DIGITOKEN, package: this.digipackageid, modulename: modulename.value}
          // })
          this.$http.post(this.digiurl + 'createmodule', {data: {token: DIGITOKEN, package: this.digipackageid, modulename: modulename.value}})
          .then((response) => {
            if (response.data.createmodule) {
              this.digi_modules = _.transform(response.data.createmodule, (result, value, key) => {
                result.push({id: key, name: value})
              }, [])
            }
          }).catch((error) => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
        }
      })
    },
    /**
     * add local package modules to digi
     * @return {[type]} [description]
     */
    addlocalmodules () {
      new this.parentmodal({
        el: document.createElement('div'),
        propsData: {
          component: 'addlocalmodules',
          visible: true,
          route: this.$route,
          digimodules: _.map(this.digi_modules, 'name'),
          index: null
        }
      })
    },
    assignskill () {
      if (this.page_skilltype !== undefined && this.page_module !== undefined && this.page_eleclimitation !== undefined && this.page_name !== null) {
        this.$swal({
          title: 'Skill Assignment',
          html: '<div class="card"><header class="card-header has-text-centered"><p class="card-header-title">' + this.page_name + '</p></header><div class="card-content"><div class="content"><p><span class="has-text-weight-bold">Module Name:</span> ' + this.page_module.name + '</p> <p><span class="has-text-weight-bold">Skilltype:</span> ' + this.page_skilltype.name + '</p> <p><span class="has-text-weight-bold">Elec. Limitation:</span> ' +   this.page_eleclimitation.name + '</p> <p><span class="has-text-weight-bold">Category:</span> ' +   this.page_category.name + '</p> <p><span class="has-text-weight-bold">Weight:</span> ' +   this.page_weight.name + '</p></div></div> </div>',
          icon: 'warning',
          dangerMode: true,
          showCancelButton: true,
          confirmButtonColor: '#23d160',
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Yes, Assign it!'
        }).then((flag) => {
          if (flag.value === true) {
            // axios({
            //   method: 'post',
            //   url: this.digiurl + 'skillassignment',
            //   data: {
            //     token: DIGITOKEN,
            //     package: this.digipackageid,
            //     activity: this.page.digi_activity_id,
            //     idref: this.page_url,
            //     module: this.page_module.id,
            //     skilltype: parseInt(this.page_skilltype.id),
            //     activityname: this.page_name,
            //     keywords: '',
            //     category: this.page_category.id,
            //     weight: this.page_weight.id,
            //     eleclimitation: this.page_eleclimitation.id
            //   }
            // })
            this.$http.post(this.digiurl + 'skillassignment', {
              data: {
                token: DIGITOKEN,
                package: this.digipackageid,
                activity: this.page.digi_activity_id,
                idref: this.page_url,
                module: this.page_module.id,
                skilltype: parseInt(this.page_skilltype.id),
                activityname: this.page_name,
                keywords: '',
                category: this.page_category.id,
                weight: this.page_weight.id,
                eleclimitation: this.page_eleclimitation.id
              }
            })
            .then((digiresponse) => {
              // axios.post(APIENDPOINT + 'page/assignpage', {
              //   data: {
              //     page_id: this.pageid,
              //     page_url: this.page_url,
              //     page_name: this.page_name,
              //     page_module_id: digiresponse.data.skillassignment.module_id,
              //     page_module_name: this.page_module.name,
              //     page_activity_id: digiresponse.data.skillassignment.activity_id,
              //     page_activity_name: this.page_name,
              //     page_skilltype_name: this.page_skilltype.name,
              //     page_skilltype_id: digiresponse.data.skillassignment.skilltype_id,
              //     page_keywords: digiresponse.data.skillassignment.keywords,
              //     page_category: digiresponse.data.skillassignment.category,
              //     page_weight: digiresponse.data.skillassignment.weight,
              //     page_eleclimitation: digiresponse.data.skillassignment.eleclimitation
              //   }
              // })
              this.$http.post('pages/assignpage', {
                data: {
                  page_id: this.pageid,
                  page_url: this.page_url,
                  page_name: this.page_name,
                  page_module_id: digiresponse.data.skillassignment.module_id,
                  page_module_name: this.page_module.name,
                  page_activity_id: digiresponse.data.skillassignment.activity_id,
                  page_activity_name: this.page_name,
                  page_skilltype_name: this.page_skilltype.name,
                  page_skilltype_id: digiresponse.data.skillassignment.skilltype_id,
                  page_keywords: digiresponse.data.skillassignment.keywords,
                  page_category: digiresponse.data.skillassignment.category,
                  page_weight: digiresponse.data.skillassignment.weight,
                  page_eleclimitation: digiresponse.data.skillassignment.eleclimitation
                }
              })
              .then((response) => {
                if (response.data.errorflag) {
                  this.$swal('Error Occurred!', response.data.message, 'error')
                } else {
                  this.$swal('Great job', response.data.message, 'success')
                  this.findlocalpage()
                }
              })
            }).catch((error) => {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            })
          }
        })
      } else {
        let errormessage = ''
        if (this.page_skilltype === undefined) {
          errormessage = errormessage + 'Empty SkillType <br>'
        }
        if (this.page_module === undefined) {
          errormessage = errormessage + 'Empty Module <br>'
        }
        if (this.page_eleclimitation === undefined) {
          errormessage = errormessage + 'Empty Elec. Limitation <br>'
        }
        if (this.page_name === null) {
          errormessage = errormessage + 'Empty Page Name <br>'
        }
        this.$swal('Error Occurred!', errormessage, 'error')
      }
    },
    removeassign () {
      this.$swal({
        title: 'Skill Assignment',
        text: 'Are you sure you wanna remove this assignment?',
        icon: 'warning',
        dangerMode: true,
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Yes, Remove it!'
      }).then((flag) => {
        if (flag.value) {
          // axios({
          //   method: 'post',
          //   url: this.digiurl + 'deleteactivity',
          //   data: {
          //     token: DIGITOKEN,
          //     activity: this.page.digi_activity_id
          //   }
          // })
          this.$http.post(this.digiurl + 'deleteactivity', {data: {
            token: DIGITOKEN,
            activity: this.page.digi_activity_id
          }
          })
          .then((digiresponse) => {
            if (digiresponse.data.deleteactivity === 'Deleted') {
              // axios.post(APIENDPOINT + 'page/assignpage', {
              //   data: {
              //     page_id: this.pageid,
              //     page_url: this.page_url,
              //     page_name: this.page_name,
              //     page_module_id: null,
              //     page_module_name: null,
              //     page_activity_id: null,
              //     page_activity_name: null,
              //     page_skilltype_id: null,
              //     page_skilltype_name: null,
              //     page_keywords: null,
              //     page_category: null,
              //     page_weight: null,
              //     page_eleclimitation: null
              //   }
              // })
              this.$http.post('pages/assignpage', {
                data: {
                  page_id: this.pageid,
                  page_url: this.page_url,
                  page_name: this.page_name,
                  page_module_id: null,
                  page_module_name: null,
                  page_activity_id: null,
                  page_activity_name: null,
                  page_skilltype_id: null,
                  page_skilltype_name: null,
                  page_keywords: null,
                  page_category: null,
                  page_weight: null,
                  page_eleclimitation: null
                }
              })
              .then((response) => {
                if (response.data.errorflag) {
                  this.$swal('Error Occurred!', response.data.message, 'error')
                } else {
                  this.$swal('Great job', 'Skill Assignment Removed Succesfully!', 'success')
                  this.findlocalpage()
                }
              })
            } else {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
        }
      })
    },
    findlocalpage () {
      if (this.pageid !== null) {
        // axios.get(APIENDPOINT + 'page/findpage/' + this.pageid)
        this.$http.get('pages/findpage/' + this.pageid)
        .then((response) => {
          if (response.data.errorflag) {
            this.$swal('Error Occurred!', response.data.message, 'error')
          } else {
            this.page = response.data.page
            this.page_name = response.data.page.digi_activity_name
            this.page_url = '/' + encodeURI(response.data.page.page_name) + this.module_id
          }
        }).catch((err) => {
          if (err.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
        })
      }
    },
    getmodules () {
      return new Promise((resolve, reject) => {
        // Digibooks modules for each package
        // axios({
        //   method: 'post',
        //   url: this.digiurl + 'getmodules',
        //   data: {token: DIGITOKEN, package: this.digipackageid}
        // })
        this.$http.post(this.digiurl + 'getmodules', {data: {token: DIGITOKEN, package: this.digipackageid}})
        .then((response) => {
          this.digi_modules = _.transform(response.data.getmodules, (result, value, key) => {
            result.push({id: key, name: value})
          }, [])
          resolve()
          this.page_module = this.digi_modules[_.findIndex(this.digi_modules, {'id': String(this.page.digi_module_id)})]
        }).catch((error) => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', error)
          }
          reject(error)
        })
      })
    },
    getpackage () {
      return new Promise((resolve, reject) => {
        // Get Package Information
        // axios({
        //   method: 'get',
        //   url: APIENDPOINT + 'package/find/' + this.$route.query.package
        // })
        this.$http.get('packages/find/' + this.$route.query.package)
        .then((response) => {
          resolve(response)
        }).catch((error) => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', error)
          }
          reject(error)
        })
      })
    }
  },
  beforeDestroy () {
    this.digiresponseflag = false
  }
}

</script>
