<template lang="html">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="tabs is-boxed">
        <ul>
          <li :class="{'is-active': tab === 'multiplechoices'}"><a  @click="tabclicked('multiplechoices')">Multiple Choices</a></li>
          <li :class="{'is-active': tab === 'background'}"><a @click=" tabclicked('background');editComponentBackgroundSettings()">BG. Settings</a></li>
          <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
          <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
        </ul>
      </div>
    </div>
    <div class="column is-12">
      <div class="column is-multiline" v-if="tab === 'multiplechoices'">
        <div class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              Multiple Choices
            </a>
          </p>
          <p class="control">
            <a class="button is-info" @click="addMultipleChoices()">
              <i class="fa fa-plus"></i>
            </a>
          </p>
            <p class="control">
              <a class="button is-static">
                Multiple Choices ID
              </a>
            </p>
            <p class="control">
              <input type="text" class="input" v-model="el.bindchoicesid">
            </p>
        </div>
        <div v-if="el.multiplechoicesarray.length > 0" class="column is-12">
          <div class="columns is-multiline">
            <div class="column is-12 field has-addons">
              <p class="control">
                <a class="button is-static">
                  Multiple Choices
                </a>
              </p>
              <p class="control">
                <exp-field>
                  <exp-multiselect track-by="id" label="id" v-model="currentobj" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" :options="el.multiplechoicesarray" @input="selectMultipleChoices()">
                  </exp-multiselect>
                </exp-field>
              </p>
            </div>
            <div class="column is-12" v-if="currentobj !== null">
              <div class="columns is-multiline">
                <div class="column is-6">
                  <a class="button is-danger" @click="deleteMultipleChoices()">Delete</a>
                </div>
                <div class="column is-6">
                  <a class="button is-info" @click="copyMultipleChoices()">Copy</a>
                </div>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      <span>Text</span>
                    </a>
                  </p>
                  <p class="control">
                    <a class="button is-static">
                      <span class="has-text-danger">Do not type Custom HTML. ONLY TEXT</span>
                    </a>
                  </p>
                </div>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      <span>Text Font Size</span>
                    </a>
                  </p>
                  <p class="control">
                    <input class="input" type="number" step="0.1" @input="changeTextfontSize()" v-model="textfontSize">
                  </p>
                  <p class="control">
                    <a class="button is-static">
                      <span>em</span>
                    </a>
                  </p>
                </div>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      <span>Choice Font Size</span>
                    </a>
                  </p>
                  <p class="control">
                    <input class="input" type="number" step="0.1" @input="changeChoicefontSize()" v-model="choicefontSize">
                  </p>
                  <p class="control">
                    <a class="button is-static">
                      <span>em</span>
                    </a>
                  </p>
                </div>
                <div class="column is-12">
                  <textarea class="textarea is-info" placeholder="Type your text with multiple choices" rows="8"  v-model="textTyping" @input="parsetextTyping($event)"></textarea>
                </div>
                <div class="column is-12 field has-addons" v-if="!editElementWordFlag && !editElementInputFlag">
                  <p class="control">
                    <a class="button is-static">
                      Editable Text
                    </a>
                  </p>
                  <p class="control">
                    <a class="button is-info" @click="editTextStyle()">
                      Edit Text Style
                    </a>
                  </p>
                </div>
                <div class="column is-12" v-if="!editElementWordFlag && !editElementInputFlag">
                  <template v-for="(node, nindex) in el.multiplechoicesarray[multiplechoicesIndex].textArray">
                    <a class="button is-success" v-if="nindex % 2" v-html="node.values[0].valueName" @click="editInput(nindex)" :key="'editabletext_' + nindex"></a>
                    <template v-else v-for="(text, tindex) in node">
                      <a class="button is-info" v-if="!(/\r|\n/.exec(text)) && text !== ' ' && text.length > 0" :key="nindex + '_' + tindex" v-html="text" @click="editText(nindex, tindex)"></a>
                    </template>
                  </template>
                </div>
                <div class="column is-12" v-if="editElementWordFlag">
                  <div class="columns is-multiline">
                    <div class="column is-12 field has-addons">
                      <p class="control">
                        <a class="button is-static">
                          Editable Word
                        </a>
                      </p>
                      <p class="control">
                        <a class="button is-info" @click="backEditableWord()">
                          Back
                        </a>
                      </p>
                    </div>
                    <div class="column is-12">
                      <vue-editor v-model="editableText" @input="parseEditableText()"></vue-editor>
                    </div>
                  </div>
                </div>
                <div class="column is-12" v-if="editElementInputFlag">
                  <div class="columns is-multiline">
                    <div class="column is-12 field has-addons">
                      <p class="control">
                        <a class="button is-static">
                          Editable Input
                        </a>
                      </p>
                      <p class="control">
                        <a class="button is-info" @click="backEditableWord()">
                          Back
                        </a>
                      </p>
                    </div>
                    <div class="column is-12 field has-addons">
                      <p class="control">
                        <a class="button is-static">
                          Max Selected Choices
                        </a>
                      </p>
                      <p class="control">
                        <input type="number" class="input" v-model.number="el.multiplechoicesarray[multiplechoicesIndex].textArray[nodeIndex].maxSelectedChoices" v-maxRange="el.multiplechoicesarray[multiplechoicesIndex].textArray[nodeIndex].values.length" min="0">
                      </p>
                      <span v-answerCounterValidation.maxSelectedWarning="{maxAnswers: el.multiplechoicesarray[multiplechoicesIndex].textArray[nodeIndex].maxSelectedChoices, answers: el.multiplechoicesarray[multiplechoicesIndex].textArray[nodeIndex].values}" class="button is-warning"><span class="icon"><i class="fa fa-warning"></i></span><span>Input exceeds the number of correct answers</span></span>
                      <span v-answerCounterValidation.correctChoicesWarning="{maxAnswers: el.multiplechoicesarray[multiplechoicesIndex].textArray[nodeIndex].maxSelectedChoices, answers: el.multiplechoicesarray[multiplechoicesIndex].textArray[nodeIndex].values}" class="button is-warning"><span class="icon"><i class="fa fa-warning"></i></span><span>Input is less than the number of correct answers</span></span>
                    </div>
                    <div class="column is-12 field has-addons">
                      <p class="control">
                        <a class="button is-static">
                          Alternative Choices
                        </a>
                      </p>
                      <p class="control">
                        <input type="text" class="input" v-model="newAnswer">
                      </p>
                      <p class="control">
                        <a class="button is-info" @click="addNewAnswer()">
                          <i class="fa fa-plus"></i>
                        </a>
                      </p>
                    </div>
                    <div class="column is-6">
                      <template v-for="(value, index) in el.multiplechoicesarray[multiplechoicesIndex].textArray[nodeIndex].values">
                        <div class="field has-addons" :key="'answer_' + index">
                          <exp-checkbox  v-if="editCurrectAnswerFlag !== index" type="text" class="checkbox" v-model="value.isCorrectAnswer"></exp-checkbox>
                          <p class="control">
                            <a v-if="editCurrectAnswerFlag !== index" class="button is-light" @click="updateAnswer(index)" v-html="value.valueName"></a>
                            <div v-if="editCurrectAnswerFlag === index" class="column is-12">
                              <vue-editor v-model="editAnswer"></vue-editor>
                            </div>
                          </p>
                          <p class="control">
                            <a v-if="editCurrectAnswerFlag !== index" class="button is-danger" @click="removeAnswer(index)">
                              <i class="fa fa-times"></i>
                            </a>
                            <a v-if="editCurrectAnswerFlag === index" class="button is-info" @click="saveAnswer(index)">
                              <i class="fa fa-save"></i>
                            </a>
                          </p>
                        </div>
                      </template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import differenceWith from 'lodash/differenceWith'
import isEqual from 'lodash/isEqual'
import maxBy from 'lodash/maxBy'
import eventbus from '@/config/eventhub.js'
export default {
  name: 'MultipleChoicesSettings',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      currentobj: null,
      typingid: 1,
      textTyping: null,
      multiplechoicesIndex: null,
      editElementWordFlag: false, // edit word is inactive
      editElementInputFlag: false, // edit multiple choices is inactive
      editCurrectAnswerFlag: null,
      nodeIndex: null,
      textIndex: null,
      editableText: null,
      newAnswer: null,
      editAnswer: null,
      inputfontSize: null,
      textfontSize: null,
      choicefontSize: null
    }
  },
  directives: {
   // max attribute cannot be interactive, therefore maxRange directive is created
    maxRange: function(el, binding) {
      el.max = binding.value // initialize max attribute
    },
    // prints a warning message if max selected choices is bigger than the number of correct choices/answersArray
    answerCounterValidation: function (el, binding, vnode) {
      let correctAnswerCounter = 0
      let maxAnswers = binding.value.maxAnswers
      for (let i=0; i<binding.value.answers.length; i++) {
        if (binding.value.answers[i].isCorrectAnswer) correctAnswerCounter++
      }
      if (binding.modifiers.maxSelectedWarning) {
        if (correctAnswerCounter >= maxAnswers) el.style.display = 'none'
        else el.style.display = 'block'
      }
      else if (binding.modifiers.correctChoicesWarning) {
        if (correctAnswerCounter <= maxAnswers) el.style.display = 'none'
        else el.style.display = 'block'
      }
    }
  },
  mounted () {
    this.el.settingtab = null
    this.tab = null
    this.el.settingindex = null
  },
  methods: {
    tabclicked (tab) {
      eventbus.fire('uicomponenttext_close')
      eventbus.fire('uicomponentimages_close')
      eventbus.fire('uicomponentbgsettings_close')
      this.el.settingindex = null
      this.multiplechoicesIndex = null
      this.currentobj = null
      this.el.settingtab = null
      this.tab = null
      this.el.settingtab = tab
      this.tab = tab
    },
    addMultipleChoices () {
      if (this.el.multiplechoicesarray.length > 0) {
        let multiplechoicesMaxId = maxBy(this.el.multiplechoicesarray, 'id')
        this.typingid = multiplechoicesMaxId.id + 1
      }
      this.el.multiplechoicesarray.push({
        id: this.typingid,
        textArray: [],
        rightAnswers: [],
        textfontSize: '0.9',
        choicefontSize: '0.6',
        bgobject: {},
        textstyle: {}
      })
    },
    deleteMultipleChoices () {
      this.el.settingindex = null
      this.el.multiplechoicesarray.splice(this.multiplechoicesIndex, 1)
      this.multiplechoicesIndex = null
      this.currentobj = null
    },
    copyMultipleChoices () {
      let copyObject  = JSON.parse(JSON.stringify(this.el.multiplechoicesarray[this.multiplechoicesIndex]))
      let increasedId = maxBy(this.el.multiplechoicesarray, 'id').id + 1 // multiple choices id based on multiplechoicesarray max id
      copyObject.textArray.forEach((typingObj) => { // property textArray contains the multiplechoicesarray id
        if(!Array.isArray(typingObj)) {
          typingObj.typingId = increasedId
        }
      })
      this.el.multiplechoicesarray.push({...copyObject, ...{id: increasedId}}) // update multiplechoicesarray
    },
    changeTextfontSize () {
      this.el.multiplechoicesarray[this.multiplechoicesIndex].textfontSize = this.textfontSize
    },
    changeChoicefontSize () {
      this.el.multiplechoicesarray[this.multiplechoicesIndex].choicefontSize = this.choicefontSize
    },
    editTextStyle () {
      eventbus.fire('uicomponenttext_open',{style: `multiplechoicesarray[${this.multiplechoicesIndex}].textstyle`})
    },
    // load text from element
    loadText (array) {
      let tempText = ''
      forEach(array, (value, index) => {
        if (index % 2) {
          tempText = tempText + '#' + value.values[0].valueName + '#'
        } else {
          forEach(value, (simpletext) => {
            tempText = tempText + simpletext
          })
        }
      })
      this.textTyping = tempText
    },
    // parse textarea text
    parsetextTyping (value) {
      let customarray = this.textTyping.split(/#([a-zA-Z0-9_'"?!;.,-\\&\s]+)#/)
      forEach(customarray, (value, index) => {
        let splitter = [] // array to keep splitted text
        let spanSplitter = [] // if text is span split everything to compine as a wish, each span element seperate
        if (!(index % 2)) { // simple text, typeof(value) string
          // check if element is span or simple text
          if (!(/<.*?>\w+<\/.*?>/gm.exec(value))) { //splits string into an array of strings, each item is a word or space
            splitter = value.split(/(\S+)/)
          } else {
            // split all html tags and texts
            spanSplitter = value.split(/(<.*?>\w+<\/.*?>)/gm)
            forEach(spanSplitter, (value) => {
              if (!(/<.*?>\w+<\/.*?>/gm.exec(value))) {
                forEach(value.split(/(\S+)/), (text) => {
                  splitter.push(text)
                })
              } else {
                splitter.push(value)
              }
            })
          }
        } else { //answer, typeof(value) string
          let answersArray = value.split('&')
          splitter = {values: [], maxSelectedChoices: 1, inputId: index, typingId: this.el.multiplechoicesarray[this.multiplechoicesIndex].id, inputBgObject: {}}
          forEach(answersArray, (answer, index) => {
            splitter.values.push({ valueName: answer, isCorrectAnswer:false })
          })
        }
        customarray[index] = splitter
      })
      // check difference in inputs elements to keep saved options
      let tempDifferenceArray = differenceWith(this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray, customarray, isEqual)
      forEach(tempDifferenceArray, (value) => {
        if (value.inputId !== undefined ) {
          let tempIndex = findIndex(customarray, {'inputId': value.inputId, 'typingId': value.typingId})
          if (value.values.length > 1) {
            customarray[tempIndex] = {...customarray[tempIndex], ...value}
          }
        }
      })
      this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray = [...customarray]
    },
    selectMultipleChoices () {
      eventbus.fire('uicomponentbgsettings_close') // close previous selected typing ID
      this.editElementWordFlag = false
      this.multiplechoicesIndex = findIndex(this.el.multiplechoicesarray, {'id': this.currentobj.id})
      if (this.typingText !== null && this.typingText !== -1) {
        this.loadText(this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray)
      }
      this.el.settingindex = this.multiplechoicesIndex
      this.textfontSize = this.el.multiplechoicesarray[this.multiplechoicesIndex].textfontSize
      this.choicefontSize = this.el.multiplechoicesarray[this.multiplechoicesIndex].choicefontSize
      eventbus.fire('uicomponentbgsettings_open', {style: `multiplechoicesarray[${this.multiplechoicesIndex}].bgobject`})
    },
    editComponentBackgroundSettings () {
      eventbus.fire('uicomponentbgsettings_open', {style: 'bgobject'})
    },
    editText (nindex, tindex) {
      this.editElementWordFlag = true
      this.nodeIndex = nindex
      this.textIndex = tindex
      this.editableText = this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray[this.nodeIndex][this.textIndex]
    },
    editInput (nindex) {
      this.editElementInputFlag = true
      this.nodeIndex = nindex
      eventbus.fire('uicomponentbgsettings_open', {style: `multiplechoicesarray[${this.multiplechoicesIndex}].textArray[${this.nodeIndex}].inputBgObject`})
    },
    addNewAnswer () {
      if (this.newAnswer !== null)
      {
        const multipleChoice = {valueName: this.newAnswer, isCorrectAnswer: false}
        this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray[this.nodeIndex].values.push(multipleChoice)
        this.newAnswer = null
      }
    },
    updateAnswer (index) {
      this.editCurrectAnswerFlag = index
      this.editAnswer = this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray[this.nodeIndex].values[index].valueName
    },
    saveAnswer (index) {
      this.$set(this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray[this.nodeIndex].values[index], ['valueName'], this.editAnswer)
      this.editCurrectAnswerFlag = null
      this.loadText(this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray)
    },
    removeAnswer (index) {
      this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray[this.nodeIndex].values.splice(index, 1)
    },
    // parsing text to remove p of vue editor
    parseEditableText () {
      while(this.editableText.includes('<p>')){
        this.editableText = this.editableText.replace(/<p>/, '').replace(/<\/p>/,  '')
      }
      this.$set(this.el.multiplechoicesarray[this.multiplechoicesIndex].textArray[this.nodeIndex], this.textIndex, this.editableText)
    },
    backEditableWord () {
      eventbus.fire('uicomponentbgsettings_close')
      this.editElementWordFlag = false
      this.editElementInputFlag = false
      this.nodeIndex = null
      this.textIndex = null
    }
  }
}

</script>
