<template>
  <div>
    <div v-if="!isDataLoaded" class="">
      <AppSpinner />
    </div>
    <div v-else class="">
      <h1 class="">Your information.</h1>
      <div class="maxwidth flexcenter">
        <div class="content">
          <h6 class=" has-text-primary"><span class="is-italic">First Name</span>:</h6>
          <h4 class=" has-text-centered">{{user.firstname}}</h4>
        </div>
        <div class="content">
          <h4 class=" has-text-primary ">Last Name:</h4>
          <h4 class=" has-text-centered">{{user.lastname}}</h4>
        </div>
        <div class="content">
          <h4 class="has-text-primary">Username:</h4>
          <h4 class="has-text-centered">{{user.username}}</h4>
        </div>
        <div class="content">
          <h4 class=" has-text-primary">Email:</h4>
          <h4 class="has-text-centered">{{user.email}}</h4>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import DataLoader from '@/components/mixins/DataLoader'

export default {
  name: 'UserInfo',
  data () {
    return {
      user: {
        firstname: null,
        lastname: null,
        username: null,
        email: null
      }
    }
  },
  methods: {
    name () {

    }
  },
  mixins: [DataLoader],
  async mounted () {
    try {
      this.resetDataLoader()
      const res = await this.$http.get('users/info')
      this.user.firstname = res.data.user.firstname
      this.user.lastname = res.data.user.lastname
      this.user.username = res.data.user.username
      this.user.email = res.data.user.email
      this.resolveDataLoader()
    } catch (err) {
      console.log(err)
    }
  }
}
</script>
<style scoped>
.content{
  min-width:30vw;
  max-width:30vw;
  border-bottom: 2px solid darkslategrey
}
.flexcenter{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}
.maxwidth{
  max-width: 80%;
  margin: 0 auto;
}
</style>
