<template>
  <div class="quillWrapper">
    <div style="height:120px;" ref="quillContainer" :id="id"></div>
    <div id="customToolbar" class="ql-toolbar ql-snow">
      <div v-if="qlInputFlags.paddingFlag" id="customPadding" class="field has-addons">
        <p class="control">
              <a class="button is-static">
                Padding
              </a>
          </p>
          <p class="control">
            <input  v-model="qlInput.paddingTop" class="input" type="number">
          </p>
          <p class="control">
            <input  v-model="qlInput.paddingRight" class="input" type="number">
          </p>
          <p class="control">
            <input  v-model="qlInput.paddingBottom" class="input" type="number">
          </p>
          <p class="control">
            <input  v-model="qlInput.paddingLeft" class="input" type="number">
          </p>
          <p class="control">
            <a class="button" @click="handlerPadding()">
              <i class='fa fa-plus'></i>
            </a>
        </p>
      </div>
    </div>
    <input v-if="useCustomImageHandler" @change="emitImageInfo($event)" ref="fileInput" id="file-upload" type="file" style="display:none;">
  </div>
</template>

<script>
import VQuill from 'quill'
import defaultToolbar from './helpers/toolbar.js'
import merge from 'lodash/merge'
import forEach from 'lodash/forEach'
const Quill = window.Quill || VQuill
import {PaddingStyle, Size} from './helpers/inline.helpers.js'
const Parchment = Quill.import('parchment')
Quill.register(PaddingStyle, true)
Quill.register(Size, true)
export default {
  name: 'vue-editor',
  props: {
    value: String,
    id: {
      type: String,
      default: 'quill-container'
    },
    placeholder: String,
    disabled: Boolean,
    customModules: Array,
    editorToolbar: Array,
    editorOptions: {
      type: Object,
      default: function () {
        return {};
      }
    },
    useCustomImageHandler: {
      type: Boolean,
      default: false
    },
  },
  computed: {
    filteredInitialContent() {
      let content = this.value || ''
      return content.replace(/(<div)/igm, '<p').replace(/<\/div>/igm, '</p>');
    },

    imageResizeActive() {
      return this.quill.options.modules.imageResize !== undefined ? true : false
    }
  },

  data() {
    return {
      quill: null,
      objectQuill: window.Quill || VQuill,
      editor: null,
      editorConfig: {},
      modules: {
        toolbar: this.editorToolbar ? this.editorToolbar : defaultToolbar
      },
      InputsArray: [{alias: 'styleTop', module: null}],
      qlInputFlags: {
        paddingFlag: false,
      },
      qlInput: {
        paddingTop: null,
        paddingRight: null,
        paddingBottom: null,
        paddingLeft: null
      }
    }
  },

  mounted() {
    this.initializeVue2Editor()
    this.handleUpdatedEditor()
    this.addCustomColorInput()
  },

  watch: {
    value (val) {
      if (val !=  this.editor.innerHTML && !this.quill.hasFocus()) {
        this.editor.innerHTML = val
      }
    },
    disabled(status) {
      this.quill.enable(!status);
    }
  },

  methods: {
    initializeVue2Editor() {
      this.prepareModules()
      this.setQuillElement()
      this.setEditorElement()
      this.handleDynamicStyles()
      this.checkForInitialContent()
      this.checkForCustomImageHandler()
    },

    setQuillElement() {
      let editorConfig = {
        debug: false,
        modules: this.modules,
        placeholder: this.placeholder ? this.placeholder : '',
        theme: 'snow',
        readOnly: this.disabled ? this.disabled : false,
      };
      this.prepareEditorConfig(editorConfig)
      this.quill = new Quill(this.$refs.quillContainer, editorConfig)
    },

    setEditorElement() {
      this.editor = document.querySelector(`#${this.id} .ql-editor`)
    },

    handleDynamicStyles() {
      if ( this.imageResizeActive ) {
        this.editor.classList.add('imageResizeActive');
      }
    },

    prepareModules() {
      this.registerBuiltInModules()
      this.registerCustomModules()
    },

    registerBuiltInModules() {

    },

    registerCustomModules() {
      if ( this.customModules !== undefined ) {
        this.customModules.forEach(customModule => {
          Quill.register('modules/' + customModule.alias, customModule.module)
        })
      }
    },
    prepareEditorConfig(editorConfig) {
      if (Object.keys(this.editorOptions).length > 0 && this.editorOptions.constructor === Object) {
        if (this.editorOptions.modules && typeof this.editorOptions.modules.toolbar !== 'undefined') {
        // We don't want to merge default toolbar with provided toolbar.
          delete editorConfig.modules.toolbar;
        }
        merge(editorConfig, this.editorOptions);
      }
    },

    checkForInitialContent() {
      this.editor.innerHTML = this.filteredInitialContent
    },

    checkForCustomImageHandler() {
      this.useCustomImageHandler === true ? this.setupCustomImageHandler() : ''
    },

    setupCustomImageHandler() {
      let toolbar = this.quill.getModule('toolbar');
      toolbar.addHandler('image', this.customImageHandler);
    },
    handleUpdatedEditor() {
      this.quill.on('text-change', () => {
        this.$emit('input', this.editor.innerHTML)
      })
      this.quill.on('selection-change', (e) => {
        if (e !== null) {
          if (e.length > 0) {
            let quillSelection = this.quill.getSelection()
            if (quillSelection !== null) {
              let quillElement = this.quill.getContents(quillSelection.index, quillSelection.length)
              let attributesObject = quillElement.ops[0].attributes
              if (attributesObject !== undefined && attributesObject !== null) {
                Object.keys(attributesObject).map((key) => {
                  switch (key) {
                  case 'padding':
                    let paddingArray = [...attributesObject[key].split(' ').map((value) => {
                      return value.match(/^-?\d+\.{0,1}\d{0,}/i)[0]
                    })]
                    Object.keys(this.qlInput).map((key, index) => {
                      // check if padding input is already filled with values so not updated
                      this.qlInput[key] = this.qlInput[key] === null || this.qlInput[key] === undefined || this.qlInput[key] === '' ?  paddingArray[index] : this.qlInput[key]
                      // if one of paddings is still undefined/null/empty assign 0
                      if (this.qlInput[key] === undefined || this.qlInput[key] === null || this.qlInput[key] === '') {
                        this.qlInput[key] = 0
                      }
                    })
                    break
                  }
                })
              }
              this.qlInputFlags.paddingFlag = true
            }
          } else {
            this.qlInputFlags.paddingFlag = false
          }
        }
      })
    },
    customImageHandler(image, callback) {
      this.$refs.fileInput.click();
    },
    emitImageInfo($event) {
      const resetUploader = function() {
        var uploader = document.getElementById('file-upload');
        uploader.value = '';
      }

      let file = $event.target.files[0]
      let Editor = this.quill
      let range = Editor.getSelection();
      let cursorLocation = range.index
      this.$emit('imageAdded', file, Editor, cursorLocation, resetUploader)
    },
    addCustomColorInput () {
      this.quill.getModule('toolbar').addHandler('color', (value) => {
        // if the user clicked the custom-color option, show a prompt window to get the color
        if (value == 'custom-color') {
            value = prompt('Enter Hex/RGB/RGBA')
        }
        this.quill.format('color', value)
      })
      this.quill.getModule('toolbar').addHandler('background', (value) => {
        // if the user clicked the custom-color option, show a prompt window to get the color
        if (value == 'custom-color') {
            value = prompt('Enter Hex/RGB/RGBA')
        }
        this.quill.format('background', value)
      })
      this.quill.getModule('toolbar').addHandler('size', (value) => {
        // if the user clicked the custom-color option, show a prompt window to get the color
        this.quill.format('font-size', value)
      })
    },
    handlerPadding () {
      let paddingStyleObject = {
        paddingTop: this.qlInput.paddingTop === null || this.qlInput.paddingTop === undefined || this.qlInput.paddingTop === '' ? 0:  this.qlInput.paddingTop,
        paddingRight: this.qlInput.paddingRight === null || this.qlInput.paddingRight === undefined || this.qlInput.paddingRight === '' ? 0: this.qlInput.paddingRight,
        paddingBottom: this.qlInput.paddingBottom === null ||this.qlInput.paddingBottom === undefined ||this.qlInput.paddingBottom === ''  ? 0: this.qlInput.paddingBottom,
        paddingLeft: this.qlInput.paddingLeft === null || this.qlInput.paddingLeft === undefined || this.qlInput.paddingLeft === '' ? 0: this.qlInput.paddingLeft}
      this.quill.format('padding', JSON.stringify(paddingStyleObject))
    }
  }
}
</script>
<style lang="scss">
.ql-color .ql-picker-options [data-value=custom-color] {
  background: none !important;
  width: 100% !important;
  height: 20px !important;
  text-align: center;
}
.ql-color .ql-picker-options [data-value=custom-color]:before {
  content: 'Custom Color';
}
.ql-color .ql-picker-options [data-value=custom-color]:hover {
  border-color: transparent !important;
}
.ql-background .ql-picker-options [data-value=custom-color] {
  background: none !important;
  width: 100% !important;
  height: 20px !important;
  text-align: center;
}
.ql-background .ql-picker-options [data-value=custom-color]:before {
  content: 'Custom Color';
}
.ql-background .ql-picker-options [data-value=custom-color]:hover {
  border-color: transparent !important;
}
.ql-toolbar .ql-snow .ql-formats .ql-padding {
    width: 72px;
  }
.ql-padding:after {
  content: 'padding';
  border: 1px solid black;
  padding: 5px;
}
// font size class selectors
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="14px"]::before {
    content: '14px';
    font-size: 14px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="16px"]::before {
    content: '16px';
    font-size: 16px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="18px"]::before {
    content: '18px';
    font-size: 18px !important;
}
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="20px"]::before {
    content: '20px';
    font-size: 20px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="22px"]::before {
    content: '22px';
    font-size: 22px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="24px"]::before {
    content: '24px';
    font-size: 24px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="26px"]::before {
    content: '26px';
    font-size: 26px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="28px"]::before {
    content: '28px';
    font-size: 28px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="30px"]::before {
    content: '30px';
    font-size: 30px !important;
}
// font size class selectors
.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="32px"]::before {
    content: '32px';
    font-size: 32px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="34px"]::before {
    content: '34px';
    font-size: 34px !important;
}

.ql-snow .ql-picker.ql-size .ql-picker-item[data-value="36px"]::before {
    content: '36px';
    font-size: 36px !important;
}
</style>
<style src="quill/dist/quill.snow.css"></style>
