$safecolor: #23D160;
$warningcolor: #FF470F;
$dangercolor: #FF3860;
$resetcolor: #d62d20;
$showcolor: #0057e7;
$checkcolor: #008744;
$tryagaincolor: #e59600;
$modalcolor: #8b9dc3;
.checkprimary_placeholder{
  margin: 0 0;
}
//SCSS for CHECK TEXT
.checktext{
  text-align: center;
}
.score_placeholder{
  padding-right: 12px;
  .ammounttext{
    float: right;
    padding-left: 30%;
    font-size: 1.8em;
  }
  .rightwrong_placeholder{
    .belowchecktext {
      font-size: 1.3em;
      &.right{
        line-height: 20px;
        color: #2d7923;
      }
      &.wrong{
        line-height: 25px;
        color: #ff0030;
      }
    }
  }
}

  .percentagetext{
    display: block;
    font-size: 1.8em;
    position: absolute;
    top: 27%;
    left: 34%;
    .success {
      color: $safecolor;
    }
    .warning {
      color: $warningcolor;
    }
    .danger {
      color: $dangercolor;
    }
  }
// SCSS for CHECK BUTTONS
.buttonstyle {
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  transition: all ease-in 125ms;
  i{
    line-height: 75px;
    font-size: 2em;
    color: white;
  }

  &.reset {
    background-color: #d3d3d3;
    i{
      color: white;
      margin-left: 26px;
      margin-top: 2px;
    }
  }
  &.check {
    background-color: #d3d3d3;
    i{
      color: white;
      margin-left: 23px;
      margin-top: 2px;
    }
  }
  &.tryagain {
    background-color: #d3d3d3;
    i{
      color: white;
      margin-left: 26px;
      margin-top: 2px;
    }
  }
  &.show {
    background-color: #d3d3d3;
    i{
      color: white;
      margin-left: 23.5px;
      margin-top: 2px;
    }
  }
  // &.activereset{
  //   position: relative;
  //   text-align: center;
  //   background-color: $resetcolor;
  //   border: 5px solid transparent;
  //   box-shadow: inset 0px 0px 40px 5px lighten($resetcolor, 8%);
  //   &:active{
  //     box-shadow: inset 0px 0px 50px 8px darken($resetcolor, 20%);
  //   }
  //   span{
  //     position: absolute;
  //     font-weight: bold;
  //     color: darken(#fff, 10%);
  //     top: 23px;
  //     left: 8px;
  //   }
  // }
  &.activereset{
    position: relative;
    text-align: center;
    background-color: white;
    border: 5px solid #a33300;
    //box-shadow: inset 0px 0px 40px 5px lighten($resetcolor, 8%);
    &:active{
      //box-shadow: inset 0px 0px 50px 8px darken($resetcolor, 20%);
    }
    span{
      position: absolute;
      font-weight: bold;
      color: #454545;
      top: 23px;
      left: 12px;
    }
  }
  //   &.activeshow{
  //   position: relative;
  //   text-align: center;
  //   background-color: $showcolor;
  //   border: 5px solid transparent;
  //   box-shadow: inset 0px 0px 40px 5px lighten($showcolor, 8%);
  //   &:active{
  //     box-shadow: inset 0px 0px 50px 8px darken($showcolor, 20%);
  //   }
  //   span{
  //     position: absolute;
  //     font-weight: bold;
  //     color: darken(#fff, 10%);
  //     top: 23px;
  //     left: 9px;
  //   }
  // }
  &.activeshow{
  position: relative;
  text-align: center;
  background-color: white;
  border: 5px solid  $showcolor;
  // box-shadow: inset 0px 0px 40px 5px lighten($showcolor, 8%);
  &:active{
    // box-shadow: inset 0px 0px 50px 8px darken($showcolor, 20%);
  }
  span{
    position: absolute;
    font-weight: bold;
    color: #454545;
    top: 23px;
    left: 9px;
  }
}
  //   &.activecheck{
  //   position: relative;
  //   text-align: center;
  //   background-color: $checkcolor;
  //   border: 5px solid transparent;
  //   box-shadow: inset 0px 0px 40px 5px lighten($checkcolor, 8%);
  //   &:active{
  //     box-shadow: inset 0px 0px 50px 8px darken($checkcolor, 20%);
  //   }
  //   span{
  //     position: absolute;
  //     font-weight: bold;
  //     color: darken(#fff, 10%);
  //     top: 23px;
  //     left: 6px;
  //   }
  // }
  &.activecheck{
  position: relative;
  text-align: center;
  background-color: white;
  border: 5px solid $checkcolor;
  // box-shadow: inset 0px 0px 40px 5px lighten($checkcolor, 8%);
  &:active{
    // box-shadow: inset 0px 0px 50px 8px darken($checkcolor, 20%);
  }
  span{
    position: absolute;
    font-weight: bold;
    color: #454545;
    top: 23px;
    left: 6px;
  }
}
  //   &.activetryagain{
  //   position: relative;
  //   text-align: center;
  //   background-color: $tryagaincolor;
  //   border: 5px solid transparent;
  //   box-shadow: inset 0px 0px 40px 5px lighten($tryagaincolor, 8%);
  //   &:active{
  //     box-shadow: inset 0px 0px 50px 8px darken($tryagaincolor, 20%);
  //   }
  //   span{
  //     position: absolute;
  //     font-weight: bold;
  //     color: darken(#fff, 10%);
  //     line-height: 1.1;
  //     top: 18px;
  //     left: 0px;
  //   }
  // }
  &.activetryagain{
  position: relative;
  text-align: center;
  background-color: white;
  border: 5px solid $tryagaincolor;
  // box-shadow: inset 0px 0px 40px 5px lighten($tryagaincolor, 8%);
  &:active{
    // box-shadow: inset 0px 0px 50px 8px darken($tryagaincolor, 20%);
  }
  span{
    position: absolute;
    font-weight: bold;
    color: #454545;
    line-height: 1.1;
    top: 18px;
    left: 0px;
  }
}
  &.modal{
    position: relative;
    text-align: center;
    background-color: $modalcolor;
    border: 5px solid transparent;
    box-shadow: inset 0px 0px 40px 5px lighten($modalcolor, 8%);
    &:active{
      box-shadow: inset 0px 0px 50px 8px darken($modalcolor, 20%);
    }
  }
//   &.activereset {
//     cursor: pointer;
//     transform: scale(1);
//     background-color: #af88b9;
//     box-shadow: 0 0 1px 3px rgba(#d647fa, 0.4),
//     0 0 1px 3px rgba(#d647fa, 0.3),
//     0 0 1px 4px rgba(#d647fa, 0.2);
//     transition: all ease-in 120ms;
//     &:active {
//       box-shadow: 0 0 1px 1px rgba(#af88b9, 0.4),
//       0 0 1px 1px rgba(#af88b9, 0.2),
//       0 0 1px 2px rgba(#af88b9, 0.1) !important;
//     }
//     i{
//       position: relative;
//       color: transparent;
//       span{
//         font-family: sans-serif;
//         color: white;
//         display: block;
//         visibility: visible;
//         top: -2%;
//         left: -59%;
//         position: absolute;
//         font-size: 0.7em;
//       }
//     }
//   }
//   &.activecheck {
//     cursor: pointer;
//     transform: scale(1);
//     background-color: #88b999;
//     box-shadow: 0 0 1px 3px rgba(#55ec89, 0.4),
//     0 0 1px 3px rgba(#55ec89, 0.3),
//     0 0 1px 4px rgba(#55ec89, 0.2);
//     transition: all ease-in 120ms;
//     &:active {
//       box-shadow: 0 0 1px 1px rgba(#88b999, 0.4),
//       0 0 1px 1px rgba(#88b999, 0.2),
//       0 0 1px 2px rgba(#88b999, 0.1) !important;
//     }
//     i{
//       position: relative;
//       color: transparent;
//       span{
//         font-family: sans-serif;
//         color: white;
//         display: block;
//         visibility: visible;
//         top: -2%;
//         left: -49%;
//         position: absolute;
//         font-size: 0.7em;
//       }
//     }
//   }
//   &.activetryagain {
//     cursor: pointer;
//     transform: scale(1);
//     background-color: #cdb274;
//     box-shadow: 0 0 1px 3px rgba(#f9c348, 0.4),
//     0 0 1px 3px rgba(#f9c348, 0.3),
//     0 0 1px 4px rgba(#f9c348, 0.2);
//     transition: all ease-in 120ms;
//     &:active {
//       box-shadow: 0 0 1px 1px rgba(#cdb274, 0.4),
//       0 0 1px 1px rgba(#cdb274, 0.2),
//       0 0 1px 2px rgba(#cdb274, 0.1) !important;
//     }
//     i{
//       color: transparent;
//        #checktry{
//         color: white;
//         font-family: sans-serif;
//         display: block;
//         visibility: visible;
//         top: -20%;
//         left: -9%;
//         position: absolute;
//         font-size: 0.65em;
//       }
//       #checkagain{
//         color: white;
//         font-family: sans-serif;
//         display: block;
//         visibility: visible;
//         top: 10%;
//         left: -49%;
//         position: absolute;
//         font-size: 0.65em;
//       }
//     }
//   }
//   &.activeshow {
//     cursor: pointer;
//     transform: scale(1);
//     background-color: #8897b9;
//     box-shadow: 0 0 1px 3px rgba(#477efa, 0.4),
//     0 0 1px 3px rgba(#477efa, 0.3),
//     0 0 1px 4px rgba(#477efa, 0.2);
//     transition: all ease-in 120ms;
//     &:active {
//       box-shadow: 0 0 1px 1px rgba(#8897b9, 0.4),
//       0 0 1px 1px rgba(#8897b9, 0.2),
//       0 0 1px 2px rgba(#8897b9, 0.1) !important;
//     }
//     i{
//       color: transparent;
//       span{
//         font-family: sans-serif;
//         color: white;
//         display: block;
//         visibility: visible;
//         top: -2%;
//         left: -40%;
//         position: absolute;
//         font-size: 0.7em;
//       }
//     }
//   }
}
//NAVIGATION BUTTONS SCSS
.navbutton{
  // margin-top: 20px;
  height: 80px;
  width: 80px;
  border: solid 2px;
  border-radius: 50%;
  border-color: transparent;
  color: #c3c3c3;
  box-shadow: 0 0 1px 3px rgba(#c3c3c3, 0.4),
  0 0 1px 3px rgba(#c3c3c3, 0.3),
  0 0 1px 4px rgba(#c3c3c3, 0.2);
  transition: all ease-in 120ms;
  &:active {
    box-shadow: 0 0 1px 1px rgba(#c3c3c3, 0.4),
    0 0 1px 1px rgba(#c3c3c3, 0.2),
    0 0 1px 2px rgba(#c3c3c3, 0.1) !important;
  }
}
// help footer check buttons
.checkFooterHelpButtons {
  text-align: center;
  vertical-align: middle;
  height: 100%;
  margin-top: 2.5%;
  a {
    min-height: 48px;
    width: 140px;
    display: inline-block;
    padding: 11px 14px;
    border-radius: 3px;
    border: 2px solid #10547b;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    text-align: center;
  }
  span{
    color: #10547b;
    font-weight: bold;
    font-size: 20px;
  }
}
