// .choices_style{
//   text-decoration: none !important;
//   color: #000 !important;
//   font-weight: bold;
//   text-align: center;
//   word-break: break-all;
//   margin: auto 4px 5px 4px;
//   padding: 15px;
//   border: 1px solid $appblue;
//   border-radius: 7px;
//   background-color: $choicesbggrey;
// }
.choices_style{
  text-decoration: none !important;
  color: #000 !important;
  // font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid #bebebe;
  min-height: 48px;
  min-width: 48px;
  // box-shadow: 0 0px 10px, 0 2px 4px;
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // margin: 15px auto;
  margin: 4px;
  padding: 12px;
}
.choices_placeholder{
  padding: 15px 2px 2px 2px;
  text-align: center;
}
.choices_style_2{
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none !important;
  color: #000 !important;
  // font-weight: bold;
  // text-align: center;
  word-wrap: break-word;
  word-break:break-word;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid #bebebe;
  min-height: 48px;
  min-width: 48px;
  white-space: normal;
  // box-shadow: 0 0px 10px, 0 2px 4px;
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // margin: 15px auto;
  margin: 4px;
  // margin-top: 4px;
  // margin-bottom: 4px;
  // padding: 12px;
}
// .choices_style_2{
//   text-decoration: none !important;
//   color: #000 !important;
//   font-weight: bold;
//   text-align: center;
//   word-break: break-all;
//   border-radius: 7px;
//   background-color: $choicesbggrey;
//   box-shadow: 0 0px 10px rgba(68, 9, 136, 0.76), 0 2px 4px rgba(0,0,0,0.24);
//   // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//   width: 80%;
//   // margin: 15px auto;
//   margin: auto 4px 5px 4px;
// }
.truefalsechoices_style{
  word-wrap: break-word;
  text-decoration: none !important;
  color: #000 !important;
  text-align: center;
  margin: 4px;
  padding: 15px;
  border: 1px solid $appblue;
  border-radius: 7px;
  background-color: $choicesbggrey;
}
.truefalsechoices_style_2{
  text-decoration: none !important;
  color: #000 !important;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 0 0px 10px, 0 2px 4px;
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // margin: 15px auto;
  margin: 4px;
  padding: 15px;
}
.truefalsechoices_style_3{
  text-decoration: none !important;
  color: #000 !important;
  // font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  border-radius: 7px;
  background-color: #fff;
  border: 1px solid #bebebe;
  min-height: 48px;
  min-width: 48px;
  // box-shadow: 0 0px 10px, 0 2px 4px;
  // transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  // margin: 15px auto;
  margin: 4px;
  padding: 12px;
}
.choicevisibilityoff{
  visibility: hidden;
}
