.grouping_placeholder{
  min-height: 300px;
}
.grouping_choicesplaceholder{
  // width: 100%;
  // height: 80%;
  padding: 10px 5px 0 5px;
  z-index: 1;
}
.grouping_clickablechoice{
  z-index: 9;
  height: 30px;
}
.grouping_group{
  // display: table;
  margin: 0 auto;
  text-align: center;
}
.grouping_clickablegroup{
  z-index: 5;
  margin: 5px 0 5px 5px;
  display: block;
  color: black;
  width: 300px;
  min-height: 250px;
  border: solid 2px transparent;
  border-radius: 20px;
  background-color: white;
}
