.customloader span{
    color: #28374B;
    width: 100px;
    background-color: transparent;
    animation: typing 2s ease-in infinite alternate;
 }
@-webkit-keyframes typing {
  from {opacity: 1; color: #303e61;} to{opacity: 0; color: #d3d3d3;}
}
.customloader span:nth-child(2){
  -webkit-animation-delay:0.1s;
}
.customloader span:nth-child(3){
  -webkit-animation-delay:0.2s;
}
.customloader span:nth-child(4){
  -webkit-animation-delay: 0.3s;
}
.customloader span:nth-child(5){
  -webkit-animation-delay: 0.4s;
}
.customloader span:nth-child(6){
  -webkit-animation-delay: 0.5s;
}
.customloader span:nth-child(7){
  -webkit-animation-delay: 0.6s;
}
.customloader span:nth-child(8){
  -webkit-animation-delay: 0.7s;
}
