// user choices grey background
$choicesbggrey: #bebebe;
// app color
$appblue: #00d1b2;
$applightgrey: #E7E7E7;
 // Font
$weight-semibold: 600;
$weight-bold: 700;
// Animation
$speed-slow: 250ms !default;
$speed-slower: 350ms !default;
$modal-content-width: 1024px;
$modal-content-spacing-mobile: 0px;
$modal-content-spacing-tablet: 0px;
@charset "UTF-8";
@import '~bulma/bulma';
// @import '../../../node_modules/font-awesome/css/font-awesome.css';
@import 'tabs.scss';
@import 'quill.snow.css';
@import 'field.scss';
@import 'icon.scss';
@import 'upload.scss';
@import 'animations.scss';
@import 'autocomplete.scss';
@import 'multiselect.scss';
@import 'texteditorcolors.scss';
@import 'rubric.scss';
@import 'bsidebar.scss';
@import 'components.scss';
@import 'scrollbar.scss';
@import 'switch.scss';
@import 'uploadassets.scss';
@import 'radio.scss';
@import 'checkbox.scss';
@import 'modal.scss';
@import 'cropper.scss';
@import 'loading.scss';
@import 'sectionsdropdown.scss';
// use it for box shadow as class
@import 'boxshadow.scss';
// ui components scss files
// color picker scss
@import 'colorpicker.scss';
// color picker scss
@import 'grouping.scss';
@import 'choices.scss';
@import 'check.scss';
@import 'matchthewords.scss';
@import 'missingletter.scss';
@import 'taptap.scss';
@import 'truefalse.scss';
@import 'wordsearch.scss';
@import 'crosswords.scss';
@import 'typing.scss';
// primary scss
@import 'checkprimary.scss';
@import 'primarytimer.scss';
@import 'primaryaudioplayer.scss';
// settings sidebar scss
@import 'globalsettings.scss';
@import 'textparagraphs.scss';
@import 'sidemenu.scss';
@import 'style.scss';
@import 'checkicons.scss';
@import 'taptappuzzle.scss';

#app {
  font-family: 'Open Sans', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto";;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  background-color: #fff;
//  margin-top: 60px;
}
.imagebgheader{
  z-index: -1
}
.settingview {
  max-width: 700px;
}
.is-size-1{
  font-size: 24px !important;
}
body {

//   overflow-y: hidden;
// overflow-x: hidden;
}
table { border-spacing: 0; *border-collapse: collapse; }
.preview-wrapper p, .preview-wrapper a, .preview-wrapper span {
      white-space:pre;
}
.column {
  flex: 1 1 auto;
}
.grouping_choicesplaceholder span, .choices_placeholder a, .checkprimary_placeholder span{
        white-space:normal;
}
a{
  position: relative;
  &[alt]:hover:after{
    content: attr(alt);
    padding: 5px;
    font-size: 1em;
    color: white;
    border: 1px solid hsl(217, 71%, 53%);
    background-color: hsl(204, 86%, 53%);
    position: absolute;
    z-index: 9;
    top: 25px;
    left: -25px;
  }
}
// Custom CSS Helpers
.has-center-items{
  justify-content: center;
}
.has-position-relative{
  position: relative;
}
.has-position-absolute{
  position: absolute;
}
// END
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 556px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 100;
  will-change: transform;
  background-color: transparent;
  min-height: 100vh;
}

.slideout-open {
  overflow: hidden;
  body, .slideout-panel {
    overflow: hidden;
  }
  .slideout-menu {
    display: block;
  }
}

// JSON like format in modified column in gridviews
.keyformat{
  color: $info;
  font-size: 1em;
}
.valueformat{
  color: $black;
  font-size: 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
.needsaveformat{
  color: $danger;
  font-style: italic;
  display: inline-block;
}
.newitemformat{
  background-color: $applightgrey
}
.my-handle{
  cursor: move;
  cursor: -webkit-grabbing;
}
.builder-bg {
  background-color: #303E61 !important;
}

// end

// class to disable user buttons links choices components
.notavailable{
  pointer-events: none;
  cursor: default;
  color: black;
}
.beforetext_components{
  font-weight: 600;
}
.aftertext_components{
  font-weight: 600;
}

//
//helper

.marginb0 {
  margin-bottom: 0 !important
}
