.missingletter_eachletterbox{
background: linear-gradient(to left, #ccc 1px, white 0);
background-size: 49px 1px;
font: 14px monaco, monospace;
letter-spacing: 0px;
text-indent: 21px;
}
.missingletter_existletters{
  color: $info;
}
