$safecolor: #23D160;
$warningcolor: #FF470F;
$dangercolor: #FF3860;
.timerplaceholder{
  text-align: center;
  .timermsg{
    // width: 50%;
    border: 2px solid;
    border-color: transparent;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 1.7em;
    .danger{
      color: $dangercolor;
    }
    .warning{
      color: $warningcolor;
    }
    .safe{
      color: $safecolor;
    }
    .default{
      color: $dangercolor;
    }
    .success{
      color: $safecolor;
    }
  }
  .timerborder{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: solid 7px;
    border-radius: 50px;
    }
  }
//SVG CSS
.timercount{
  display: block;
  font-size: 1.3em;
  position: relative;
  top: 22%;
}
#timersvg {
  margin-top: -2em;
  circle{
    stroke: #dbdbdb;
    stroke-width: 12px;
    transition: stroke-dashoffset 0.9s linear;
  }
}
#timerbar {
  stroke-width: 12px;
  // transform: rotate(270deg);
  transform-origin: 49.8% 50.3%;
  &.danger{
    stroke: $dangercolor;
    -webkit-animation: blinkdanger 0.2s infinite;  /* Safari 4+ */
    -moz-animation: blinkdanger 0.2s infinite;  /* Fx 5+ */
    -o-animation: blinkdanger 0.2s infinite;  /* Opera 12+ */
    animation: blinkdanger 0.2s infinite;  /* IE 10+, Fx 29+ */
  }
  &.warning{
    stroke: $warningcolor;
    -webkit-animation: blinkwarning 0.5s infinite;  /* Safari 4+ */
    -moz-animation: blinkwarning 0.5s infinite;  /* Fx 5+ */
    -o-animation: blinkwarning 0.5s infinite;  /* Opera 12+ */
    animation: blinkwarning 0.5s infinite;  /* IE 10+, Fx 29+ */
  }
  &.safe{
    stroke: $safecolor;
    -webkit-animation: blinksafe 0.6s infinite;  /* Safari 4+ */
    -moz-animation: blinksafe 0.6s infinite;  /* Fx 5+ */
    -o-animation: blinksafe 0.6s infinite;  /* Opera 12+ */
    animation: blinksafe 0.6s infinite;  /* IE 10+, Fx 29+ */
  }
  &.default{
    stroke: $dangercolor !important;
  }
  &.success{
    stroke: $safecolor !important;
  }
}
@-webkit-keyframes blinkdanger {
  0%, 49% {
    stroke: #e10d28;
  }
  50%, 100% {
    stroke: $dangercolor;
  }
}
@-webkit-keyframes blinkwarning {
  0%, 49% {
    stroke: #e24c00;
  }
  50%, 100% {
    stroke: $warningcolor;
  }
}
@-webkit-keyframes blinksafe {
  0%, 49% {
    stroke: #00ff00;
  }
  50%, 100% {
    stroke: $safecolor;
  }
}
