/**
 * Trumbowyg v2.8.1 - A lightweight WYSIWYG editor
 * Default stylesheet for Trumbowyg editor plugin
 * ------------------------
 * @link http://alex-d.github.io/Trumbowyg
 * @license MIT
 * @author Alexandre Demode (Alex-D)
 *         Twitter : @AlexandreDemode
 *         Website : alex-d.fr
 */

.trumbowyg-dropdown-foreColor,
.trumbowyg-dropdown-backColor {
    width: 276px;
    padding: 7px 5px;

    svg {
        display: none !important;
    }

    button {
        display: block;
        position: relative;
        float: left;
        text-indent: -9999px;
        height: 20px;
        width: 20px;
        border: 1px solid #333;
        padding: 0;
        margin: 2px;

        &:hover,
        &:focus {
            &::after {
                content: " ";
                display: block;
                position: absolute;
                top: -5px;
                left: -5px;
                height: 27px;
                width: 27px;
                background: inherit;
                border: 1px solid #FFF;
                box-shadow: #000 0 0 2px;
                z-index: 10;
            }
        }
    }
}
