.truefalse_placeholder {
  margin: 15px;
}
.truefalse_statictexts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.truefalse_staticimages {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
