<style scoped lang='scss'>
.maxlength{
  max-width: 10rem;
  word-break: break-all;
  overflow: ellipsis;
}
</style>
<template>
<div class=''>
      <div v-if="!isDataLoaded">
        <AppSpinner />
      </div>
      <div v-else class="table-container">
      <table  class="table">
        <thead>
          <tr>
            <th><span class="is-italic">#</span></th>
            <th class="maxlength"><abbr title="Package Name">Name</abbr></th>
            <th><abbr title="Category">Ctgr</abbr></th>
            <th>ISBN</th>
            <th>ISO</th>
            <th><abbr title="Digi Package Id">Digi ID</abbr></th>
            <th><abbr title="Created by">C by</abbr></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(result,index) in results" :key='result.id'>
            <th>{{index+1}}</th>
            <td class="maxlength"><router-link :to="{ name: 'package', params: { package_name: result.package_name }}">{{result.package_name}}</router-link></td>
            <td>{{result.PackageCategory.category_name}}</td>
            <td>{{result.isbn}}</td>
            <td>{{result.iso}}</td>
            <td>{{result.digi_package_id}}</td>
            <td>{{result.PackageCreator.firstname}}{{' '}}{{result.PackageCreator.lastname}}</td>
          </tr>
        </tbody>
      </table>
      <router-view></router-view>
    </div>
</div>
</template>
<script>
import DataLoader from '@/components/mixins/DataLoader'

export default {
  name: 'Packages',
  data () {
    return {
      results: Array || [],
      count: Number || 0
    }
  },
  props: {
  },
  mixins: [DataLoader],
  mounted () {
    this.resetDataLoader()
    this.$http.get(`packages`).then((res) => {
      this.results = res.data.packages.rows
      this.count = res.data.packages.count
    }).catch(err => console.log(err)).finally(() => this.resolveDataLoader())
  },
  methods: {
  },
  computed: {
  }

}
</script>
