<style lang="scss">
.header_placeholder{
  display: block;
  // overflow: hidden;
  max-width: 1024px;
  min-width: 1024px;
  min-height: 77px;
  margin-left: -2%;
  // margin-bottom: -.75rem;
  .header_contentsbutton{
    margin-top: 19px;
    margin-right: 10px;
  }
}
</style>
<template>
<div class="header_placeholder columns is-mobile">
    <div style="position: relative;" :style="[el.taps[0].bgobject, {backgroundImage: bgimage}]">
      <a v-if="el.interiornavflag" class="button pull-right header_contentsbutton" @click="modalopen()"><span class="icon"><i class="fa fa-bars"></i></span><span>CONTENTS</span></a>
      <div :style="[el.taps[0].textstyle, {backgroundImage: textbgimage}]" v-html="el.taps[0].text"></div>
      <div v-if="staticimages !== undefined && staticimages !== null">
        <div :style="image.staticimage" v-for="image in staticimages">
          <img :src="media + $route.query.package + '/' + image.staticimage.imgsrc">
        </div>
      </div>
      <div v-if="statictexts !== undefined && statictexts !== null">
        <div :style="text.textstyle" v-for="text in statictexts">
          <span v-html="text.text"></span>
        </div>
      </div>
    </div>
</div>

</template>

<script>

import InteriorNavigationModal from '@/ui-components/modal/InteriorNavigationModal'
const NavigationModal = Vue.extend(InteriorNavigationModal)
import {
    MEDIAENDPOINT
}
from '@/config/app-config.js'
export default {

    name: 'HeaderComponent',

    props: {
        el: Object
    },

    data() {
        return {
            media: MEDIAENDPOINT,
            headerarray: [],
            bgimage: null,
            textbgimage: null,
            staticimages: null,
            statictexts: null
        }
    },
    mounted() {
      if (this.el.taps[0].bgobject.backgroundImage !== undefined && this.el.taps[0].bgobject.backgroundImage !== null && this.el.taps[0].bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.taps[0].bgobject.backgroundImage + ')'
      } else {
        this.bgimage = null
      }
      if (this.el.taps[0].textstyle.backgroundImage !== undefined && this.el.taps[0].textstyle.backgroundImage !== null && this.el.taps[0].textstyle.backgroundImage !== '') {
          this.textbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.taps[0].textstyle.backgroundImage + ')'
      } else {
        this.textbgimage = null
      }
      if (this.el.taps.length > 0) {
          this.headerarray = JSON.parse(JSON.stringify(this.el.taps))
      }
      if (this.el.statictexts !== undefined && this.el.statictexts !== null && this.el.statictexts !== '') {
        this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts))
      }
      if (this.el.staticimages !== undefined && this.el.staticimages !== null && this.el.staticimages !== '') {
        this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages))
      }
    },
    methods: {
        // open modal
        modalopen(index) {
          if (this.el.interiornavflag) {
          let van =  require('./json.json')
          } else {
            let van = []
          }
            new NavigationModal({
                el: document.createElement('div'),
                propsData: {
                    navjson: van,
                    route: this.$router,
                    visible: true
                }
            })
        }
    },
    computed: {
        customel: function() {
            return this.el
        }
    },
    watch: {
        customel: {
          handler(element) {
              this.headerarray = JSON.parse(JSON.stringify(element.taps))
              if (element.staticimages !== undefined && element.staticimages !== null && element.staticimages !== '') {
                this.staticimages = JSON.parse(JSON.stringify(element.staticimages))
              }
              if (element.statictexts !== undefined && element.statictexts !== null && element.statictexts !== '') {
                this.statictexts = JSON.parse(JSON.stringify(element.statictexts))
              }
              if (element.taps[0].bgobject.backgroundImage !== undefined && element.taps[0].bgobject.backgroundImage !== null && element.taps[0].bgobject.backgroundImage !== '') {
                  this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.taps[0].bgobject.backgroundImage + ')'
              } else {
                this.bgimage = null
              }
              if (element.taps[0].textstyle.backgroundImage !== undefined && element.taps[0].textstyle.backgroundImage !== null && element.taps[0].textstyle.backgroundImage !== '') {
                  this.textbgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.taps[0].textstyle.backgroundImage + ')'
              } else {
                this.textbgimage = null
              }
          },
          deep: true
        }
    }
}

</script>
