<template>
<div :style="[el.bgobject, {backgroundImage: bgimage}]">
  <p class="rubric1" :style="el.rubricText[1].textstyle" ><span v-html="el.rubricText[1].titleontop"></span><span class="is-pulled-right" :style="el.rubricText[2].textstyle"><span v-html="el.rubricText[2].titleonright"></span></span></p>
  <p class="rubricText1">
    <span class="note" :style="el.rubricText[0].textstyle" v-html="el.rubricText[0].questiontext"></span>
  </p>
  <div v-if="staticimages !== undefined && staticimages !== null">
    <div :style="image.staticimage" v-for="image in staticimages">
      <img :src="media + $route.query.package + '/' + image.staticimage.imgsrc">
    </div>
  </div>
  <div v-if="statictexts !== undefined && statictexts !== null">
    <div :style="text.textstyle" v-for="text in statictexts">
      <span v-html="text.text"></span>
    </div>
  </div>
</div>

</template>
<script>
import {
  MEDIAENDPOINT
} from '@/config/app-config'
export default {

  name: 'RubricFull',

  props:
  {
    el: Object
  },

  data () {
    return {
      media : MEDIAENDPOINT,
      bgimage: null,
      staticimages: null,
      statictexts: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
        this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.staticimages !== undefined && this.el.staticimages !== null && this.el.staticimages !== '') {
      this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages))
    }
    if (this.el.statictexts !== undefined && this.el.statictexts !== null && this.el.statictexts !== '') {
      this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts))
    }
  },
  methods: {
  },
  computed: {
      customel: function() {
          return this.el
      }
  },
  watch: {
      customel: {
        handler(element) {
          if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
              this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
          }
          if (element.statictexts !== undefined && element.statictexts !== null && element.statictexts !== '') {
            this.statictexts = JSON.parse(JSON.stringify(element.statictexts))
          }
          if (element.staticimages !== undefined && element.staticimages !== null && element.staticimages !== '') {
            this.staticimages = JSON.parse(JSON.stringify(element.staticimages))
          }
        },
        deep: true
      }
  }
}
</script>
<style>
.iconsrc, .statssrc {
  height: 25px;
  position: relative;
  top: 5px;
}
.note {
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit;
}
</style>
