<style lang="scss" scoped>
.taptapimage_placeholder{
  text-align: center;
}
.taparea_placeholder{
  width: 150px;
  height: 150px;
  display: block;
  position: relative;
}
.taparea{
  display: block;
  width: 100%;
  height: 100%;
  color: #d3d3d3;
}
.tapimage{
  width: 100%;
  height: 100%;
}

</style>
<template lang="html">
  <div class="taptapimage_placeholder">
    <div :class="{'notavailable': notavailable}" :style="[elobject.bgobject, {backgroundImage: bgimage}]" class="taparea_placeholder">
      <v-touch class="taparea" :id="elobject.id" @tap="newinput(elobject.id)" tag="a">
        <img v-if="imginput.imgsrc !== null && imginput.imgsrc !== undefined" class="image displayimg" :src="mediafile + $route.query.package + '/' + imginput.imgsrc">
        <exp-checkicons v-if="elobject.Right && elobject.check" :answerFlag="'right'" :checkIconsObject="checkIconsObject"></exp-checkicons>
        <exp-checkicons v-if="!elobject.Right && elobject.check" :answerFlag="'wrong'" :checkIconsObject="checkIconsObject"></exp-checkicons>
        <!-- <div v-if="elobject.check" style="position: absolute; bottom: 0; right: 0; font-size: 24px;" ><i v-if="elobject.Right" class="fa fa-check has-text-success"></i><i v-else class="fa fa-times has-text-danger"></i></div> -->
      </v-touch>
    </div>
    <div v-if="elobject.text !== undefined && elobject.text !== null" :style="elobject.textstyle" style="position: absolute;" >
      <span>{{elobject.text}}</span>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
import eventbus from '@/config/eventhub.js'
export default {
  name: 'expTaptapimages',
  props: {
    el: Object
  },
  data () {
    return {
      elobject: JSON.parse(JSON.stringify(this.el)),
      mediafile: MEDIAENDPOINT,
      bgimage: null,
      lockRight: true,
      tempimginput: { // holds the id and the imgsrc that user clicked
        id: null,
        imgsrc: null
      },
      imginput: { // initial img input
        id: null,
        imgsrc: null
      },
      hasinputid: null,
      notavailable: true
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.elobject = [0, this.elobject.length]
    this.elobject = JSON.parse(JSON.stringify(this.el))
    if (this.elobject.imageinput !== null && this.elobject.imageinput !== undefined && this.elobject.imageinput !== "") {
      this.imginput.imgsrc = this.elobject.imageinput
    } else {
      this.imginput.imgsrc = null
    }
    this.$nextTick(() => {
      // Load the temp object with image clicked
      eventbus.listen('choicesimages_userchoice', (data) => {
        if (this.lockRight && data.bindchoicesid === this.elobject.bindchoicesid && this.elobject.imgonchange[data.index] !== undefined) {
          this.notavailable = false
          this.tempimginput.id = data.id
          this.tempimginput.imgsrc = this.elobject.imgonchange[data.index].imgonchangesrc
          this.tempimginput.bindchoicesid = data.bindchoicesid
           // search the tap tap json object to find image on change with the same id of the image choice user clicked
        }
      })
      eventbus.listen('taptapimages_notavailable', () => {
        this.notavailable = true
      })
      eventbus.listen('checkprimary_reset', () => {
        this.imginput.id = null
        if (this.elobject.imageinput !== null && this.elobject.imageinput !== undefined && this.elobject.imageinput !== "") {
          this.imginput.imgsrc = this.elobject.imageinput
        } else {
          this.imginput.imgsrc = null
        }
        this.tempimginput.id = null
        this.tempimginput.imgsrc = null
        this.hasinputid = null
        this.notavailable = true
        this.lockRight = true
        this.elobject.check = false
        this.elobject.Right = false
        this.$forceUpdate()
      })
      eventbus.listen('checkprimary_check', () => {
        this.elobject.check = true
        if (this.elobject.Right && this.elobject.rightimage !== null && this.elobject.rightimage !== undefined && this.elobject.rightimage !== '') {
          this.imginput.imgsrc = this.elobject.rightimage
        }
      })
      eventbus.listen('checkprimary_tryagain', () => {
        // this.elobject.check = false
        if (this.imginput.id !== null) {
          if (this.imginput.id === this.elobject.rightanswer) {
            this.lockRight = false
          } else {
            let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
            eventbus.fire('choicesimages_enablechoice', enablechoicedata)
            this.imginput.id = null
            if (this.elobject.imageinput !== null && this.elobject.imageinput !== undefined && this.elobject.imageinput !== "") {
              this.imginput.imgsrc = this.elobject.imageinput
            } else {
              this.imginput.imgsrc = null
            }
            this.tempimginput.id = null
            this.tempimginput.imgsrc = null
            this.hasinputid = null
            this.notavailable = true
            this.lockRight = true
            this.elobject.check = false
            this.elobject.Right = false
          }
        }
      })
      eventbus.listen('checkprimary_show', () => {
        this.elobject.check = false
        this.imginput.id = this.elobject.rightanswer
        this.imginput.imgsrc = this.elobject.imgonchange[findIndex(this.elobject.imgonchange, {'id': this.elobject.rightanswer})].imgonchangesrc
        this.lockRight = true
      })
      eventbus.listen('primarytimer_end', () => {
        this.lockRight = false
      })
      eventbus.listen('checkprimary_stoptime', () => {
        this.lockRight = false
      })
    })
  },
  methods: {
    // Load the temp img to img input when user click the image input
    newinput (taptapid) {
      if (this.imginput.id !== null) {
        let enablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', enablechoicedata)
      }
      this.hasinputid = taptapid
      this.imginput.id = this.tempimginput.id
      this.imginput.imgsrc = this.tempimginput.imgsrc
      this.imginput.bindchoicesid = this.tempimginput.bindchoicesid
      eventbus.fire('taptapimages_notavailable')
      let isRight = false
      if (this.elobject.allright !== undefined) {
        isRight = this.elobject.allright
        this.elobject.Right = this.elobject.allright
      } else {
        isRight = false
        this.elobject.Right = false
      }
      if (this.elobject.rightanswer === this.imginput.id) {
        isRight = true
        this.elobject.Right = true
      }
      let hasinputobject = {id: this.hasinputid, inputid: this.hasinputid, bindchoiceid: this.elobject.bindchoicesid, isRight: isRight, evt: 'add'}
      eventbus.fire('checkprimary_input', hasinputobject)
      if (this.imginput.id !== null) {
        let disablechoicedata = {id: this.imginput.id, bindchoicesid: this.elobject.bindchoicesid}
        eventbus.fire('choicesimages_enablechoice', disablechoicedata)
        eventbus.fire('taptapimages_disablechoice', disablechoicedata)
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.elobject = [0, this.elobject.length]
        this.elobject = JSON.parse(JSON.stringify(element))
        if (this.elobject.imageinput !== null && this.elobject.imageinput !== undefined && this.elobject.imageinput !== "") {
          this.imginput.imgsrc = this.elobject.imageinput
        } else {
          this.imginput.imgsrc = null
        }
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('choicesimages_userchoice')
    eventbus.off('taptapimages_notavailable')
  }
}
</script>
