<template lang="html">
  <div class="columns is-mobile" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <div class="wordsearch_staticimages" v-if="staticimages !== undefined && staticimages !== null">
      <div :style="image.staticimage" v-for="image in staticimages" :key="image.id">
        <img :src="media + $route.query.package + '/' + image.staticimage.imgsrc">
      </div>
    </div>
    <div class="wordsearch_statictexts" v-if="statictexts !== undefined && statictexts !== null">
      <div :style="text.textstyle" v-for="text in statictexts" :key="text.id">
        <span v-html="text.text"></span>
      </div>
    </div>
    <exp-multipleChoices :el="el"></exp-multipleChoices>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'MultipleChoicesSection',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: null,
      media: MEDIAENDPOINT,
      statictexts: null,
      staticimages: null
    }
  },
  mounted () {
    this.updateSettings(this.el)
  },
  methods: {
    updateSettings (arg) {
      // store el.statictexts in a statictexts variable, it's an array of objects
      if (arg.statictexts !== null && arg.statictexts !== undefined) {
        if (arg.statictexts.length > 0) {
          this.statictexts = JSON.parse(JSON.stringify(arg.statictexts))
        } else {
          this.statictexts = null
        }
      } else {
        this.statictexts = null
      }
      // store el.staticimages in a staticimages variable, it's an array of objects
      if (arg.staticimages !== null && arg.staticimages !== undefined) {
        if (arg.staticimages.length > 0) {
          this.staticimages = JSON.parse(JSON.stringify(arg.staticimages))
        } else {
          this.staticimages = null
        }
      } else {
        this.staticimages = null
      }
      // store el.bgobject.backgroundImage in a bgimage string variable
      if (arg.bgobject.backgroundImage !== undefined && arg.bgobject.backgroundImage !== null && arg.bgobject.backgroundImage !== '') {
        this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + arg.bgobject.backgroundImage + ')'
      }
    }
  },
  watch: {
    el: {
      handler (element) {
        this.updateSettings(element)
      },
      deep: true
    }
  },
}
</script>
