<style lang="scss">
.taptapwithbg_tap{
  margin: auto 0;
}
</style>
<template lang="html">
  <div class = "columns is-multiline">
    <div class="column is-12">
      <exp-choicestaptap :el="el"></exp-choicestaptap>
    </div>
    <div class="column is-12" id="tap" >
      <div class="columns is-multiline is-mobile" :style="[el.bgobject, {backgroundImage: bgimage}]">
        <div class="column taptapwithbg_tap" :class="[(count.column !== null && count.column !== undefined) ? count.column : '']" v-for="count in taptaparray" :key="count.id">
          <exp-taptap :el="count"></exp-taptap>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'taptapwithbg',
  props: {
    el: Object
  },
  data () {
    return {
      taptaparray: [],
      bgimage: null
    }
  },
  mounted () {
    this.taptaparray = JSON.parse(JSON.stringify(this.el.taps))
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
  },
  computed: {
    taptapwithbgimage: function () {
      return this.el
    }
  },
  watch: {
    taptapwithbgimage: {
      handler (element) {
        this.taptaparray = JSON.parse(JSON.stringify(element.taps))
        this.el = element
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        }
      },
      deep: true
    }
  }
}

</script>
