<style lang="scss">
</style>
<template lang="html">
<div :id="id + 'wordsearchletter_container'" class="wordsearchletter_container" :style="{top: letterY + 'px', left: letterX + 'px', borderStyle: uiobject.borderStyle, borderColor: uiobject.borderColor}">
  <span :id="id + 'letter'">{{letter}}</span>
</div>
</template>

<script>
export default {
  name: 'expWordsearchletter',
  props: {
    letter:  {type: String, default: 'A'},
    letterX: {type: Number, default: 0},
    letterY: {type: Number, default: 0},
    id: {type: Number, default: 0},
    boxsize: {type: Number, default: 48},
    uiobject: {
      type: Object,
      default: () => {return {borderStyle: 'dashed', borderColor: '#000000'}}
    }
  }
}

</script>
