<style lang="scss">
</style>

<template lang="html">
<div class="columns is-mobile is-multiline">
  <div class="column is-12">
    <div class="wordsearch_xrow_helper">
      <span v-for="x in rangeHelper(0, containerboxsize, boxsize)" :key="x" :style="{left: (x + (boxsize/2) - 9) + 'px', top: 0, position: 'absolute', textAlign: 'center', width: boxsize + 'px', width: containerboxsize}">
        <span>{{Math.floor(x/boxsize)}}</span>
      </span>
    </div>
  </div>
  <div class="column is-12">
    <pixi ref="pixi" :id="'wordsearch_container'" :width="containerboxsize" :height="containerboxsize" :drawSize="boxsize" :pixiuiobject="el.pixiwordsearchui" :drawVisible="drawVisible">
        <hammer ref="hammer" slot-scope="{drawStart, drawRight, drawLeft, drawEnd, drawDown, drawUp}" id="wordsearch_container" :style="{width: containerboxsize + 'px', height: containerboxsize + 'px'}" class="wordsearch_container" :panstart="drawStart" :panright="drawRight" :panleft="drawLeft" :panend="drawEnd" :pandown="drawDown" :panup="drawUp" :startId="panStart" :endId="panEnd">
            <exp-wordsearchletter v-for="(letter, index) in letters" :id="index" :boxsize="boxsize" :key="index" :letter="letter.text" :letterX="letter.x" :letterY="letter.y" :uiobject="el.wordsearchui">
              <span>{{letter.x}}</span>
            </exp-wordsearchletter>
        </hammer>
      </pixi>
  </div>
  <div class="wordsearch_yrow_helper" :style="{left: containerboxsize + 'px', top: '36px', height: containerboxsize}">
    <span v-for="x in rangeHelper(0, containerboxsize, boxsize)" :key="x" :style="{left: 0, top: x + 'px', position: 'absolute', textAlign: 'center', width: boxsize + 'px'}">
      <span>{{Math.floor(x/boxsize)}}</span>
    </span>
  </div>
</div>
</template>

<script>
import range from 'lodash/range'
import forEach from 'lodash/forEach'
import groupBy from 'lodash/groupBy'
import HammerPan from './HammerPan.vue'
import PixiDraw from './PixiDraw.vue'
import eventbus from '@/config/eventhub.js'
export default {
  components: {
    'hammer': HammerPan, // refs to hammer component
    'pixi': PixiDraw // refs to pixi component
  },
  name: 'expWordsearch',
  props: {
    el: Object
  },
  data () {
    return {
      boxsize: 72, // size of the wordsearch letter box
      containerboxsize: 720, // size of the wordsearch container
      letters: [], // letters array, array of all box of the wordsearch
      rangeHelper: range, // lodash range function
      isSelected: false, // flag that draw started, changes from pixi component
      chooseStartId: null, // the id of the element that draw started
      rightArray: [], // array of the right elements
      userAnswers: [], // array of the user draw elements
      defaultArray: [] // array of the wordsearch default answers
    }
  },
  mounted () {
    this.containerboxsize = this.el.containerboxsize
    this.letters = [...this.el.letters]
    this.createShowAnswers()
    // this.createDefaultAnswers()
    this.$nextTick(() => {
      forEach(this.rightArray, (letter) => {
        if (letter[3] === 'default') {
          this.$refs.pixi.drawStatic(letter[0], letter[1], letter[2], letter[3])
        }
      })
      eventbus.listen('checkprimary_reset', () => {
        this.isSelected = false
        this.chooseStartId = null
        this.userAnswers = []
        if (this.$refs.pixi !== undefined) {
          this.$refs.pixi.clearPixi()
          forEach(this.rightArray, (letter) => {
            if (letter[3] === 'default') {
              this.$refs.pixi.drawStatic(letter[0], letter[1], letter[2], letter[3])
            }
          })
        }
        if (this.$refs.hammer !== undefined) {
          this.$refs.hammer.destroyEvents()
          this.$refs.hammer.initializeEvents()
          forEach(this.rightArray, (letter) => {
            if (letter[3] === 'default') {
              this.$refs.pixi.drawStatic(letter[0], letter[1], letter[2], letter[3])
            }
          })
        }
      })
      // Check event remove all elements and re-draw right ones
      eventbus.listen('checkprimary_check', () => {
        this.isSelected = false
        this.chooseStartId = null
        if (this.$refs.pixi !== undefined) {
          this.$refs.pixi.reDraw()
        }
        forEach(this.userAnswers, (answer) => {
          if (!answer.isRight) {
            answer.evt = 'remove'
            eventbus.fire('checkprimary_input', answer)
          }
        })
        this.$refs.hammer.destroyEvents()
        forEach(this.rightArray, (letter) => {
          if (letter[3] === 'default') {
            this.$refs.pixi.drawStatic(letter[0], letter[1], letter[2], letter[3])
          }
        })
        this.userAnswers = []
      })
      eventbus.listen('checkprimary_show', () => {
        if (this.$refs.pixi !== undefined) {
          forEach(this.rightArray, (letter) => {
            this.$refs.pixi.drawStatic(letter[0], letter[1], letter[2], letter[3])
          })
        }
      })
      // check remove all hammer events, tryagain re initialize
      eventbus.listen('checkprimary_tryagain', () => {
        this.$refs.hammer.initializeEvents()
      })
    })
  },
  methods: {
    /**
     * [panStart choose start id of the draw]
     * @param  {[type]} id [description]
     * @return {[type]}    [description]
     */
    panStart (id) {
      if (this.letters[id] !== undefined) {
        this.chooseStartId = this.letters[id].wordId
      }
    },
    /**
     * [panEnd end of drawing with pan end id, determine if answer is right or not, push to pixi arraySprites]
     * @param  {[type]} id [description]
     * @return {[type]}    [description]
     */
    panEnd (id) {
      if (this.letters[id] !== undefined) {
        if (this.isSelected) {
          let isRight = false
          if (this.chooseStartId === this.letters[id].wordId && this.chooseStartId !== null && this.letters[id].wordId !== null) {
            isRight = true
            this.$refs.pixi.arraySprites[(this.$refs.pixi.arraySprites.length - 1)].isRight = isRight
          } else {
            isRight = false
          }
          // send right choices to check footer
          // for each choice id is the last element of the circling
          // for each choice inputid is the first element of the circling
          // so right answers to be overrided each time or same rectangles 
          let hasinputobject = {id: id, inputid: this.chooseStartId, bindchoiceid: this.el.bindchoicesid, isRight: isRight, evt: 'add'}
          this.userAnswers.push(hasinputobject)
          eventbus.fire('checkprimary_input', hasinputobject)
        }
        this.isSelected = false
      }
    },
    // change isSelected flag when draw starts
    drawVisible(flag) {
      this.isSelected = flag
    },
    // create right answers array, to be redrawable from pixi
    createShowAnswers () {
      this.rightArray = groupBy(this.letters, 'wordId')
      delete this.rightArray['null']
      forEach(this.rightArray, (object) => {
        if (object[0].y === object[1].y) {
          object.push('horizontal')
        } else if (object[0].x === object[1].x) {
          object.push('vertical')
        }
        // check if word is default answers, circling in mount
        this.el.wordsearch[this.el.wordsearch.findIndex((word) => {
          return word.wordId === object[0].wordId
        })].default ? object.push('default') : false
      })
    },
    // Create default array to draw static rectangles
    // createDefaultAnswers () {
    //   let tempLetters = []
    //   let tempWordSearch = this.el.wordsearch.filter((word) => {
    //     return word.default
    //   }).forEach((value) => {
    //     this.letters.filter((letter) => {
    //       return letter.wordId === value.wordId
    //     }).map((value) => {
    //       tempLetters.push(value)
    //     })
    //   })
    //   this.defaultArray = groupBy(tempLetters, 'wordId')
    //   delete this.defaultArray['null']
    //   forEach(this.defaultArray, (object) => {
    //     if (object[0].y === object[1].y) {
    //       object.push('horizontal')
    //     } else if (object[0].x === object[1].x) {
    //       object.push('vertical')
    //     }
    //   })
    // }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_check')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.containerboxsize = element.containerboxsize
        this.letters = [...element.letters]
      },
      deep: true
    }
  }
}

</script>
