<style lang="scss">
.wordsearch_container{
  width: 720px;
  height: 720px;
  position: relative;
  z-index: 1;
}
</style>

<template lang="html">
<div class="columns is-mobile is-multiline">
  <div class="column is-12">
    <pixi ref="pixi" :id="'wordsearch_container'" :width="containerboxsize" :height="containerboxsize" :drawSize="boxsize">
        <hammer ref="hammer" slot-scope="{drawStart, drawRight, drawLeft, drawEnd, drawDown, drawUp, endId, startId}" id="wordsearch_container" class="wordsearch_container" :panstart="drawStart" elementidsplit="'letter'" :panright="drawRight" :panleft="drawLeft" :panend="drawEnd" :pandown="drawDown" :panup="drawUp">
            <exp-wordsearchletter v-for="(letter, index) in letters" :id="index" :letter="letter.text" :letterX="letter.x" :letterY="letter.y"></exp-wordsearchletter>
        </hammer>
      </pixi>
  </div>
  <div class="column is-12">
    {{getData}}
    <v-touch class="button is-large" @tap="run()">{{getData}}</v-touch>
  </div>
</div>
</template>

<script>
import range from 'lodash/range'
import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import shuffle from 'lodash/shuffle'
import some from 'lodash/some'
import HammerPan from './HammerPan.vue'
import PixiDraw from './PixiDraw.vue'
export default {
  components: {
    'hammer': HammerPan,
    'pixi': PixiDraw
  },
  name: 'expWordsearch',
  props: {
    el: Object
  },
  data () {
    return {
      letters: [],
      words: [],
      directions: ['x', 'y'],
      availablePositions: [],
      test: [],
      arraycord: [],
      startindex: null,
      endindex: null,
      boxsize: 72,
      containerboxsize: 720,
      userChoice: {
        start: null,
        end: 0
      }
    }
  },
  mounted () {
    this.initialize()
  },
  methods: {
    initialize () {
      this.userChoice.end = this.$refs.pixi.endId
      // remove canvas
      // if(this.canvas !== null) {
      //   this.canvas.parentNode.removeChild(this.canvas)
      // }
      // this.canvas = null
      this.letters= []
      this.test = ['pet shop', 'funfair', 'park', 'sweet shop', 'zoo', 'toy shop']
      this.arraycord = range(0, this.containerboxsize, this.boxsize)
      this.availablePositions = []
      forEach(this.arraycord, (valueX) => {
        forEach(this.arraycord, (valueY) => {
          this.letters.push({text: '', x: valueX, y: valueY})
          this.availablePositions.push({x: valueX, y: valueY})
        })
      })
      this.availablePositions = shuffle(this.availablePositions)
    },
    cleanTable () {
      forEach(this.letters, (letter) => {
        letter.text = ''
      })
    },
    findStartPosition (word) {
      let tempindex = findIndex(this.availablePositions, (value) => {
        return value[word.direction] <= this.arraycord[(this.arraycord.length - word.letters.length)]
      })
      let tempobj = {...this.availablePositions[tempindex]}
      this.availablePositions.splice(tempindex, 1)
      return tempobj
    },
    findRestPosition (tempword) {
      let word = {...tempword}
      let flag = true
      forEach(word.letters, (letter, index) => {
        if (index === 0) {
          word.positions.push({...word.start})
        } else {
          let temppos = {...word.start, ...{[word.direction]: word.start[word.direction] + index * this.boxsize}}
          if(some(this.availablePositions, temppos)) {
            word.positions.push({...temppos})
          } else {
            flag = false
            return false
          }
        }
      })
      if (flag) {
        return [...word.positions]
      } else {
        return false
      }
    },
    run () {
      // this.clearStage()
      // this.initialize()
      console.log(this.userChoice.end, this.$refs.pixi.endId)
      this.words = []
      this.cleanTable()
      forEach(this.test, (value) => {
        this.words.push({letters: value.split(' ').join('').split(''), direction: null, start: {}, positions: []})
      })
      let counter = 0
      do {
          this.words[counter].direction = this.directions[Math.floor(Math.random()*2)]
          this.words[counter].start = this.findStartPosition(this.words[counter])
          let flag = this.findRestPosition(this.words[counter])
          if (flag) {
            this.words[counter].positions = [...flag]
            forEach([...flag], (value) => {
              this.availablePositions.splice(findIndex(this.availablePositions, value), 1)
            })
            counter++
          } else {
            this.availablePositions.push({...this.words[counter].start})
            this.words[counter].positions = []
            this.words[counter].start = {}
            this.words[counter].direction = null
            this.words[counter].direction = this.directions[Math.floor(Math.random()*2)]
          }
      } while (counter < this.words.length)
      forEach(this.words, (word) => {
        forEach(word.letters, (letter, index) => {
          this.letters[findIndex(this.letters, {'x': word.positions[index].x, 'y': word.positions[index].y})].text = letter
        })
      })
      this.words = []
    },
    clearStage () {
      if (this.canvas !== null && this.renderer !== null) {
        this.canvas.destroy(true)
        this.canvas = null
        document.getElementById('wordsearch_container').removeChild(this.renderer.view)
        this.renderer.destroy(true)
        this.renderer = null
      }
    }
  },
  computed: {
    getData: function () {
      console.log(this.$parent.$refs.pixi)
      return this.$parent.$refs.pixi
    }
  }
}

</script>
