<style lang="scss">

</style>

<template lang="html">
  <div class="check_icon_container" :class="[{'small': computedObject.isSmall}, computedObject.availablePositions]">
    <span :class="[{'right': answerFlag === 'right', 'wrong': answerFlag === 'wrong'}]"><i :class="['fa', {'fa-check': answerFlag === 'right', 'fa-times': answerFlag === 'wrong'}]"></i></span>
  </div>
</template>

<script>

export default {
  name: 'expCheckicons',
  props: {
    answerFlag: String,
    checkIconsObject: {
      type: Object,
      default: () => {
        return {isSmall: false, availablePositions: 'bottom-right'}
      }
    }
  },
  computed: {
    computedObject: function () {
      if (Object.keys(this.checkIconsObject).length > 0) {
        return {...{isSmall: false, availablePositions: 'bottom-right'}, ...this.checkIconsObject}
      } else {
        return {isSmall: false, availablePositions: 'bottom-right'}
      }
    }
  }
}

</script>
