<style lang="scss">
</style>

<template lang="html">
  <div class="typing_container column is-12">
    <div :style="[multiplechoices.bgobject, returnBGImage(index)]" v-for="(multiplechoices, index) in el.multiplechoicesarray" :key="'multiplechoices_' + index">
      <div :style="multiplechoices.textstyle">
        <template v-for="(node, index) in multiplechoices.textArray">
          <multipleChoicesButton v-if="index % 2" :inputObject="node" :fontSize="multiplechoices.choicefontSize" :bindchoicesid="el.bindchoicesid" :settingtab="el.settingtab"
          :sectionMultipleChoicesId = "multiplechoices.id"
          :sectionTextArrayInputId = "node.inputId"
          :key="'multiplechoicesbutton_' + index"></multipleChoicesButton>
          <multipleChoicesText v-else v-for="(text, textIndex) in node" :fontSize="multiplechoices.textfontSize" :textHtml="text" :key="'multiplechoicestext_' + textIndex + '-' +index"></multipleChoicesText>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
import forEach from 'lodash/forEach'
export default {
  name: 'expMultipleChoices',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: [], // array with bg image for each multiplechoices block
      media: MEDIAENDPOINT
    }
  },
  mounted () {
    this.bgimage = []
    // create bgimage object with if the index of the multiplechoices
    forEach(this.el.multiplechoicesarray, (object, index) => {
      if (object.bgobject.backgroundImage !== undefined && object.bgobject.backgroundImage !== null && object.bgobject.backgroundImage !== '') {
        this.bgimage.push({id: index, image: 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + object.bgobject.backgroundImage + ')'})
      }
    })
  },
  methods: {
    /**
     * [returnBGImage return the bg image for each multiplechoices]
     * @param  {[type]} index [index of the multiplechoices]
     * @return {[type]}       [description]
     */
    returnBGImage (index) {
      let tempIndex = findIndex(this.bgimage, {'id': index})
      return tempIndex === -1 ? null : {backgroundImage: this.bgimage[findIndex(this.bgimage, {'id': index})].image}
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        forEach(element.multiplechoicesarray, (object, index) => {
          if (object.bgobject.backgroundImage !== undefined && object.bgobject.backgroundImage !== null && object.bgobject.backgroundImage !== '') {
            this.bgimage.push({id: index, image: 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + object.bgobject.backgroundImage + ')'})
          }
        })
      },
      deep: true
    }
  }
}

</script>
