<style lang="scss">
.multiplechoices_input{
  max-width: 500px;
  flex-wrap: wrap;
  float: left
}
</style>

<template lang="html">
  <span style="position: relative; display: inline-block;">
    <template v-for="(value, index) in copyAnswersArray">
      <v-touch tag="button" :key="index"
      :class="['column','taptapsection_center_row' , 'choices_style_2' ,'shadow-depth-3', 'multiplechoices_input', {'taptapsection_active': (value.selected || value.locked)}, {'notavailable': (checkFlag || value.locked) }]" :id="index" @tap="choiceClicked(index)" :style="{fontSize: fontSize + 'em'}, inputObject.inputBgObject">
      <span v-html="value.valueName"></span>
        <template v-if="value.selected">
          <i v-if="checkFlag && !value.isCorrectAnswer" class="fa fa-times has-check-wrongicon is-size-5"></i>
          <i v-if="value.locked || (checkFlag && value.isCorrectAnswer)" class="fa fa-check has-check-righticon is-size-5"></i>
        </template>
      </v-touch>
    </template>
  </span>
</template>

<script>
import eventbus from '@/config/eventhub.js'
export default {
  name: 'MultipleChoicesButton',
  props: {
    fontSize: String,
    inputObject: Object,
    bindchoicesid: String,
    sectionMultipleChoicesId: Number,
    sectionTextArrayInputId: Number
  },
  data () {
    return {
      checkFlag: false, // flag to check if check button is clicked or not, to reveal check icons
      availableChoices: this.inputObject.maxSelectedChoices, // current available choices, initial value maxSelectedChoices
      copyAnswersArray: [], // copy inputObject.values from props, array of objects, each object is an answer
      previousIndex: null, // save the previous clicked index
      multiplechoicesid: null, // unique id to identify each block of multiple choices
      maxValue: 100000
    }
  },
  mounted () {
    this.copyInputObject()
    this.$nextTick(() => {
      eventbus.listen('checkprimary_check', () => {
        this.checkFlag = true
      })
      eventbus.listen('checkprimary_reset', () => {
        this.checkFlag = false
        this.availableChoices = this.inputObject.maxSelectedChoices
        this.copyAnswersArray.map(choice => {
          choice.selected = false
          choice.locked = false
        })
      })
      eventbus.listen('checkprimary_tryagain', () => {
        this.checkFlag = false
        this.availableChoices = this.inputObject.maxSelectedChoices
        this.copyAnswersArray.map(choice => {
          if (choice.selected !== choice.isCorrectAnswer) { // selected choice is not correct
            choice.selected = false
          } else if (choice.selected && choice.isCorrectAnswer) { // selected choice is correct
            choice.locked = true // lock the correct answer
            this.availableChoices = this.availableChoices - 1
          }
        })
      })
      eventbus.listen('checkprimary_show', () => {
        this.checkFlag = true
        this.copyAnswersArray.map(choice => {
          choice.selected = false
          if (choice.isCorrectAnswer) choice.selected = true
        })
      })
    })
  },
  methods: {
    copyInputObject () {
      // selected property, true if is selected
      // locked property, true if is selected and has been checked
      this.copyAnswersArray = JSON.parse(JSON.stringify(this.inputObject.values)).map((value) => {
        return { ...value, selected: false, locked: false }
      })
    },
    choiceClicked (index) {
      this.multiplechoicesid = this.sectionMultipleChoicesId * this.maxValue + this.sectionTextArrayInputId // create a unique id for each group of multiple choices
      let escapeFlag = false // checks if (at least) one choice has been locked
      if ((this.inputObject.maxSelectedChoices === 1) && (this.availableChoices === 0) && !this.copyAnswersArray[index].selected) { // toggle choice, when max selected choices is 1
        this.copyAnswersArray.map(choice => {
          if (choice.locked) escapeFlag = true // group of multiple choices is locked, cannot add/remove choices
          else choice.selected = false
        })
        if (!escapeFlag) { // group of multiple choices is not locked
          this.removeChoice(this.previousIndex) // remove the previous selected choice
          this.copyAnswersArray[index].selected = !this.copyAnswersArray[index].selected
          this.addChoice(index)
        }
      } else if (!this.copyAnswersArray[index].selected && this.availableChoices > 0) { // add choice
        this.copyAnswersArray[index].selected = !this.copyAnswersArray[index].selected
        this.availableChoices = this.availableChoices - 1
        this.addChoice(index)
      } else if (this.copyAnswersArray[index].selected) { // remove choice
        this.copyAnswersArray[index].selected = !this.copyAnswersArray[index].selected
        this.availableChoices = this.availableChoices + 1
        this.removeChoice(index)
      }
    },
    addChoice (index) {
      let addinputobject = {
        id: this.multiplechoicesid, // multiple choices group id
        inputid: index, // choice id
        bindchoiceid: this.bindchoicesid,
        isRight: this.copyAnswersArray[index].selected === this.copyAnswersArray[index].isCorrectAnswer,
        evt: 'add'
      }
      this.previousIndex = index
      eventbus.fire('checkprimary_input', addinputobject)
    },
    removeChoice (index) {
      let removeinputobject = {
        id: this.multiplechoicesid,
        inputid: index,
        bindchoiceid: this.bindchoicesid,
        evt: 'remove'
      }
      eventbus.fire('checkprimary_input', removeinputobject)
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_stoptime')
  },
  watch: {
    'inputObject.values': {
      handler (newValues) {
        if (this.copyAnswersArray.length !== this.inputObject.values.length) {
          this.copyInputObject()
        } else {
          for (let index = 0; index < this.copyAnswersArray.length; index++) {
            this.copyAnswersArray[index].valueName = newValues[index].valueName
            this.copyAnswersArray[index].isCorrectAnswer = newValues[index].isCorrectAnswer
          }
        }
      },
      deep: true
    }
  }
}
</script>
