<style lang="scss">
</style>
<template lang="html">
  <div class="taptap_placeholder">
    <div class="taptap_imgplaceholder" v-if="imageposition === 'top'"></div>
    <div>
      <div class="taptap_imgplaceholderleft" v-if="imageposition === 'left'"></div>
      <span>{{compbftext}}</span><v-touch tag="a" v-bind:class="{notavailable: disableinput}" v-on:tap="inputclicked($event.target.id)" v-on:doubletap="resetchoices($event.target.id)"><span v-bind:id="componentid"
         v-text="custominput"></span></v-touch>
         <span><i :class="{ 'fa fa-check has-text-success': righticon, 'fa fa-times has-text-danger': wrongicon}"></i></span>
         <span>{{compaftext}}</span>
      <div class="taptap_imgplaceholderright" v-if="imageposition === 'right'"></div>
    </div>
    <div class="taptap_imgplaceholder" v-if="imageposition === 'bottom'"></div>
  </div>
</template>

<script>
import eventbus from '../../config/eventhub.js'
export default {
  name: 'expTaptapchange',
  data () {
    return {
      // computed properties to keep props unchanged
      custombftext: null, // the text before the tap tap input
      customaftext: null, // the text after the tap tap input
      // component functionality variables
      bindchoicesid: null, // bind with choices component
      rightanswer: null, // right answer id
      choicemultiple: false, // boolean to determine if choices are 1:1 with the tap zones or 1:many
      inputchange: [], // array when input has changed
      livecheck: false,
      capitalize: false,

      userinput: null,
      userinputid: null,
      // data variable to keep previous user choices in the current input so when user click again with different choice to reset it
      previoususerinput: null,
      previoususerinputid: null,
      // data that holds the id of the component choices
      choicestaptapid: null,
      // random id that is unique for every taptapchange component
      componentid: null,
      // the choice input text
      input: '',
      // data variable changes everytime user insert choice or removing a choice by reset or double tap
      hasinput: false,
      currentchoiceid: null,
      // css class to enable and disable input
      disableinput: true,
      // if the input that user tap is right
      right: false,
      // css class for fa icons for right and wrong answers
      wrongicon: false,
      righticon: false
    }
  },
  props: {
    // the position of the image if that question have
    imageposition: {
      type: String,
      default: 'none'
    },
    // // prop to associate the taptapchange component with the choices component
    // bindchoicesid: {
    //   type: String,
    //   required: true
    // },
    // the tap zone layout of the component
    tapinput: {
      type: String,
      default: '......'
    },
    // the text before the tap zone
    beforetext: {
      type: String,
      default: ''
    },
    // the text after the tap zone
    aftertext: {
      type: String,
      default: ''
    },
    // // boolean to determine if the right answer check will happend immediatly. If is true the event to the check component fired after user tap his/her choice in the tap zone
    // livecheck: {
    //   type: Boolean,
    //   default: false
    // },
    // // holds the id of the right choice from choices array, required
    // rightanswer: {
    //   type: String,
    //   default: '0',
    //   required: true
    // },
    // // boolean to determine if the choice that user tap will be capitalized or not
    // capitalize: {
    //   type: Boolean,
    //   default: false
    // },
    // // array with the possible changes at user input. Every choice from the choices array must have a record in this array with the bindid of it
    // inputchange: {
    //   type: Array,
    //   required: true
    // },
    // // boolean to determine if choices are 1:1 with the tap zones or 1:many
    // choicemultiple: {
    //   type: Boolean,
    //   default: true
    // },
    el: Object
  },
  created () {
    this.input = this.el.tapinput
    this.componentid = this.el.id
    this.custombftext = this.el.beforetext
    this.customaftext = this.el.aftertext
    this.bindchoicesid = this.el.bindchoicesid
    this.capitalize = this.el.capitalize
    this.inputchange = JSON.parse(JSON.stringify(this.el.inputchange))
    if (this.el.rightanswer === null) {
      this.rightanswer = null
    } else {
      this.rightanswer = this.el.rightanswer.id
    }
    // listen event when user click one of the choices
    eventbus.listen('choicestaptap_userchoice', (data) => {
      this.userinput = data.text
      this.userinputid = data.id
      this.choicestaptapid = data.choicestaptapid
      // checks if the choices array that user tap is binded to this component so enable the input. Additionaly checks if this component have already right answer after checked so not make it available for different choice
      if (this.choicestaptapid === this.bindchoicesid && !(this.right)) {
        this.disableinput = false
        this.wrongicon = false
      }
      // if choice array is not bind with this component the input stays disabled
      if (this.choicestaptapid !== this.bindchoicesid) {
        this.disableinput = true
      }
    })
    // listen event when user double click the input to disable the current input
    eventbus.listen('changetaptap_disablereset', (id) => {
      if (parseInt(id) === this.componentid) {
        this.disableinput = true
        this.wrongicon = false
      }
    })
    // listen event when user click an input we need to reset
    eventbus.listen('changetaptap_clearinput', (id) => {
      if (parseInt(id) !== this.componentid && !this.hasinput) {
        this.disableinput = true
      }
      // if changetaptap_clearinput event has id === 0, means that fired by the reset button, resets all data for the current component
      if (parseInt(id) === 0) {
        this.userinput = null
        this.userinputid = null
        this.previoususerinput = null
        this.previoususerinputid = null
        this.currentchoiceid = null
        this.hasinput = false
        this.right = false
        this.righticon = false
        this.wrongicon = false
        this.input = this.el.tapinput
        this.disableinput = true
      }
      this.userinput = null
      this.userinputid = null
    })
    // listen event to check if the prop rightanswer is the same as the user input id
    eventbus.listen('checktaptap_check', (checkobject) => {
      if (checkobject.buttonevent === 'tryagain') {
        if (this.currentchoiceid !== this.rightanswer) {
          let enablechoice = {inputid: this.currentchoiceid, choicestaptapid: checkobject.id}
          eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
          this.input = this.el.tapinput
          this.hasinput = false
          this.$nextTick(function () {
            eventbus.fire('changetaptap_disablereset', this.componentid)
          })
        }
      } else if (checkobject.buttonevent === 'check') {
        if (checkobject.id === this.bindchoicesid) {
          // if user input is empty do nothing
          if (!this.hasinput) {
            this.righticon = false
            this.wrongicon = false
          // if user input is not the right one then put the css class with the red wrong icon (times) and re enable this choice at choices array
          } else if (this.currentchoiceid !== this.rightanswer) {
            let enablechoice = {inputid: this.currentchoiceid, choicestaptapid: checkobject.id}
            eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
            this.wrongicon = true
            this.righticon = false
          } else {
            if (!this.choicemultiple) {
              let disablechoice = {inputid: this.currentchoiceid, choicestaptapid: checkobject.id}
              eventbus.fire('choicestaptap_disableuserchoice', disablechoice)
            }
            // object with the choice id and choicestaptapid to be send to checktaptap as right answer
            let rightanswer = {id: this.currentchoiceid, choisestaptapid: checkobject.id, componentid: this.componentid}
            eventbus.fire('checktaptap_rightanswer', rightanswer)
            this.right = true
            this.righticon = true
            this.wrongicon = false
            this.disableinput = true
          }
        }
      }
    })
    eventbus.listen('choicestaptap_showrightanswers', (choicesobject) => {
      if (choicesobject.choiceid === this.bindchoicesid) {
        this.answers = []
        for (var i = 0; i < choicesobject.array.length; i++) {
          if (choicesobject.array[i].id === this.rightanswer) {
            this.userinput = choicesobject.array[i].text
            this.userinputid = choicesobject.array[i].id
            this.choicestaptapid = choicesobject.choiceid
            this.inputclicked(choicesobject.array[i].id)
            this.right = true
            this.righticon = true
            this.wrongicon = false
            this.disableinput = true
          }
        }
      }
    })
  },
  methods: {
    // method called when user clicked in input field
    inputclicked (id) {
      if (this.userinput !== null) {
        // search for the text that will be changed based on choice id from choices component
        for (var i = 0; i < this.inputchange.length; i++) {
          if (this.inputchange[i].bindid === this.userinputid) {
            // check if capitalize is true (enable) to capitalize the first letter of the input.
            if (this.capitalize) {
              this.input = this.inputchange[i].text.charAt(0).toUpperCase() + this.inputchange[i].text.slice(1)
            } else {
              this.input = this.inputchange[i].text
            }
          }
        }
        // check if user have change his choice and renter it on top of his/her first one
        if (this.previoususerinputid !== this.userinputid) {
          let enablechoice = {inputid: this.previoususerinputid, choicestaptapid: this.choicestaptapid}
          eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
        }
        // keep the current choice as previous so we can reset in the choices table
        this.previoususerinput = this.userinput
        this.previoususerinputid = this.userinputid
        // hold the id of the choice that is current in the field
        this.currentchoiceid = this.userinputid
        if (!this.choicemultiple) {
          // disable the choice with id userinputid and choices id choicestaptapid to prevent disable from different choices array
          let disablechoice = {inputid: this.userinputid, choicestaptapid: this.choicestaptapid}
          eventbus.fire('choicestaptap_disableuserchoice', disablechoice)
        } else {
          let enablechoice = {inputid: this.userinputid, choicestaptapid: this.choicestaptapid}
          eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
        }
        // check if user have tap a choice in the tap zone
        if (parseInt(id) === this.componentid) {
          this.hasinput = true
          let hasinputobject = {id: this.currentchoiceid, componentid: this.componentid, evt: 'add'}
          eventbus.fire('checktaptap_hasinput', hasinputobject)
        }
        // check if livecheck is true(enabled) so after a user tap a choices in the tap zone fire event to check if is the right answer
        if (this.livecheck) {
          eventbus.fire('checktaptap_check', this.bindchoicesid)
        }
        // fire event to lock all other input fields when user put choices to one of them
        eventbus.fire('changetaptap_clearinput', id)
      }
    },
    resetchoices (id) {
      // enable the choice with id userinputid and choices id choicestaptapid to prevent disable from different choices array
      if (!this.choicemultiple) {
        let enablechoice = {inputid: this.currentchoiceid, choicestaptapid: this.choicestaptapid}
        eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
      }
      let hasinputobject = {id: this.currentchoiceid, componentid: this.componentid, evt: 'remove'}
      eventbus.fire('checktaptap_hasinput', hasinputobject)
      this.input = this.el.tapinput
      this.hasinput = false
      this.currentchoiceid = null
      // fired event to enable user choice in choices array after doupletap
      eventbus.fire('changetaptap_disablereset', id)
    }
  },
  computed: {
    // computed property input so tapinput prop not changed
    custominput: function () {
      return this.input
    },
    compbftext: function () {
      return this.custombftext
    },
    compaftext: function () {
      return this.customaftext
    },
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.input = element.tapinput
        this.capitalize = element.capitalize
        this.custombftext = element.beforetext
        this.customaftext = element.aftertext
        this.inputchange = JSON.parse(JSON.stringify(element.inputchange))
        this.bindchoicesid = element.bindchoicesid
        if (element.rightanswer === null) {
          this.rightanswer = null
        } else {
          this.rightanswer = element.rightanswer.id
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('choicestaptap_userchoice')
    eventbus.off('changetaptap_disablereset')
    eventbus.off('changetaptap_clearinput')
    eventbus.off('checktaptap_check')
    eventbus.off('choicestaptap_showrightanswers')
  }
}
</script>
