<style lang="scss">
</style>

<template lang="html">

<div :style="[el.bgobject, {backgroundImage: bgimage}]" class="columns is-multiline is-mobile">
    <div class="truefalse_staticimages" v-if="staticimages !== undefined && staticimages !== null" :style="image.staticimage" v-for="image in staticimages">
      <img :src="mediafile + $route.query.package + '/' + image.staticimage.imgsrc">
    </div>
    <div class="truefalse_statictexts" v-if="statictexts !== undefined && statictexts !== null" :style="text.textstyle" v-for="text in statictexts">
      <span v-html="text.text"></span>
    </div>
    <div v-for="group,group_index in watched_groups" :key="group.id" class="column is-12" :style="[group.group_bgobject, returnBGImage(group_index)]">
      <expMultipleChoiceImagesGroup :current_selections="current_selections['group'+group.id]" :group_id="group.id" :bindchoicesid="el.bindchoicesid" :max_selections="group.max_selections" :allow_multiple="group.multiple" :images="group.images" :checkIconsObject="computedCheckIconsProps"></expMultipleChoiceImagesGroup>
    </div>
</div>


</template>

<script>
import eventbus from "@/config/eventhub.js";
import findIndex from "lodash/findIndex";
import forEach from "lodash/forEach";
import { MEDIAENDPOINT } from "@/config/app-config.js";
export default {
  name: "MultipleChoiceImageSection",
  data() {
    return {
      bgimage: null,
      group_bgimage: [], // array with bg image for each truefalse block
      mediafile: MEDIAENDPOINT,
      staticimages: [],
      statictexts: [],
      current_selections: Object,
      watched_groups: Array
    };
  },
  props: {
    el: Object
  },
  components: {},
  mounted() {
    this.init();
    this.$nextTick(() => {
      //resets current selections field
      eventbus.listen("resetCurrentSelections", () => {
        this.init();
      });
      //increment field per group
      eventbus.listen("image_Selected", data => {
        if (this.el.bindchoicesid == data.bindchoicesid) {
          this.current_selections["group" + data.group_id]++;
        }
      });
      //decrement field per group
      eventbus.listen("image_Deselected", data => {
        if (this.el.bindchoicesid == data.bindchoicesid) {
          this.current_selections["group" + data.group_id]--;
        }
      });
    });
    if (
      this.el.bgobject.backgroundImage !== undefined &&
      this.el.bgobject.backgroundImage !== null &&
      this.el.bgobject.backgroundImage !== ""
    ) {
      this.bgimage =
        "url(" +
        MEDIAENDPOINT +
        this.$route.query.package +
        "/" +
        this.el.bgobject.backgroundImage +
        ")";
    }
    forEach(this.el.imagesgrouparray, (object, index) => {
      if (
        object.group_bgobject.backgroundImage !== undefined &&
        object.group_bgobject.backgroundImage !== null &&
        object.group_bgobject.backgroundImage !== ""
      ) {
        this.group_bgimage.push({
          id: index,
          image:
            "url(" +
            MEDIAENDPOINT +
            this.$route.query.package +
            "/" +
            object.group_bgobject.backgroundImage +
            ")"
        });
      }
    });
    if (this.el.statictexts !== null && this.el.statictexts !== undefined) {
      if (this.el.statictexts.length > 0) {
        this.statictexts = JSON.parse(JSON.stringify(this.el.statictexts));
      } else {
        this.statictexts = null;
      }
    } else {
      this.statictexts = null;
    }
    if (this.el.staticimages !== null && this.el.staticimages !== undefined) {
      if (this.el.staticimages.length > 0) {
        this.staticimages = JSON.parse(JSON.stringify(this.el.staticimages));
      } else {
        this.staticimages = null;
      }
    } else {
      this.staticimages = null;
    }
  },
  methods: {
    /**
     * [returnBGImage return the bg image for each truefalse]
     * @param  {[type]} index [index of the truefalse]
     * @return {[type]}       [description]
     */
    returnBGImage(index) {
      let tempIndex = findIndex(this.group_bgimage, { id: index });
      return tempIndex === -1
        ? null
        : {
            backgroundImage: this.group_bgimage[
              findIndex(this.group_bgimage, { id: index })
            ].image
          };
    },
    //copies groups , dynamically maps and sets current_selections data field to track selected images
    //apass said groups selection to responsible group through props
    init() {
      this.watched_groups = JSON.parse(
        JSON.stringify(this.el.imagesgrouparray)
      );
      this.current_selections = {};
      this.el.imagesgrouparray.map(group =>
        Vue.set(this.current_selections, "group" + group.id, 0)
      );
    }
  },
  computed: {
    customel: function() {
      return this.el;
    },
    computedCheckIconsProps: function() {
      return this.el.checkIconsObject;
    }
  },
  watch: {
    customel: {
      handler(element) {
        this.watched_groups = JSON.parse(
          JSON.stringify(element.imagesgrouparray)
        );
        this.$forceUpdate();
        if (element.statictexts !== null && element.statictexts !== undefined) {
          if (element.statictexts.length > 0) {
            this.statictexts = JSON.parse(JSON.stringify(element.statictexts));
          } else {
            this.statictexts = null;
          }
        }
        if (
          element.staticimages !== null &&
          element.staticimages !== undefined
        ) {
          if (element.staticimages.length > 0) {
            this.staticimages = JSON.parse(
              JSON.stringify(element.staticimages)
            );
          } else {
            this.staticimages = null;
          }
        }
        if (
          element.bgobject.backgroundImage !== undefined &&
          element.bgobject.backgroundImage !== null &&
          element.bgobject.backgroundImage !== ""
        ) {
          this.bgimage =
            "url(" +
            MEDIAENDPOINT +
            this.$route.query.package +
            "/" +
            element.bgobject.backgroundImage +
            ")";
        } else {
          this.bgimage = null;
        }
        forEach(element.imagesgrouparray, (object, index) => {
          if (
            object.group_bgobject.backgroundImage !== undefined &&
            object.group_bgobject.backgroundImage !== null &&
            object.group_bgobject.backgroundImage !== ""
          ) {
            this.group_bgimage.push({
              id: index,
              image:
                "url(" +
                MEDIAENDPOINT +
                this.$route.query.package +
                "/" +
                object.group_bgobject.backgroundImage +
                ")"
            });
          }
        });
      },
      deep: true
    }
  },
  beforeDestroy() {
    eventbus.off("image_Deselected");
    eventbus.off("image_Selected");
    eventbus.off("resetCurrentSelections");
  }
};
</script>