<style lang="scss">

</style>

<template lang="html">
  <div class="columns is-mobile" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <div class="column is-1 is-offset-4">
      <v-touch @tap="playaudio(playflag)" tag="a" class="primaryaudioplayer_buttons" :class="playflag ? 'play' : 'stop'">
        <span v-if="playflag">
          <i class="fa fa-play is-size-2"></i>
        </span>
        <span v-else>
          <i class="fa fa-pause is-size-2"></i>
        </span>
      </v-touch>
    </div>
    <div class="column is-1 primaryaudioplayer_playing">
      <span>
        <i v-if="playflag" class="fa fa-volume-off"></i>
        <i v-else class="fa fa-volume-up"></i>
      </span>
    </div>
    <div class="column is-1">
      <v-touch tag="a" @tap="stopaudio()" class="primaryaudioplayer_buttons stop">
        <span>
          <i class="fa fa-stop is-size-2"></i>
        </span>
      </v-touch>
    </div>
  </div>
</template>

<script>
const ExpAudio = require('@/config/audio-helper.js').ExpAudio
const ExpAudioGroup = require('@/config/audio-helper.js').ExpAudioGroup
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'primaryaudioplayer',
  props: {
    el: Object
  },
  data () {
    return {
      bgimage: null,
      playflag: true,
      sound: null,
      htmlflag: false,
      querypackage: null
    }
  },
  mounted () {
    if (this.$route === undefined) {
      this.querypackage = new URL(window.location.href).searchParams.get('package')
    } else {
      this.querypackage = this.$route.query.package
    }
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.querypackage + '/' + this.el.bgobject.backgroundImage + ')'
    }
    if (this.el.audiosrc !== null) {
      this.htmlflag = this.el.htmlflag
      this.sound = new ExpAudioGroup({
        src: [MEDIAENDPOINT + this.querypackage + '/' + this.el.audiosrc],
        html: this.htmlflag
      })
      this.sound.on('end', () =>{
        this.playflag = true
      })
    }
  },
  methods: {
    playaudio (flag) {
      if (this.sound !== null && this.sound !== undefined && this.sound.duration() > 0) {
        this.playflag = !flag
        if (flag) {
          this.sound.play()
        } else {
          this.sound.pause()
        }
      }
    },
    stopaudio () {
      this.playflag = true
      this.sound.stop()
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        }
        this.htmlflag = element.htmlflag
        if (element.audiosrc !== null && element.audiosrc !== undefined && element.audiosrc !== '') {
          this.sound = new ExpAudioGroup({
            src: [MEDIAENDPOINT + this.querypackage + '/' + element.audiosrc],
            html: this.htmlflag
          })
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    if (this.sound !== null) {
      this.sound.unload()
    }
  }
}

</script>
