<style lang="scss" scoped>
</style>

<template lang="html">
  <div class="columns is-multiline">
    <div class="column is-12">
      <exp-choicesimages :el="el"></exp-choicesimages>
    </div>
    <div class="column is-12">
      <div class="columns is-multiline has-center-items" style="position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]">
        <div v-for="tap in tapsarray" :key="tap.id" class="column" :class="[tap.column === null || tap.column === undefined ? 'is-3' : tap.column]">
          <exp-taptapimages :el="tap" :checkIconsObject="computedCheckIconsProps"></exp-taptapimages>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'Taptapimageswithbg',
  props: {
    el: Object
  },
  data () {
    return {
      tapsarray: [],
      bgimage: null
    }
  },
  created () {
    if (this.el.taps.length > 0) {
      this.tapsarray = JSON.parse(JSON.stringify(this.el.taps))
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
  },
  computed: {
    customel: function () {
      return this.el
    },
    computedCheckIconsProps: function () {
      return this.el.checkIconsObject
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tapsarray = JSON.parse(JSON.stringify(element.taps))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
        this.$forceUpdate()
      },
      deep: true
    }
  }
}

</script>
