<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline">
  <div style="z-index: 9" class="column is-12 is-paddingless">
    <exp-choicestaptap :el="el"></exp-choicestaptap>
  </div>
  <div class="column is-12"  style="z-index: 1; position: relative;" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <div v-for="tap in taptaparray" :key="tap.id">
      <exp-taptap :el="tap"></exp-taptap>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'taptapfreewithbg',
  props: {
    el: Object
  },
  data () {
    return {
      taptaparray: [],
      bgimage: null
    }
  },
  mounted () {
    this.taptaparray = JSON.parse(JSON.stringify(this.el.taps))
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
  },
  computed: {
    taptapwithbgimage: function () {
      return this.el
    }
  },
  watch: {
    taptapwithbgimage: {
      handler (element) {
        this.taptaparray = JSON.parse(JSON.stringify(element.taps))
        this.el = element
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  }
}
</script>
