<template>
  <!-- <div> -->
    <!-- <div v-if="!isDataLoaded" class="">
      <AppSpinner />
    </div>
    <div v-else class="">
      <h1 class="">Your information.</h1>
      <div class="maxwidth flexcenter">
        <div class="content">
          <h6 class=" has-text-primary"><span class="is-italic">First Name</span>:</h6>
          <h4 class=" has-text-centered">{{user.firstname}}</h4>
        </div>
        <div class="content">
          <h4 class=" has-text-primary ">Last Name:</h4>
          <h4 class=" has-text-centered">{{user.lastname}}</h4>
        </div>
        <div class="content">
          <h4 class="has-text-primary">Username:</h4>
          <h4 class="has-text-centered">{{user.username}}</h4>
        </div>
        <div class="content">
          <h4 class=" has-text-primary">Email:</h4>
          <h4 class="has-text-centered">{{user.email}}</h4>
        </div>
      </div>
    </div> -->
    <div class="modal-mask" @click="close">
            <div class="modal-container container" @click.stop="what">
              <!-- <slot name="title">
                <h1>Here might be a title</h1>
              </slot> -->
              <slot></slot>
            </div>
    </div>
  <!-- </div> -->
</template>
<script>
import {mapActions} from 'vuex'
// import DataLoader from '@/components/mixins/DataLoader'
// import eventbus from '@/config/eventhub.js'

export default {
  name: 'Modal',
  props: ['title'],
  data () {
    return {
      // show: false
    }
  },
  methods: {
    close () {
      console.log('clicked close')
      // this.$emit('hideModal')
      // this.show = false
      this.hideModal()
    },
    what () {
      console.log('what')
    },
    ...mapActions('modal', {
      hideModal: 'HIDE_MODAL'
    })
  },
  // mixins: [DataLoader],
  mounted () {
    // eventbus.listen('showModal', () => {
    //   console.log('listened on show modal')
    //   this.show = true
    // })
    // eventbus.listen('hideModal', () => {
    //   console.log('listened on hide modal')
    //   this.show = false
    //   // Object.assign(this.$data, this.$options.data()) // reset data of component
    // })
  }
}
</script>
<style scoped>
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    /* transition: opacity .3s ease; */
}

.modal-container {
  /* max-width: 30%; */
  /* display: flex;
  flex-flow: column nowrap;
  align-content: center; */
    max-width: 30%;
    margin-top: 30vh;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
}
</style>
