.assignedsections {
  .notifications {
    margin-bottom: 5px;
    border: 2px solid transparent;
    border-radius: 4px;
    color: $white;
    background-color: $danger;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .savebutton {
    padding: 15px;
    display: block;
    background-color: transparent;
    color: $white;
  }
  .listbox_area {
    // height: 500px;
    // background-color: $light;
    // border: 3px solid transparent;
    // border-radius: 10px;
    // padding: 20px;
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;

    // width: fit-content;
  }
  .h_width{
    width: 60%;
    margin: 0 auto;
  }
  // .flrowcenter{
  //   display: flex;
  //   flex-flow: column nowrap;
  //   justify-content: center;
  //   align-content: center;
  //   align-items: center;
  // }
  .assign_border{
    box-sizing: border-box;
    border: darkgray solid 1px;
    border-radius: 5px;
    height: 80vh;
  }
  .assign_border:first-child{
    border-right: none;
  }
  .assign_border:nth-child(2){
    border-right: none;
  }
  .categoryul {
    max-height: 500px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-y: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 0 0 0;
  }
  .max_height{
    max-height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: break-all;
  }
  .headr{
    border-bottom: 1px solid black
  }
  .center_flex{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
  }
  .center_flex:first-child{
    align-self: flex-end
  }
  .center_flex:last-child{
    align-self: flex-start
  }
  .control_div{
    align-self: flex-end;
  }
  .break_word{
    word-wrap: break-word;
    word-break: break-all;
  }
  .sectionul {
    padding-left: 10px;
  }
  .selectionitem {
    display: inline-block;
    color: $black;
  }
  .selectionitem > .fa-square{
    color: lightgrey;
  }
  .search{
    width: 0;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  .search:focus{
    width: 100%;
    border-color: #3FCFCF;
  }
  .searchwrapper{
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .sort{
    max-width: 30%;
    margin-right: 3px;
  }
  .categoryitem{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
  }
  a.selectionitem {
    &:hover, &:focus {
      color: #3cc;
    }
  }
  .listbox_buttons {
    padding-top: 200px;
    text-align: center;
    margin-right: 10px;
    i {
      font-size: 2em;
      color: #28374B;
    }
  }
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
  }
  .modal-content {
    margin: auto;
    display: block;
    width: auto;
    max-width: 700px;
  }
  .close {
    position: relative;
    // top: 15px;
    // right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
}
