<template>
<nav ref='headComp' id='headComp'  class="navbar shadow fixed" role="navigation" aria-label="main navigation" >
  <div class="navbar-brand">
    <!-- <div v-if="userIsAuthenticated" class="navbar-item">
      <a class="icon has-text-primary "  @click="toggleSidebar()">
        <i v-if='!sidebarIsVisible' class="fa fa-bars fa-2x" ></i>
        <i v-else class="fa fa-times fa-2x" ></i>
      </a>
    </div> -->
    <router-link  to="/" class="navbar-item">
      <span class="brand is-size-3">Digi<strong class="has-text-grey-dark">Pub</strong></span>
    </router-link>
  </div>

  <div id="" class="navbar-menu is-active">
    <div class="navbar-start">
      <div class="navbar-item has-dropdown is-hoverable">
          <router-link  to='/packages/grid' class="navbar-link">
            Packages
          </router-link>
        <div class="navbar-dropdown">
          <router-link :to="{name: 'packagelist'}" class="navbar-item">
            <span>Packages</span>
          </router-link>
          <hr class="navbar-divider">
          <div class="navbar-item">
            Version 0.7.5
          </div>
        </div>
      </div>
      <div class="navbar-item">
        <router-link  to='/mysections' class="navbar-link">
          My Sections
        </router-link>
      </div>
      <div class="navbar-item">
        <router-link  to='/user/grid' class="navbar-link">
          User Managment
        </router-link>
      </div>
      <div class="navbar-item">
        <router-link  to='/user/update' class="navbar-link">
          Update my Profile
        </router-link>
      </div>
      <div class="navbar-item">
        <router-link  to='/bugs' class="navbar-link">
          Bug Reports
        </router-link>
      </div>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <!-- <p class="control">
            <router-link  to="/login" class=" button is-primary is-outlined">
              <span class="icon">
                <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
              </span>
              <span>Login</span>
            </router-link>
          </p> -->
          <p v-if="!userIsAuthenticated" class="control">
            <router-link :to="{name: 'Signin'}" class=" button is-primary is-outlined">
              <span class="icon">
                <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
              </span>
              <span>Sign-in</span>
            </router-link>
          </p>
        </div>
      </div>
      <div v-if="userIsAuthenticated" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <span class=''>Hello, <strong>{{authUser.firstname}}</strong>!</span>
        </a>
        <div class="navbar-dropdown">
          <router-link  to="/user" class="navbar-item has-text-primary">
            <span class="icon">
              <i class="fa fa-user-circle fa-lg" aria-hidden="true"></i>
            </span>
            <span>Profile</span>
          </router-link>
          <hr class="navbar-divider">
          <a class="navbar-item has-text-danger " @click="logout" >
            <span class="icon">
              <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
            </span>
            <span class=''>Logout</span>
          </a>
          <!-- <hr class="navbar-divider">
          <div class="navbar-item">
            Version 0.7.5
          </div> -->
        </div>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
export default {
  data () {
    return {
      username: '',
      expandMenu: true
    }
  },
  props: {
    show: Boolean
  },
  mounted () {
    this.$nextTick(function () {
      const headerHeight = document.getElementById('headComp').clientHeight
      console.log('headerHeight', headerHeight)
      this.setPadding(headerHeight)
    })


    // const headComp = document.getElementById('headComp')
    // this.$nextTick(() => {
    //   console.log(this.$refs.headComp.clientHeight)
    // })

    // Select the node that will be observed for mutations

// Options for the observer (which mutations to observe)
//     const config = {
//       attributes: true,
//       attributeOldValue: true
//     // childList: true,
//     //  subtree: true
//     }

// // Callback function to execute when mutations are observed
//     const callback = function (mutationsList, observer) {
//       for (let mutation of mutationsList) {
//         if (mutation.type === 'childList') {
//           console.log('A child node has been added or removed.')
//         } else if (mutation.type === 'attributes') {
//           console.log('The ' + mutation.attributeName + ' attribute was modified.')
//           console.log('The ' + mutation.oldValue + ' attribute was modifiekkkkkkkkkkkkkkkkkd.')
//           // MutationRecord.oldValue
//         }
//       }
//     }

// // Create an observer instance linked to the callback function
//     const observer = new MutationObserver(callback)

// // Start observing the target node for configured mutations
//     observer.observe(headComp, config)

//     var observer = new MutationObserver(function (mutations) {
//       console.log(observer)
//   // For the sake of...observation...let's output the mutation to console to see how this all works
//       mutations.forEach(function (mutation) {
//         console.log(mutation.type)
//       })
//     })
// // Notify me of everything!
//     var observerConfig = {
//       attributes: true
//     }
//     this.observe(observer, headComp, observerConfig)
  },
  methods: {
    observe (o, a, b) {
      console.log('now observing', a)
      o.observe(a, b)
    },
    logout () {
      // window.localStorage.removeItem('expUser')
      this.dispatchLogout().then(() => {
        this.$router.push('/signin')
      })
    },
    ...mapActions('sidebar', {
      toggleSidebar: 'TOGGLE_SIDEBAR'
    }),
    ...mapActions('auth', {
      dispatchLogout: 'LOGOUT_USER'
    }),
    ...mapActions('layout', {
      setPadding: 'SET_PADDING'
    })
  },
  computed: {
    ...mapState('sidebar', {
      sidebarIsVisible: state => state.isVisible
    }),
    ...mapState('auth', {
      authUser: state => state.user
    }),
    ...mapGetters('auth', {
      userIsAuthenticated: 'userIsAuthenticated'
    })
  }
}
</script>

<style scoped lang="scss">
@import url( 'https://fonts.googleapis.com/css?family=Satisfy');
.fixed{
  // overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 2000;
  width: 100vw;
}
.shadow {
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
}

.brand{
  color: #3cc;
  font-family: 'Satisfy', cursive;
}
</style>
