<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed column is-12 is-paddingless">
    <ul>
      <li :class="{'is-active': tab === 'text'}"><a @click="tabclicked('text')">Text</a></li>
      <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">Background</a></li>
    </ul>
  </div>
  <div v-if="el.settingtab === 'text' && el.texttab === null" class="column is-12">
    <div class="columns is-multiline">
      <div class="field has-addons column is-12">
          <p class="control">
              <a class="button is-static">
                  Title
              </a>
          </p>
          <div class="field has-addons">
              <p class="contol">
                <exp-input type="text" v-model="el.textarray[0].text" placeholder="Intro Page Title"></exp-input>
              </p>
          </div>
          <p class="control">
              <a @click="edit('textarray')" class="button">
                <i class="fa fa-pencil has-text-info">  Edit Title</i>
              </a>
          </p>
      </div>
      <div class="field has-addons column is-12">
        <div class="control">
          <a class="button is-static">
            <span>Paragraphs</span>
          </a>
        </div>
        <div class="control">
          <a @click="addtext()" class="button">
            <span><i class="fa fa-plus has-text-info"></i></span>
          </a>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="contol">
            <a class="button is-static">
              Split Paragraphs
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" v-model="el.splitnumber">
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="contol">
            <a class="button is-static">
              Bullets Style
            </a>
          </p>
          <p class="control">
            <exp-field>
              <exp-multiselect v-model="el.maintext.bulletstyle" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" :options="bulletsarray">
              </exp-multiselect>
            </exp-field>
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Color
            </a>
          </p>
          <p class="control">
            <input class="input" type="text" placeholder="Backgound Color" v-model="el.maintext.bulletcolor">
          </p>
        </div>
      </div>
      <!-- <div class="column is-12">
        <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
          <a @click="el.maintext.bulletcolor = color.colorhex" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
          </a>
        </div>
      </div> -->
      <div v-for="(text, index) in el.maintext.text" :key="index" class="field has-addons column is-12">
          <p class="control">
            <a class="button is-static">
                Maintext {{index + 1}}
            </a>
          </p>
          <p class="control">
            <a @click="edit('textarea', index)" class="button">
              <i class="fa fa-pencil has-text-info">  Edit Main Text</i>
            </a>
            <a @click="edit('maintext')" class="button">
              <i class="fa fa-pencil has-text-info">  Edit Main Text Style</i>
            </a>
          </p>
      </div>
    </div>
  </div>
  <div v-if="el.settingindex !== null">
    <a @click="back()" class="button">
      <i class="fa fa-arrow-left has-text-info">  Back</i>
    </a>
  </div>
</div>
</template>

<script>
import {COLORS_OBJECTS} from '@/config/app-config.js'
export default {
  name: 'textparagraph',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      flagtitle: false,
      bulletsarray: ['triagnum', 'circlenum'],
      colorarray: COLORS_OBJECTS,
      bulletcolor: null
    }
  },
  mounted () {
    this.tab = null
    this.el.settingtab = null
    this.el.texttab = null
  },
  methods: {
    // Setting Nav bar clicked, load setting tab text to json
    tabclicked (tab) {
      this.el.settingtab = tab
      this.tab = tab
      this.el.texttab = null
      if (tab === 'background') {
        this.el.settingindex = null
      }
    },
    addtext () {
      this.el.maintext.text.push('Simple Paragraph')
    },
    // nav edit: title, subtitle, text
    edit (textnav, index) {
      switch (textnav) {
        case 'textarray':
          this.el.texttab = textnav
          this.el.settingindex = 0
          break
        case 'maintext':
          this.el.texttab = textnav
          this.el.settingindex = null
          break
        case 'textarea':
          this.el.texttab = textnav
          this.el.textindex = index
          break
      }
    },
    back () {
      this.el.settingindex = null
      this.el.texttab = null
      this.el.settingtab = null
      this.tab = null
    }
  }
}
</script>
