<template lang="html">
    <div>
      <div class='columns'>
        <div class="resize-container">
            <div style="width:50px;height:50px;" v-for="drop in el.dropAreas" v-bind:id="drop.id" class="resize-drag"></div>
            <div class="svg-select column" :class="el.svgClass" v-html="el.svg">
          </div>
        </div>
      <div class="vl"></div>
      <div class="column">
        <ul class="has-text-centered">
          <li :key="el.choices.id" v-for="choices in el.choices"><img :src="choices.image" v-bind="{'data-color': choices.color }" > <br>{{ choices.text }}</li>
        </ul>
      </div>
    </div>
      <a class="button is-black" @click="reset_answers()">Reset</a>
      <a :class="{notavailable: disablecheck, 'button is-light': disablecheck, 'button is-black': !disablecheck}" @click="check_answers()">Check</a>
      <a :class="{notavailable: disabletryagain, 'button is-light': disabletryagain, 'button is-black': !disabletryagain}" @click="tryagain()">Try Again</a>
      <a :class="{notavailable: disableshowanswers, 'button is-light': disableshowanswers, 'button is-black': !disableshowanswers}" @click="show_answers()">Show</a>
    </div>
</template>
<script>
import eventbus from '../../config/eventhub.js'
export default {
  name: 'expColoring',
  data () {
    return {
      bindchoices: [], // array with the ids of all choices array that will be checked
      unlockammount: 0,
      showanswer: 2,
      ammount: 0,

      solved: 0, // variable how many right answers user have achived
      percentage: 0,
      solvedammount: 0, // how many user have already solved
      useranswersarray: [], // all user answer wrong or right
      solvedarray: [], // array with object that already have been solved so not checked again
      groupingsolvedarray: [], // grouping array with object that already have been solved so not checked again
      disablescore: true, // enable scores when user press check
      disabletryagain: true, // enable tryagain when user has at least one answer in each component
      disablecheck: true, // Disable and Enables check base on amount of user answers
      disableshowanswers: true, // Enable Disable button show anserws
      checkcounter: 0 // How many times checked button have been pressed
    }
  },
  props: {
    el: Object
  },
  created () {
    // listen the event fired by reset clicked so clear the user answers
    eventbus.listen('taptap_clearinput', (id) => {
      if (parseInt(id) === 0) {
        this.solvedarray = []
        this.solved = 0
        this.solvedammount = 0
      }
    })
    // Listen event from components with the id of the input
    eventbus.listen('checktaptap_hasinput', (hasinputobject) => {
      if (hasinputobject.evt === 'add') {
        let flag = true
        for (var i = 0; i < this.useranswersarray.length; i++) {
          if (this.useranswersarray[i].id === hasinputobject.id && this.useranswersarray[i].componentid === hasinputobject.componentid) {
            flag = false
          }
          // else if (this.useranswersarray[i].componentid === hasinputobject.componentid) {
          //   this.useranswersarray[i].id = hasinputobject.id
          //   flag = false
          // }
        }
        if (flag) {
          this.useranswersarray.push({id: hasinputobject.id, componentid: hasinputobject.componentid})
        }
        if (this.unlockammount <= this.useranswersarray.length) {
          this.disablecheck = false
        }
      } else if (hasinputobject.evt === 'remove') {
        for (var j = 0; j < this.useranswersarray.length; j++) {
          if (this.useranswersarray[j].id === hasinputobject.id && this.useranswersarray[j].componentid === hasinputobject.componentid) {
            this.useranswersarray.splice(j, 1)
          }
        }
        if (this.unlockammount > this.useranswersarray.length) {
          this.disablecheck = true
        }
        this.disablescore = true
      }
    })
    // event that listen the taptap components when find a right answer by user.
    // rightanswer: object, layout: {id: choice id, choicestaptapid: choises array id, componentid: componentid}
    eventbus.listen('checktaptap_rightanswer', (rightanswer) => {
      // check if we already have solved all the tap zones
      if (this.solved < this.ammount) {
        // flag to determine if we already have solved some specific tap zone and saved in solvedarray as object
        let alreadysolved = false
        for (var i = 0; i < this.solvedarray.length; i++) {
          if (this.solvedarray[i].id === rightanswer.id && this.solvedarray[i].choicestaptapid === rightanswer.choicestaptapid && this.solvedarray[i].componentid === rightanswer.componentid) {
            alreadysolved = true
          }
        }
        // flag already solved is false, is new right answer so we push the object of it in solvedarray
        if (!(alreadysolved)) {
          this.solved++
          this.percentage = parseFloat(Math.round((this.solved * 100) / this.ammount))
          this.solvedarray.push(rightanswer)
          this.solvedammount = this.solvedarray.length
        }
      }
    })
  },
  mounted () {
    if (this.el.bindchoicesid !== undefined && this.el.unlockammount !== undefined && this.el.showanswer !== undefined && this.el.ammount !== undefined) {
      // this.bindchoices = JSON.parse(JSON.stringify(this.el.bindchoices))
      this.unlockammount = this.el.unlockammount
      this.showanswer = this.el.showanswer
      this.ammount = this.el.ammount
      this.bindchoices = this.el.bindchoicesid
    }
  },
  methods: {
    onDoubleTap () {
      console.log('test')
    },
    // method called when clicked check button
    check_answers () {
      let checkobject = {id: this.bindchoices, buttonevent: 'check'}
      eventbus.fire('checktaptap_check', checkobject)
      this.disablescore = false
      this.disabletryagain = false
      this.checkcounter++
      if (this.checkcounter > this.showanswer) {
        this.disableshowanswers = false
      }
    },
    reset_answers () {
      this.percentage = 0
      this.useranswersarray = []
      // re enable choices in choices component
      // let enablechoice = {inputid: 0}
      // eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
      this.disablescore = true
      this.disabletryagain = true
      this.disablecheck = true
      this.solvedarray = []
      this.solved = 0
      this.solvedammount = 0
      // clear components tap zones
      if (this.bindchoices === 'tap' || this.bindchoices === 'choice1') {
        eventbus.fire('taptap_clearinput', 0)
        // re enable choices in choices component
        let enablechoice = {inputid: 0}
        eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
      } else if (this.bindchoices === 'truefalse') {
        eventbus.fire('taptap_clearinput', 0)
        eventbus.fire('truefalse_clearinput')
      } else if (this.bindchoices === 'typing') {
        eventbus.fire('taptap_clearinput', 0)
        eventbus.fire('typing_clearinput')
      } else if (this.bindchoices === 'missingletter') {
        eventbus.fire('missingletter_clearinput')
      } else {
        eventbus.fire('changetaptap_clearinput', 0)
        eventbus.fire('grouping_clearchoice', 0)
        let enablechoice = {inputid: 0}
        eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
      }
    },
    tryagain () {
      // fire event to check right answer and remove wrong answers from components. Item = choices array id
      let checkobject = {id: this.bindchoices, buttonevent: 'tryagain'}
      eventbus.fire('checktaptap_check', checkobject)
      this.useranswersarray = []
      for (var i = 0; i < this.solvedarray.length; i++) {
        this.useranswersarray.push({id: this.solvedarray[i].id, componentid: this.solvedarray[i].componentid})
      }
      this.disablescore = true
      this.disabletryagain = true
      this.disablecheck = true
    },
    show_answers () {
      eventbus.fire('checktaptap_showrightanswers')
    }
  },
  computed: {
    compammount: function () {
      return this.ammount
    },
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.ammount = element.ammount
        this.bindchoices = element.bindchoicesid
        this.unlockammount = element.unlockammount
        this.showanswer = element.showanswer
      },
      deep: true
    }
  }
}

</script>
<style lang="scss">
.vl {
  border-left: 3px dashed grey;
  z-index: -1;
  height: 500px;
}

.choicelist {
  margin: 20px auto;
  width: 50%;
  border: 1px dashed black;
  border-radius: 50%;
  padding: 17px;
  background-color: #eee;
}
.resize-drag {
  background-color: rgba(69, 132, 146, 0.61);
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  box-sizing: border-box;
  position: absolute;
  // padding: 50px;
}

.resize-container {
}
</style>
