/**
 Varibales
 **/

$show-drawer: 'all' !default;

$bsidebar-drawer-animation-duration: 500ms !default;
$bsidebar-drawer-animation-duration-slide: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-reveal: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-slideAlong: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-reverseSlide: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-scaleDown: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-scaleUp: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-scaleRotate: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-fall: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-push: $bsidebar-drawer-animation-duration !default;
$bsidebar-drawer-animation-duration-bounce: 1000ms !default;
$bsidebar-drawer-animation-duration-fade: 1000ms !default;
$bsidebar-drawer-animation-duration-flipX: 1000ms !default;
$bsidebar-drawer-animation-duration-flipY: 1000ms !default;
$bsidebar-drawer-animation-duration-zoom: 1000ms !default;

$toggler-color: lighten(#374c5d, 20%) !default;
$toggler-checked-color: #1fc08e !default;
$toggler-focus-color: #1fc08e !default;

$drawer-bgcolor: #374c5d !default;

// For 'left' and 'right' positioned drawers.
$drawer-width-small: 100% !default;
$drawer-width-medium: 300px !default;
$drawer-width-large: 300px !default;

// For 'top' positioned drawers.
$drawer-height-small: 50% !default;
$drawer-height-medium: 100% !default;
$drawer-height-large: 100px !default;

$pusher-bgcolor: #fff !default;

$overlay-bgcolor: rgba(0,0,0,0.4) !default;


/**
 Container
 **/

.bsidebar-container {
	// position: relative;
	position: fixed;
	right: 0;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.zindex10 {
		    z-index: 10;
}
.toolbar-wrapper::-webkit-scrollbar {
    width: 12px;
}

.toolbar-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.8);
    border-radius: 10px;
}

.toolbar-wrapper::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 2px 0 6px rgba(48,62,97,0.8);
}
/**
 Toggler
 **/

.bsidebar-toggle {
    left: -9999px;
    position: absolute;
    top: -9999px;
    &:focus ~ .bsidebar-toggle-label {
    	border-color: $toggler-focus-color;
    	color: $toggler-focus-color;
    }
}

@mixin bsidebar-toggle-label() {
	cursor: pointer;
    display: block;
    position: absolute;
    top: 15px;
    z-index: 99;
    color: $toggler-color;
    width: 40px;
		height: 40px;
    transition: all 400ms ease-in-out;
    border: 1px solid $toggler-color;
    border-radius: 50%;
  //   -webkit-user-select: none;
	// -moz-user-select: none;
	// -ms-user-select: none;
	// -o-user-select: none;
	// user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Removes grey background on link taps in ios
    &:hover {
    	border-color: $toggler-focus-color;
    	color: $toggler-focus-color;
    	.bsidebar-toggle-icon,
    	.bsidebar-toggle-icon:before,
    	.bsidebar-toggle-icon:after {
    		background-color: $toggler-focus-color;
    	}
    }
    &:active {
    	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .bsidebar-toggle-icon,
    .bsidebar-toggle-icon:before,
    .bsidebar-toggle-icon:after {
    	position: absolute;
    	top: 50%;
  		left: 50%;
  		height: 3px;
  		width: 23px;
  		cursor: pointer;
  		background: $toggler-color;;
  		display: block;
  		content: '';
  		transition: all 500ms ease-in-out;
	}
	.bsidebar-toggle-icon {
  		transform: translate3d(-50%, -4px, 0);
  		-webkit-transform: translate3d(-50%, 0px, 0);
	}
	.bsidebar-toggle-icon:before {
  		transform: translate3d(-50%, -14px, 0);
  		-webkit-transform: translate3d(-50%, -10px, 0);
	}
	.bsidebar-toggle-icon:after {
  		transform: translate3d(-50%, 10px, 0);
  		-webkit-transform: translate3d(-50%, 6px, 0);
	}
}

.bsidebar-toggle-label {
	display: none;
	@if($show-drawer == 'all') {
		@include bsidebar-toggle-label;
	} @else {
		@media #{$show-drawer} {
			@include bsidebar-toggle-label;
		}
	}
}

.bsidebar-toggle-label[data-toggle-label='left'] {
	left: 15px;
	right: auto; // Not needed?
}

.bsidebar-toggle-label[data-toggle-label='right'] {
	right: 120 / 2 + px;
	z-index: 9;
	left: auto;
}

.bsidebar-toggle-label[data-toggle-label='top'] {
	left: 50%;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.bsidebar-toggle[data-toggle='left']:checked ~ .bsidebar-toggle-label:not([data-toggle-label='left']),
.bsidebar-toggle[data-toggle='right']:checked ~ .bsidebar-toggle-label:not([data-toggle-label='right']),
.bsidebar-toggle[data-toggle='top']:checked ~ .bsidebar-toggle-label:not([data-toggle-label='top']) {
	opacity: 0;
	z-index: -1;
}

.bsidebar-toggle[data-toggle='left']:checked ~ .bsidebar-toggle-label[data-toggle-label='left'],
.bsidebar-toggle[data-toggle='right']:checked ~ .bsidebar-toggle-label[data-toggle-label='right'],
.bsidebar-toggle[data-toggle='top']:checked ~ .bsidebar-toggle-label[data-toggle-label='top']  {
	border-color: $toggler-checked-color;
	color: $toggler-checked-color;
	.bsidebar-toggle-icon {
	  	background-color: transparent;
	}
	.bsidebar-toggle-icon:before, .bsidebar-toggle-icon:after {
	  	top: 0;
	}
	.bsidebar-toggle-icon:before {
	  	transform: translateX(-50%) rotate(45deg);
	  	-webkit-transform: translateX(-50%) rotate(45deg);
	}
	.bsidebar-toggle-icon:after {
	  	transform: translateX(-50%) translateY(-10px) rotate(-45deg);
	  	-webkit-transform: translateX(-50%) translateY(-10px) rotate(-45deg);
	  	top: 10px;
	}
}

/**
 Drawer
 **/

@mixin bsidebar-drawer() {
	position: relative;
	top: 2px;
	left: 0;
	z-index: 10;
	height: 50%;
	visibility: hidden;
	background-color: $drawer-bgcolor;

	transition-property: all;
	transition-duration: $bsidebar-drawer-animation-duration;
	transition-timing-function: ease-out;

	width: $drawer-width-small;
	@media #{$medium-up} { width: $drawer-width-medium; }
	@media #{$large-up} { width: $drawer-width-large; }
}
.filemanager {
	width: $drawer-width-small;
	@media #{$medium-up} { width: $filemanager-width-large!important; }
	@media #{$large-up} { width: $filemanager-width-large!important; }
}
.bsidebar-drawer {
	@if($show-drawer == 'all') {
		@include bsidebar-drawer;
	} @else {
		@media #{$show-drawer} {
			@include bsidebar-drawer;
		}
	}
}

.bsidebar-drawer[data-position='right']  {
	left: auto;
	right: 0;
}

.bsidebar-drawer[data-position='top'] {
	height: $drawer-height-small;
	width: 100%;
	@media #{$medium-up} { height: $drawer-height-medium; }
	@media #{$large-up} { height: $drawer-height-large; }
}

/**
 Pusher Container
 **/

.bsidebar-pusher-container {
	position: relative;
	height: 100%;
	overflow: hidden;
}

/**
 Pusher
 **/

.bsidebar-pusher {
	position: relative;
	height: 100%;
	overflow-y: auto;
	left: 0;
	z-index: 2;
	background-color: $pusher-bgcolor;

	transition-property: transform;
	transition-duration: $bsidebar-drawer-animation-duration;
	transition-timing-function: ease-out;
}

/**
 Pusher Overlay
 **/

@mixin bsidebar-overlay() {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 0;
	height: 0;
	opacity: 0;
	background-color: $overlay-bgcolor;

	transition-property: opacity;
	transition-duration: $bsidebar-drawer-animation-duration;
	transition-delay: $bsidebar-drawer-animation-duration;
	transition-timing-function: ease-in-out;
}

.bsidebar-overlay {
	@if($show-drawer == 'all') {
		@include bsidebar-overlay;
	} @else {
		@media #{$show-drawer} {
			@include bsidebar-overlay;
		}
	}
}

.bsidebar-toggle[data-toggle='left']:checked ~ .bsidebar-overlay[data-overlay='left'] {
	left: $drawer-width-small;
	@media #{$medium-up} { left: $drawer-width-medium; }
	@media #{$large-up} { left: $drawer-width-large; }
}

.bsidebar-toggle[data-toggle='right']:checked ~ .bsidebar-overlay[data-overlay='right'] {
	right: $drawer-width-small;
	@media #{$medium-up} { right: $drawer-width-medium; }
	@media #{$large-up} { right: 0; }
}

.bsidebar-toggle[data-toggle='top']:checked ~ .bsidebar-overlay[data-overlay='top'] {
	top: $drawer-height-small;
	@media #{$medium-up} { top: $drawer-height-medium; }
	@media #{$large-up} { top: $drawer-height-large; }
}

.bsidebar-toggle[data-toggle='left']:checked ~ .bsidebar-overlay[data-overlay='left'],
.bsidebar-toggle[data-toggle='right']:checked ~ .bsidebar-overlay[data-overlay='right'],
.bsidebar-toggle[data-toggle='top']:checked ~ .bsidebar-overlay[data-overlay='top'] {
	width: 100%;
	height: 100%;
	opacity: 1;
	z-index: 2;
}
