<style lang="scss" scoped>
.groupingsetting_groupstable{
  width: 100%;
}
</style>

<template lang="html">
  <div v-if="settingsec === 'grouping'" class="columns is-multiline">
    <div class="field has-addons column is-12">
        <p class="control">
            <a class="button is-static">
              Group
            </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="groupname">
        </p>
        <p class="control">
          <a class="button has-text-info" @click="add_group()">Add</a>
        </p>
        <p class="control">
            <a class="button is-static">
                Group ID
            </a>
        </p>
        <p class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.groups[0].bindchoicesid"></p>
    </div>
    <div v-if="el.groups.length" class="field has-addons column is-12">
        <div class="field has-addons">
          <p class="control">
            <table class="table groupingsetting_groupstable">
              <thead>
                <tr>
                  <th>Group ID</th>
                  <th>Group Name</th>
                  <th>Goup Limit</th>
                  <th>Right Answers</th>
                  <th>Available Right Answers</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="group in el.groups" :key="group.id">
                  <td><span>{{group.id}}</span></td>
                  <td v-text="group.name"></td>
                  <td><exp-input type="number" v-model="group.groupLimit"/></td>
                  <td>
                    <div>
                      <ul>
                        <li v-for= "rightanswer in JSON.parse(JSON.stringify(group.rightanswer))" :key="rightanswer.answerid">{{rightanswer.text}} <a :id="rightanswer.answerid" @click="remove_rightanswer(rightanswer.answerid, group.id)"><span class="icon has-text-danger"><i class="fa fa-times"></i></span></a></li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <ul>
                      <li v-for="answer in available_answers(group.id)" :key="answer.id">
                        {{answer.text}}
                        <a :id="answer.id" @click="add_rightanswer(answer.id, group.id)"><span class="icon has-text-info"><i class="fa fa-plus"></i></span></a></li>
                      </li>
                    </ul>
                  </td>
                  <td>
                      <ul class='level-right'>
                        <li class='level-item'><a @click="edit_group(group.id)"><span class="icon has-text-info"><i class="fa fa-pencil"></i></span></a></li>
                        <li class='level-item'><a @click="remove_group(group.id)"><span class="icon has-text-danger"><i class="fa fa-times"></i></span></a></li>
                      </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </p>
        </div>
    </div>
    <div id='editableGroupElement' class='column is-12' v-if="editableGroup">
      <div class='columns is-multiline'>
        <div class='column is-12'>
          <div class='panel-heading'>
            {{'Group Name: ' + editableGroupName}}
          </div>
        </div>
        <div class="field has-addons column is-12">
          <p class="control">
              <a class="button is-static">
                Default Answer
              </a>
          </p>
          <p class="control">
            <input type="text" class="input" v-model="defaultAnswerText">
          </p>
          <p class="control">
            <a class="button has-text-info" @click="add_defaultAnswer(defaultAnswerText)">Add</a>
          </p>
      </div>
            <div class="field has-addons column is-12">
          <p class="control">
            <a class="button is-static">
               Title
            </a>
          </p>
          <p class="control">
            <input type="text" class="input" v-model="el.groups[editableGroupIndex].name">
          </p>
          <div class="control">
            <a class="button is-info" @click="editTextStyle()"><i class="fa fa-pencil"></i></a>
          </div>
      </div>
      <div class="field has-addons column is-12">
          <p class="control">
            <a class="button is-static">
               Group Title Img.
            </a>
          </p>
          <p class="control">
            <input type="text" class="input" v-model="el.groups[editableGroupIndex].groupimage">
          </p>
          <div class="control">
            <a class="button is-info" @click="editStaticImage()"><i class="fa fa-pencil"></i></a>
          </div>
      </div>
      <div class='column is-12'>
        <div class='columns is-multiline'>
            <div v-for="(answer, index) in el.groups[editableGroupIndex].defaultAnswers" :key="answer.id" class="column is-6 choicecontainer">
              <div class="choices_style">
                  <span>{{answer.text}}</span>
                  <span><a :id="answer.id" @click="remove_defaultAnswer(index)"><i class="fa fa-times has-text-danger"></i></a></span>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import Bus from '../../config/eventhub.js'
import _ from 'lodash'
export default {
  name: 'Grouping',
  props: {
    el: Object
  },
  data () {
    return {
      settingsec: null,
      groupname: null,
      groupidcount: 1,
      choicescomponents: [],
      showdefault: false,
      bindchoicesid: 'grouping',
      rightanswers: [],
      editableGroup: false,
      defaultAnswerText: null,
      editableGroupName: null,
      editableGroupIndex: null
    }
  },
  created () {
    Bus.listen('settingsection', (section) => {
      this.settingsec = section
    })
  },
  methods: {
    add_group () {
      if (this.el.groups.length > 0) {
        let maxgroup = _.maxBy(this.el.groups, 'id')
        this.groupidcount = maxgroup.id + 1
      }
      this.el.groups.push({id: this.groupidcount, name: this.groupname, bindchoicesid: this.bindchoicesid, rightanswer: [], groupLimit: 0, defaultAnswers: [], groupTextStyle: {}, groupimage: null, groupImageBgObject:{}})
      this.groupname = null
    },
    add_rightanswer (value, groupid) {
      let tempgroup = _.filter(this.el.groups, {'id': groupid})
      let temprightanswer = tempgroup[0].rightanswer
      temprightanswer.push({answerid: parseInt(value), text: _.filter(this.el.choices, {'id': parseInt(value)})[0].text})
      tempgroup.rightanswer = temprightanswer
      const groupIndex = _.findIndex(this.el.groups, {'id': groupid})
      this.$set(this.el.groups[groupIndex], 'groupLimit', this.el.groups[groupIndex].rightanswer.length)
      this.available_answers(groupid)
    },
    remove_rightanswer (answerid, groupid) {
      let tempgroup = _.filter(this.el.groups, {'id': groupid})
      let temprightanswer = tempgroup[0].rightanswer
      temprightanswer.splice(_.findIndex(temprightanswer, {'answerid': answerid}), 1)
      const groupIndex = _.findIndex(this.el.groups, {'id': groupid})
      this.$set(this.el.groups[groupIndex], 'groupLimit', this.el.groups[groupIndex].rightanswer.length)
      this.available_answers(groupid)
    },
    available_answers (groupid) {
      let tempchoices = JSON.parse(JSON.stringify(this.el.choices))
      let temprightanswer = JSON.parse(JSON.stringify(_.filter(this.el.groups, {'id': groupid})[0].rightanswer))
      if (temprightanswer.length > 0) {
        _.pullAllWith(tempchoices, temprightanswer, function (choice, answer) {
          return choice.id === answer.answerid
        })
      }
      return tempchoices
    },
    edit_group(groupID) {
      this.editableGroup = true
      this.editableGroupIndex = _.findIndex(this.el.groups, {'id': groupID})
      this.editableGroupName = _.filter(this.el.groups, {'id': groupID})[0].name
      Bus.firePrimarySettings('uicomponenttext_open', {style: 'groups[' + this.editableGroupIndex + '].groupTextStyle'})
    },
    add_defaultAnswer(text) {
      if (text !== null) {
        let id = 1
        if (this.el.groups[this.editableGroupIndex].defaultAnswers === undefined) {
          this.$set(this.el.groups[this.editableGroupIndex], 'defaultAnswers', [])
        }
        if (this.el.groups[this.editableGroupIndex].defaultAnswers.length > 0) {
          let maxDefaultAnswer = _.maxBy(this.el.groups[this.editableGroupIndex].defaultAnswers, 'id')
          id = maxDefaultAnswer.id + 1
        }
      this.el.groups[this.editableGroupIndex].defaultAnswers.push({
        id: id,
        text: text
      })
      this.defaultAnswerText = null
      }
    },
    remove_defaultAnswer(index) {
      this.el.groups[this.editableGroupIndex].defaultAnswers.splice(index, 1)
    },
    remove_group (groupid) {
      let tempgroups = JSON.parse(JSON.stringify(this.el.groups))
      tempgroups.splice(_.findIndex(tempgroups, {'id': groupid}), 1)
      this.el.groups = tempgroups
    },
    changebindchoicesid () {
      for (var i = 1; i < this.el.groups.length; i++) {
        this.el.groups[i].bindchoicesid = this.el.groups[0].bindchoicesid
      }
    },
    editStaticImage () {
      Bus.firePrimarySettings('uicomponenttext_open', {style: 'groups[' + this.editableGroupIndex + '].groupTextStyle'})
    },
    editStaticImage () {
      Bus.firePrimarySettings('uicomponentimages_open', {style:  `groups[${this.editableGroupIndex}].groupImageBgObject`, image: this.el.groups[this.editableGroupIndex].groupimage})
    }
  }
}
</script>
