<template>
  <div class="columns is-mobile is-multiline">
    <div class="tabs is-boxed column is-12 is-paddingless">
        <ul>
          <li :class="{'is-active': tab === 'tapinput'}"><a @click="tabclicked('tapinput')">Header</a></li>
          <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
          <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
        </ul>
      </div>
      <div v-if="tab === 'tapinput'" class="column is-12">
        <div class="columns is-multiline is-mobile">
          <!-- <div v-if="!vueeditorflag" class="column is-12 field has-addons">
            <p class="control">
              <a class="button is-static">
                Header Title
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Header Title" v-model="el.taps[0].text">
            </p>
            <p class="control">
              <a @click="vueeditorflag = true" class="button has-text-info">Editor</a>
            </p>
          </div> -->

          <div class="column is-12">
            <exp-field label="Title Text">
              <vue-editor v-model="el.taps[0].text"></vue-editor>
            </exp-field>
          </div>
          <div class="column is-12 field has-addons">
            <p class="control">
              <exp-checkbox type="text" class="checkbox" v-model="el.interiornavflag">Interior Navigation</exp-checkbox>
            </p>
          </div>
        </div>
      </div>
  </div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
export default {
  name: 'Header',
  components: {
  },
  props:
  {
    el: Object
  },

  data () {
    return {
      tab: null,
      files: [],
      content: '',
      vueeditorflag: false
    }
  },
  mounted () {
    this.tab = this.el.settingtab
  },
  methods: {
    tabclicked (variable) {
      this.el.settingindex = null
      this.tab = variable
      this.el.settingtab = variable
      if (variable === 'tapinput') {
        this.el.settingindex = 0
      }
      eventbus.closePrimarySettings()
    }
  },
  computed: {
    getBgimage: {
      get: function () {
        if (this.el.bgsrc) {
          return this.el.bgsrc
        } else {
          return this.files.base64
        }
      },
   // setter
      set: function (newValue) {
        return this.el.bgsrc === newValue
      }
    }
  },
}

</script>

<style lang="scss" scoped>


</style>
