<template>
  <div class="settings-wrapper">
    <div class="header">
      <div class="has-text-centered title">
        <span>Edit Section</span>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <p>
          <a class="button has-text-info is-size-5" @click="openfmanager">
            <span class="icon">
              <i class="fa fa-files-o" aria-hidden="true"></i>
            </span>
            <span>File Manager</span>
          </a>
        </p>
      </div>
    </div>
    <div class="columns">
      <form class="settings_formcontainer">
        <div class="column is-12 is-paddingless has-text-centered">
          <span class="title is-size-5">
            <span class="icon">
              <i class="fa fa-puzzle-piece"></i>
            </span>
            <span>{{$store.state.SectionName}}</span>
          </span>
        </div>
        <div class="column is-12 is-paddingless field has-addons">
          <p class="control">
            <a class="button is-static">Check Icons</a>
          </p>
          <p class="control">
            <a class="button" @click="checkIconsSettings()">
              <span class="icon has-text-info">
                <i v-if="!checkIconsFlag" class="fa fa-pencil"></i>
                <i v-else class="fa fa-times"></i>
              </span>
            </a>
          </p>
        </div>
        <div v-if="checkIconsFlag" class="column is-12 is-paddingless">
          <component :is="checkIconsSettingsComponent" :el="el"></component>
        </div>
        <div v-for="setting in attributes" class="settings">
          <component :is="setting" :el="el"></component>
        </div>
      </form>
      <div class="columns is-hidden" id="fgallery">
        <file-gallery :pck="parseInt($route.query.package)"/>
      </div>
    </div>
  </div>
</template>

<script>
import Bus from '../../config/eventhub'
// import findIndex from 'lodash/findIndex'
import { Collapse, Item as CollapseItem } from 'vue-bulma-collapse'
import Margin from './Margin'
import Justification from './Justification'
import Font from './Font'
import ChoicesTapTap from './ChoicesTapTap'
import TapTap from './TapTap'
import TapTapChange from './TapTapChange'
import Grouping from './Grouping'
import Header from './Header'
import RubricA from './RubricA'
import TrueFalse from './TrueFalse'
import Typing from './Typing'
import TypingSettings from './Workbook/TypingSettings'
import IntroPage from './GlobalSettings/IntroPage'
import StudySkill from './StaticPages/StudySkill'
import TextParagraph from './StaticPages/TextParagraph'
// WorkBook Setting components
import Taptapwithbg from './WorkBook/Taptapwithbg'
import TrueFalsewithbg from './WorkBook/TrueFalsewithbg'
import Groupingwithbg from './WorkBook/Groupingwithbg'
import KaraokeSection from './WorkBook/KaraokeSection'
import CrossWordsSettings from './WorkBook/CrossWords/CrossWordsSettings'
import CrossWordsKeySettings from './WorkBook/CrossWords/CrossWordsKeySettings'
import UiComponentBackgroundSettings from './Primary/UiComponentBackgroundSettings'
import UiComponentPosition from './Primary/UiComponentPosition'
import UiComponentStaticImage from './Primary/UiComponentStaticImage'
import UiComponentTextStyle from './Primary/UiComponentTextStyle'
import UiComponentImages from './Primary/UiComponentImages'
import UiComponentText from './Primary/UiComponentText'
import UiComponentBGSettings from './Primary/UiComponentBGSettings'
import MultipleChoicesSettings from './WorkBook/MultipleChoices/MultipleChoicesSettings'
// End WorkBook Setting components
// Primary Settings
import GroupingImages from './Primary/GroupingImages'
import Multiplechoiceimgwithbg from './Primary/Multiplechoiceimgwithbg'
import Multiplechoiceimgwithtext from './Primary/Multiplechoiceimgwithtext'
import Taptapimageswithbg from './Primary/Taptapimageswithbg'
import ChoicesImages from './Primary/ChoicesImages'
import Taptapimages from './Primary/Taptapimages'
import Taptapwithimage from './Primary/Taptapwithimage'
import Taptapimagesonchange from './Primary/Taptapimagesonchange'
import Multiplechoiceimg from './Primary/Multiplechoiceimg'
import Backgroundsettings from './Primary/BackgroundSettings'
import ModalSettings from './Primary/ModalSettings'
import Taptapcoloring from './Primary/Taptapcoloring'
import Taptapletters from './Primary/Taptapletters'
import ChoicesBackgroundSettings from './Primary/ChoicesBackgroundSettings'
import Coloring from './Coloring'
import PrimaryTimer from './Primary/PrimaryTimer'
import PrimaryAudioPlayer from './Primary/PrimaryAudioPlayer'
import PrimaryVideoPlayer from './Primary/PrimaryVideoPlayer'
import CheckPrimary from './Primary/CheckPrimary'
import StaticImgsPosAbsolute from './Primary/StaticImgsPosAbsolute'
// import Taptapfreewithbg from './Primary/Taptapfreewithbg'
import Taptappuzzlebg from './Primary/Taptappuzzlebg'
import MazeBGTap from './Primary/MazeBGTap'
import SVGimages from './Primary/SVGimages'
import SVGtaps from './Primary/SVGtaps'
import WordSearchSettings from './Primary/WordSearchSettings'
import Taptappuzzlemultipleright from './Primary/Taptappuzzlemultipleright'
// End of Primary Settings
// GLobal Settings
import TextStyle from './GlobalSettings/TextStyle'
import TextAreaStyle from './GlobalSettings/TextAreaStyle'
import MultiTextAreaStyle from './GlobalSettings/MultiTextAreaStyle'
import CheckIconsSettings from './GlobalSettings/CheckIconsSettings'
import Rubric from './StaticPages/Rubric'
import SVGone from './Primary/SVGone'
import StaticTexts from './Primary/StaticTexts'
import StaticImages from './Primary/StaticImages'
// End of Global Settings
import TapTapSettings from './WorkBook/TapTap/TapTapSettings'
import TrueFalseSectionSettings from './WorkBook/TrueFalse/TrueFalseSectionSettings'
import MultipleChoiceImageSectionSettings from './Primary/MultipleChoiceImageSectionSettings'
export default {
  name: 'Settings',

  props: {
    el: Object
  },

  components: {
    margin: Margin,
    font: Font,
    justification: Justification,
    // Custom Sections
    'k-taptapwithbg': Taptapwithbg,
    'k-truefalsewithbg': TrueFalsewithbg,
    'k-groupingwithbg': Groupingwithbg,
    'k-karaokesection': KaraokeSection,
    'k-typingsettings': TypingSettings,
    'k-uicomponentbackgroundsettings': UiComponentBackgroundSettings,
    'k-uicomponentposition': UiComponentPosition,
    'k-uicomponentstaticimage': UiComponentStaticImage,
    'k-uicomponenttextstyle': UiComponentTextStyle,
    'k-uicomponentimages': UiComponentImages,
    'k-uicomponenttext': UiComponentText,
    'k-uicomponentbgsettings': UiComponentBGSettings,
    // Custom Sections
    // Primary sections
    'k-groupingimages': GroupingImages,
    'k-multiplechoiceimg': Multiplechoiceimg,
    'k-multiplechoiceimgwithbg': Multiplechoiceimgwithbg,
    'k-multiplechoiceimgwithtext': Multiplechoiceimgwithtext,
    'k-taptapimageswithbg': Taptapimageswithbg,
    'k-backgroundsettings': Backgroundsettings,
    'k-modalsettings': ModalSettings,
    'k-choicesbackgroundsettings': ChoicesBackgroundSettings,
    'k-choicesimages': ChoicesImages,
    'k-taptapimages': Taptapimages,
    'k-taptapwithimage': Taptapwithimage,
    'k-taptapimagesonchange': Taptapimagesonchange,
    'k-taptapcoloring': Taptapcoloring,
    'k-primarytimer': PrimaryTimer,
    'k-primaryaudioplayer': PrimaryAudioPlayer,
    'k-primaryvideoplayer': PrimaryVideoPlayer,
    'k-checkprimary': CheckPrimary,
    'k-taptapletters': Taptapletters,
    'k-staticimgsposabsolute': StaticImgsPosAbsolute,
    'k-taptappuzzlebg': Taptappuzzlebg,
    'k-mazebgtap': MazeBGTap,
    'k-wordsearchsettings': WordSearchSettings,
    'k-taptappuzzlemultipleright': Taptappuzzlemultipleright,
    // 'k-multiplechoiceimagesectionsettings': MultipleChoiceImageSectionSettings,
    // End of Primary Sections
    // Global Settings
    'k-intropage': IntroPage,
    'k-textstyle': TextStyle,
    'k-textareastyle': TextAreaStyle,
    'k-multitextareastyle': MultiTextAreaStyle,
    'k-studyskill': StudySkill,
    'k-textparagraph': TextParagraph,
    // End of Global Settings
    'k-choicestaptap': ChoicesTapTap,
    'k-taptap': TapTap,
    'k-taptapchange': TapTapChange,
    'k-grouping': Grouping,
    'k-typing': Typing,
    'k-header': Header,
    'k-truefalse': TrueFalse,
    'k-rubricA': RubricA,
    'k-rubric': Rubric,
    'k-coloring': Coloring,
    'k-svgchoices': SVGimages,
    'k-SVGtaps': SVGtaps,
    'k-SVGone': SVGone,
    'k-statictexts': StaticTexts,
    'k-staticimages': StaticImages,
    'k-crosswordssettings': CrossWordsSettings,
    'k-crosswordskeysettings': CrossWordsKeySettings,
    Collapse,
    CollapseItem,
    'k-taptapsettings': TapTapSettings,
    'k-truefalsesectionsettings': TrueFalseSectionSettings,
    'k-multiplechoiceimagesectionsettings': MultipleChoiceImageSectionSettings,
    'k-multiplechoicessettings': MultipleChoicesSettings
  },

  data () {
    return {
      btnactive: false,
      SectionName: null,
      checkIconsFlag: false,
      checkIconsSettingsComponent: CheckIconsSettings
    }
  },
  created () {
    Bus.listen('openfilegallery', () => {
      this.opendfilegallery()
    })
    Bus.listen('closefilegallery', () => {
      this.closefilegallery()
    })
  },
  watch: {
    // watch all the indices of el for changes, save when they happen
    el: {
      handler: function () {
        Bus.fire('save')
      },
      deep: true
    }
  },
  computed: {
    attributes () {
      let allPossible = []
      // match the words
      if (this.el.key === 'matchthewordssection') {
        allPossible.push('k-matchthewords')
      }
      // multiple choice img with bg
      if (this.el.key === 'multiplechoiceimgwithbg') {
        allPossible.push('k-multiplechoiceimgwithbg')
        allPossible.push('k-multiplechoiceimg')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-backgroundsettings')
      }
      // multiple choice img with text
      if (this.el.key === 'multiplechoiceimgwithtext') {
        allPossible.push('k-multiplechoiceimgwithtext')
        allPossible.push('k-multiplechoiceimg')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-backgroundsettings')
      }
      // taptap-choice img with bg
      if (this.el.key === 'taptapimageswithbg') {
        allPossible.push('k-taptapimageswithbg')
        allPossible.push('k-choicesimages')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-taptapimages')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentbackgroundsettings')
      }
      // grouping with bg
      if (this.el.key === 'groupingwithbg') {
        allPossible.push('k-groupingwithbg')
        allPossible.push('k-choicestaptap')
        allPossible.push('k-grouping')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponenttext')
      }
      // Taptap with background image
      if (this.el.key === 'taptapwithbg') {
        allPossible.push('k-taptapwithbg')
        allPossible.push('k-choicestaptap')
        allPossible.push('k-taptap')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-choicesbackgroundsettings')
      }
      // Taptap with background image
      if (this.el.key === 'taptapfreewithbg') {
        allPossible.push('k-taptapwithbg')
        allPossible.push('k-choicestaptap')
        allPossible.push('k-taptap')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-choicesbackgroundsettings')
      }
      // True False with background image
      if (this.el.key === 'truefalsewithbg') {
        allPossible.push('k-truefalsewithbg')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-truefalse')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbackgroundsettings')
      }
      // Header Settings
      if (this.el.key === 'header') {
        allPossible.push('k-header')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponenttext')
        allPossible.push('k-uicomponentbackgroundsettings')
      }
      // Rubric Settings
      if (this.el.key === 'rubricA') {
        allPossible.push('k-rubricA')
      }

      if (this.el.key === 'coloring') {
        allPossible.push('k-coloring')
      }
      // Tap tap coloring
      if (this.el.key === 'taptapcoloring') {
        allPossible.push('k-taptapcoloring')
        allPossible.push('k-choicesimages')
        allPossible.push('k-taptapimagesonchange')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-choicesbackgroundsettings')
      }
      // Tap tap letters
      if (this.el.key === 'taptapletters') {
        allPossible.push('k-taptapletters')
        allPossible.push('k-choicesimages')
        allPossible.push('k-taptapwithimage')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-uicomponentstaticimage')
      }
      // Tap tap puzzle primary
      if (this.el.key === 'taptappuzzlebg') {
        allPossible.push('k-taptappuzzlebg')
        allPossible.push('k-choicesimages')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
      }

      // Primary Timer Settings
      if (this.el.key === 'primarytimer') {
        allPossible.push('k-primarytimer')
        allPossible.push('k-backgroundsettings')
      }
      // Primary Audio Player Settings
      if (this.el.key === 'primaryaudioplayer') {
        allPossible.push('k-primaryaudioplayer')
        allPossible.push('k-backgroundsettings')
      }
      // Primary Video Player Settings
      if (this.el.key === 'primaryvideoplayer') {
        allPossible.push('k-primaryvideoplayer')
        allPossible.push('k-backgroundsettings')
      }
      // Check Primary Settings
      if (this.el.key === 'checkprimary') {
        allPossible.push('k-checkprimary')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-modalsettings')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-uicomponenttext')
      }
      // page background
      if (this.el.key === 'intropage') {
        allPossible.push('k-intropage')
        allPossible.push('k-textstyle')
        allPossible.push('k-textareastyle')
        allPossible.push('k-backgroundsettings')
      }
      // study skill
      if (this.el.key === 'studyskill') {
        allPossible.push('k-studyskill')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-textareastyle')
        allPossible.push('k-uicomponenttextstyle')
      }
      // study skill
      if (this.el.key === 'textparagraph') {
        allPossible.push('k-textparagraph')
        allPossible.push('k-multitextareastyle')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-textstyle')
        allPossible.push('k-uicomponenttextstyle')
      }
      // karaoke
      if (this.el.key === 'karaokesection') {
        allPossible.push('k-karaokesection')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponenttext')
      }
      // rubric
      if (this.el.key === 'rubric') {
        allPossible.push('k-rubric')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponenttext')
        allPossible.push('k-backgroundsettings')
      }
      // maze bg tap
      if (this.el.key === 'tapmaze') {
        allPossible.push('k-mazebgtap')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbackgroundsettings')
      }
      if (this.el.key === 'manysvg-coloring') {
        allPossible.push('k-SVGtaps')
        allPossible.push('k-svgchoices')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-staticimgsposabsolute')
        allPossible.push('k-uicomponentbackgroundsettings')
      }
      if (this.el.key === 'onesvg-coloring') {
        allPossible.push('k-SVGone')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-svgchoices')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponentbackgroundsettings')
      }
      if (this.el.key === 'groupingimages') {
        allPossible.push('k-groupingimages')
        allPossible.push('k-choicesimages')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-uicomponenttext')
      }
      if (this.el.key === 'taptapsection') {
        allPossible.push('k-taptapsettings')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponenttext')
      }
      if (this.el.key === 'truefalsesection') {
        allPossible.push('k-truefalsesectionsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponenttext')
        allPossible.push('k-uicomponentimages')
      }
      if (this.el.key === 'crosswordssection') {
        allPossible.push('k-crosswordssettings')
        allPossible.push('k-crosswordskeysettings')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-uicomponenttext')
        allPossible.push('k-uicomponentimages')
      }
      if (this.el.key === 'wordsearchsection') {
        allPossible.push('k-wordsearchsettings')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponenttext')
      }
      if (this.el.key === 'typingsection') {
        allPossible.push('k-typingsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
        allPossible.push('k-uicomponentimages')
        allPossible.push('k-uicomponenttext')
      }
      if (this.el.key === 'taptappuzzlemultipleright') {
        allPossible.push('k-taptappuzzlemultipleright')
        allPossible.push('k-choicesimages')
        allPossible.push('k-choicesbackgroundsettings')
        allPossible.push('k-backgroundsettings')
        allPossible.push('k-uicomponentbackgroundsettings')
        allPossible.push('k-uicomponenttextstyle')
        allPossible.push('k-uicomponentstaticimage')
      }
      if (this.el.key === 'multiplechoicessection') {
        allPossible.push('k-multiplechoicessettings')
        allPossible.push('k-statictexts') // executed when settingstab === statictexts
        allPossible.push('k-staticimages') // executed when settingstab === staticimages
        allPossible.push('k-uicomponentimages') // called from staticimages , using events
        allPossible.push('k-uicomponenttext') // called from statictexts , using events
        allPossible.push('k-uicomponentbgsettings') // using events
        allPossible.push('k-uicomponenttextstyle') // executed based on el.settingtab
      }
      if (this.el.key === 'multiplechoiceimagesection') {
        allPossible.push('k-multiplechoiceimagesectionsettings')
        allPossible.push('k-uicomponentbgsettings')
        allPossible.push('k-statictexts')
        allPossible.push('k-staticimages')
        allPossible.push('k-uicomponenttext')
        allPossible.push('k-uicomponentimages')
      }
      return allPossible
    }
  },

  methods: {
    openfmanager () {
      Bus.fire('openfilegallery')
    },
    opendfilegallery () {
      let fmanager = document.querySelector('#fgallery')
      if (fmanager.classList.contains('is-hidden')) {
        fmanager.classList.remove('is-hidden')
      }
    },
    closefilegallery () {
      let fmanager = document.querySelector('#fgallery')
      if (fmanager !== null) {
        if (fmanager.classList.contains('is-hidden')) {
        } else {
          fmanager.classList.add('is-hidden')
        }
      }
    },
    tabclicked (tab) {
      this.el.settingtab = tab
    },
    activesetting () {
      this.el.settingtab = null
      this.btnactive = !this.btnactive
    },
    // Open check icons settings
    checkIconsSettings () {
      if (this.checkIconsFlag) {
        this.checkIconsFlag = false
      } else {
        this.checkIconsFlag = true
      }
    }
  }
}
</script>

<style lang="scss" scoped>
/**
 * Author George Panagiotinos
 * css classes
 */
.activebtn {
  color: #ffffff;
  background-color: #2366d1;
  border-color: #ffffff;
  &:hover {
    color: #ffffff;
    border-color: #ffffff;
  }
}
/*END*/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 35px;
  width: 65vh;
  .title {
    color: hsl(348, 100%, 61%);
    .back-button {
      position: absolute;
      left: 0;
      top: 4px;
      color: hsl(217, 71%, 53%);
      font-size: 15px;
      float: left;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.settings {
  margin: 15px 20px 15px 0;
  // width:655px;
}
.settings_formcontainer {
  width: 50%; // new class for form settings
}
</style>
