<style lang="css">
</style>

<template lang="html">
<div class="columns is-multiline" v-if="el.settingindex !== null && settingsec === 'truefalse'">
  <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Text Before Input
        </a>
      </p>
      <p class="control">
        <vue-editor id="editor2" v-model="el.truefalse[el.settingindex].beforetext"></vue-editor>
             <!-- <input type="text" class="input" v-model="el.truefalse[el.settingindex].beforetext"> -->
      </p>
  </div>
  <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Text After Input
        </a>
      </p>
      <p class="control">
        <vue-editor id="editor1" v-model="el.truefalse[el.settingindex].aftertext"></vue-editor>
            <!-- <input type="text" class="input" v-model="el.truefalse[el.settingindex].aftertext"> -->
      </p>
  </div>
  <div class="column is-12 field has-addons">
      <p class="control">
          <a class="button is-static">
        Column
      </a>
      </p>
      <exp-multiselect :openDirection="'top'" track-by="" label="" v-model="tempcolumn" deselectLabel="" selectLabel="" @input="truefalsecolumn()" selectedLabel="" :options="['is-2', 'is-3', 'is-4', 'is-5', 'is-6', 'is-7', 'is-8', 'is-9', 'is-10', 'is-11', 'is-12']">
      </exp-multiselect>
  </div>
  <div class="column is-12 field has-addons">
    <p class="control">
      <exp-checkbox type="text" class="checkbox" v-model="el.truefalse[el.settingindex].breakline">Break Line</exp-checkbox>
    </p>
  </div>
  <div class="column is-12 field has-addons">
    <p class="control">
      <a class="button is-static">
        New Choice
      </a>
    </p>
    <div class="control">
      <input type="text" class="input" v-model="choicetext">
    </div>
    <div class="control">
      <a class="button" @click="add_choice(choicetext)"><i class="fa fa-plus has-text-info is-size-5"></i></a>
    </div>
  </div>
  <div class="column is-12">
    <div class="control has-text-left">
      <a class="button is-static">Choices Table</a>
    </div>
  </div>
  <div v-if="el.truefalse[el.settingindex].choicesarray.length" class="column is-12">
    <div class="choicescontainer">
      <div class="columns is-multiline">
        <div class="choices_style column is-4" v-for="(choice, index) in el.truefalse[el.settingindex].choicesarray" :key="choice.id">{{choice.text}} <a :id="choice.id" @click="remove_choice(choice.id)"><i class="fa fa-times has-text-danger is-pulled-left"></i></a>
        <a v-if="tempindex !== index" :id="choice.id" @click="edit_choice(index, choice.text)"><i class="fa fa-pencil has-text-info is-pulled-right"></i></a>
        <a v-if="tempindex === index" :id="choice.id" @click="save_choice(index)"><i class="fa fa-save has-text-info is-pulled-right"></i></a>
        <input v-if="tempindex === index" type="text" v-model="temptext">
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Right Answer
        </a>
      </p>
      <p class="control">
        <exp-field>
          <exp-multiselect track-by="id" label="text" v-model="el.truefalse[el.settingindex].rightanswer" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" @open="chooserightanswer()" :options="righanswersobj">
          </exp-multiselect>
        </exp-field>
      </p>
  </div>
</div>
</template>

<script>

import Bus from '../../config/eventhub.js'
import _ from 'lodash'
export default {
  name: 'TrueFalse',
  props: {
    el: Object
  },
  data () {
    return {
      choicetext: null,
      righanswersobj: [],
      settingsec: null,
      temptext: null,
      tempindex: null,
      tempcolumn: null
    }
  },
  created () {
    Bus.listen('settingsection', (section) => {
      this.settingsec = section
    })
  },
  methods: {
    add_choice (text) {
      if (text !== null) {
        let array = JSON.parse(JSON.stringify(this.el.truefalse[this.el.settingindex].choicesarray))
        if (array.length > 0) {
          let maxchoice = _.maxBy(array, 'id')
          array.push({id: (maxchoice.id + 1), text: text, selected: false})
          this.el.truefalse[this.el.settingindex].choicesarray = array
        } else {
          array.push({id: 1, text: text, selected: false})
          this.el.truefalse[this.el.settingindex].choicesarray = array
        }
      }
      this.choicetext = null
    },
    remove_choice (id) {
      let array = []
      array = JSON.parse(JSON.stringify(this.el.truefalse[this.el.settingindex].choicesarray))
      if (array.length > 0) {
        for (var i = 0; i < array.length; i++) {
          if (array[i].id === id) {
            array.splice(i, 1)
          }
        }
        this.el.truefalse[this.el.settingindex].choicesarray = array
      }
    },
    chooserightanswer () {
      this.righanswersobj = this.el.truefalse[this.el.settingindex].choicesarray
    },
    edit_choice (index, text) {
      this.tempindex = index
      this.temptext = text
    },
    save_choice (index) {
      this.el.truefalse[this.el.settingindex].choicesarray[index].text = this.temptext
      this.tempindex = null
      this.temptext = null
    },
    truefalsecolumn() {
      if (this.el.truefalse[this.el.settingindex].column === undefined) {
        this.$set(this.el.truefalse[this.el.settingindex], 'column', this.tempcolumn)
      } else {
        this.el.truefalse[this.el.settingindex].column = this.tempcolumn
      }
    }
  },
  computed: {
    elchangeindex: function () {
      return this.el.settingindex
    }
  },
  watch:{
    elchangeindex: {
      handler (element) {
        if (element !== null) {
          if (this.el.truefalse[this.el.settingindex].column !== undefined && this.el.truefalse[this.el.settingindex].column !== null) {
            this.tempcolumn = this.el.truefalse[this.el.settingindex].column
          } else {
            this.tempcolumn = null
          }
        }
      }
    }
  }
}
</script>
