<style lang="scss">
</style>
<template lang="html">
  <div v-if="el.settingid !== null && settingsec === 'typing'">
    <div v-if="!(el.typing[el.settingid].rightanswer.length > 0)" class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Right Answer
          </a>
        </p>
        <p class="control">
          <input type="text" :size="inputlength" class="input" v-model="rightanswer">
        </p>
        <p class="control">
          <a class="button" @click="addrightanswer()"><i class="fa fa-plus has-text-info"></i></a>
        </p>
    </div>
    <div v-if="(el.typing[el.settingid].rightanswer.length > 0)" class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Right Answer:
        </a>
      </p>
      <p class="control">
        <a class="button is-static">
          {{el.typing[el.settingid].rightanswer}}
        </a>
      </p>
      <p class="control">
        <a class="button" @click="removerightanswer()"><i class="fa fa-times has-text-danger"></i></a>
      </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Text Before Input
          </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="el.typing[el.settingid].beforetext">
        </p>
    </div>
    <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Text After Input
          </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="el.typing[el.settingid].aftertext">
        </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <exp-checkbox type="text" class="checkbox" v-model="el.typing[el.settingid].capitalize">Capitalize</exp-checkbox>
      </p>
    </div>
</div>
</template>

<script>
import Bus from '../../config/eventhub.js'
export default {
  name: 'typing',
  props: {
    el: Object
  },
  data () {
    return {
      hasrightanswer: false,
      inputlength: 20,
      checkrightlength: false,
      settingsec: null,
      rightanswer: null
    }
  },
  created () {
    Bus.listen('settingsection', (section) => {
      this.settingsec = section
    })
  },
  methods: {
    removerightanswer () {
      this.el.typing[this.el.settingid].rightanswer = ''
      this.hasrightanswer = false
    },
    addrightanswer () {
      this.el.typing[this.el.settingid].rightanswer = this.rightanswer
      this.rightanswer = null
    }
  }
}

</script>
