<style lang="scss">
.maze_opacity{
  opacity: 0.5;
}
.maze_opacity0{
  opacity: 0.1;
}
.maze_opacity1{
  opacity: 1;
}
.maze_imageclicked{
  height: 100%;
  width: 100%;
}
</style>

<template lang="html">
    <div :style="[el.bgobject, {backgroundImage: bgimage}]" :class="[mazeclicked ? 'maze_opacity': 'maze_opacity0', {'notavailable': notavailable}]"  style="position: absolute;">
      <v-touch class="imagestap_tagdisplayblock has-center-items" :id="el.id" @tap="newinput(el.id)" tag="a">
        <img v-if="el.imageinput !== null && el.imageinput !== '' && el.imageinput !== undefined && mazeclicked" class="image maze_imageclicked" :src="mediafile + $route.query.package + '/' + el.imageinput">
        <exp-checkicons v-if="rightorder && checkflag" :answerFlag="'right'" :checkIconsObject="checkIconsObject"></exp-checkicons>
        <exp-checkicons v-if="!rightorder && checkflag" :answerFlag="'wrong'" :checkIconsObject="checkIconsObject"></exp-checkicons>
        <!-- <span style="position: absolute; bottom: 0; right: 0; z-index: 9999;"><i v-if="rightorder && checkflag" class="fa fa-check is-size-1 has-text-success maze_opacity1"></i><i v-if="!rightorder && checkflag" class="fa fa-times is-size-1 has-text-danger maze_opacity1"></i></span> -->
      </v-touch>
    </div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
import orderBy from 'lodash/orderBy'
export default {
  name: 'expMazetap',
  props: {
    el: Object,
    checkIconsObject: {
      type: Object
    }
  },
  data () {
    return {
      mediafile: MEDIAENDPOINT,
      orderclicked: null,
      notavailable: false,
      mazeclicked: false,
      mazeorder: [],
      rightorder: false,
      checkflag: false,
      inputlimit: 0,
      bgimage: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.$nextTick(() => {
      eventbus.listen('maze_ordertable', (data) => {
        if (data.bindchoicesid === this.el.bindchoicesid) {
          if (data.evt === 'add') {
            this.mazeorder.push(data.id)
            orderBy(this.mazeorder, (value) => {
              return value
            }, ['asc'])
          } else if (data.evt === 'remove') {
            let removeid = findIndex(this.mazeorder, (value) => {
              return value === parseInt(data.id)
            })
            if (removeid !== -1) {
              this.mazeorder.splice(removeid, 1)
            }
          }
        }
      })
      eventbus.listen('checkprimary_check', () => {
        this.notavailable = true
        if (this.mazeclicked) {
          this.checkflag = true
        }
      })
      eventbus.listen('checkprimary_tryagain', () => {
        this.notavailable = false
        if (!this.rightorder) {
          this.checkflag = false
          this.mazeclicked = false
          let data = {id: this.el.id, bindchoicesid: this.el.bindchoicesid, evt: 'remove'}
          eventbus.fire('maze_ordertable', data)
        } else {
          this.notavailable = true
        }
      })
      eventbus.listen('checkprimary_reset', () => {
        this.orderclicked = null
        this.checkflag = false
        this.rightorder = false
        this.mazeorder = []
        this.mazeclicked = false
        this.notavailable = false
      })
      eventbus.listen('checkprimary_show', () => {
        if (this.el.rightanswer) {
          this.checkflag = false
          this.rightorder = true
          this.mazeclicked = true
        } else {
          this.checkflag = false
          this.rightorder = false
          this.mazeclicked = false
        }
      })
    })
  },
  methods: {
    newinput (id) {
      this.mazeclicked = !this.mazeclicked
      let isRight = false
      if (this.mazeclicked) {
        if (this.mazeorder.length < parseInt(this.el.maxinput)) {
          // Start Timer if exists
          eventbus.fire('choicesimages_starttimer')
          let data = {id: this.el.id, bindchoicesid: this.el.bindchoicesid, evt: 'add'}
          eventbus.fire('maze_ordertable', data)
          if (this.el.rightanswer && !this.el.orderflag) {
            isRight = true
          } else if (this.el.rightanswer && this.el.orderflag) {
            if (this.mazeorder[this.el.order - 1] === this.el.order) {
              isRight = true
            }
          }
          let hasinputobject = {id: id, inputid: id, bindchoiceid: this.el.bindchoicesid, isRight: isRight, evt: 'add'}
          eventbus.fire('checkprimary_input', hasinputobject)
        } else {
          this.mazeclicked = !this.mazeclicked
        }
      } else {
        let data = {id: this.el.id, bindchoicesid: this.el.bindchoicesid, evt: 'remove'}
        eventbus.fire('maze_ordertable', data)
        let hasinputobject = {id: id, inputid: id, bindchoiceid: this.el.bindchoicesid, isRight: isRight, evt: 'remove'}
        eventbus.fire('checkprimary_input', hasinputobject)
      }
      this.rightorder = isRight
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_check')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
  }
}

</script>
