<style lang="scss">

</style>

<template lang="html">
  <div class="columns is-mobile" :style="[el.bgobject, {backgroundImage: bgimage}]">
    <helpButton v-if="el.type === 'help' || el.type === 'grammar'" :query="query" :el="el"></helpButton>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'HelpButtonsSection',
  props: {
    el: Object,
    query: String
  },
  data () {
    return {
      bgimage: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
        this.bgimage = 'url(' + MEDIAENDPOINT + this.query + '/' + this.el.bgobject.backgroundImage + ')'
    }
  },
  computed: {
    customel: function () {
      return this.el
    },
  },
  watch: {
    customel: {
      handler (object) {
        if (object.bgobject.backgroundImage !== undefined && object.bgobject.backgroundImage !== null && object.bgobject.backgroundImage !== '') {
            this.bgimage = 'url(' + MEDIAENDPOINT + this.query + '/' + object.bgobject.backgroundImage + ')'
        }
      },
      deep: true
    }
  },
}
</script>
