<template>
<div>
  <div id="bodyA">
    <p><span v-html="textToShow"></span></p>
    <mycomponent :is="this.el.exercises "></mycomponent>
  </div>
</div>
</template>

<script>
import Vue from 'vue'
export default {

  name: 'RubricA',

  props:
  {
    el: Object
  },

  data () {
    return {
    }
  },
  computed:
  {

    textToShow () {
      return this.el.rubric ? this.el.rubric : '1) Your title goes here'
    },
    output () {
      var input = this.el.exercises ? this.el.exercises : ''
      var ret = Vue.compile(input)
      //  ret.components = { Child };  // add any other necessary properties similarly
      return ret
    },
      /**
     * Return any custom classes for styling the component
     *
     * @returns {object}
     */
    customStyling () {
      return {
        'height300': this.el.height === '300',
        'height200': this.el.height === '200',
        'height150': this.el.height === '150',
        'height100': this.el.height === '100'
      }
    }
  },

  methods: {
  }
}

</script>

<style>

</style>
