<style lang="scss">

</style>

<template lang="html">
  <div class="column is-12" :style="{position: 'relative'}">
    <span :style="el.textobject" v-html="el.text"></span>
    <div  v-if="imageArray.length > 0">
      <div :style="image.imageBgObject" v-for="image in imageArray">
        <img :src="mediaFile + query + '/' + image.imageUrl">
      </div>
    </div>
    <div v-if="staticTextArray.length > 0" :style="textObject.staticTextObject" v-for="textObject in staticTextArray">
      <span v-html="textObject.text"></span>
    </div>
  </div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config.js'
export default {
  name: 'helpButton',
  props: {
    el: Object,
    query: String
  },
  data () {
    return {
      mediaFile: MEDIAENDPOINT,
      imageArray: [],
      staticTextArray: []
    }
  },
  mounted() {
    this.imageArray = JSON.parse(JSON.stringify(this.el.image))
    this.staticTextArray = JSON.parse(JSON.stringify(this.el.staticTexts))
  },
  computed: {
    customel: function () {
      return this.el
    },
  },
  watch: {
    customel: {
      handler (object) {
        this.imageArray = JSON.parse(JSON.stringify(object.image))
        this.staticTextArray = JSON.parse(JSON.stringify(object.staticTexts))
      },
      deep: true
    }

  }
}
</script>
