<style lang="scss">
.svgdiv_container {
  height: 100%;
  width: 100%;
}
</style>

<template lang="html">
  <div class="svgdiv_container" :style="[el.bgobject, {backgroundImage: bgimage}]" style="position: absolute;">
    <v-touch :class="{'notavailable': notavailable}" class="imagestap_tagdisplayblock has-center-items" style="position: relative;" :id="el.id" @tap="newinput($event)" tag="a">
    <span :id="'spansvg' + el.id" v-html="el.imageinput"></span>
    </v-touch>
  </div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
import findIndex from 'lodash/findIndex'
import forEach from 'lodash/forEach'
export default {
  name: 'expSvgone',
  props: {
    el: Object
  },
  data () {
    return {
      mediafile: MEDIAENDPOINT,
      bgimage: null,
      notavailable: true,
      colorpath: null,
      svgcolorinput: {},
      lockRight: true,
      checkflag: false,
      checkicons: []
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.$nextTick(() => {
      let svgElement = document.getElementById('spansvg' + this.el.id).getElementsByTagName('svg')[0]
      if (svgElement.getAttribute('width') === null && svgElement.getAttribute('height') === null) {
        svgElement.setAttribute('width', '100%')
        svgElement.setAttribute('height', '100%')
      }
      // Load the temp object with image clicked
      eventbus.listen('svgchoices_userchoice', (data) => {
        this.svgcolorinput.id = data.id
        this.svgcolorinput.fill = data.fill
        // search the tap tap json object to find image on change with the same id of the image choice user clicked
        if (this.lockRight && data.bindchoicesid === this.el.bindchoicesid) {
          this.notavailable = false
        }
      })
      eventbus.listen('checkprimary_reset', () => {
        forEach(this.el.pathsarray, (nullpath) => {
          document.getElementById(nullpath.id).setAttribute("fill", '#FFFFFF')
        })
        this.notavailable = true
        this.lockRight = true
      })
      eventbus.listen('checkprimary_tryagain', () => {
        forEach(this.el.pathsarray, (nullpath) => {
          if (!nullpath.isRight) {
            document.getElementById(nullpath.id).setAttribute("fill", '#FFFFFF')
          }
        })
      })
      eventbus.listen('checkprimary_show', () => {
        forEach(this.el.pathsarray, (path) => {
          document.getElementById(path.id).setAttribute("fill", path.svgfill)
        })
      })
    })
  },
  methods: {
    newinput (evt) {
      this.colorpath = document.getElementById(evt.target.id)
      let tempindex = findIndex(this.el.pathsarray, {'id': evt.target.id})
      if (this.colorpath !== null && tempindex !== -1) {
        this.colorpath.setAttribute("fill", this.svgcolorinput.fill)
        this.notavailable = true
        let isRight = false
        if (this.el.pathsarray[tempindex].AllRight === true){
          isRight = true
        }
        this.el.pathsarray[tempindex].isRight = false
        if (this.el.pathsarray[tempindex].svgright === this.svgcolorinput.id) {
          isRight = true
          this.el.pathsarray[tempindex].isRight = true
        }
        eventbus.fire('svgchoicesimages_enablechoice', this.svgcolorinput.id)
        eventbus.fire('taptapimages_disablechoice', this.svgcolorinput.id)
        let hasinputobject = {id: this.el.id, inputid: evt.target.id, bindchoiceid: this.el.bindchoicesid, isRight: isRight, evt: 'add'}
        eventbus.fire('checkprimary_input', hasinputobject)
      }
      }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        }
      }
    }
  },
  beforeDestroy () {
    eventbus.off('svgchoices_userchoice')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_show')
  }
}

</script>
