<style lang="scss" scoped>
</style>
<template lang="html">
<div class="columns is-mobile" :style="el.bgobject">
  <div class="column is-12 timerplaceholder">
    <div class="timermsg">
      <span :class="progresscolor">{{timermessage}}</span>
    </div>
    <div class="timercount"><span v-if="timercount > 60" >{{minutetext}}m</span><span>{{secondtext}}s</span>    </div>
    <svg id="timersvg" width="100" height="100" viewPort="0 0 0 0" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle r="42" cx="50" cy="50" fill="transparent" stroke-dasharray="263.89" stroke-dashoffset="0">
      </circle>
      <circle id="timerbar" :class="progresscolor" r="42" cx="50" cy="50" fill="transparent" stroke-dasharray="263.89" :stroke-dashoffset="strokefill"></circle>
    </svg>
  </div>
  <!-- <div>
    <a @click="starttime()" class="button is-info">Start</a>
  </div> -->
</div>
</template>

<script>
import eventbus from '../../config/eventhub.js'

export default {
  name: 'expPrimarytimer',
  props: {
    el: Object
  },
  data () {
    return {
      run: null, // Variable Set Interval
      maxtime: 0, // Max time of timer
      timercount: 0, // count timer from max to 0
      minutetext: 0,
      secondtext: 0,
      progresscolor: 'default', // Color change as timer running out
      timermessage: '', // On top Message change as timer running out
      strokefill: 263.89, // Circle Perimeter of SVG so can color it as timer running
      initialtext: 'Timer for ',
      starttext: 'Still Plenty of Time',
      halftimetext: 'Half Time!',
      warningtext: 'Almost Over!!',
      runouttext: 'Run Out of Time!!!',
      successtext: 'Great!!! You Solved it!'
    }
  },
  mounted () {
    this.$nextTick(() => {
      let rotsvg = document.getElementById('timerbar')
      rotsvg.style.webkitTransform = 'rotate(' + 270 + 'deg)'
      rotsvg.style.mozTransform    = 'rotate(' + 270 + 'deg)'
      rotsvg.style.msTransform     = 'rotate(' + 270 + 'deg)'
      rotsvg.style.oTransform      = 'rotate(' + 270 + 'deg)'
      rotsvg.style.transform       = 'rotate(' + 270 + 'deg)'
      if (this.el.maxtime !== null) {
        this.maxtime = this.el.maxtime
      }
      this.initialtext = this.el.initialtext
      this.starttext = this.el.starttext
      this.halftimetext = this.el.halftimetext
      this.warningtext = this.el.warningtext
      this.runouttext = this.el.runouttext
      this.timercount = this.maxtime
      // Timer from JSON Second to minute and seconds
      if (this.timercount > 60) {
        this.minutetext = Math.floor(this.timercount / 60)
        this.secondtext = (this.timercount % 60)
        this.timermessage = this.initialtext + this.minutetext + 'm ' + this.secondtext + 's'
      } else {
        this.secondtext = this.timercount
        this.timermessage = this.initialtext + this.secondtext + 's'
      }
      // Event Listen once from user click to start timer
      eventbus.listen_once('choicesimages_starttimer', () => {
        this.starttime()
      })
      eventbus.listen_once('choicestaptap_starttimer', () => {
        this.starttime()
      })
      eventbus.listen_once('typing_starttimer', (data) => {
        this.starttime()
      })
      eventbus.listen_once('truefalse_starttimer', (data) => {
        this.starttime()
      })
      // Listen When user have 100% score to stop timer
      eventbus.listen_once('checkprimary_stoptime', () => {
        clearInterval(this.run)
        eventbus.off('choicesimages_starttimer')
        eventbus.off('choicestaptap_starttimer')
        eventbus.off('typing_starttimer')
        eventbus.off('truefalse_starttimer')
        eventbus.off('checkprimary_stoptime')
        this.progresscolor = 'success'
        this.timermessage = this.successtext
      })
    })
  },
  methods: {
    // Method to Start Time
    starttime () {
      let currenttime = new Date()
      let expiretime = new Date()
      let strokestep = (this.strokefill / this.maxtime) // Divide Circle to color area for every second
      expiretime.setSeconds(currenttime.getSeconds() + this.maxtime) // Add Seconds to Current time
      clearInterval(this.run)
      this.run = null
      // Start Timer
      this.run = setInterval(() => {
        // Get time every second to check if expiretime have pass
        var now = new Date().getTime()
        var flag = expiretime - now
        if (this.timercount > 0) {
          // Timer count seconds to display to user, descending from max seconds time to 0
          this.timercount--
          this.strokefill -= strokestep
          if (this.timercount > 60) {
            this.minutetext = Math.floor(this.timercount / 60)
            this.secondtext = (this.timercount % 60)
          } else {
            this.secondtext = this.timercount
          }
          if (this.timercount > Math.round(this.maxtime / 2)) {
            this.progresscolor = 'safe'
            this.timermessage = this.starttext
          } else if (this.timercount <= Math.round(this.maxtime / 2) && this.timercount > Math.round((this.maxtime * 1) / 4)) {
            this.timermessage = this.halftimetext
            this.progresscolor = 'warning'
          } else {
            this.timermessage = this.warningtext
            this.progresscolor = 'danger'
          }
          if (this.timercount === 0) {
            this.timermessage = this.runouttext
            this.progresscolor = 'default'
            this.strokefill = 0
          }
        }
        if (flag < 0) {
          clearInterval(this.run)
          eventbus.fire('primarytimer_end')
        }
      }, 1000)
    },
    endtime () {
      // Reset primary timer component
      clearInterval(this.run)
      this.strokefill = 263.89
      this.initialtext = this.el.initialtext
      this.progresscolor = 'default'
      eventbus.off('choicesimages_starttimer')
      eventbus.off('choicestaptap_starttimer')
      eventbus.off('typing_starttimer')
      eventbus.off('truefalse_starttimer')
      eventbus.off('checkprimary_stoptime')
      eventbus.listen_once('choicesimages_starttimer', () => {
        this.starttime()
      })
      eventbus.listen_once('choicestaptap_starttimer', () => {
        this.starttime()
      })
      eventbus.listen_once('typing_starttimer', (data) => {
        this.starttime()
      })
      eventbus.listen_once('truefalse_starttimer', (data) => {
        this.starttime()
      })
      eventbus.listen_once('checkprimary_stoptime', (data) => {
        clearInterval(this.run)
        eventbus.off('choicesimages_starttimer')
        eventbus.off('choicestaptap_starttimer')
        eventbus.off('typing_starttimer')
        eventbus.off('truefalse_starttimer')
        eventbus.off('checkprimary_stoptime')
        this.progresscolor = 'success'
        this.timermessage = this.successtext
      })
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.maxtime !== null) {
          this.maxtime = element.maxtime
        }
        this.timercount = this.maxtime
        this.initialtext = element.initialtext
        this.starttext = element.starttext
        this.halftimetext = element.halftimetext
        this.warningtext = element.warningtext
        this.runouttext = element.runouttext
        if (this.timercount > 60) {
          this.minutetext = Math.floor(this.timercount / 60)
          this.secondtext = (this.timercount % 60)
          this.timermessage = this.initialtext + this.minutetext + 'm ' + this.secondtext + 's'
        } else {
          this.secondtext = this.timercount
          this.timermessage = this.initialtext + this.secondtext + 's'
        }
      },
      deep: true
    },
    '$route': function (val) {
      this.endtime()
    }
  },
  beforeDestroy () {
    // Clear Interval timer when component destroyed
    clearInterval(this.run)
    eventbus.off('choicesimages_starttimer')
    eventbus.off('choicestaptap_starttimer')
    eventbus.off('typing_starttimer')
    eventbus.off('truefalse_starttimer')
    eventbus.off('checkprimary_stoptime')
    // This endtime function, clearInterval timer when a new primary timer component load from existing one
    // this.endtime()
  }
}

</script>
