<style lang="css">

</style>

<template lang="html">
<div v-if="el.texttab === 'textarea'" class="columns is-multiline">
  <div class="column is-12">
    <exp-field label="Main Text" class="columns is-multiline">
      <vue-editor v-model="el.maintext.text"></vue-editor>
    </exp-field>
  </div>
</div>
</template>

<script>
import { ImageDrop } from 'quill-image-drop-module'
// import { ImageResize } from 'quill-image-resize-module'
export default {
  name: 'Textareastyle',
  props: {
    el: Object
  },
  data () {
    return {
      activeEl: null
    }
  },
  customModulesForEditor: [
      { alias: 'imageDrop', module: ImageDrop },
      // { alias: 'imageResize', module: ImageResize }
    ],
  editorSettings: {
      modules: {
        imageDrop: true,
        // imageResize: {}
      }
  },
  methods: {
    loadevents () {
      this.activeEl = document.getElementById('textarea')
    }
  },
  beforeDestroy () {
    // this.activeEl.removeEventListener('mouseup', () => {
    //
    // })
  },
}

</script>
