<style lang="scss">
.addlocalmodules_list{
  label{
    border-bottom: 1px solid hsl(0, 0%, 96%);
    padding: 5px 0 5px 0;
    color: black;
  }
}
</style>

<template lang="html">
  <div class="columns is-multiline is-mobile">
    <div class="column is-12 has-text-centered">
      <h3 class="title is-3">Modules</h3>
      <ul v-if="localmodules.length > 0" class="addlocalmodules_list">
        <li v-for="modules in localmodules">
          <exp-checkbox type="text" class="checkbox" v-model="modules.selected">{{modules.module_name}}</exp-checkbox>
        </li>
      </ul>
      <span v-else class="button has-text-danger"><span class="icon"><i class="fa fa-warning"></i></span><span>All Local Modules are already on DigiBook</span></span>
    </div>
    <div v-if="localmodules.length > 0" class="column is-12 has-text-centered">
      <a class="button is-primary" @click="submit_addlocalmodules()"><span>Add Modules</span><span class="icon"><i class="fa fa-plus"></i></span></a>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
import {
  // DIGIENDPOINT,
  DIGITOKEN
  // APIENDPOINT
  } from '@/config/app-config'
import Bus from '@/config/eventhub'
import filter from 'lodash/filter'
import forEach from 'lodash/forEach'
import remove from 'lodash/remove'
import map from 'lodash/map'
export default {
  name: 'addlocalmodules',
  props: {
    route: Object,
    digimodules: Array
  },
  data () {
    return {
      localmodules: [],
      assignmodules: [],
      digiurl: 'https://beta.expressdigibooks.com/web/api/digipubv1/'
    }
  },
  mounted () {
    // axios({
    //   method: 'post',
    //   url: APIENDPOINT + 'module/modules',
    //   data: {id: this.route.query.package},
    //   headers: {
    //     'Content-type': 'application/json'
    //   }
    // })
    this.$http.post('module/modules', {id: this.route.query.package})
    .then(response => {
      forEach(this.digimodules, (value) => {
        remove(response.data.modules, {'module_name': value})
      })
      this.localmodules = []
      for (var i = 0; i < response.data.modules.length; i++) {
        response.data.modules[i].selected = true
        this.localmodules.push(response.data.modules[i])
      }
    }).catch(error => {
      console.error(error)
    })
  },
  methods: {
    submit_addlocalmodules () {
      this.assignmodules = []
      this.assignmodules = filter(this.localmodules, (modules) => {
        return modules.selected
      })
      // axios({
      //   method: 'post',
      //   url: this.digiurl + 'importmodules',
      //   data: {token: DIGITOKEN, package: '0062', modulenames: map(this.assignmodules, 'module_name')}
      // })
      this.$http.post(this.digiurl + 'importmodules', {
         data: {token: DIGITOKEN, package: '0062', modulenames: map(this.assignmodules, 'module_name')}
      })
      .then((response) => {
        Bus.fire('submit_addlocalmodules', response.data.page)
        this.$swal('Great job', 'All Local Modules Imported Succesfully', 'success')
      }).catch((error) => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}

</script>
