<style lang="scss">
  .pagination {
    &__item {
      float: left;
    }
    &__button:hover{
      color: #4d79ff;
      background: #fff;
      border-color: #4d79ff;
    }
    &--current-page {
      background: #4d79ff;
      color: #fff;
      border-color: #4d79ff;
      border-radius: 3px;
      font-weight: 600;
    }
  }
  .item__crop {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
<template lang="html">  
  <div class="bugs">
  <div class="columns is-mobile">
    <div class="selectresult column is-2">
      <span v-if="currentPage*limit <= totalBugs">Showing {{offset + 1}}-{{currentPage * limit}} of {{totalBugs}}</span>
      <span v-else>Showing {{offset + 1}}-{{totalBugs}} of {{totalBugs}}</span>
    </div>
    <div class="selectresult column is-3">
      <span>Results per Page:</span>
      <select v-model="bugsPerPage">
        <option v-for="page in totalBugs" :key="page" :value="page">{{page}}</option>
      </select>
    </div>
  </div>
  <div class="columns is-mobile">
    <div class="column is-12" style="overflow-x: auto;">
    <template v-if="loading">
      <p>Loading...</p>
    </template>
    <template v-else-if="emptyBugArray">
      <p>There are no bugs</p>
    </template>
    <table v-else class="center-table table is-fullwidth" style="margin-bottom: 80px">
      <thead>
        <tr>
          <th>
            <exp-field label="Title">
              <exp-input type="text" id="bug_title" v-model="search_data.bug_title" placeholder="Bug Title" @input="setSearch('bug_title', $event)"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Description">
              <exp-input type="text" id="bug_description" v-model="search_data.bug_description" placeholder="Bug Description" @input="setSearch('bug_description', $event)"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Issuer">
              <exp-input type="text" id="bug_issuer" v-model="search_data.bug_issuer" placeholder="Bug Issuer" @input="setSearch('bug_issuer', $event)"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Module">
              <exp-input type="text" id="module_id" v-model="search_data.module_id" placeholder="Module ID" @input="setSearch('module_id', $event)"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Package">
              <exp-input type="text" id="package_id" v-model="search_data.package_id" placeholder="Package ID" @input="setSearch('package_id', $event)"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Page">
              <exp-input type="text" id="page_id" v-model="search_data.page_id" placeholder="Page ID" @input="setSearch('page_id', $event)"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Component">
              <exp-input type="text" id="component_name" v-model="search_data.component_name" placeholder="Component Name" @input="setSearch('component_name')"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Modified By">
              <exp-input type="text" id="modified_by" v-model="search_data.modified_by" placeholder="Modified By" @input="setSearch('modified_by')"></exp-input>
            </exp-field>
          </th>
          <th>
            <exp-field label="Completed">
            <exp-multiselect label="status_name" v-model="dropdowns.completed" @input="setSearch('completed')" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="completedArray">
            </exp-multiselect>
            </exp-field>
          </th>
          <th>
            <exp-field label="Reopen">
              <exp-multiselect label="status_name" v-model="dropdowns.reopen" @input="setSearch('reopen')" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="reopenArray">
            </exp-multiselect>
            </exp-field>
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="bug in bugs" :key="bug.bug_id">
          <td><p class="item__crop">{{bug.bug_title}}</p></td>
          <td><p class="item__crop">{{bug.bug_description}}</p></td>
          <td v-text="bug.bug_issuer"></td>
          <td v-text="bug.module_id"></td>
          <td v-text="bug.package_id"></td>
          <td v-text="bug.page_id"></td>
          <td><p class="item__crop">{{bug.component_name}}</p></td>
          <td v-text="bug.modified_by"></td>
          <td>
            <div class="level-left">
              <a v-if="bug.completed" class="level-item" alt="Completed" >
                <span class="icon"><i class="fa fa-check-circle is-size-5 has-text-info"></i></span>
              </a>
              <a v-else class="level-item" alt="Incomplete" >
                <span class="icon"><i class="fa fa-check-circle is-size-5 has-text-grey-lighter"></i></span>
              </a>
            </div>
          </td>
          <td>
            <div class="level-left">
              <a v-if="bug.reopen" class="level-item" alt="Reopen" >
                <span class="icon"><i class="fa fa-check-circle is-size-5 has-text-info"></i></span>
              </a>
              <a v-else class="level-item" alt="Not open" >
                <span class="icon"><i class="fa fa-check-circle is-size-5 has-text-grey-lighter"></i></span>
              </a>
            </div>
          </td>
          <td>
            <ul class="level-left">
              <li class="level-item">
                <router-link alt="Edit Bug" :title="bug.bug_title" :to="{path: `/bugs/${bug.bug_id}`}">
                  <span class="icon"><i class="fa fa-pencil is-size-5 has-text-success"></i></span>
                </router-link>
              </li>
              <li class="level-item" v-show="!not_admin">
                <a alt="Delete Bug" @click="deleteBug(bug.bug_id)">
                  <span class="icon"><i class="fa fa-ban is-size-5 has-text-danger"></i></span>
                </a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <ul>
        <li class="pagination__item">
          <a class="button pagination__button" @click="nextPage(0, 'previous')"><span><i class="fa fa-chevron-left"></i></span></a>
        </li>
        <li class="pagination__item" v-for="page in totalPages" :key="page">
          <a class="button pagination__button" :class="[{'pagination--current-page': currentPage == page}]" @click="nextPage($event.target.id, 'random')" :id="page">{{page}}</a>
        </li>
        <li class="pagination__item">
          <a class="button pagination__button" @click="nextPage(0, 'next')"><span><i class="fa fa-chevron-right"></i></span></a>
        </li>
      </ul>
    </div>
    </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import {APIENDPOINT} from '@/config/app-config'
import debounce from 'lodash/debounce'
export default {
  name: 'bugs',
  data () {
    return {
      loading: true,
      emptyBugArray: true,
      bugs: [],
      not_admin: false,
      pages: [], 
      limit: 5,
      offset: 0,
      totalPages: 1,
      totalBugs: 1,
      bugsPerPage: 5,
      currentPage: 1,
      search_data: {
      },
      completedArray: [{ status_name: 'Yes', value: true }, { status_name: 'No', value: false }],
      reopenArray: [{ status_name: 'Yes', value: true }, { status_name: 'No', value: false }],
      dropdowns: {
        completed: {},
        reopen: {}
      }
    }
  },
  mounted () {
    this.currentPage = 1
    this.loading = true    
    this.$store.dispatch('bugs/GET_BUGS_PAGINATE_AND_COUNT', {limit: this.limit, offset: this.offset})
      .then(response => {
        if (response) {
          this.bugs = [...response.bugs]
          this.totalBugs = response.count
          this.loading = false
          this.emptyBugArray = false
          this.totalPages = Math.ceil(this.totalBugs / this.bugsPerPage)
        }
      })
      .catch(error => 
        this.$swal({
          title: `${error.message}`,
          icon: error,
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Ok'
        })
      )
     
    // find user role, admin or not
    if (JSON.parse(localStorage.getItem('expUser')).role != 1) this.not_admin = true
  },
  methods: {
    objectIsEmpty (object) {
      for(var key in object) {
        if(object.hasOwnProperty(key))
          return false
      }
      return true
    },
    setSearch: debounce(function (field, value) {
      this.searchPaginatedBugsAndCount()
    }, 500),
    deleteBug (bug_id) {
      this.$store.dispatch('bugs/DELETE_BUG', bug_id)
      .then(resolve => {
        this.$swal({
          title: 'Successfully deleted',
          icon: 'success',
          confirmButtonColor: '#23d160',
          confirmButtonText: 'Ok'
        })
        this.bugs = this.$store.state.bugs.bugs
      })
      .catch(error => {
        this.$swal({
          title: `${error.message}`,
          icon: 'error',
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Ok'
        })
      })
    },
    // called each time user uses search fields
    searchPaginatedBugsAndCount () {
      this.offset = 0
      this.$store.dispatch('bugs/SEARCH_PAGINATE_AND_COUNT', {search_data: this.search_data, limit: this.limit, offset: this.offset})
      .then(response => {
        if (response) {
          this.currentPage = 1
          this.bugs = [...response.bugs]
          this.totalBugs = response.count
          this.loading = false
          this.emptyBugArray = false
          this.totalPages = Math.ceil(this.totalBugs / this.bugsPerPage)
        }
      })
      .catch(error => {
        this.$swal({
          title: `${error}`,
          icon: error,
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Ok'
        })
      })
    },
    // called each time user changes page or the bugsPerPage variable, while using search fields
    searchPaginatedBugs () {
      this.$store.dispatch('bugs/SEARCH_AND_PAGINATE', {search_data: this.search_data, limit: this.limit, offset: this.offset})
      .then(response => {
        if (response) {
          this.bugs = [...response.bugs]
          this.loading = false
          this.emptyBugArray = false
        }
      })
      .catch(error => {
        this.$swal({
          title: `${error}`,
          icon: error,
          cancelButtonColor: '#ff3860',
          confirmButtonText: 'Ok'
        })
      })
    },
    // called each time user changes page or the bugsPerPage variable
    paginatedBugs (limit, offset) {
      this.$store.dispatch('bugs/GET_BUGS_PAGINATE', {limit: this.limit, offset: this.offset})
        .then(response => {
          if (response) {
            this.bugs = response.bugs
            this.loading = false
            this.emptyBugArray = false
          }  
        })
        .catch(error => {
          this.$swal({
            title: `${error.message}`,
            icon: 'error',
            cancelButtonColor: '#ff3860',
            confirmButtonText: 'Ok'
          })
        })
    },
    nextPage (page, action) {
      page = Number(page)
      let flag = true // flag for changing page      
      // calculate next / previous page while using arrows
      // and ensure currentPage is not out of range
      if (action === 'previous') {
        page = this.currentPage - 1
        if (page < 1) {
          page = this.currentPage
          flag = false
          return
        }
      } else if (action === 'next') {
        page = this.currentPage + 1
        if (page > this.totalPages) {
          page = this.currentPage
          flag = false
          return
        }
      }
      this.offset = (page - 1) * this.limit
      this.currentPage = page
      if (flag) {
        // checks if user is using search fields
        if (this.objectIsEmpty(this.search_data)) {
          this.paginatedBugs (this.limit, this.offset)
        } else {
          this.searchPaginatedBugs()
        }
      }
      
    }
  },
  watch: {
    bugsPerPage (number) { // set number of rows per page
      this.offset = 0
      this.limit = Number(number)
      this.totalPages = Math.ceil(this.totalBugs / this.bugsPerPage)
      this.currentPage = 1
      // checks if user is using search fields
      if (this.objectIsEmpty(this.search_data)) {
        this.paginatedBugs (this.limit, this.offset)
      } else {
        this.searchPaginatedBugs()
      }
    },
    'dropdowns.completed': {
      handler(x) {
        this.search_data.completed = x.value
      },
      deep: true
    },
    'dropdowns.reopen': {
      handler(x) {
        this.search_data.reopen = x.value
      },
      deep: true
    }
  }
}
</script>
