<style lang="css">
</style>
<template lang="html">
      <div class="columns level-item">
        <div class="column is-half">
          <h1 class="title">CREATE USER</h1>
          <form @keydown="errors.clear($event.target.id)">
              <exp-field label="Firstname">
                  <exp-input type="text" id="firstname" v-model="create_form.firstname" placeholder="Firstname"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('firstname')"></p>
              <exp-field label="Lastname">
                  <exp-input type="text" id="lastname" v-model="create_form.lastname" placeholder="Lastname"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('lastname')"></p>
              <exp-field label="Usename">
                  <exp-input type="text" id="username" v-model="create_form.username" placeholder="Usename"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('username')"></p>
              <exp-field label="Password">
                  <exp-input type="password" id="password" v-model="create_form.password" placeholder="Password"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('password')"></p>
              <exp-field label="Email">
                  <exp-input type="email" id="email" v-model="create_form.email" placeholder="Email"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('email')"></p>
              <exp-field label="Roles">
                <exp-multiselect track-by="role_id" label="role_name" v-model="user_role" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="roles">
                </exp-multiselect>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('role_id')"></p>
              <exp-field label="Status">
                <exp-multiselect track-by="status_id" label="status_name" v-model="user_status" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="available_status">
                </exp-multiselect>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('user_status')"></p>
              <div class="control has-text-centered">
                  <button class="button is-primary" @click.prevent="submit_create($event)">Submit</button>
              </div>
          </form>
        </div>
      </div>
</template>

<script>

// import axios from 'axios'
import {
  // APIENDPOINT,
 USERSTATUS_TABLE } from '../config/app-config'

class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          if (path === 'role_id') {
            return 'This is not valid Role'
          } else if (path === 'user_status') {
            return 'This is not valid User Status'
          } else {
            return this.errors[i].message
          }
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}

export default {
  name: 'createuser',
  data () {
    return {
      create_form: {
        firstname: '',
        lastname: '',
        username: '',
        password: '',
        email: '',
        role_id: 1,
        created_by: 0,
        modified_by: 0,
        user_status: 1
      },
      roles: [],
      user_role: {},
      user_status: {},
      errors: new Error(),
      available_status: USERSTATUS_TABLE
    }
  },
  mounted: function () {
    // axios.post(APIENDPOINT + 'user/roles')
    this.$http.post('users/roles')
    .then(response => {
      this.roles = response.data.roles
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
  },
  methods: {
    submit_create (evt) {
      evt.preventDefault()

      this.create_form.role_id = this.user_role.role_id
      this.create_form.user_status = this.user_status.status_id
      // axios.post(APIENDPOINT + 'user/create', {
      //   data: this.create_form,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('users/create', {data: this.create_form})
      .then(response => {
        if (response.data.errorflag) {
          this.errors.record(response.data.message.errors)
        } else {
          this.$swal('Great job', response.data.message, 'success')
          this.$router.push({path: '/user/grid'})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}
</script>
