<style lang="scss">
</style>

<template lang="html">
<div class="columns is-mobile">
  <div class="column is-12">
    <h1 class="title">CREATE NEW SECTION</h1>
    <form @keydown="errors.clear($event.target.id)">
      <p class="help is-danger" v-text="errors.get('section_name')"></p>
        <exp-field label="Section Name">
            <exp-input type="text" v-model="section_form.section_name" id="section_name" placeholder="Section Name" required></exp-input>
        </exp-field>
        <p class="help is-danger" v-text="errors.get('section_category')"></p>
        <exp-field label="Categories">
          <exp-multiselect track-by="category_id" @open="errors.clear('section_category')" value="category_id" v-model="category" label="category_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="categories" required>
          </exp-multiselect>
        </exp-field>
        <p class="help is-danger" v-text="errors.get('section_area')"></p>
        <exp-field label="Areas">
          <exp-multiselect track-by="area_id" @open="errors.clear('section_area')" value="area_id" v-model="area" label="area_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="areas" required>
          </exp-multiselect>
        </exp-field>
        <p class="help is-danger" v-text="errors.get('section_group')"></p>
        <exp-field label="Groups">
          <exp-multiselect track-by="sectiongroup_id" @open="errors.clear('section_group')" value="sectiongroup_id" :openDirection="'top'" v-model="group" label="sectiongroup_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="groups" required>
          </exp-multiselect>
        </exp-field>
        <p class="help is-danger" v-text="errors.get('section_id')"></p>
        <div class="control has-text-centered">
            <button class="button is-primary" @click.prevent="submit_createsection($event)">Submit</button>
        </div>
    </form>
  </div>
</div>
</template>

<script>
import Bus from '@/config/eventhub.js'
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          if (path !== 'section_name') {
            return 'Please Choose At Least One'
          } else {
            return this.errors[i].message
          }
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        this.errors[i].path = ''
      }
    }
  }
}
export default {
  name: 'createsection',
  props: {
    route: Object,
    index: Number
  },
  data () {
    return {
      section_form: {
        section_name: '',
        section_category: null,
        section_area: null,
        section_group: null,
        section_json: []
      },
      errors: new Error(),
      category: {},
      area: {},
      group: {},
      categories: [],
      areas: [],
      groups: []
    }
  },
  mounted () {
    // axios.post(APIENDPOINT + 'package/categories')
    this.$htpp.post('packages/categories')
    .then(response => {
      this.categories = response.data.categories
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
    // axios.post(APIENDPOINT + 'section/areas')
    this.$htpp.post('section/areas')
    .then(response => {
      this.areas = response.data.areas
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
    // axios.post(APIENDPOINT + 'section/groups')
    this.$htpp.post('section/groups')
    .then(response => {
      this.groups = response.data.groups
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
    })
  },
  methods: {
    submit_createsection (evt) {
      evt.preventDefault(evt)
      this.section_form.section_category = this.category.category_id
      this.section_form.section_area = this.area.area_id
      this.section_form.section_group = this.group.sectiongroup_id
      this.section_form.section_json.push(JSON.parse(localStorage.getItem('dropped'))[this.index])
      // axios.post(APIENDPOINT + 'section/create', {
      //   data: {form: this.section_form, packageid: this.route.query.package},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$htpp.post('section/create', {data: {form: this.section_form, packageid: this.route.query.package}})
      .then(response => {
        if (response.data.errorflag) {
          this.errors.record(response.data.message.errors)
        } else {
          Bus.fire('submit_createsection')
          Bus.fire('reload_components')
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}

</script>
