<style lang="scss">
</style>
<template lang="html">
  <div class="gridusers">
    <div class="columns is-mobile">
      <div class="selectresult column is-2">
        <span>Showing {{search_array.paginationoffset + 1}}-{{compammount}} of {{ammountofresults}}</span>
      </div>
      <!-- <div class="newuserbutton column is-7">
        <router-link class="button has-text-info" to='/user/create' ><span class="icon"><i class="fa fa-plus"></i></span><span>New User</span></router-link>
      </div> -->
      <div class="selectresult column is-3">
        <span>Results per Page:</span>
        <select @change="pageammount($event.target.value)">
          <option  v-for="numpage in compammountofresults" :key="numpage" :value="numpage">{{numpage}}</option>
        </select>
      </div>
    </div>
      <div class="columns is-mobile">
      <div class="column is-12" style="overflow-x: auto;">
          <table class="center-table table is-fullwidth">
              <thead>
                  <tr>
                      <th>
                          <exp-field label="Firstname">
                              <exp-input type="text" id="firstname" v-model="search_data.firstname" placeholder="Firstname" @input="setSearch('firstname')"></exp-input>
                          </exp-field>
                      </th>
                      <th>
                          <exp-field label="Lastname">
                              <exp-input type="text" id="lastname" v-model="search_data.lastname" placeholder="Lastname" @input="setSearch('lastname')"></exp-input>
                          </exp-field>
                      </th>
                      <th>
                          <exp-field label="Username">
                              <exp-input type="text" id="username" v-model="search_data.username" placeholder="Username" @input="setSearch('username')"></exp-input>
                          </exp-field>
                      </th>
                      <th>
                          <exp-field label="Email">
                              <exp-input type="text" id="email" v-model="search_data.email" placeholder="Email" @input="setSearch('email')"></exp-input>
                          </exp-field>
                      </th>
                      <th>
                        <exp-field label="Role">
                                <exp-multiselect track-by="role_id" label="role_name" v-model="search_data.role" @input="setSearch('role')" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="roles">
                                </exp-multiselect>
                        </exp-field>
                      </th>
                      <th>
                        <exp-field label="Status">
                          <exp-multiselect track-by="status_id" label="status_name" v-model="search_data.status" @input="setSearch('status')" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="available_status">
                          </exp-multiselect>
                        </exp-field>
                      </th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <tr v-for="user in user_info" :key="user.user_id">
                      <td v-text="user.firstname"></td>
                      <td v-text="user.lastname"></td>
                      <td v-text="user.username"></td>
                      <td v-text="user.email"></td>
                      <td v-if="user.role" v-text="user.role.role_name"></td>
                      <td v-for="status in available_status" :key="status.status_id" v-if="user.user_status == status.status_id" v-text="status.status_name"></td>
                      <td>
                        <ul class="level-right">
                          <!-- <li class="level-item"><router-link alt="Edit User" :to="{path: '/user/update', query: {user: user.user_id}}"> -->
                          <li class="level-item"><router-link alt="Edit User" :to="{path: '/update', query: {user: user.user_id}}">
                              <span class="icon"><i class="fa fa-pencil is-size-5 has-text-success"></i></span>
                          </router-link></li>
                          <li class="level-item"><a alt="Ban User" @click="ban_user(user.user_id)">
                              <span class="icon"><i class="fa fa-ban is-size-5 has-text-danger"></i></span>
                          </a></li>
                        </ul>
                      </td>
                  </tr>
              </tbody>
          </table>
          <div class="pagination">
            <ul>
              <li><a class="button" @click="nextpage(0, 'previous')"><span><i class="fa fa-chevron-left"></i></span></a></li>
              <li v-for="page in comppaginationpages" :key="page"><a @click="nextpage($event.target.id)" class="button" :id="page">{{page}}</a></li>
              <li><a @click="nextpage(0, 'next')" class="button"><span><i class="fa fa-chevron-right"></i></span></a></li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</template>

<script>

// import axios from 'axios'
import {
    // APIENDPOINT,
    USERSTATUS_TABLE
}
from '../config/app-config'
import debounce from 'lodash/debounce'
import _ from 'lodash'

class Search {
  constructor () {
    this.search = {
      value: '',
      path: ''
    }
  }
  getpath () {
    return this.search.path
  }
  getvalue () {
    return this.search.value
  }
  set (value, path) {
    this.search.path = path
    this.search.value = value
  }
  clear () {
    delete this.search
  }
}

export default {
  name: 'gridusers',
  data () {
    return {
      user_info: [{
        user_id: '',
        firstname: '',
        lastname: '',
        username: '',
        email: '',
        role: {},
        user_status: 1
      }],
      search_data: {
        firstname: '',
        lastname: '',
        username: '',
        email: '',
        role: null,
        status: null
      },
      roles: [],
      search: new Search(),
      search_array: {
        paginationlimit: 2,
        paginationoffset: 0
      },
      available_status: USERSTATUS_TABLE,
      paginationpages: 1,
      selectedpage: 1,
      ammountofresults: 0
    }
  },
  // mounted with all available roles and count of the returned results
  mounted: function () {
    // axios.post(APIENDPOINT + 'user/roles')
    this.$http.post('users/roles')
    .then(response => {
      this.roles = response.data.roles
    }).catch(error => {
      console.error(error)
    })
    this.paginationfun().then((resolve) => {
      // axios({
      //   data: this.search_array,
      //   method: 'post',
      //   url: APIENDPOINT + 'user/gridview'
      // })
      this.$http.post('users/gridview', this.search_array)
      .then(response => {
        this.user_info = response.data.users.rows
        this.ammountofresults = (response.data.users.count)
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    })
  },
  methods: {
    // Set attributes of the search object based on the input id
    setSearch: debounce(function (path) {
      switch (path) {
        case 'firstname':
          this.search.set(this.search_data.firstname, path)
          break
        case 'lastname':
          this.search.set(this.search_data.lastname, path)
          break
        case 'username':
          this.search.set(this.search_data.username, path)
          break
        case 'email':
          this.search.set(this.search_data.email, path)
          break
        case 'role':
          if (this.search_data.role === null) {
            this.search_data.role = {role_id: undefined}
          }
          this.search.set(this.search_data.role.role_id, path)
          break
        case 'status':
          if (this.search_data.status === null) {
            this.search_data.status = {status_id: undefined}
          }
          this.search.set(this.search_data.status.status_id, path)
          break
        default:
      }
      this.search_array[this.search.getpath()] = this.search.getvalue()
      this.paginationfun().then((resolve) => {
        // axios({
        //   data: this.search_array,
        //   method: 'post',
        //   url: APIENDPOINT + 'user/gridview'
        // })
        this.$http.post('users/gridview', this.search_array)
        .then(response => {
          this.user_info = response.data.users.rows
          this.ammountofresults = response.data.users.count
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
        })
      })
    }, 500),
    // method called when one of the pagination button called
    nextpage (page, button) {
      let flag = true
      if (button === 'previous') {
        page = (this.selectedpage - 1)
        if (page < 1) {
          page = this.selectedpage
          flag = false
        }
      } else if (button === 'next') {
        page = (this.selectedpage + 1)
        if (page > this.paginationpages) {
          page = this.selectedpage
          flag = false
        }
      }
      if (parseInt(page) > this.selectedpage) {
        this.search_array.paginationoffset = (this.search_array.paginationlimit * (parseInt(page) - 1))
        this.selectedpage = parseInt(page)
      } else {
        this.search_array.paginationoffset = (this.search_array.paginationoffset) - (this.search_array.paginationlimit * (this.selectedpage - page))
        this.selectedpage = parseInt(page)
      }
      if (flag) {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'user/gridview',
        //   data: this.search_array
        // })
        this.$http.post('users/gridview', this.search_array)
        .then(response => {
          this.user_info = response.data.users.rows
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      }
    },
    // method return promise with the count of the results
    paginationfun () {
      return new Promise((resolve, reject) => {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'user/gridview',
        //   data: this.search_array
        // })
        this.$http.post('users/gridview', this.search_array)
        .then(response => {
          let allusers = response.data.users.count
          let mod = (allusers % this.paginationpages)
          if (mod > 0) {
            this.search_array.paginationlimit = ((allusers - mod) / this.paginationpages)
            this.paginationpages += 1
          } else if (mod === this.paginationpages || mod === 0) {
            this.search_array.paginationlimit = allusers
            this.paginationpages = 1
          } else {
            this.search_array.paginationlimit = (allusers / this.paginationpages)
          }
          resolve()
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
        })
      })
    },
    // method called when one of the dropdown choices selected
    pageammount (results) {
      this.search_array.paginationoffset = 0
      this.search_array.paginationlimit = parseInt(results)
      this.paginationpages = Math.ceil(this.ammountofresults / parseInt(results))
      this.selectedpage = 1
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'user/gridview',
      //   data: this.search_array
      // })
      this.$http.post('users/gridview', this.search_array)
      .then(response => {
        this.user_info = response.data.users.rows
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    // method called when times red action clicked and change user status to inactive
    ban_user (userid) {
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'user/banuser',
      //   data: {userid: userid}
      // })
      this.$http.post('users/banuser', {userid: userid})
      .then(response => {
        if (response.data.errorflag) {
          this.$swal('Error', response.data.message, 'error')
        } else {
          this.$swal('Great job', response.data.message, 'success')
          this.user_info[_.findIndex(this.user_info, {'user_id': userid})].user_status = 0
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  },
  computed: {
    comppaginationpages: function () {
      return parseInt(this.paginationpages)
    },
    compammountofresults: function () {
      let temparray = []
      for (var i = 0; i < this.ammountofresults; i++) {
        temparray.push((this.ammountofresults - i))
      }
      return temparray
    },
    compammount: function () {
      let returnval = (this.search_array.paginationlimit * this.selectedpage)
      if (returnval <= this.ammountofresults) {
        return returnval
      } else {
        return this.ammountofresults
      }
    }
  }
}
</script>
