<style lang="scss">
</style>
<template lang="html">
  <div class="gridpages">
    <div class="columns">
      <div class="column is-offset-7">
        <a class="button" @click="switchview()">
          <span v-if="compswitch" class="has-text-info"><span>Pages</span><span class="icon"><i class="fa fa-lock"></i></span></span>
          <span v-else class="has-text-danger"><span>Edit Pages</span><span class="icon"><i class="fa fa-unlock"></i></span></span>
        </a>
        <router-link :to="{path: '/packages/modules', query: {package: $route.query.package}}" class="button has-text-info"><span class="icon"><i class="fa fa-arrow-left"></i></span><span>Back</span></router-link>
      </div>
    </div>
    <!-- Add and ReOrder Modules -->
    <div v-if="!compswitch" class="columns is-mobile">
      <div class="newpageinput column is-half is-offset-3">
        <exp-field>
            <exp-input type="text" v-model="page_name" id="page_name" placeholder="Page Name"></exp-input>
            <a class="button is-success" @click="add_page(page_name)">
              <span class="icon is-small">
                <i class="fa fa-plus"></i>
              </span>
            <span>Add</span>
            </a>
            <div class="file">
              <label class="file-label">
                <input  @change="uploadtxt()" class="file-input" type="file" id="txtfileinput">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload Pages Text
                    </span>
                  </span>
              </label>
            </div>
        </exp-field>
        <div v-if="showsavebutton">
        <a class="savepages button is-success" @click="save_pages()">
          <span class="icon is-small">
            <i class="fa fa-check"></i>
          </span>
        <span>Save</span>
        </a>
        <span style="marginTop:5px; marginLeft:5px;" class="needsaveformat">Save your changes</span>
      </div>
    </div>
  </div>
    <!--  -->
    <!-- Pagination -->
    <div v-if="compswitch" class="columns is-mobile">
      <div class="selectresult column is-3 is-offset-3">
        <span>Showing {{paginationoffset + 1}}-{{compammount}} of {{ammountofresults}}</span>
      </div>
      <div class="selectresult column is-3">
        <span>Results per Page:</span>
        <select @change="pageammount($event.target.value)">
          <option  v-for="numpage in compammountofresults" :key="numpage" :value="numpage">{{numpage}}</option>
        </select>
      </div>
    </div>
    <!--  -->
    <div class="columns is-mobile">
      <div class="column is-6 is-offset-3">
        <table v-if="pages.length > 0" class="table">
          <thead>
            <tr>
              <th><exp-field label="Page Name"></exp-field></th>
              <th><exp-field label="Modified"></exp-field></th>
              <th v-if="!compswitch"><exp-field label="Module"></exp-field></th>
              <th><exp-field label="Page Order"></exp-field></th>
              <th><exp-field label="Actions"></exp-field></th>
            </tr>
          </thead>
          <draggable :list="pages" :element="'tbody'" :options="{disabled: switchflag, scroll: true}" @end="rearrange()">
            <tr :class="[page.page_id ? '': 'newitemformat']" v-for="(page, pageindex) in pages" :key="page.page_order">
            <td>
              <exp-field v-if="page.editview && page.page_id" label="Page Name">
                  <exp-input type="text" id="pagename" v-model="page.page_name" placeholder="Page Name"></exp-input>
              </exp-field>
              <a v-if="!page.editview  && page.cusername" @click="loadPage(page.page_id)" class="level-item">{{page.page_name}}</a>
              <span v-if="!page.cusername">{{page.page_name}}</span>
            </td>
            <td>
              <p v-if="page.cusername"><p><span class="valueformat"><span class="keyformat">created by</span> {{ page.cusername }}</span></p>
              <p><span class="valueformat"><span class="keyformat">on </span>{{ todateformat_date(page.createdAt) }}</span></p>
              <p><span class="valueformat"><span class="keyformat">modified by</span> {{ page.musername }}</span></p>
              <p><span class="valueformat"><span class="keyformat">on </span>{{ todateformat_date(page.updatedAt) }}</span></p></p>
              <p v-if="!page.cusername"><span class="needsaveformat"> Module not saved yet</span><p class="help is-danger" v-text="page_name"></p></p>
            </td>
            <td v-if="!compswitch">
              <exp-multiselect  track-by="module_id" label="module_name" @input="changemodule(pageindex)" v-model="page.pagemodule" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="availablemodules"></exp-multiselect>
            </td>
            <td v-text="page.page_order"></td>
            <td>
              <ul class="level-right">
                <li class="level-item"><a v-if="!page.editview  && page.username" @click="loadPage(page.page_id)" class="level-item"><span class="icon"><i class="fa fa-eye has-text-info is-size-5"></i></span></a></li>
                <li class="level-item"><a v-if="page.page_id" alt="Edit Name" @click="[page.editview= !(page.editview), save_pagename(page.editview, page.page_id, page.page_name)]"><span class="icon"><i :class="['is-size-5 fa', page.editview ? 'fa-floppy-o has-text-info': 'fa-pencil has-text-success']"></i></span></a></li>
                <li class="level-item"><a v-if="page.page_id" alt="Delete Page" @click="delete_pages(page.page_id, page.page_name)" ><span class="icon has-text-danger"><i class="is-size-5 fa fa-times"></i></span></a></li>
              </ul>
            </td>
            </tr>
          </draggable>
      </table>
      <div v-if="compswitch" class="pagination">
        <ul>
          <li><a class="button" @click="nextpage(0, 'previous')"><span><i class="fa fa-chevron-left"></i></span></a></li>
          <li v-for="page in comppaginationpages" :key="page"><a @click="nextpage($event.target.id)" class="button" :id="page">{{page}}</a></li>
          <li><a @click="nextpage(0, 'next')" class="button"><span><i class="fa fa-chevron-right"></i></span></a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
import _ from 'lodash'
// import {APIENDPOINT} from '@/config/app-config'
import GlobalMixins from './utils/GlobalMixins'
export default {
  name: 'gridpages',
  mixins: [GlobalMixins],
  data () {
    return {
      pages: [],
      availablemodules: [],
      page_name: null,
      paginationlimit: 2,
      paginationoffset: 0,
      paginationpages: 1,
      selectedpage: 1,
      ammountofresults: 0,
      paginationflag: false,
      switchflag: true,
      showsavebutton: false,
      showsavemodulebutton: false
    }
  },
  mounted: function () {
    this.paginationfun().then((resolve) => {
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'page/pages',
      //   data: {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('pages/pages', {
        id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset}
      )
      .then(response => {
        console.log('response', response)
        for (var i = 0; i < response.data.pages.length; i++) {
          this.pages.push({page_id: response.data.pages[i].page_id, page_name: response.data.pages[i].page_name, page_order: response.data.pages[i].page_order, updatedAt: response.data.pages[i].updatedAt, createdAt: response.data.pages[i].createdAt, editview: false, cusername: response.data.pages[i].page_createdby.username, musername: response.data.pages[i].page_modifiedby.username, digi_activity_id: response.data.pages[i].digi_activity_id, digi_activity_name: response.data.pages[i].digi_activity_name, digi_module_id: response.data.pages[i].digi_module_id, digi_module_name: response.data.pages[i].digi_module_name, digi_skilltype_id: response.data.pages[i].digi_skilltype_id})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
      // axios({
      //   method: 'get',
      //   url: APIENDPOINT + 'module/find/' + this.$route.query.package,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.get('module/find/' + this.$route.query.package)
      .then(response => {
        _.forEach(response.data.module, (value) => {
          this.availablemodules.push({module_name: value.module_name, module_id: value.module_id})
        })
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    })
  },
  methods: {
    /**
     * re arrange visible page orders and show save button
     */
    rearrange () {
      this.pages.forEach(function (item, index) {
        item.page_order = index + 1
      })
      this.showsavebutton = true
    },
    /**
     * load builder vue
     * @param  {[type]} pageid [description]
     * @return {[type]}        [description]
     */
    loadPage (pageid) {
      this.$router.push({
        path: '/builder/',
        query: {
          package: this.$route.query.package,
          module: this.$route.query.module,
          page: pageid
        }
      })
    },
    /**
     * add new page to pages array with the max order
     */
    add_page (pagename) {
      this.showsavebutton = true
      let maxorder = 0
      for (var i = 0; i < this.pages.length; i++) {
        if (this.pages[i].page_order > maxorder) {
          maxorder = this.pages[i].page_order
        }
      }
      this.pages.unshift({ page_order: maxorder + 1, page_name: pagename, module_id: this.$route.query.module })
      this.page_name = null
    },
    changemodule (index) {
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'page/updatemodule',
      //   data: {module_id: this.pages[index].pagemodule.module_id, page_id: this.pages[index].page_id},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('pages/updatemodule', {module_id: this.pages[index].pagemodule.module_id, page_id: this.pages[index].page_id})
      .then(response => {
        if (response.data.errorflag) {
          this.$swal('Error Occurred!', 'Module Update Error', 'error')
        } else {
          this.pages.splice(index, 1)
          this.rearrange()
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    /**
     * disable save button
     * resolve save promise
     * then resolve paginationfun promise
     * retrieve pages from server with pagination
     *
     */
    save_pages () {
      this.showsavebutton = false
      this.savepromise().then((resolve) => {
        this.paginationfun().then((resolve) => {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'page/pages',
          //   data: {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('pages/pages', {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
          .then(response => {
            this.pages = []
            for (var i = 0; i < response.data.pages.length; i++) {
              this.pages.push({page_id: response.data.pages[i].page_id, page_name: response.data.pages[i].page_name, page_order: response.data.pages[i].page_order, updatedAt: response.data.pages[i].updatedAt, createdAt: response.data.pages[i].createdAt, editview: false, cusername: response.data.pages[i].page_createdby.username, musername: response.data.pages[i].page_modifiedby.username, digi_activity_id: response.data.pages[i].digi_activity_id, digi_activity_name: response.data.pages[i].digi_activity_name, digi_module_id: response.data.pages[i].digi_module_id, digi_module_name: response.data.pages[i].digi_module_name, digi_skilltype_id: response.data.pages[i].digi_skilltype_id})
            }
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
        })
      }).catch(error => {
        if (error.response === undefined) {
          this.$swal('Error Occurred!', error, 'error')
          this.pages = _.remove(this.pages, (value) => {
            return value.page_id !== undefined
          })
        } else if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    },
    /**
     * update the page with new page name
     * @param  {[boolean]} flag     [flag to determine if is edit or save page]
     * @param  {[integer]} pageid   [page id, for page_name update]
     * @param  {[string]} pagename [updated page name]
     */
    save_pagename (flag, pageid, pagename) {
      if (!flag) {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'page/update',
        //   data: {page_name: pagename, page_id: pageid},
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('pages/update', {page_name: pagename, page_id: pageid})
        .then(response => {
          if (response.data.errorflag) {
            this.$swal('Error Occurred!', response.data.message, 'error')
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      }
    },
    /**
     * delete page
     * @param  {[integer]} pageid   [page id to delete this page]
     * @param  {[string]} pagename [page name to remove the page from pages array]
     */
    delete_pages (pageid, pagename) {
      this.$swal({
        title: 'Delete Page',
        text: 'Are you sure you wanna remove this page?',
        icon: 'warning',
        dangerMode: true,
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Yes, Delete it!'
      }).then((flag) => {
        if (flag.value === true) {
          this.deletepromise(pageid).then((resolve) => {
            this.pages.splice(_.findIndex(this.pages, {page_name: pagename}), 1)
            this.rearrange()
          }).catch((reject) => {
            try {
              this.$swal('Error Occurred!', reject, 'error')
            } catch (error) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support' + reject.toString(), 'error')
            }
          })
        }
      })
    },
    /**
     * method called when press one of the pagination buttons [previous, next, page number]
     * @param  {[integer]} page   [page number]
     * @param  {[string]} button [next or previous]
     */
    nextpage (page, button) {
      let flag = true
      if (button === 'previous') {
        page = (this.selectedpage - 1)
        if (page < 1) {
          page = this.selectedpage
          flag = false
        }
      } else if (button === 'next') {
        page = (this.selectedpage + 1)
        if (page > this.paginationpages) {
          page = this.selectedpage
          flag = false
        }
      }
      if (page > this.selectedpage) {
        this.paginationoffset += this.paginationlimit
        this.selectedpage = parseInt(page)
      } else {
        this.paginationoffset = (this.paginationoffset) - (this.paginationlimit * (this.selectedpage - page))
        this.selectedpage = parseInt(page)
      }
      if (flag) {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'page/pages',
        //   data: {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset}
        // })
        this.$http.post('pages/pages', {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
        .then(response => {
          this.pages = []
          for (var i = 0; i < response.data.pages.length; i++) {
            this.pages.push({page_id: response.data.pages[i].page_id, page_name: response.data.pages[i].page_name, page_order: response.data.pages[i].page_order, updatedAt: response.data.pages[i].updatedAt, createdAt: response.data.pages[i].createdAt, editview: false, cusername: response.data.pages[i].page_createdby.username, musername: response.data.pages[i].page_modifiedby.username, digi_activity_id: response.data.pages[i].digi_activity_id, digi_activity_name: response.data.pages[i].digi_activity_name, digi_module_id: response.data.pages[i].digi_module_id, digi_module_name: response.data.pages[i].digi_module_name, digi_skilltype_id: response.data.pages[i].digi_skilltype_id})
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      }
    },
    /**
     * [method called when click one of the dropdown results per page]
     * @param  {[integer]} results [description]
     */
    pageammount (results) {
      this.paginationoffset = 0
      this.paginationlimit = parseInt(results)
      this.paginationpages = Math.ceil(this.ammountofresults / parseInt(results))
      this.selectedpage = 1
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'page/pages',
      //   data: {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset}
      // })
      this.$http.post('pages/pages', {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
      .then(response => {
        this.pages = []
        for (var i = 0; i < response.data.pages.length; i++) {
          this.pages.push({page_id: response.data.pages[i].page_id, page_name: response.data.pages[i].page_name, page_order: response.data.pages[i].page_order, updatedAt: response.data.pages[i].updatedAt, createdAt: response.data.pages[i].createdAt, editview: false, cusername: response.data.pages[i].page_createdby.username, musername: response.data.pages[i].page_modifiedby.username, digi_activity_id: response.data.pages[i].digi_activity_id, digi_activity_name: response.data.pages[i].digi_activity_name, digi_module_id: response.data.pages[i].digi_module_id, digi_module_name: response.data.pages[i].digi_module_name, digi_skilltype_id: response.data.pages[i].digi_skilltype_id})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
        console.error(error)
      })
    },
    /**
     * method that return Promise with the count of results
     * @return {[promise]} [description]
     */
    paginationfun () {
      return new Promise((resolve, reject) => {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'page/count',
        //   data: {id: this.$route.query.module},
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('pages/count', {id: this.$route.query.module})
        .then(response => {
          this.paginationlimit = (response.data.count)
          this.ammountofresults = (response.data.count)
          resolve()
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      })
    },
    /**
     * method return promise to delete page from db
     * @param  {[integer]} pageid [page id]
     * @return {[promise]}        [description]
     */
    deletepromise (pageid) {
      return new Promise((resolve, reject) => {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'page/delete',
        //   data: {id: pageid},
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('pages/delete', {id: pageid})
        .then(response => {
          if (response.data.errorflag) {
            reject(response.data.message)
          } else {
            this.$swal('Success', response.data.message, 'success')
            resolve()
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
          reject(error)
        })
      })
    },
    /**
     * method return promise to save pages re order changes and new pages
     * @return {[promise]} [description]
     */
    savepromise () {
      return new Promise((resolve, reject) => {
        var jsondata = JSON.stringify(this.pages)
        // var jsondata = this.pages
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'page/insert',
        //   data: jsondata,
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('pages/insert', jsondata)
        .then(response => {
          if (response.data.errorflag) {
            reject(response.data.message)
          } else {
            this.$swal('Success', response.data.message, 'success')
            resolve()
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
          reject(new Error(error))
        })
      })
    },
    /**
     * method called when user click switcher between Add and Reorder pages view and pagination view
     * @return {[type]} [description]
     */
    switchview () {
      this.switchflag = !(this.switchflag)
      this.showsavebutton = false
      if (!this.switchflag) {
        this.paginationfun().then((resolve) => {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'page/pages',
          //   data: {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('pages/pages', {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
          .then(response => {
            this.pages = []
            for (var i = 0; i < response.data.pages.length; i++) {
              this.pages.push({page_id: response.data.pages[i].page_id, page_name: response.data.pages[i].page_name, pagemodule: {module_id: response.data.pages[i].modules[0].module_id, module_name: response.data.pages[i].modules[0].module_name}, page_order: response.data.pages[i].page_order, updatedAt: response.data.pages[i].updatedAt, createdAt: response.data.pages[i].createdAt, editview: false, cusername: response.data.pages[i].page_createdby.username, musername: response.data.pages[i].page_modifiedby.username, digi_activity_id: response.data.pages[i].digi_activity_id, digi_activity_name: response.data.pages[i].digi_activity_name, digi_module_id: response.data.pages[i].digi_module_id, digi_module_name: response.data.pages[i].digi_module_name, digi_skilltype_id: response.data.pages[i].digi_skilltype_id})
            }
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
        })
      } else {
        this.paginationpages = 1
        this.selectedpage = 1
        this.paginationfun().then((resolve) => {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'page/pages',
          //   data: {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
        })
        this.$http.post('pages/pages', {id: this.$route.query.module, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset}
        )
          .then(response => {
            this.pages = []
            for (var i = 0; i < response.data.pages.length; i++) {
              this.pages.push({page_id: response.data.pages[i].page_id, page_name: response.data.pages[i].page_name, page_order: response.data.pages[i].page_order, updatedAt: response.data.pages[i].updatedAt, createdAt: response.data.pages[i].createdAt, editview: false, cusername: response.data.pages[i].page_createdby.username, musername: response.data.pages[i].page_modifiedby.username, digi_activity_id: response.data.pages[i].digi_activity_id, digi_activity_name: response.data.pages[i].digi_activity_name, digi_module_id: response.data.pages[i].digi_module_id, digi_module_name: response.data.pages[i].digi_module_name, digi_skilltype_id: response.data.pages[i].digi_skilltype_id})
            }
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
      }
    }
  },
  uploadtxt () {
    let input = null
    if (typeof window.FileReader !== 'function') {
      bodyAppend('p', "The file API isn't supported on this browser yet.")
      return
    }
    input = document.getElementById('txtfileinput')
    if (!input) {
      bodyAppend('p', "Um, couldn't find the fileinput element.")
    } else if (!input.files) {
      bodyAppend('p', "This browser doesn't seem to support the `files` property of file inputs.")
    } else if (!input.files[0]) {
      bodyAppend('p', "Please select a file before clicking 'Load'")
    } else {
      let file = input.files[0]
      let fr = new FileReader()
      fr.onload = () => {
        let temparray = fr.result.split(',')
        for (var i = 0; i < temparray.length; i++) {
          temparray[i] = temparray[i].trim()
          this.add_page(temparray[i])
        }
        file = null
      }
      fr.readAsText(file)
    }
  },
  computed: {
    // compute pagination pages
    comppaginationpages: function () {
      return parseInt(this.paginationpages)
    },
    // compute the available drop down results per pages
    // all results to one page - one result per page
    compammountofresults: function () {
      let temparray = []
      for (var i = 0; i < this.ammountofresults; i++) {
        temparray.push((this.ammountofresults - i))
      }
      return temparray
    },
    // compute the showing pagination text
    compammount: function () {
      let returnval = (this.paginationlimit * this.selectedpage)
      if (returnval <= this.ammountofresults) {
        return returnval
      } else {
        return this.ammountofresults
      }
    },
    // compute to change the flag between switch views
    compswitch: function () {
      return this.switchflag
    }
  },
  watch: {
    module_array: function () {
      this.paginationflag = true
    }
  }
}

</script>
