<style lang="scss">
.myiframe{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 1100px;
  height: 768px;
  border: 0;
}
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="column is-6">
    <exp-field label="Modules">
            <exp-multiselect track-by="index" label="name" @input="setmodule()" v-model="currentmodule" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="this.modules">
            </exp-multiselect>
    </exp-field>
  </div>
  <div class="column is-6">
    <exp-field label="Activities">
            <exp-multiselect track-by="digi_activity_id" label="digi_activity_name" @input="setactivity()" v-model="currentpage" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :options="this.pages">
            </exp-multiselect>
    </exp-field>
  </div>
  <div class="column is-10 is-offset-2" style="position: relative; text-align: center;">
    <iframe id="dist" :src="APIENDPOINT + 'viewpackage/packageiframe/' + $route.query.package" class="myiframe"></iframe>
  </div>
</div>
</template>

<script>
import {APIENDPOINT} from '../config/app-config'

// function bindEvent (element, eventName, eventHandler) {
//   if (element.addEventListener) {
//     element.addEventListener(eventName, eventHandler, false)
//   } else if (element.attachEvent) {
//     element.attachEvent('on' + eventName, eventHandler)
//   }
// }

export default {
  name: 'testview',
  data () {
    return {
      APIENDPOINT: APIENDPOINT,
      modules: [],
      pages: [],
      message: null,
      toc: null,
      currentpage: null,
      currentmodule: null
    }
  },
  mounted () {
    this.$nextTick(() => {
      document.getElementById('dist').onload = () => {
        let payload = {
          action: 'fireEvent',
          eventType: 'read'
        }
        document.getElementById('dist').contentWindow.postMessage(JSON.stringify(
          payload
        ), '*')
      }
    })
    this.bindEvent(window, 'message', (obj) => {
      if (typeof obj.data === 'string') {
        this.message = JSON.parse(obj.data)
        if (this.message.action === 'setToc') {
          this.toc = this.message.toc
          this.modules = []
          for (var i = 0; i < this.toc.length; i++) {
            this.modules.push({index: i, name: Object.keys(this.toc[i])[0]})
          }
        }
      }
    })
  },
  methods: {
    bindEvent (element, eventName, eventHandler) {
      if (element.addEventListener) {
        element.addEventListener(eventName, eventHandler, false)
      } else if (element.attachEvent) {
        element.attachEvent('on' + eventName, eventHandler)
      }
    },
    setactivity () {
      let activity = {
        action: 'fireEvent', eventType: 'read', activities: [this.currentpage.digi_activity_id]
      }
      document.getElementById('dist').contentWindow.postMessage(JSON.stringify(
        activity
      ), '*')
    },
    setmodule () {
      this.pages = []
      this.pages = this.toc[this.currentmodule.index][this.currentmodule.name].slice()
    }
  }
}

</script>
