<style lang="scss">
.wordsarray {
  height: 340px;
  overflow-y: scroll;
}
.clickword {
  text-decoration: none;
  color: black;
}
.undelineword {
  text-decoration: underline;
  text-decoration-color: red;
}
.highlightword {
  background-color: red;
  text-decoration: underline;
  text-decoration-color: red;
}
.progress::-webkit-progress-value {
  transition: width 0.25s linear;
}
.visiblehidden {
  display: none;
}
.center_column_flex {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.center_column_flex_start {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.center_row_flex_start {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}
.center_row_flex_center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.center_row_flex {
  display: flex;
  flex-flow: row wrap;
  // justify-content: space-around;
  justify-content: flex-start;
  align-items: flex-start;
  // align-content: center;
}
.evenly_row_flex {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
.center_row_nowrap {
  overflow-x: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
}
.active {
  background-color: yellow;
}
.normaltext {
  transition: all 1s;
  color: black;
  display: inline-block;
  margin-right: 5px;
}
.activetext {
  color: red;
  margin-right: 5px;
}
.max_width {
  min-width: fit-content;
  max-width: 40%;
}
.nobordertop {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.noradius {
  border-radius: 0;
}
.mybox {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 0.5em 0.8em;
}
.color-enter {
  background-position: 0%;
}
.color-enter-active {
  transition: background-position 2s linear;
}
.segmenttext {
  text-decoration: none;
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to right, red, red 50%, black 50%);
  background-size: 200% 100%;
  background-position: 0%;
  margin-right: 5px;
}
.slide-left-enter-active {
  transition: all 0.3s ease-in;
}
.slide-left-leave-active {
  transition: all 0.2s ease-out;
}
.slide-left-enter,
.slide-left-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
.slide-left-move {
  transition: transform 0.3s;
}
.fade-enter-active {
  transition: all 0.3s ease-in;
}
.fade-leave-active {
  transition: all 0.2s ease-out;
}
.fade-enter,
.fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}
// .fade-move {
//   transition: transform 0.6s;
// }
.activetab {
  background-color: rgb(228, 228, 228);
  font-weight: 700;
}
.inactivetab {
  opacity: 0.6;
  color: grey;
}
.audiocontent {
  // max-height: 600px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.audiomenu {
  display: inline-block;
  max-height: 100vh;
  .navitem:hover {
    background-color: rgb(212, 212, 212);
    opacity: 1;
  }
  .navitem:active {
    background-color: rgb(119, 119, 119);
  }
  border-right: 1px solid black;
  .navitem {
    cursor: pointer;
    height: 78px;
  }
}
.audiomenuburger {
  cursor: pointer;
  margin-bottom: 10px;
  .bar1,
  .bar2,
  .bar3 {
    width: 1.5rem;
    height: 4px;
    background-color: #333;
    margin: 3px 0;
    transition: 0.4s;
  }
}
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 7px);
}
.change .bar2 {
  opacity: 1;
  width: 0px;
  transform: translate(3px);
}
.change .bar3 {
  transform: rotate(45deg) translate(-7px, -7px);
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
.move{
  position: absolute;
  top:-2000px
}
</style>

<template lang="html">
<div class="columns is-multiline">
  <!-- <pre>{{$data}}</pre> -->
  <!-- <audio id="peaks-audio" controls="controls" :src="src_url" type="audio/mpeg">
  </audio> -->
  <div id="peaks-container" class="peaks column is-12" style=""></div>
    <audio id="karaoke" class="" :src="src_url" type="audio/mpeg" >
    </audio>
    <div v-if="p!==null" style="" class="column is-12 center_row_flex">
      <div class="  field has-addons center_row_flex">
        <p class="control"><a  :disabled="bigwordscounter==0||currenttab!=2" class="button  is-primary " :class="[bigwordscounter==0||currenttab!=2?'notavailable':'']" @click="addPeaksSegment()">Add Segment</a></p>
        <p v-show="!playing" class="control"><a class="button  is-success " @click="start()"><i class="fa fa-play"></i>Play</a></p>
        <p v-show="playing" class="control"><a class="button  is-info " @click="pause()"><i class="fa fa-pause"></i>Pause</a></p>
        <p class="control"><a class="button  is-danger " @click="stop()"><i class="fa fa-square"></i>Stop</a></p>
      </div>
      <div class=" field has-addons">
        <p  class="control"><a :disabled="p.zoom.getZoom()==0" class="button has-text-info" @click="zoom()"><i class="fa fa-search-plus"></i></a></p>
        <p class="control"><a :disabled="p.zoom.getZoom()==5" class="button has-text-danger" @click="unzoom()"><i class="fa fa-search-minus"></i></a></p>
      </div>
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Go-to time
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Enter time..." v-model.number="goToTime" >
        </p>
      </div>
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Tempo
          </a>
        </p>
        <p class="control">
          <input class="input" min='0.5' max="1.5" step="0.1" type="number" @input="changeTempo(tempo)"  v-model="tempo" >
        </p>
      </div>
    </div>

    <div class="columns column is-12">
      <nav :class="['column audiomenu ', expandMenu  ? 'is-3' : 'is-1' ]">
        <div class="audiomenuburger center_column_flex" @click="expandMenu = !expandMenu" :class="{ change: expandMenu }">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <p @click="currenttab=1; "  :class="['navitem control center_column_flex', currenttab === 1 ? 'activetab' : 'inactivetab' ]">
          <a class=" has-text-black center_row_flex_start"  >
            <span class="icon ">
              <i class="fa-lg fa fa-edit"></i>
            </span>
            <transition name="slide-left">
            <p v-show="expandMenu">
            Edit Text
            </p>
            </transition>
          </a>
        </p>
        <p @click="currenttab=2; "  :class="['navitem control center_column_flex', currenttab === 2 ? 'activetab' : 'inactivetab' ]">
          <a class=" has-text-black center_row_flex_start" >
            <span class="icon ">
              <i class="fa-lg fa fa-music"></i>
            </span>
            <transition name="slide-left">
            <p v-show="expandMenu">
            Edit Segments
            </p>
            </transition>
          </a>
        </p>
        <!-- <p @click="goBack()"  :class="['navitem control center_column_flex']">
          <a class=" has-text-black center_row_flex_start" >
            <span class="icon ">
              <i class="fa-lg fa fa-home"></i>
            </span>
            <transition name="slide-left">
            <p v-show="expandMenu">
            Go back without saving
            </p>
            </transition>
          </a>textarea
        </p> -->
        <textarea class="move" id="copy" ></textarea>
        <p @click="savetoXML()"  :class="['navitem control center_column_flex']">
          <!-- <a onclick="createAndOpenFile()" download="file.xml">Donwload</a> -->
          <a  class=" has-text-black center_row_flex_start">
            <span class="icon ">
              <i class="fa-lg fa fa-file"></i>
            </span>
            <transition name="slide-left">
            <p v-show="expandMenu">
            Save to XML file
            </p>
            </transition>
          </a>
        </p>
        <p @click="savetojson()"  :class="['navitem control center_column_flex']">
          <a class=" has-text-black center_row_flex_start" >
            <span class="icon ">
              <i class="fa-lg fa fa-save"></i>
            </span>
            <transition name="slide-left">
            <p v-show="expandMenu">
            Save changes and go back
            </p>
            </transition>
          </a>
        </p>
      </nav>
      <div class="audiocontent column center_row_flex ">
        <div v-show="currenttab==1&&parsingphase=='text'" class="column is-full">
          <div class="">
            <textarea class="textarea is-info noradius" placeholder="Enter text..."  v-model="textToParse"></textarea>
          </div>
          <p class="center_column_flex">
            <a class="button nobordertop is-info column is-12 center_column_flex" :disabled="textToParse.length==0||textToParse==''" :class="[ textToParse.length==0||textToParse=='' ? 'notavailable' : '' ]" @click="parseText(textToParse)">
                <span class="">Parse</span>
            </a>
          </p>
        </div>
        <div v-show="currenttab==1&&parsingphase=='join'" class="column is-full">
          <div class="center_row_flex_center">
            <div class="center_row_flex_center  card max_width field has-addons" style="margin:0 0;justify-content:center;"   v-for="(word, index) in splitText" :key="index">
              <p class="control">
                  <a class=" button is-small " :disabled="index==0" :class="[ index==0 ? 'notavailable' : '' ]" @click="mergeWord('left',word,index)"><i class="fa fa-arrow-left"></i></a>
              </p>
              <p class="control">
                <a class=" button is-small is-static notavailable" style="font-weight:bold;">
                  {{word}}
                </a>
              </p>
              <p class="control">
                <a class=" button is-small " :disabled="index==splitText.length-1" :class="[ index==splitText.length-1 ? 'notavailable' : '' ]" @click="mergeWord('right',word,index)"><i class="fa fa-arrow-right"></i></a>
              </p>
            </div>
          </div>
          <div class=" center_row_flex column is-full" >
            <a class="button center_column_flex is-info column is-half"  @click="parsingphase='text'">
                <span class="">Back</span>
            </a>
            <a class="button center_column_flex is-primary column is-half"  @click="createSegments()">
                <span class="">Create segments</span>
            </a>
          </div>
        </div>
        <div v-if="p!==null&&currenttab==2 &&currentSegment===null" class="column is-full">
          <transition name="fade">
            <!-- <transition-group name="fade" :class="[ bigwordscounter>0 ? 'center_row_nowrap' : 'center_row_flex']"> -->
            <transition-group name="fade" >
              <div v-show="currentSegment==null" class="mybox max_width" :class="[ current_time >= segment.startTime && current_time!==null && segment.startTime!==null ? 'active' : '',(segment.labelText.length<4||pool.includes(segment.id))&&bigwordscounter>0?'hide':'show']"  v-for="(segment, index) in segments" :key="segment.id">
                <header  class="card-header">
                  <p class="card-header-title">
                    <a class=" button" :class="[segment.startTime==null ? 'notavailable' : '' ]" @click="seekTime(segment.startTime)">
                      <span class="">
                          {{segment.labelText}}
                        </span>
                    </a>
                  </p>
                  <a class="card-header-icon" >
                    <div class=" field has-addons">
                      <p class="control">
                      <a class=" button is-small " :disabled="index==0||segment.startTime==null" :class="[ index==0||segment.startTime==null ? 'notavailable' : '' ]" @click="mergeSegment('left',segment)"><i class="fa fa-arrow-left"></i></a>
                      </p>
                      <p class="control">
                      <a class=" button is-small is-info" :disabled="segment.startTime==null" @click="showSegment(segment)"><i class="fa fa-wrench"></i></a>
                      </p>
                      <p class="control">
                      <a class="button is-small is-success " :disabled="segment.startTime==null" @click="p.player.playSegment(segment)"><i class="fa fa-play"></i></a>
                      </p>
                      <p class="control">
                      <a class="button is-small is-danger " :disabled="segment.startTime==null" @click="p.segments.removeById(segment.id);deleteSegment(segment)"><i class="fa fa-trash"></i></a>
                      </p>
                      <p class="control">
                      <a class=" button is-small " :disabled="index==segments.length-1||segment.startTime==null" :class="[ index==segments.length-1||segment.startTime==null ? 'notavailable' : '' ]" @click="mergeSegment('right',segment)"><i class="fa fa-arrow-right"></i></a>
                      </p>
                    </div>
                  </a>
                </header>
              </div>
            </transition-group>
          </transition>
        </div>

        <transition name="slide-left">
          <div v-if="currentSegment!==null&&currenttab==2"  style="align-self:flex-start;">
            <div class="column card">
              <header class="card-header">
                <p class="card-header-title">
                  {{currentSegment.labelText}}
                </p>
                <a class="card-header-icon is-small button is-info" @click="hideEditable(currentSegment.id)">Back</a>
              </header>
              <div class="card-content">
                  <nav class="level">
                    <div class="level-item has-text-centered">
                      <div class=" field has-addons">
                          <p class="control">
                          <a class="button is-static">
                              <span>Starting point</span>
                          </a>
                          </p>
                          <p class="control">
                          <input class="input" type="number" :max="local_segment.endTime" step="0.01" @input="updateSegment(local_segment)" v-model.number="local_segment.startTime" >
                          </p>
                      </div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div class=" field has-addons">
                          <p class="control">
                          <a class="button is-static">
                              <span>Ending point</span>
                          </a>
                          </p>
                          <p class="control">
                          <input class="input" type="number" step="0.01" min="0"   @input="updateSegment(local_segment)" v-model.number="local_segment.endTime" >
                          </p>
                      </div>
                    </div>
                  </nav>
                  <nav class="level">
                    <div class="level-item  has-text-centered" style="margin-bottom:0px;" >
                      <div class=" field has-addons">
                        <p class="control">
                        <a class="button is-static">
                            <span>Segment Word</span>
                        </a>
                        </p>
                        <p class="control">
                        <input class="input has-text-centered" disabled  v-model="local_segment.labelText" >
                        </p>
                      </div>
                    </div>
                    <div class="level-item field has-addons has-text-centered" >
                      <p class="control"><a class="button is-success " @click="p.player.playSegment(currentSegment)"><i class="fa fa-play"></i></a></p>
                    </div>
                  </nav>
                  <div class="button columns is-full is-danger" @click="p.segments.removeById(currentSegment.id);deleteSegment(segment);currentSegment=null;">
                    Delete segment
                  </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
</div>
</template>

<script>
import Peaks from 'peaks.js'
// import axios from 'axios'
import {
  // APIENDPOINT,
MEDIAENDPOINT } from '@/config/app-config'
import _ from 'lodash'
// import maxBy from 'lodash/maxBy'
import eventbus from '@/config/eventhub.js'
import findIndex from 'lodash/findIndex'
import forEach from 'lodash/forEach'
import debounce from 'lodash/debounce'
// import sortBy from 'lodash/sortBy'
import size from 'lodash/size'
// const ExpAudio = require('@/config/audio-helper.js').ExpAudio
const ExpAudioGroup = require('@/config/audio-helper.js').ExpAudioGroup

export default {
  name: 'karaoke',
  data () {
    return {
      textarray: [],
      elobject: {},
      localstore: null,
      inputtext: null,
      paragraph: null,
      starttime: 0,
      sound: null,
      durationstep: 0,
      barvalue: 0,
      soundrate: 0.5,
      seektime: 0,
      timeoutid: null,
      wordindex: 0,
      currentword: null,
      testflag: false,
      textareaflag: true,
      fullscreenflag: false,
      currenttab: 1,
      parseTextFlag: false,
      pool: [],
      textFile: null,
      parsingphase: 'text',
      expandMenu: false,
      goToTime: null,
      textToParse: '',
      splitText: null,
      segmentCounter: 0,
      currentSegment: null,
      playing: false,
      segment_playing: false,
      p: null,
      timeout: Function,
      MEDIAENDPOINT: MEDIAENDPOINT,
      myAudioContext: null,
      src_url: null,
      current_time: null,
      segment_text: '',
      tempo: 1,
      segments: [],
      promisedSegments: [],
      smallwordspool: {},
      smallwordscounter: 0,
      bigwordspool: {},
      bigwordscounter: 0,
      local_segment: {
        id: null,
        startTime: Number,
        endTime: Number,
        labelText: null,
        editable: null,
        color: null
      },
      drag_start: null,
      drag_end: null,
      timePerChar: 0.08
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.parsingphase = 'text'
      this.currenttab = 1
      this.localstore = localStorage.getItem('dropped')
      this.elobject = JSON.parse(this.localstore)
      this.init()
      // console.log("from link segments", this.elobject[0].textarray);
      if (
        this.elobject[0].textarray.length > 0 &&
        Object.getOwnPropertyNames(this.elobject[0].segments).length !== 0
      ) {
        // console.log("data exist");
        this.splitText = []
        this.elobject[0].textarray.map(segment => {
          this.splitText.push(segment.labelText)
        })
        this.textToParse = this.splitText.join(' ')
        // this.parseText(this.textToParse);
        this.createSegments()
        this.currenttab = 2
      }
      this.src_url =
        this.MEDIAENDPOINT +
        this.$route.query.package +
        '/' +
        this.elobject[0].audiofilename
      this.p.on('peaks.ready', function () {
        console.log('rdy')
        var element = document.getElementsByClassName('waveform')
        element[0].classList.add('sticky')
      })
      this.p.on('segments.dragged', segment => {
        this.p.player.pause()
        this.drag_start = parseFloat(segment.startTime).toFixed(6)
        this.drag_end = parseFloat(segment.endTime).toFixed(6)
      })
      this.sound = new ExpAudioGroup({
        src: [
          MEDIAENDPOINT +
            this.$route.query.package +
            '/' +
            this.elobject[0].audiofilename
        ]
      })
    })
    this.debouncedUpdateSegment = debounce(this.updateSegment, 500)
    this.debouncedSeekTime = debounce(this.seekTime, 400)
  },
  methods: {
    init () {
      this.myAudioContext = new AudioContext()
      this.p = Peaks.init({
        container: document.querySelector('#peaks-container'),
        mediaElement: document.querySelector('audio'),
        audioContext: this.myAudioContext,
        height: 150,
        zoomLevels: [128, 256, 512, 1024, 2048, 4096],
        keyboard: true,
        inMarkerColor: 'red',
        outMarkerColor: 'green',
        zoomAdapter: 'static',
        zoomWaveformColor: 'rgba(0, 225, 128, 1)',
        overviewWaveformColor: 'rgba(0,0,0,0.2)',
        playheadColor: 'red',
        playheadTextColor: '#aaa',
        showPlayheadTime: true,
        pointMarkerColor: 'black',
        axisGridlineColor: '#ccc',
        axisLabelColor: 'black',
        randomizeSegmentColor: true,
        segments: [],
        points: []
      })
      this.p.zoom.setZoom(1)
    },
    changeTempo (tempo) {
      let audio = document.getElementById('karaoke')
      audio.playbackRate = tempo
    },
    start () {
      this.playing = true
      this.p.player.play()
      this.timeout = setTimeout(() => {
        this.current_time = this.p.player.getCurrentTime()
        this.start()
      }, 0)
    },
    pause () {
      this.playing = false
      this.p.player.pause()
      clearTimeout(this.timeout)
    },
    stop () {
      this.playing = false
      this.p.player.seek(0)
      this.p.player.pause()
      this.current_time = 0
      clearTimeout(this.timeout)
    },
    zoom () {
      this.p.zoom.zoomIn()
    },
    unzoom () {
      this.p.zoom.zoomOut()
    },
    addLocalSegment (text, index) {
      let currentMax = 0
      if (this.segments.length > 0) {
        // let max_segment = maxBy(this.segments, "id");
        // current_max = parseInt(max_segment.id, 10) + 1;
        currentMax = this.segments.length
      }
      let segment = {
        id: currentMax + '',
        startTime: null,
        endTime: null,
        labelText: text,
        editable: false
      }
      this.segments.push(segment)
      if (segment.labelText.length < 4) {
        this.smallwordspool[index] = segment
      } else {
        this.bigwordspool[index] = segment
      }
    },
    addPeaksSegment () {
      let temp = Object.values(this.bigwordspool)
      let counter = this.segmentCounter
      if (counter > size(this.bigwordspool)) {
        return
      }
      let time = this.p.player.getCurrentTime()
      if (time === undefined) time = 0

      let segment = {
        id: temp[counter].id,
        startTime: time + 0,
        endTime: time + temp[counter].labelText.length * this.timePerChar,
        labelText: temp[counter].labelText,
        editable: false
      }
      this.pool.push(segment.id)
      // this.p.segments.add(segment);
      let tempsegment = _.find(this.bigwordspool, function (o) {
        return o.id === segment.id
      })
      tempsegment.startTime = segment.startTime
      tempsegment.endTime = segment.endTime
      this.segmentCounter = counter + 1
      this.bigwordscounter -= 1
      if (this.bigwordscounter === 0) {
        let combined = {}
        combined = { ...this.bigwordspool, ...this.smallwordspool }
        let sorted = Object.keys(combined)
          .sort()
          .reduce((acc, key) => {
            if (key === 'length') return acc
            acc[key] = combined[key]
            return acc
          }, {})
        sorted = Object.values(sorted)
        this.segments = sorted
        this.fillsmallwordsv2()
      }
    },
    mergeWord (direction, word, index) {
      if (direction === 'left') {
        let temp = this.splitText[index - 1] + ' ' + word
        this.splitText.splice(index - 1, 1)
        this.splitText.splice(index - 1, 0, temp)
      }
      if (direction === 'right') {
        let temp = word + ' ' + this.splitText[index + 1]
        this.splitText.splice(index + 1, 1)
        this.splitText.splice(index + 1, 0, temp)
      }
      this.splitText.splice(index, 1)
    },
    mergeSegment (direction, segment) {
      let peaks = this.p.segments.getSegments()
      let index = findIndex(peaks, { id: segment.id })
      let tempSegment = null
      let mergedSegment = {}
      // let temp = []
      let head = []
      let tail = []
      if (direction === 'left') {
        tempSegment = JSON.parse(
          JSON.stringify(this.p.segments.getSegment(peaks[index - 1].id))
        )

        mergedSegment.id = segment.id
        mergedSegment.startTime = tempSegment.startTime
        mergedSegment.endTime = segment.endTime
        mergedSegment.labelText =
          tempSegment.labelText + ' ' + segment.labelText
        mergedSegment.color = segment.color

        this.p.segments.removeById(segment.id)
        this.p.segments.removeById(tempSegment.id)

        let newpeaks = this.p.segments.getSegments()
        for (let i = 0; i < index - 1; i++) {
          let copy = JSON.parse(
            JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
          )
          tail.push(copy)
        }
        for (let i = index - 1; i < newpeaks.length; i++) {
          let copy = JSON.parse(
            JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
          )
          head.push(copy)
        }

        this.segments = [...tail, mergedSegment, ...head]
        this.sortSegments()
        this.p.segments.removeAll()
        this.segments.forEach(segment => {
          this.p.segments.add(segment)
        })
      }
      if (direction === 'right') {
        tempSegment = this.p.segments.getSegment(peaks[index + 1].id)

        mergedSegment.id = segment.id
        mergedSegment.startTime = segment.startTime
        mergedSegment.endTime = tempSegment.endTime
        mergedSegment.labelText =
          segment.labelText + ' ' + tempSegment.labelText

        this.p.segments.removeById(segment.id)
        this.p.segments.removeById(tempSegment.id)

        let newpeaks = this.p.segments.getSegments()
        for (let i = 0; i < index; i++) {
          let copy = JSON.parse(
            JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
          )
          tail.push(copy)
        }
        for (let i = index; i < newpeaks.length; i++) {
          let copy = JSON.parse(
            JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
          )
          head.push(copy)
        }

        this.segments = [...tail, mergedSegment, ...head]
        this.sortSegments()
        this.p.segments.removeAll()
        this.segments.forEach(segment => {
          this.p.segments.add(segment)
        })
      }
    },
    showSegment (segment) {
      let peaks = this.p.segments.getSegments()
      let index = findIndex(peaks, { id: segment.id })

      let pSegment = this.p.segments.getSegment(segment.id)
      let copy = JSON.parse(JSON.stringify(pSegment))
      this.p.segments.removeById(pSegment.id)
      let temp = []
      let tail = []
      let head = []
      let tempsegment = {
        ...copy,
        startTime: copy.startTime,
        endTime: copy.endTime,
        color: copy.color,
        labelText: copy.labelText,
        editable: true
      }
      let newpeaks = this.p.segments.getSegments()
      for (let i = 0; i < index; i++) {
        let copy = JSON.parse(
          JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
        )
        tail.push(copy)
      }
      for (let i = index; i < newpeaks.length; i++) {
        let copy = JSON.parse(
          JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
        )
        head.push(copy)
      }
      temp = [...tail, tempsegment, ...head]
      this.p.segments.removeAll()
      temp.forEach(seg => {
        this.p.segments.add(seg)
      })
      this.currentSegment = this.p.segments.getSegment(segment.id)
      this.segments = JSON.parse(JSON.stringify(temp))
      this.sortSegments()
    },
    deleteSegment (segment) {
      let index = findIndex(this.segments, { id: segment.id })
      this.segments.splice(index, 1)
      this.sortSegments()
    },
    updateSegment (segment) {
      let peaks = this.p.segments.getSegments()
      let index = findIndex(peaks, { id: segment.id })
      let pSegment = this.p.segments.getSegment(segment.id)
      let copy = JSON.parse(JSON.stringify(pSegment))
      this.p.segments.removeById(pSegment.id)
      let temp = []
      let tail = []
      let head = []
      let tempsegment = {
        ...copy,
        ...{
          startTime:
            parseFloat(segment.startTime) > parseFloat(segment.endTime)
              ? parseFloat(segment.endTime) - 0.01
              : parseFloat(segment.startTime),
          endTime: parseFloat(segment.endTime),
          labelText: segment.labelText,
          color: copy.color,
          editable: copy.editable
        }
      }
      let newpeaks = this.p.segments.getSegments()
      for (let i = 0; i < index; i++) {
        let t = JSON.parse(
          JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
        )
        tail.push(t)
      }
      for (let i = index; i < newpeaks.length; i++) {
        let t = JSON.parse(
          JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
        )
        head.push(t)
      }
      temp = [...tail, tempsegment, ...head]
      this.p.segments.removeAll()
      temp.forEach(seg => {
        this.p.segments.add(seg)
      })

      let localindex = findIndex(this.segments, { id: segment.id })
      this.segments[localindex] = { ...segment, ...tempsegment }
      this.sortSegments()
      this.currentSegment = { ...this.currentSegment, ...tempsegment }
    },
    hideEditable (id) {
      let peaks = this.p.segments.getSegments()
      let index = findIndex(peaks, { id: id })
      let pSegment = this.p.segments.getSegment(id)
      let copy = JSON.parse(JSON.stringify(pSegment))
      this.p.segments.removeById(pSegment.id)
      let temp = []
      let tail = []
      let head = []
      let tempsegment = {
        ...copy,
        startTime: copy.startTime,
        endTime: copy.endTime,
        color: copy.color,
        labelText: copy.labelText,
        editable: false
      }
      let newpeaks = this.p.segments.getSegments()
      for (let i = 0; i < index; i++) {
        let copy = JSON.parse(
          JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
        )
        tail.push(copy)
      }
      for (let i = index; i < newpeaks.length; i++) {
        let copy = JSON.parse(
          JSON.stringify(this.p.segments.getSegment(newpeaks[i].id))
        )
        head.push(copy)
      }
      temp = [...tail, tempsegment, ...head]
      this.p.segments.removeAll()
      temp.forEach(seg => {
        this.p.segments.add(seg)
      })
      this.currentSegment = null
      this.sortSegments()
    },
    seekTime (time) {
      this.pause()
      this.p.player.seek(time)
    },
    parseText (text) {
      this.parseTextFlag = true
      this.segments.length = 0
      this.smallwordspool = {}
      this.bigwordspool = {}
      this.p.player.seek(0)
      this.p.segments.removeAll()
      this.segmentCounter = 0
      this.bigwordscounter = 0
      this.smallwordscounter = 0
      this.splitText = _.compact(text.split(/\s/))
      let arr = []
      forEach(this.splitText, line => {
        let wordsperline = line.split(' ')
        forEach(wordsperline, word => {
          if (word.length > 3) {
            this.bigwordscounter += 1
          } else {
            this.smallwordscounter += 1
          }
          arr.push(word)
        })
      })
      this.current_time = 0
      this.splitText = arr
      this.parsingphase = 'join'
      // let textarray = text.split(" ");
      // let temp = [];
      // let smallWordSArray = [];
      // const callbackFunction = function(
      //   accumulator,
      //   currentValue,
      //   currentIndex,
      //   textarray
      // ) {
      //   if (currentValue.length > 3) {
      //     if (smallWordSArray.length > 0) {
      //       currentValue = [...smallWordSArray, currentValue].join(" ");
      //       smallWordSArray = [];
      //     }
      //     return [...accumulator, currentValue];
      //   } else if (currentValue.length <= 3) {
      //     if (currentIndex + 1 < textarray.length) {
      //       smallWordSArray.push(currentValue);
      //       return accumulator;
      //     } else {
      //       return [...accumulator, currentValue];
      //     }
      //   }
      // };
      // const fixedwords = textarray.reduce(
      //   callbackFunction,
      //   []
      // );
      // console.log(fixedwords);
    },
    sortSegments () {
      this.segments.sort((a, b) => {
        return Number(a.id) - Number(b.id)
      })
    },
    createSegments () {
      this.segments = []
      this.pool = []
      this.p.segments.removeAll()
      this.segmentCounter = 0
      if (
        this.elobject[0].textarray.length > 0 &&
        Object.getOwnPropertyNames(this.elobject[0].segments).length !== 0 &&
        !this.parseTextFlag
      ) {
        this.parsingphase = 'text'
        let copy = JSON.parse(JSON.stringify(this.elobject[0].textarray))
        let t = copy.reduce((acc, segment, index) => {
          // console.log("before", segment);
          segment.startTime = segment.startTime / 1000
          if (index === 0) {
            segment.id = 0
          }
          if (index < copy.length - 1) {
            // let next = copy[index + 1].startTime / 1000;
            // segment.endTime = next;
            let m = this.timePerChar * segment.labelText.length
            segment.endTime = segment.startTime + m
          } else if (index === copy.length - 1) {
            let m = this.timePerChar * segment.labelText.length
            segment.endTime = segment.startTime + m
          }
          // segment.endTime = segment.endTime / 1000;
          // segment.startTime = segment.startTime / 1000;
          // return [...acc, segment];
          return [...acc, segment]
        }, [])

        // t[0].id = 0;

        this.segments = t
        // Vue.set( object, key, value )
        // this.$set(this.segments, 0, id:10);
        // this.$set
        this.segments[0].id = 0
        // console.log("seg", this.segments[0]);
        this.p.segments.removeAll()
        this.segments.forEach(segment => {
          // console.log("after", segment);
          this.p.segments.add(segment)
        })
        this.bigwordscounter = 0
        this.$forceUpdate()
        // this.peaksReadyFlag = true;
      } else if (this.parseTextFlag) {
        this.splitText.map((phrase, index) => {
          this.addLocalSegment(phrase, index)
        })
      }
    },
    fillsmallwordsv2 () {
      this.parsingphase = 'text'
      for (let i = _.size(this.smallwordspool); i > 0; i--) {
        let tempindex = _.findLastIndex(this.segments, { startTime: null })
        let lastbigwordindex = _.findLastIndex(this.segments, function (o) {
          return o.endTime != null
        })
        if (tempindex === -1) {
          return
        }
        if (tempindex + 1 === this.segments.length) {
          let lastbigwordindex = _.findLastIndex(this.segments, function (o) {
            return o.endTime != null
          })
          let distance = tempindex - lastbigwordindex
          this.segments[tempindex].startTime =
            this.segments[lastbigwordindex].endTime + 0.25 * distance
          this.segments[tempindex].endTime =
            this.segments[tempindex].startTime +
            this.timePerChar * this.segments[tempindex].labelText.length
        }
        if (tempindex + 1 < this.segments.length) {
          this.segments[tempindex].startTime =
            this.segments[tempindex + 1].startTime - 0.15 < 0
              ? 0
              : this.segments[tempindex + 1].startTime - 0.15
          this.segments[tempindex].endTime =
            this.segments[tempindex].startTime +
            this.timePerChar * this.segments[tempindex].labelText.length
        }
      }
      this.p.segments.removeAll()
      this.segments.map(segment => {
        this.p.segments.add(segment)
      })
    },
    audioplay () {
      this.durationstep = (this.sound.duration() * 1000) / 100
      setTimeout(() => {
        this.sound.play()
        this.sound.rate(this.soundrate)
        this.timeseek()
      }, 2000)
    },
    savetoXML () {
      let text = "<?xml version='1.0'?>\n<lyrics>\n"

      text = text + this.segments.reduce((acc, segment) => {
        return acc + `<lyric text='${segment.labelText}'  time='${segment.startTime * 1000}'/>\n`
      }, '')
      text = text + '</lyrics>'

      var copyText = document.getElementById('copy')
      copyText.innerHTML = text
      copyText.select()
      document.execCommand('copy')

      // create a Range object
      var range = document.createRange()
      // set the Node to select the "range"
      range.selectNode(copyText)
      // add the Range to the set of window selections
      window.getSelection().addRange(range)

      text = text.replace(/\B\'|\'\B/g, '"')

      let t = text
      this.$swal(
        {
          title: 'XML file link:',
          type: 'success',
          html: '<a id="swal" href="" download="new.xml">Click on this link to download</a> ',
          showCancelButton: true,
          showConfirmButton: false,
          confirmButtonText: 'Download',
          cancelButtonText: 'Close',
          showCloseButton: true,
          showLoaderOnConfirm: true
        })

      var link = document.getElementById('swal')
      link.href = this.makeTextFile(t)
    },
    makeTextFile (text) {
      var data = new Blob([text], {type: 'text/xml'})
      // If we are replacing a previously generated file we need to
      // manually revoke the object URL to avoid memory leaks.
      if (this.textFile !== null) {
        window.URL.revokeObjectURL(this.textFile)
      }

      this.textFile = window.URL.createObjectURL(data)

      return this.textFile
    },
    texttoprocess () {
      let array = this.inputtext.split(' ')
      _.forEach(array, value => {
        if (_.findIndex(this.textarray, { text: value }) === -1) {
          this.textarray.push({ text: value, area: 'maintext', time: null })
        }
      })
      this.textareaflag = false
      this.wordindex = 0
      this.currentword = this.textarray[this.wordindex].text
    },
    savetojson () {
      // if (this.p !== null) {
      //   let segments = this.p.segments.getSegments();
      //   localStorage.setItem("segments", JSON.stringify(segments));
      // }
      // this.elobject[0].textarray = _.clone(this.textarray);
      // localStorage.setItem(
      //   "dropped[0].textarray",
      //   JSON.stringify(JSON.parse(JSON.stringify(this.segments)))
      // );

      // this.elobject[0].textarray = JSON.parse(JSON.stringify(this.segments));
      // this.localstore = JSON.stringify(this.elobject);
      // localStorage.setItem("dropped", this.localstore);

      // let localstore = localStorage.getItem("dropped");
      // let tempobject = JSON.parse(localstore);
      // console.log("tempobject", tempobject);
      // tempobject[0].textarray = JSON.parse(JSON.stringify(this.segments));
      // console.log("tempobject.textarray", tempobject[0].textarray);
      // let final = JSON.stringify(tempobject);
      // localStorage.setItem("dropped", final);

      // let d = localStorage.getItem("dropped");
      // let g = JSON.parse(d);
      // console.log("new storage", g);
      // console.log(g[0].textarray.length);

      this.goBack('withParamsFlag')
    },
    goBack (params) {
      if (params === undefined) {
        this.$router.push({
          path: '/builder',
          query: {
            package: this.$route.query.package,
            module: this.$route.query.module,
            page: this.$route.query.page,
            flag: 'nochange'
          }
        })
      } else if (params === 'withParamsFlag') {
        let t = JSON.parse(JSON.stringify(this.segments))
        t.reduce((acc, segment, index) => {
          segment.startTime = segment.startTime * 1000
          segment.endTime = segment.endTime * 1000
          // console.log("back", segment);
          segment.startTime = segment.startTime.toString()
          segment.endTime = segment.endTime.toString()
          return [...acc, ...segment]
        }, [])
        eventbus.fire('segmentsupdated', {
          segments: JSON.stringify(t)
        })
        // localStorage.setItem("updatedsegments", JSON.stringify(t));
        this.$router.push({
          path: '/builder',
          query: {
            package: this.$route.query.package,
            module: this.$route.query.module,
            page: this.$route.query.page,
            flag: 'change'
          }
        })
      }
    },
    fillsmallwords () {
      let flag = true
      while (flag) {
        let tempindex = _.findLastIndex(this.textarray, { time: null })
        if (tempindex === -1) {
          flag = false
        }
        if (tempindex + 1 < this.textarray.length) {
          this.textarray[tempindex].time =
            this.textarray[tempindex + 1].time - 150
        }
      }
    },
    pauseplay () {
      this.sound.pause()
    },
    clearalltextarray () {
      _.forEach(this.textarray, value => {
        value.time = null
      })
    },
    cleartextarea () {
      _.forEach(this.textarray, value => {
        if (this.inputtext === null) {
          this.inputtext = value.text
        } else {
          this.inputtext = this.inputtext + ' ' + value.text
        }
      })
      this.textarray = []
      this.textareaflag = true
    },
    cleartextarray (index) {
      _.forEach(this.textarray, (value, key) => {
        if (key > index) {
          value.time = null
        }
      })
    },
    clearplay () {
      this.sound.stop()
      this.testflag = false
      this.seektime = 0
      clearTimeout(this.timeoutid)
    }
  },
  computed: {},
  watch: {
    currentSegment: {
      handler (object) {
        if (object !== null) {
          this.local_segment.id = object.id
          this.local_segment.startTime = object.startTime
          this.local_segment.endTime = object.endTime
          this.local_segment.labelText = object.labelText
          this.local_segment.editable = object.editable
        }
      }
    },
    drag_start: {
      handler (value) {
        this.local_segment.startTime = value
        this.debouncedUpdateSegment(this.local_segment)
      }
    },
    drag_end: {
      handler (value) {
        this.local_segment.endTime = value
        this.debouncedUpdateSegment(this.local_segment)
      }
    },
    local_segment: {
      handler (object) {
        if (object !== null) {
          if (object.startTime >= object.endTime) {
            this.local_segment.startTime = object.endTime - 0.01
          }
        }
      },
      deep: true
    },
    goToTime: {
      handler (value) {
        let duration = this.p.player.getDuration()
        if (value > duration) {
          this.debouncedSeekTime(duration)
        } else if (typeof value === 'number') {
          this.debouncedSeekTime(value)
        } else this.debouncedSeekTime(0)
      }
    }
  },
  beforeDestroy () {
    if (this.sound !== null) {
      this.sound.unload()
    }
    if (this.p !== null || this.p !== undefined) {
      this.p.player.pause()
      clearTimeout(this.timeoutid)
      this.p.destroy()
    }
  }
}
</script>
