<template>
<div class="example-full">
  <div class="columns" style="margin-left:5px;">
  <div class="column is-3">
  <exp-field label="Package">
    <exp-multiselect track-by="id" id="packageid" v-model="module_package" label="package_name" :autocomplete="true" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" @input="updateSelected" :options="packages" required>
    </exp-multiselect>
  </exp-field>
</div>
</div>
<div class="columns">
  <div class="column is-four-fifths">
  <!-- <uploader :options="options" class="uploader-example">
    <uploader-unsupport></uploader-unsupport>
    <uploader-drop>
      <p>Drop files here to upload or</p>
      <uploader-btn>select files</uploader-btn>
      <uploader-btn :attrs="attrs">select images</uploader-btn>
      <uploader-btn :directory="true">select folder</uploader-btn>
    </uploader-drop>
    <uploader-list></uploader-list>
  </uploader> -->
  <a class="button is-primary" @click.prevent="isOption = !isOption" >
    <span class="icon is-small">
      <i class="fa fa-cog"></i>
    </span></i><span>Option</span></a>
  <div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
	<h3>Drop files to upload</h3>
  </div>
  <div class="upload" v-show="!isOption">
      <table class="table table is-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Thumb</th>
            <th>Name</th>
            <th>Size</th>
            <th>Speed</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="!files.length">
            <td colspan="7">
              <div class="text-center p-5">
                <h4>Drop files anywhere to upload<br/>or</h4>
                <label :for="name" class="button is-primary file-uploads-drop">Select Files</label>
              </div>
            </td>
          </tr>
          <tr v-for="(file, index) in files" :key="file.id">
            <td>{{index}}</td>
            <td>
              <img v-if="file.thumb" :src="file.thumb" width="40" height="auto" />
              <span v-else>No Image</span>
            </td>
            <td>
              <div class="filename">
                {{file.name}}
              </div>
              <div class="progress" v-if="file.active || file.progress !== '0.00'">
                <div :class="{'progress-bar': true, 'progress-bar-striped': true, 'bg-danger': file.error, 'progress-bar-animated': file.active}" role="progressbar" :style="{width: file.progress + '%'}">{{file.progress}}%</div>
              </div>
            </td>
            <td>{{file.size | formatSize}}</td>
            <td>{{file.speed | formatSize}}</td>

            <td v-if="file.error">{{file.error}}</td>
            <td v-else-if="file.success">success</td>
            <td v-else-if="file.active">active</td>
            <td v-else></td>
            <td>

              <div class="btn-group">
                <exp-dropdown>
                    <button class="button is-primary" slot="trigger">
                        <span>Action</span>
                    </button>
                    <exp-dropdown-item><a :class="{'dropdown-item': true, disabled: file.active || file.success || file.error === 'compressing'}" href="#" @click.prevent="file.active || file.success || file.error === 'compressing' ? false :  onEditFileShow(file)">Edit</a></exp-dropdown-item>
                    <exp-dropdown-item><a :class="{'dropdown-item': true, disabled: !file.active}" href="#" @click.prevent="file.active ? $refs.upload.update(file, {error: 'cancel'}) : false">Cancel</a></exp-dropdown-item>
                    <exp-dropdown-item><a class="dropdown-item" href="#" v-if="file.active" @click.prevent="$refs.upload.update(file, {active: false})">Abort</a>
                    <a class="dropdown-item" href="#" v-else-if="file.error && file.error !== 'compressing' && $refs.upload.features.html5" @click.prevent="$refs.upload.update(file, {active: true, error: '', progress: '0.00'})">Retry upload</a><a :class="{'dropdown-item': true, disabled: file.success || file.error === 'compressing'}" href="#" v-else @click.prevent="file.success || file.error === 'compressing' ? false : $refs.upload.update(file, {active: true})">Upload</a></exp-dropdown-item>
                    <exp-dropdown-item><a class="dropdown-item" href="#" @click.prevent="$refs.upload.remove(file)">Remove</a></exp-dropdown-item>
                </exp-dropdown>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    <div class="example-foorer">
      <div class="footer-status float-right">
        Drop: {{$refs.upload ? $refs.upload.drop : false}},
        Active: {{$refs.upload ? $refs.upload.active : false}},
        Uploaded: {{$refs.upload ? $refs.upload.uploaded : true}},
        Drop active: {{$refs.upload ? $refs.upload.dropActive : false}}
      </div>
      <exp-dropdown>
            <button class="button is-primary" slot="trigger">
                <span>Actions</span>
            </button>

            <exp-dropdown-item><file-upload
                        class="mediamanager-ahref-color"
                        :post-action="postAction"
                        :extensions="extensions"
                        :accept="accept"
                        :multiple="multiple"
                        :directory="directory"
                        :size="size || 0"
                        :thread="thread < 1 ? 1 : (thread > 5 ? 5 : thread)"
                        :headers="headers"
                        :data="data"
                        :drop="drop"
                        :drop-directory="dropDirectory"
                        :add-index="addIndex"
                        v-model="files"
                        :package= "module_package"
                        :chunk-enabled="true"
                        @input-filter="inputFilter"
                        @input-file="inputFile"
                        ref="upload">
                        <i class="fa fa-plus"></i>
                        Add files
                      </file-upload></exp-dropdown-item>
            <exp-dropdown-item><a class="mediamanager-ahref-color" href="#" @click="onAddFolader"><span class="icon is-small"><i class="fa fa-folder-o" aria-hidden="true"></i></span> Add folder</a></exp-dropdown-item>
            <exp-dropdown-item><a class="mediamanager-ahref-color" href="#" @click.prevent="addData.show = true">Add data</a></exp-dropdown-item>
        </exp-dropdown>
      <a class="button is-success" v-if="!$refs.upload || !$refs.upload.active" @click.prevent="$refs.upload.active = true"><span class="icon is-small"><i class="fa fa-arrow-up" aria-hidden="true"></i></span><span>Start Upload</span></a>
      <a class="button is-danger" v-else @click.prevent="$refs.upload.active = false"><span>Stop Upload</span></a>
    </div>
  </div>
 {{ addData.show }}
  <div class="option" v-show="isOption">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Accept</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
              <input type="text" id="accept" class="input is-small" v-model="accept">
          </div>
              <small class="form-text text-muted"><i>Allow upload mime type</i></small>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Extensions</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
              <input type="text" id="extensions" class="input is-small" v-model="extensions">
          </div>
          <small class="form-text text-muted"><i>Allow upload file extension</i></small>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">POST Upload</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
        <div class="block">
            <exp-radio v-model="postAction"
                native-value="">
                Off
            </exp-radio>
            <exp-radio v-model="postAction"
                native-value="/upload/post">
                On
          </exp-radio>
        </div>
        </div>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Thread</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <exp-input id="thread" placeholder="Number"  v-model.number="thread"
               type="number"
               min="1"
               max="50">
           </exp-input>
          </div>
      <small class="form-text text-muted"><i>The number of files to upload at the same time (number of threads)</i></small>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Max size</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <exp-input id="size" placeholder="Number"  v-model.number="size"
               type="number"
               min="0">
           </exp-input>
          </div>
      <small class="form-text text-muted"><i>In bytes</i></small>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Min size</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <exp-input id="minSize" placeholder="Number"  v-model.number="minSize"
               type="number"
               min="0">
           </exp-input>
          </div>
      <small class="form-text text-muted"><i>In bytes</i></small>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Automatically compress</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <exp-input id="autoCompress" placeholder="Number"  v-model.number="autoCompress"
               type="number"
               min="0">
           </exp-input>
          </div>
          <small class="form-text text-muted" v-if="autoCompress > 0"><i>More than {{autoCompress | formatSize}} files are automatically compressed</i></small>
          <small class="form-text text-muted" v-else>Set up automatic compression</small>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Start position to add</label>
      </div>
      <div class="field-body">
        <div class="field" style="margin-top:8px;">
            <exp-field>
              <exp-checkbox id="add-index" v-model="addIndex">
                  <span><small class="form-text text-muted"><i>Add a file list on the top</i></small></span>
              </exp-checkbox>
          </exp-field>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Drop</label>
      </div>
      <div class="field-body">
        <div class="field" style="margin-top:8px;">
            <exp-field>
              <exp-checkbox id="drop" v-model="drop">
                  <span><small class="form-text text-muted"><i>Drag and drop upload</i></small></span>
              </exp-checkbox>
          </exp-field>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Drop directory</label>
      </div>
      <div class="field-body">
        <div class="field" style="margin-top:8px;">
            <exp-field>
              <exp-checkbox id="drop-directory" v-model="dropDirectory">
                  <span><small class="form-text text-muted"><i>Not checked, filter the dragged folder</i></small></span>
              </exp-checkbox>
          </exp-field>
        </div>
      </div>
    </div>
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Auto start</label>
      </div>
      <div class="field-body">
        <div class="field" style="margin-top:8px;">
            <exp-field>
              <exp-checkbox id="upload-auto" v-model="uploadAuto">
                  <span><small class="form-text text-muted"><i>Automatically start uploading</i></small></span>
              </exp-checkbox>
          </exp-field>
        </div>
      </div>
    </div>
    <div class="form-group">
      <a class="button is-success" @click.prevent="isOption = !isOption">Confirm</a>
    </div>
  </div>
  <modal :visible="addData.show" @close="closeModalBasic">
    <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Add data</p>
          <button class="delete" aria-label="close" @click.prevent="addData.show = false"></button>
        </header>
        <form @submit.prevent="onAddData">
          <section class="modal-card-body">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" required id="name"  placeholder="Please enter a file name" v-model="addData.name">
              <small class="form-text text-muted">Such as <code>filename.txt</code></small>
            </div>
            <div class="form-group">
              <label for="type">Type:</label>
              <input type="text" class="form-control" required id="type"  placeholder="Please enter the MIME type" v-model="addData.type">
              <small class="form-text text-muted">Such as <code>text/plain</code></small>
            </div>
            <div class="form-group">
              <label for="content">Content:</label>
              <textarea class="form-control" required id="content" rows="3" placeholder="Please enter the file contents" v-model="addData.content"></textarea>
            </div>

          </section>
          <footer class="modal-card-foot">
            <button class="button is-success" @click.prevent="addData.show = false">Save</button>
            <button class="button" @click.prevent="addData.show = false">Close</button>
          </footer>
        </form>
      </div>
  </modal>
    {{editFile.show}}
    <modal :visible="editFile.show" @close="closeModalBasic">
      <div class="modal-card">
      <form @submit.prevent="onEditorFile">
      <section class="modal-card-body">
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" required id="name"  placeholder="Please enter a file name" v-model="editFile.name">
          </div>
          <div class="form-group" v-if="editFile.show && editFile.blob && editFile.type && editFile.type.substr(0, 6) === 'image/'">
            <label>Image: </label>
            <div class="edit-image">
              <img :src="editFile.blob" ref="editImage" />
            </div>
            <div class="content">
              <div class="buttons has-addons has-text-centered">
  <span class="button" @click="editFile.cropper.rotate(-90)" title="cropper.rotate(-90)"><i class="fa fa-undo" aria-hidden="true"></i></span>
  <span class="button" @click="editFile.cropper.rotate(90)"  title="cropper.rotate(90)"><i class="fa fa-repeat" aria-hidden="true"></i></span>
    <span class="button" @click="editFile.cropper.crop()" title="cropper.crop()"><i class="fa fa-check" aria-hidden="true"></i></span>
  <span class="button" @click="editFile.cropper.clear()" title="cropper.clear()"><i class="fa fa-remove" aria-hidden="true"></i></span>
</div>
            </div>
      </div>
        </section>
      <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Save</button>
          <button type="button" class="button is-info" @click.prevent="editFile.show = false">Close</button>
      </footer>
      </form>
    </div>
    </modal>
  </div>
  </div>
</div>
</template>


<script>
/* eslint-disable no-unused-vars */
import Vue from 'vue'
import Cropper from 'cropperjs'
// import axios from 'axios'
import ImageCompressor from '@xkeshi/image-compressor'
import { Modal, CardModal } from 'vue-bulma-modal'
import {APIENDPOINT} from '../config/app-config'
const CardModalComponent = Vue.extend(CardModal)

const openCardModal = (propsData = {
  visible: true
}) => {
  return new CardModalComponent({
    el: document.createElement('div'),
    propsData
  })
}

export default {
  components: {
    Modal,
    CardModal
  },
  data () {
    return {
      // options: {
      //   // https://github.com/simple-uploader/Uploader/tree/develop/samples/Node.js
      //   target: '//localhost:3000/mediaupload/media',
      //   query: { packageid: null },
      //   testChunks: false,
      //   withCredentials: true
      // },
      // attrs: {
      //   accept: 'image/*'
      // },
      packages: [],
      module_package: {},
      files: [],
      accept: 'image/png,image/gif,image/jpeg,image/webp',
      extensions: 'gif,jpg,jpeg,png,webp',
      // extensions: ['gif', 'jpg', 'jpeg','png', 'webp'],
      // extensions: /\.(gif|jpe?g|png|webp)$/i,
      minSize: 1024,
      size: 1024 * 1024 * 10,
      multiple: true,
      directory: false,
      drop: true,
      dropDirectory: true,
      addIndex: false,
      thread: 3,
      name: 'file',
      postAction: '//localhost:3000/mediaupload/media',
      headers: {
        'X-Csrf-Token': 'xxxx',
        'Access-Control-Allow-Origin': 'true'
      },
      data: {
      },
      formatSize: null,
      autoCompress: 1024 * 1024,
      uploadAuto: false,
      isOption: false,
      addData: {
        show: false,
        name: '',
        type: '',
        content: ''
      },
      editFile: {
        show: false,
        name: ''
      }
    }
  },
  mounted: function () {
    // axios.post(APIENDPOINT + 'package/packages')
    this.$http.post('packages/packages')
    .then(response => {
      this.packages = response.data.packages
    }).catch(error => {
      console.error(error)
    })
  },
  watch: {
    'editFile.show' (newValue, oldValue) {
      if (!newValue && oldValue) {
        this.$refs.upload.update(this.editFile.id, { error: this.editFile.error || '' })
      }
      if (newValue) {
        this.$nextTick(function () {
          if (!this.$refs.editImage) {
            return
          }
          let cropper = new Cropper(this.$refs.editImage, {
            autoCrop: true
          })
          this.editFile = {
            ...this.editFile,
            cropper
          }
        })
      }
    },

    'addData.show' (show) {
      if (show) {
        this.addData.name = ''
        this.addData.type = ''
        this.addData.content = ''
      }
    }
  },

  methods: {
    updateSelected () {
      this.module_package = document.getElementById('packageid').value
    },
    closeModalBasic () {
      this.editFile.show = false
    },
    openModalCard () {
      this.editFile.show = true
      const cardModal = this.cardModal || (this.cardModal = openCardModal({
        title: 'Modal title',
        url: ''
      }))
    },
    inputFilter (newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        // Before adding a file
        // Filter system files or hide file
        if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
          return prevent()
        }

        // Filter php html js
        if (/\.(php5?|html?|jsx?)$/i.test(newFile.name)) {
          return prevent()
        }

        // Automatic compression
        if (newFile.file && newFile.type.substr(0, 6) === 'image/' && this.autoCompress > 0 && this.autoCompress < newFile.size) {
          newFile.error = 'compressing'
          const imageCompressor = new ImageCompressor(null, {
            convertSize: Infinity,
            maxWidth: 512,
            maxHeight: 512
          })
          imageCompressor.compress(newFile.file)
            .then((file) => {
              this.$refs.upload.update(newFile, { error: '', file, size: file.size, type: file.type })
            })
            .catch((err) => {
              this.$refs.upload.update(newFile, { error: err.message || 'compress' })
            })
        }
      }

      if (newFile && (!oldFile || newFile.file !== oldFile.file)) {
        // Create a blob field
        newFile.blob = ''
        let URL = window.URL || window.webkitURL
        if (URL && URL.createObjectURL) {
          newFile.blob = URL.createObjectURL(newFile.file)
        }

        // Thumbnails
        newFile.thumb = ''
        if (newFile.blob && newFile.type.substr(0, 6) === 'image/') {
          newFile.thumb = newFile.blob
        }
      }
    },

    // add, update, remove File Event
    inputFile (newFile, oldFile) {
      if (newFile && oldFile) {
        // update

        if (newFile.active && !oldFile.active) {
          // beforeSend

          // min size
          if (newFile.size >= 0 && this.minSize > 0 && newFile.size < this.minSize) {
            this.$refs.upload.update(newFile, { error: 'size' })
          }
        }

        if (newFile.progress !== oldFile.progress) {
          // progress
        }

        if (newFile.error && !oldFile.error) {
          // error
        }

        if (newFile.success && !oldFile.success) {
          // success
        }
      }

      if (!newFile && oldFile) {
        // remove
        if (oldFile.success && oldFile.response.id) {
          // axios({
          //   type: 'DELETE',
          //   url: '/upload/delete?id=' + oldFile.response.id,
          // })
        }
      }
      // Automatically activate upload
      if (Boolean(newFile) !== Boolean(oldFile) || oldFile.error !== newFile.error) {
        if (this.uploadAuto && !this.$refs.upload.active) {
          this.$refs.upload.active = true
        }
      }
    },

    alert (message) {
      alert(message)
    },

    onEditFileShow (file) {
      this.editFile.show = true
      const cardModal = this.cardModal || (this.cardModal = openCardModal({
        title: 'Modal title',
        url: ''
      }))
      this.editFile = { ...file, show: true }
      this.$refs.upload.update(file, { error: 'edit' })
    },

    onEditorFile () {
      if (!this.$refs.upload.features.html5) {
        this.$swal('Cannot edit', 'Your browser does not support html5', 'error')
        this.editFile.show = false
        return
      }
      let data = {
        name: this.editFile.name
      }
      if (this.editFile.cropper) {
        let binStr = atob(this.editFile.cropper.getCroppedCanvas().toDataURL(this.editFile.type).split(',')[1])
        let arr = new Uint8Array(binStr.length)
        for (let i = 0; i < binStr.length; i++) {
          arr[i] = binStr.charCodeAt(i)
        }
        data.file = new File([arr], data.name, { type: this.editFile.type })
        data.size = data.file.size
      }
      this.$refs.upload.update(this.editFile.id, data)
      this.editFile.error = ''
      this.editFile.show = false
    },

    // add folader
    onAddFolader () {
      if (!this.$refs.upload.features.directory) {
        this.$swal('Cannot upload', 'Your browser does not support directory', 'error')
        return
      }

      let input = this.$refs.upload.$el.querySelector('input')
      input.directory = true
      input.webkitdirectory = true
      this.directory = true
      input.onclick = null
      input.click()
      input.onclick = (e) => {
        this.directory = false
        input.directory = false
        input.webkitdirectory = false
      }
    },
    onAddData () {
      this.addData.show = false
      if (!this.$refs.upload.features.html5) {
        this.$swal('Cannot upload', 'Your browser does not support html5', 'error')
        return
      }
      let file = new window.File([this.addData.content], this.addData.name, {
        type: this.addData.type
      })
      this.$refs.upload.add(file)
    }
  }
}

</script>
<style stlye="scss">
.modal {
  z-index: 1980!important
}
.mediamanager-ahref-color {
  color: #4a4a4a!important;
  cursor: pointer;
}
.example-full {
  .btn-group {
    .dropdown-menu {
      display: block;
      visibility: hidden;
      transition: all 0.2s;
    }
    &:hover > .dropdown-menu {
      visibility: visible;
    }
  }
  label.dropdown-item {
    margin-bottom: 0;
  }
  .btn-group .dropdown-toggle {
    margin-right: 0.6rem;
  }
  .filename {
    margin-bottom: 0.3rem;
  }
  .btn-is-option {
    margin-top: 0.25rem;
  }
  .example-foorer {
    padding: .5rem 0;
    border-top: 1px solid #e9ecef;
    border-bottom: 1px solid #e9ecef;
  }
  .edit-image img {
    max-width: 100%;
  }
  .edit-image-tool {
    margin-top: .6rem;
    .btn-group {
      margin-right: .6rem;
    }
  }
  .footer-status {
    padding-top: .4rem;
  }
  .drop-active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    opacity: .6;
    text-align: center;
    background: #000;
    h3 {
      margin: -.5em 0 0;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 40px;
      color: #fff;
      padding: 0;
    }
  }
}
</style>
