<style lang="scss">
</style>
<template lang="html">
  <div class="moduleview">
    <spinner v-if="loadingExportModule" :size="120" :line-size="20" :line-fg-color="'#00aeef'" :line-bg-color="undefined" :speed="0.8" :spacing="4" :font-size="22"
        :text-fg-color="undefined"></spinner>
        <p v-if="loadingExportModule" style="text-align:center;font-size:22px;">Export Module Process Underway!!</p>
    <div v-if="!loadingExportModule" class="columns">
      <div class="column is-6 is-offset-7">
        <a class="button" @click="switchview()">
          <span v-if="compswitch" class="has-text-info"><span>Modules</span><span class="icon"><i class="fa fa-lock"></i></span></span>
          <span v-else class="has-text-danger"><span>Edit Modules</span><span class="icon"><i class="fa fa-unlock"></i></span></span>
        </a>
        <router-link :to="'/packages/grid'" class="button has-text-info"><span class="icon"><i class="fa fa-arrow-left"></i></span><span>Back</span></router-link>
      </div>
    </div>
    <!-- Add and ReOrder Modules -->
    <div v-if="!compswitch && !loadingExportModule" class="columns">
      <div class="newmoduleinput column is-half is-offset-3">
        <exp-field>
            <exp-input type="text" v-model="module_name" id="module_name" placeholder="Module Name"></exp-input>
            <a class="button is-success" @click="add_module(module_name)">
              <span class="icon is-small">
                <i class="fa fa-plus"></i>
              </span>
            <span>Add</span>
            </a>
            <div class="file">
              <label class="file-label">
                <input  @change="uploadtxt()" class="file-input" type="file" id="txtfileinput">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Upload Modules Text
                    </span>
                  </span>
              </label>
            </div>
        </exp-field>
        <div v-if="showsavebutton">
          <a class="savemodules button is-success" @click="save_modules()">
            <span class="icon is-small">
              <i class="fa fa-check"></i>
            </span>
          <span>Save</span>
          </a>
          <span style="marginTop:5px; marginLeft:5px;" class="needsaveformat">Save your changes</span>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- Pagination -->
    <div v-if="compswitch && !loadingExportModule" class="columns">
      <div class="selectresult column is-3 is-offset-3">
        <span>Showing {{paginationoffset + 1}}-{{compammount}} of {{ammountofresults}}</span>
      </div>
      <div class="selectresult column is-3">
        <span>Results per Page:</span>
        <select @change="pageammount($event.target.value)">
          <option  v-for="numpage in compammountofresults" :key="numpage" :value="numpage">{{numpage}}</option>
        </select>
      </div>
    </div>
    <!--  -->
    <div v-if="!loadingExportModule" class="columns">
      <div class="column is-6 is-offset-3">
        <table v-if="paginationflag" class="center-table table">
          <thead>
            <tr>
              <th><exp-field label="Module Name"></exp-field></th>
              <th><exp-field label="Modified"></exp-field></th>
              <th><exp-field label="Module Order"></exp-field></th>
              <th><exp-field label="Actions"></exp-field></th>
            </tr>
          </thead>
          <draggable :list="module_array" :options="{disabled: switchflag}" :element="'tbody'" @end="rearrange()">
            <tr :class="[element.module_id ? '': 'newitemformat']" v-for="element in module_array" :key="element.module_id">
            <td>
              <exp-field v-if="element.editview && element.module_id" label="Module Name">
                  <exp-input type="text" id="modulename" v-model="element.module_name" placeholder="Module Name"></exp-input>
              </exp-field>
              <router-link v-if="!element.editview  && element.cusername" :to="{ path: '/gridpages/', query: {module: element.module_id, package: $route.query.package}}">
                {{element.module_name}}
              </router-link>
              <span v-if="!element.cusername">{{element.module_name}}</span>
            </td>
            <td><p v-if="element.cusername"><p><span class="valueformat"><span class="keyformat">created by</span> {{ element.cusername }}</span></p><p><span class="valueformat"><span class="keyformat">on </span>{{ todateformat_date(element.createdAt) }}</span></p><p><span class="valueformat"><span class="keyformat">modified by</span> {{ element.musername }}</span></p><p><span class="valueformat"><span class="keyformat">on </span>{{ todateformat_date(element.updatedAt) }}</span></p></p><p v-if="!element.cusername"><span class="needsaveformat"> Module not saved yet</span><p class="help is-danger" v-text="customerror.get('module_name')"></p></p></td>
            <td v-text="element.module_order"></td>
            <td>
              <ul class="level-right">
                <li class="level-item"><a alt="Edit Name" v-if="element.module_id"  @click="[element.editview= !(element.editview), save_modulename(element.editview, element.module_id, element.module_name)]"><span class="icon"><i :class="[' is-size-5 fa', element.editview ? 'fa-floppy-o has-text-info': 'fa-pencil has-text-success']"></i></span></a></li>
                <li class="level-item"><a alt="Copy Module" v-if="element.module_id" @click="copy_modules(element.module_id, element.module_name)" ><span class="icon has-text-info"><i class=" is-size-5 fa fa-copy"></i></span></a></li>
                <li class="level-item"><a alt="Export Module" v-if="element.module_id" @click="export_modules(element.module_id, element.module_name)" ><span class="icon has-text-info"><i class=" is-size-5 fa fa-send-o"></i></span></a></li>
                <li class="level-item"><a alt="Delete Module" v-if="element.module_id" @click="delete_modules(element.module_id, element.module_name)" ><span class="icon has-text-danger"><i class=" is-size-5 fa fa-times"></i></span></a></li>
              </ul>
            </td>
            </tr>
          </draggable>
      </table>
      <div v-if="compswitch" class="pagination">
        <ul>
          <li><a class="button" @click="nextpage(0, 'previous')"><span><i class="fa fa-chevron-left"></i></span></a></li>
          <li v-for="page in comppaginationpages" :key="page"><a @click="nextpage($event.target.id)" class="button" :id="page">{{page}}</a></li>
          <li><a @click="nextpage(0, 'next')" class="button"><span><i class="fa fa-chevron-right"></i></span></a></li>
        </ul>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
// import axios from 'axios'
import _ from 'lodash'
import Spinner from '@/components/Loading.vue'
// import {
//     APIENDPOINT
// }
// from '../config/app-config'
import GlobalMixins from './utils/GlobalMixins'
class CustomError {
  constructor () {
    this.customerror = {}
  }
  get (path) {
    if (this.customerror) {
      for (var i = 0; i < this.customerror.length; i++) {
        if (this.customerror[i].path === path) {
          return this.customerror[i].message
        }
      }
    }
  }
  record (errors) {
    this.customerror = errors
  }
  clear (path) {
    for (var i = 0; i < this.customerror.length; i++) {
      if (this.customerror[i].path === path) {
        delete this.customerror[i].path
      }
    }
  }
}
export default {
  name: 'moduleview',
  mixins: [GlobalMixins],
  components: {
    Spinner
  },
  data () {
    return {
      module_array: [],
      module_name: null,
      username: '',
      paginationlimit: 2,
      paginationoffset: 0,
      paginationpages: 1,
      selectedpage: 1,
      ammountofresults: 0,
      paginationflag: false,
      switchflag: true,
      showsavebutton: false,
      customerror: new CustomError(),
      allPackages: null, // helper for export modules
      loadingExportModule: false // loading flag
    }
  },
  mounted () {
    this.paginationfun().then((resolve) => {
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'module/modules',
      //   data: {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('module/modules', {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
      // this.$http.post(`packages/package/${this.$route.params.package_name}/modules`, {paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
      .then(response => {
        for (var i = 0; i < response.data.modules.length; i++) {
          this.module_array.push({module_id: response.data.modules[i].module_id, module_name: response.data.modules[i].module_name, module_order: response.data.modules[i].module_order, updatedAt: response.data.modules[i].updatedAt, createdAt: response.data.modules[i].createdAt, editview: false, cusername: response.data.modules[i].module_createdby.username, musername: response.data.modules[i].module_modifiedby.username})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
        console.error(error)
      })
    })
  },
  methods: {
    /**
     * re arrange visible module orders and show save button
     */
    rearrange () {
      this.module_array.forEach(function (item, index) {
        item.module_order = index + 1
      })
      this.showsavebutton = true
    },
    /**
     * [copy_module] Copy pages of this module to new module
     * @return {[type]} [description]
     */
    copy_modules (moduleid, name) {
      this.$swal({
        title: 'New Module From: ' + name,
        input: 'text',
        inputPlaceholder: 'Enter Module Name',
        icon: 'warning',
        dangerMode: true,
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Save New Module!',
        inputValidator: (value) => {
          return !value && 'You need to write something!'
        }
      }).then((data) => {
        if (!data.dismiss) {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'module/copymodule',
          //   data: {package_id: this.$route.query.package, module_name: data.value, module_id: moduleid},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('module/copymodule', {package_id: this.$route.query.package, module_name: data.value, module_id: moduleid})
          .then(response => {
            this.paginationfun().then((resolve) => {
              // axios({
              //   method: 'post',
              //   url: APIENDPOINT + 'module/modules',
              //   data: {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
              //   headers: {
              //     'Content-type': 'application/json'
              //   }
              // })
              this.$http.post('module/modules', {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
              .then(response => {
                this.module_array = []
                for (var i = 0; i < response.data.modules.length; i++) {
                  this.module_array.push({module_id: response.data.modules[i].module_id, module_name: response.data.modules[i].module_name, module_order: response.data.modules[i].module_order, updatedAt: response.data.modules[i].updatedAt, createdAt: response.data.modules[i].createdAt, editview: false, cusername: response.data.modules[i].module_createdby.username, musername: response.data.modules[i].module_modifiedby.username})
                }
              })
            })
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
            console.error(error)
          })
        }
      })
    },
    /**
     * Action Export Module
     * Swal Pop Up to choose the export destination package for the current module
     */
    export_modules (moduleid, name) {
      this.$swal({
        title: 'New Module From: ' + name,
        input: 'select',
        inputOptions: this.findAllPackages().then((response) => {
          let inputOptionsObject = {}
          this.allPackages = null
          this.allPackages = [...response.data.packages]
          response.data.packages.map((eachPackage) => {
            inputOptionsObject = {...inputOptionsObject, ...{[eachPackage.id]: eachPackage.package_name}}
          })
          return inputOptionsObject
        }).catch((error) => {
          console.log(error)
        }),
        inputValue: this.$route.query.package,
        icon: 'warning',
        dangerMode: true,
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Export Module to Package!',
        inputValidator: (value) => {
          if (!value) {
            return 'You need to choose something!'
          } else if (value === this.$route.query.package) {
            return 'You need to choose a different package to export this module to it!!'
          }
        }
      }).then((newPackage) => {
        this.loadingExportModule = true
        // return axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'exportmodule',
        //   data: {
        //     packageSourceID: this.$route.query.package,
        //     packageDestinationID: newPackage.value,
        //     moduleID: moduleid,
        //     packageDestinationFolder: this.allPackages[_.findIndex(this.allPackages, {id: parseInt(newPackage.value)})].package_folder,
        //     packageSourceFolder: this.allPackages[_.findIndex(this.allPackages, {id: parseInt(this.$route.query.package)})].package_folder
        //   }
        // })
        return this.$http.post('exportmodule', {
          packageSourceID: this.$route.query.package,
          packageDestinationID: newPackage.value,
          moduleID: moduleid,
          packageDestinationFolder: this.allPackages[_.findIndex(this.allPackages, {id: parseInt(newPackage.value)})].package_folder,
          packageSourceFolder: this.allPackages[_.findIndex(this.allPackages, {id: parseInt(this.$route.query.package)})].package_folder
        })
      })
      .then((response) => {
        this.loadingExportModule = false
        this.$swal('Success!!', response.data.message, 'success')
      }).catch((error) => {
        this.loadingExportModule = false
        this.$swal('Error Occurred!', error.toString(), 'error')
      })
    },
    /**
     * return all available packages
     */
    findAllPackages () {
      // return axios.get(APIENDPOINT + 'package/allpackages', {
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      return this.$http.get('packages/allpackages')
    },
    /**
     * add new module to pages array with the max order
     */
    add_module (modulename) {
      this.showsavebutton = true
      let maxorder = 0
      for (var i = 0; i < this.module_array.length; i++) {
        if (this.module_array[i].module_order > maxorder) {
          maxorder = this.module_array[i].module_order
        }
      }
      this.module_array.unshift({module_order: maxorder + 1, module_name: modulename, package_id: this.$route.query.package})
      this.module_name = null
    },
    /**
     * disable save button
     * resolve save promise
     * then resolve paginationfun promise
     * retrieve pages from server with pagination
     *
     */
    save_modules () {
      this.showsavebutton = false
      this.savepromise().then((resolve) => {
        this.paginationfun().then((resolve) => {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'module/modules',
          //   data: {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('module/modules', {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
          .then(response => {
            this.module_array = []
            for (var i = 0; i < response.data.modules.length; i++) {
              this.module_array.push({module_id: response.data.modules[i].module_id, module_name: response.data.modules[i].module_name, module_order: response.data.modules[i].module_order, updatedAt: response.data.modules[i].updatedAt, createdAt: response.data.modules[i].createdAt, editview: false, cusername: response.data.modules[i].module_createdby.username, musername: response.data.modules[i].module_createdby.username})
            }
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
            console.error(error)
          })
        })
      }).catch(error => {
        if (error.response === undefined) {
          if (error.errors !== undefined) {
            if (error.errors[0].message !== undefined) {
              // Swal Validations Errors if one of new modules names isnt valid return the saved modules
              this.$swal('Error Occurred!', error.errors[0].message, 'error')
            }
          } else {
            this.$swal('Error Occurred!', error, 'error')
          }
           //  this.compammountofresults
          this.pageammount(_.max(this.compammountofresults))
        } else {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
        }
      })
    },
    /**
     * update the module with new module name
     * @param  {[boolean]} flag     [flag to determine if is edit or save module]
     * @param  {[integer]} moduleid   [module id, for module_name update]
     * @param  {[string]} modulename [updated module name]
     */
    save_modulename (flag, moduleid, modulename) {
      if (!flag) {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'module/update',
        //   data: {module_name: modulename, module_id: moduleid},
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('module/update', {module_name: modulename, module_id: moduleid})
        .then(response => {
          if (response.data.errorflag) {
            this.$swal('Error Occurred!', response.data.message, 'error')
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      }
    },
    /**
     * delete page
     * @param  {[integer]} moduleid   [module id to delete this module]
     * @param  {[string]} modulename [module name to remove the module from modules array]
     */
    delete_modules (moduleid, modulename) {
      this.$swal({
        title: 'Delete Module',
        text: 'Are you sure you wanna remove this module?',
        icon: 'warning',
        dangerMode: true,
        showCancelButton: true,
        confirmButtonColor: '#23d160',
        cancelButtonColor: '#ff3860',
        confirmButtonText: 'Yes, Delete it!'
      }).then((flag) => {
        if (flag.value === true) {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'page/count',
          //   data: {id: moduleid},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('pages/count', {id: moduleid})
          .then(response => {
            if (response.data.count > 0) {
              this.$swal('Cannot Delete', response.data.count + ' Pages assigned to this module', 'error')
            } else {
              this.deletepromise(moduleid).then((resolve) => {
                this.module_array.splice(_.findIndex(this.module_array, {module_name: modulename}), 1)
                this.rearrange()
              }).catch((reject) => {
                this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
              })
            }
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
            console.error(error)
          })
        }
      })
    },
    /**
     * method called when press one of the pagination buttons [previous, next, page number]
     * @param  {[integer]} module   [module number]
     * @param  {[string]} button [next or previous]
     */
    nextpage (page, button) {
      let flag = true
      if (button === 'previous') {
        page = (this.selectedpage - 1)
        if (page < 1) {
          page = this.selectedpage
          flag = false
        }
      } else if (button === 'next') {
        page = (this.selectedpage + 1)
        if (page > this.paginationpages) {
          page = this.selectedpage
          flag = false
        }
      }
      if (page > this.selectedpage) {
        this.paginationoffset += this.paginationlimit
        this.selectedpage = parseInt(page)
      } else {
        this.paginationoffset = (this.paginationoffset) - (this.paginationlimit * (this.selectedpage - page))
        this.selectedpage = parseInt(page)
      }
      if (flag) {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'module/modules',
        //   data: {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset}
        // })
        this.$http.post('module/modules', {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
        .then(response => {
          this.module_array = []
          for (var i = 0; i < response.data.modules.length; i++) {
            this.module_array.push({module_id: response.data.modules[i].module_id, module_name: response.data.modules[i].module_name, module_order: response.data.modules[i].module_order, updatedAt: response.data.modules[i].updatedAt, createdAt: response.data.modules[i].createdAt, editview: false, cusername: response.data.modules[i].module_createdby.username, musername: response.data.modules[i].module_createdby.username})
          }
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
        })
      }
    },
    /**
     * [method called when click one of the dropdown results per module]
     * @param  {[integer]} results [description]
     */
    pageammount (results) {
      this.paginationoffset = 0
      this.paginationlimit = parseInt(results)
      this.paginationpages = Math.ceil(this.ammountofresults / parseInt(results))
      this.selectedpage = 1
      // axios({
      //   method: 'post',
      //   url: APIENDPOINT + 'module/modules',
      //   data: {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset}
      // })
      this.$http.post('module/modules', {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
      .then(response => {
        this.module_array = []
        for (var i = 0; i < response.data.modules.length; i++) {
          this.module_array.push({module_id: response.data.modules[i].module_id, module_name: response.data.modules[i].module_name, module_order: response.data.modules[i].module_order, updatedAt: response.data.modules[i].updatedAt, editview: false, username: response.data.modules[i].user.username})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
        console.error(error)
      })
    },
    /**
     * method that return Promise with the count of results
     * @return {[promise]} [description]
     */
    paginationfun () {
      return new Promise((resolve, reject) => {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'module/count',
        //   data: {id: this.$route.query.package},
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('module/count', {id: this.$route.query.package})
        // this.$http.get(`/packages/package/${this.$route.params.package_name}/modules/count`)
        .then(response => {
          this.paginationlimit = (response.data.count)
          this.ammountofresults = (response.data.count)
          resolve()
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
          reject(new Error(error))
        })
      })
    },
    /**
     * method return promise to delete module from db
     * @param  {[integer]} pageid [page id]
     * @return {[promise]}        [description]
     */
    deletepromise (moduleid) {
      return new Promise((resolve, reject) => {
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'module/delete',
        //   data: {id: moduleid},
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('module/delete', {id: moduleid})
        .then(response => {
          this.$swal('Success', response.data.message, 'success')
          resolve()
        }).catch(error => {
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          console.error(error)
          reject(new Error(error))
        })
      })
    },
    /**
     * method return promise to save modules re order changes and new modules
     * @return {[promise]} [description]
     */
    savepromise () {
      return new Promise((resolve, reject) => {
        // var jsondata = JSON.stringify(this.module_array)
        var jsondata = this.module_array
        // axios({
        //   method: 'post',
        //   url: APIENDPOINT + 'module/insert',
        //   data: jsondata,
        //   headers: {
        //     'Content-type': 'application/json'
        //   }
        // })
        this.$http.post('module/insert', jsondata)
        .then(response => {
          if (response.data.errorflag) {
            reject(response.data.message)
          } else {
            this.$swal('Success', response.data.message, 'success')
          }
          resolve()
        }).catch(error => {
          console.error(error)
          if (error.response.status !== 401) {
            this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
          }
          reject(new Error(error))
        })
      })
    },
    /**
     * method called when user click switcher between Add and Reorder modules view and pagination view
     * @return {[type]} [description]
     */
    switchview () {
      this.switchflag = !(this.switchflag)
      this.showsavebutton = false
      if (!this.switchflag) {
        this.paginationfun().then((resolve) => {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'module/modules',
          //   data: {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('module/modules', {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
          .then(response => {
            this.module_array = []
            for (var i = 0; i < response.data.modules.length; i++) {
              this.module_array.push({module_id: response.data.modules[i].module_id, module_name: response.data.modules[i].module_name, module_order: response.data.modules[i].module_order, updatedAt: response.data.modules[i].updatedAt, createdAt: response.data.modules[i].createdAt, editview: false, cusername: response.data.modules[i].module_createdby.username, musername: response.data.modules[i].module_createdby.username})
            }
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
        })
      } else {
        this.paginationpages = 1
        this.selectedpage = 1
        this.paginationfun().then((resolve) => {
          // axios({
          //   method: 'post',
          //   url: APIENDPOINT + 'module/modules',
          //   data: {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset},
          //   headers: {
          //     'Content-type': 'application/json'
          //   }
          // })
          this.$http.post('module/modules', {id: this.$route.query.package, paginationlimit: this.paginationlimit, paginationoffset: this.paginationoffset})
          .then(response => {
            this.module_array = []
            for (var i = 0; i < response.data.modules.length; i++) {
              this.module_array.push({module_id: response.data.modules[i].module_id, module_name: response.data.modules[i].module_name, module_order: response.data.modules[i].module_order, updatedAt: response.data.modules[i].updatedAt, createdAt: response.data.modules[i].createdAt, editview: false, cusername: response.data.modules[i].module_createdby.username, musername: response.data.modules[i].module_createdby.username})
            }
          }).catch(error => {
            if (error.response.status !== 401) {
              this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
            }
          })
        })
      }
    },
    // massive module upload
    uploadtxt () {
      let input = null
      if (typeof window.FileReader !== 'function') {
        bodyAppend('p', "The file API isn't supported on this browser yet.")
        return
      }
      input = document.getElementById('txtfileinput')
      if (!input) {
        bodyAppend('p', "Um, couldn't find the fileinput element.")
      } else if (!input.files) {
        bodyAppend('p', "This browser doesn't seem to support the `files` property of file inputs.")
      } else if (!input.files[0]) {
        bodyAppend('p', "Please select a file before clicking 'Load'")
      } else {
        let file = input.files[0]
        let fr = new FileReader()
        fr.onload = () => {
          let temparray = fr.result.split(',')
          for (var i = 0; i < temparray.length; i++) {
            temparray[i] = temparray[i].trim()
            this.add_module(temparray[i])
          }
          file = null
        }
        fr.readAsText(file)
      }
    }
  },
  computed: {
    comppaginationpages: function () {
      return parseInt(this.paginationpages)
    },
    compammountofresults: function () {
      let temparray = []
      for (var i = 0; i < this.ammountofresults; i++) {
        temparray.push((this.ammountofresults - i))
      }
      return temparray
    },
    compammount: function () {
      let returnval = (this.paginationlimit * this.selectedpage)
      if (returnval <= this.ammountofresults) {
        return returnval
      } else {
        return this.ammountofresults
      }
    },
    compswitch: function () {
      return this.switchflag
    }
  },
  watch: {
    module_array: function () {
      this.paginationflag = true
    }
  }
}
</script>
