<style lang="scss" scoped>
@import url( 'https://fonts.googleapis.com/css?family=Satisfy');
.herologo{
  width: 100%;
  font-size: 6rem;
}
.brand{
  color: #00D1B2;
  font-family: 'Satisfy', cursive;
}
.flexcenter{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.flexcenternowrap{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
}
.full{
  // // min-height: inherit;
  // position: relative;
  // bottom:0px;
  height: 100%;
  border: 1px solid red;
  display: flex;
  flex-flow: row wrap;
}
.menu{
  height: 100%;
  border: 1px solid blue;
}
.recent{
  max-height: 100%;
  border: 1px solid green;
  overflow-x: auto;
  overflow-y: auto;
}
</style>

<template>
<div class='full'>
  <!-- <div v-if="!isDataLoaded">
    <AppSpinner />
  </div> -->
  <template v-if="userIsAuthenticated">
    <aside class="menu column is-4 flexcenter">
      <p class="menu-label">
        <router-link  to="/" class="">
          <span>Home</span>
        </router-link>
      </p>
      <p class="menu-label">
        <span>Packages</span>
      </p>
      <ul class="menu-list">
        <li>
            <router-link  :to="{name: 'packagelist'}" class="">
              Your Packages
            </router-link>
        </li>
        <li>
          <ul>
            <router-link  :to="{name:'Packages Grid View'}" class="">
            Grid
          </router-link>
          <router-link  :to="{name:'Create Package'}" class="">
            Create a Package
          </router-link>
          </ul>
        </li>
      </ul>
      <p class="menu-label">
        User Management
      </p>
      <ul class="menu-list">
        <li>
          <!-- <router-link  to='/user' class=""> -->
            <a>Profile</a>
          <!-- </router-link> -->
          <ul>
            <router-link  to='/user/info' class="">
              Your Info
            </router-link>
            <router-link  to='/user/recent' class="">
              Recent Work
            </router-link>
            <router-link  :to="{name:'Update User'}" class="">
              Update Profile
            </router-link>
          </ul>
        </li>
        <li>
          <a class="">Manage Your Team</a>
          <ul>
            <router-link  :to="{name:'User Grid View'}" class="">
              Users
            </router-link>
            <router-link  to='/user/create' class="">
              Add a user
            </router-link>
          </ul>
        </li>
      </ul>
      <p class="menu-label">
        <router-link  to='/bugs' class="">
              <span>Bugs</span>
            </router-link>
      </p>
    </aside>

    <div class="column is-8 recent ">
      <!-- <Breadcrumb /> -->
      <router-view></router-view>

      <!-- <MyRecent class=""  :title="'Recent Pages'" :endpoint="'pages'" :paginationlimit='10'/> -->
    </div>

  </template>
  <!-- <section v-else class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Hero title
        </h1>
        <h2 class="subtitle">
          Hero subtitle
        </h2>
      </div>
    </div>
  </section> -->
  <div v-else class="herologo">
      <div class="container has-text-centered">
        <h1 class="title is-1 is-spaced">
          <strong>Welcome to </strong><span class="brand">Digi<strong class="has-text-grey-dark">Pub.</strong></span>
        </h1>
        <h2 class="subtitle">
          Please login,to continue!
        </h2>
      </div>
    <!-- <strong>Welcome to </strong><span class="brand">Digi<strong class="has-text-grey-dark">Pub.</strong></span> -->
  </div>

  <!-- <div v-if="authUser.role_id !== 4 && isDataLoaded && userIsAuthenticated" class="columns is-multiline is-mobile homepage_lists">
      <div v-if="authUser.role_id !== 4" class="column is-one-third has-text-centered">
        <h1 style="color: #107896;" class="subtitle">My Recent Packages</h1>
        <ul>
          <li class="lielements" v-for="(packages, index) in packagesarray" :key="packages.id">
            <router-link v-if="packages.id !== undefined" :to="{path: '/packages/modules', query:{package: packages.id}}">
              <span class="has-text-weight-bold">
                {{index + 1 + '.'}}
                {{packages.package_name}}
              </span>
            </router-link>
          </li>
        </ul>
      </div>
      <div class="column is-one-third has-text-centered">
        <h1 style="color: #107896;" class="subtitle">My Recent Modules</h1>
        <ul>
          <li class="lielements" v-for="(modules, index) in modulesarray" :key="modules.module_id">
            <router-link :to="{path: '/gridpages/', query: {package: modules.package_id, module: modules.module_id}}">
              <span class="has-text-weight-bold">
                {{index + 1 + '.'}}
                {{modules.module_name}}
              </span>
          </router-link>
          </li>
        </ul>
      </div>
      <div class="column is-one-third has-text-centered">
        <h1 style="color: #107896;" class="subtitle">My Recent Pages</h1>
        <ul>
          <li class="lielements" v-for="(pages, index) in pagesarray" :key="pages.page_id">
            <a @click="loadJson(pages.page_id)">
              <span class="has-text-weight-bold">
                {{index + 1 + '.'}}
                {{pages.page_name}}
              </span>
            </a>
          </li>
        </ul>
      </div>
  </div> -->
  <!-- <div v-else class="homepage_tester">
    <span class="hero-brand" style="font-size: 95px;">
      <strong class="admin">Welcome to</strong><span class="vue">Digi</span><strong class="admin">Pub</strong>
    </span>
  </div> -->
</div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
// import findIndex from 'lodash'
// import axios from 'axios'
// import map from 'lodash/map'
// import {APIENDPOINT} from '@/config/app-config'
import DataLoader from '@/components/mixins/DataLoader'
import MyRecent from '@/components/ui/MyRecent'
import Breadcrumb from '@/components/ui/Breadcrumb'
export default {
  name: 'hello',
  data () {
    return {
      packagesarray: [],
      modulesarray: [],
      pagesarray: [],
      allpackages: {
        paginationlimit: 10,
        paginationoffset: 0
      }
    }
  },
  components: {MyRecent, Breadcrumb},
  mixins: [DataLoader],
  mounted () {
    // axios({
    //   data: this.allpackages,
    //   method: 'post',
    //   url: APIENDPOINT + 'package/gridview'
    // }).then(response => {
    //   this.packagesarray = response.data.packages.rows
    //   this.allpackages.packagesid = map(this.packagesarray, 'id')
    // }).then(() => {
    //   axios({
    //     data: this.allpackages,
    //     method: 'post',
    //     url: APIENDPOINT + 'module/myrecentmodules'
    //   }).then(response => {
    //     this.modulesarray = response.data.modules
    //   })
    // }).then(() => {
    //   axios({
    //     data: this.allpackages,
    //     method: 'post',
    //     url: APIENDPOINT + 'page/myrecentpages'
    //   }).then(response => {
    //     this.pagesarray = response.data.pages
    //   })
    // }).catch(error => {
    //   console.log('err home', error)
    //   if (error.response.status !== 401) {
    //     this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
    //   }
    // }).finally(() => this.resolveDataLoader())
  },
  methods: {
    /**
     * method called when user click page name
     * add the page json to dropped localstorage
     * re routing to builder2
     * @param  {[integer]} pageid [page id]
     * @return {[type]}        [description]
     */
    // loadJson (pageid) {
    //   let pageindex = findIndex(this.pagesarray, {'page_id': pageid})
    //   axios.post(APIENDPOINT + 'page/lockpage', {
    //     data: {page_id: pageid},
    //     headers: {
    //       'Content-type': 'application/json'
    //     }
    //   }).then(response => {
    //     if (response.data.errorflag) {
    //       this.$swal('Error Occurred!', response.data.message, 'error')
    //     } else {
    //       this.$router.push({path: '/builder/', query: {package: this.pagesarray[pageindex].modules[0].packages[0].id, module: this.pagesarray[pageindex].modules[0].module_id, page: pageid}})
    //       // localStorage.setItem('dropped', JSON.stringify(response.data.page.page_json))
    //     }
    //   }).catch(error => {
    //     if (error.response.status !== 401) {
    //       this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
    //     }
    //   })
    // }
  },
  computed: {
    ...mapState('auth', {
      authUser: state => state.user
    }),
    ...mapGetters('auth', {
      userIsAuthenticated: 'userIsAuthenticated'
    })
  }
}
</script>
