<template>
<section class="hero is-bold app-navbar">
  <div class="hero-head">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" @click="toggleSidebar({opened: !sidebar.opened})">
            <i class="fa fa-bars" aria-hidden="true" v-show="!sidebar.hidden"></i>
          </a>
      </div>
      <div class="nav-center">
        <a class="hero-brand" href="/">
          <div class="is-hidden-mobile">
            <span class="vue">Digi</span><strong class="admin">Pub</strong>
          </div>
        </a>
      </div>
      <div class="nav-right is-flex">
        <router-link v-if="this.login === true" to="/login" class="nav-item">Login</router-link>
        <a v-if="this.login === false" @click="logout" class="nav-item">Logout ({{username}})</a>
      </div>
    </nav>
  </div>
</section>
</template>

<script>
// import {
//   LOGINSTATUS
// } from '../config/app-config'
import {
  mapGetters,
  mapActions
} from 'vuex'

export default {
  data () {
    return {
      // login: LOGINSTATUS(),
      username: ''
    }
  },
  props: {
    show: Boolean
  },
  mounted () {
    this.username = JSON.parse(localStorage.getItem('expUser')).username
  },
  computed: mapGetters({
    pkginfo: 'pkg',
    sidebar: 'sidebar'
  }),
  methods: {
    ...mapActions([
      'toggleSidebar'
    ]),
    logout () {
      window.localStorage.removeItem('expUser')
      this.$router.push({path: '/login'})
    }
  }
}
</script>

<style lang="scss">
@import url( 'https://fonts.googleapis.com/css?family=Satisfy');
.app-navbar {
    position: fixed;
    min-width: 100%;
    z-index: 1024;
    background-color: #fff;
    box-shadow: 0 2px 3px rgba(17, 17, 17, 0.1), 0 0 0 1px rgba(17, 17, 17, 0.1);
    // .container {
    //     margin: auto 10px;
    // }
    .nav-right {
        align-items: stretch;
        align-items: stretch;
        flex: 1;
        justify-content: flex-end;
        overflow: hidden;
        overflow-x: auto;
        white-space: nowrap;
    }
}
.hero-brand {
    font-size: 32px;
    .vue {
        margin-left: 10px;
        color: #3cc;
        font-family: 'Satisfy', cursive;
    }
    .admin {
        color: #28374B;
        font-family: 'Satisfy', cursive;
    }
}
</style>
