<style lang="scss" scoped>
.pagenetworkerror{
  width: 100%;
  height: 100%;
  padding-top: 10%;
  color:  #2c3e50;
}
.bugicon{
  font-size: 7em;
}
.text500{
  padding-top: 2%;
  font-size: 5em;
}
.messagetext{
}
</style>
<template lang="html">
<div class="has-text-centered pagenetworkerror">
  <i class="fa fa-bug bugicon"></i>
  <p class="title text500">500</p>
  <p class="subtitle messagetext">Oops!! A network error occured.</p>
</div>
</template>

<script>

export default {
  name: 'PageNetworkError'
}

</script>
