<style lang="scss">
.pagehistory_modal {
    .jsoncolumn {
        max-height: 500px;
        overflow: scroll;
        .jsoncontainer {
            transform: scale(0.7) translateX(-170px);
        }
    }
    .revision_title {
        border: 1px solid hsl(0, 0%, 48%);
        span {
            font-weight: bold;
            color: hsl(0, 0%, 48%);
        }
    }
    .historycontainer {
        border: 1px solid;
        max-height: 400px;
        overflow-y: scroll;
        .revision_button {
            display: inline-block;
            border: 1px solid hsl(0, 0%, 48%);
            &:hover {
                background-color: #3C6478;
                cursor: pointer;
                span {
                    &:nth-child(1) {
                        font-weight: bold;
                        color: white;
                    }
                    &:nth-child(2) {
                        font-weight: bold;
                        color: white;
                    }
                    &:nth-child(3) {
                        font-weight: bold;
                        color: white;
                        font-size: 1em;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100px;
                    }
                }
            }
            span {
                &:nth-child(1) {
                    font-weight: bold;
                    color: hsl(0, 0%, 48%);
                }
                &:nth-child(2) {
                    font-weight: bold;
                    color: hsl(0, 0%, 48%);
                }
                &:nth-child(3) {
                    font-weight: bold;
                    color: #3C6478;
                    font-size: 1em;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 100px;
                }
            }
        }
        .is-hovered {
            background-color: #3C6478;
            span {
                &:nth-child(1) {
                    font-weight: bold;
                    color: white;
                }
                &:nth-child(2) {
                    font-weight: bold;
                    color: white;
                }
                &:nth-child(3) {
                    font-weight: bold;
                    color: white;
                }
            }
        }
    }
}
.loaderflag_spinner{
  text-align: center;
  i {
    font-size: 75px;
    animation: spin 2s linear infinite;
  }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>

<template lang="html">
<div class="columns is-multiline is-mobile pagehistory_modal">
  <div v-if="loaderflag" class="column is-12 loaderflag_spinner">
    <span><i class="fa fa-refresh has-text-info"></i></span>
  </div>
  <div v-if="!loaderflag" class="column is-8 jsoncolumn">
    <div v-if="json !== null" class="jsoncontainer notavailable">
      <div id="previewdiv">
          <preview :dropped="json"></preview>
      </div>
    </div>
  </div>
  <div v-if="!loaderflag" class="column is-4">
    <div class="columns">
      <div class="column is-12 revision_title">
        <span>{{pagelength}} Page Revisions</span>
      </div>
    </div>
    <div class="historycontainer columns is-multiline is-mobile">
      <div  @click="historyjson(index)"  v-for="(page, index) in pages" :key="page.page_id"  class="column is-12 revision_button" :class="{'is-hovered': index === tempindex}">
        <p><span>Page Saved</span></p>
        <p><span>by {{page.user.username}}</span></p>
        <span>{{page.historydiff}} ago</span>
      </div>
    </div>
    <div class="column is-12">
      <div class="columns">
        <a class="button is-info" @click="loadhistory()">LOAD</a>
        <a class="button is-danger" @click="clearhistory()">CLEAR</a>
      </div>
    </div>
  </div>
</div>
</template>

<script>
// import axios from 'axios'
// import router from '@/router'
import Bus from '@/config/eventhub'
// import Preview from '@/builder/Dropzone'
// import {
//   APIENDPOINT
// } from '../config/app-config'
import forEach from 'lodash/forEach'
export default {
  name: 'pagehistory',
  props: {
    route: Object
  },
  data () {
    return {
      pages: [],
      json: null,
      tempindex: null,
      pagelength: 0,
      loaderflag: true
    }
  },
  mounted () {
    // axios.get(APIENDPOINT + 'pagehistory/pagehistory/' + this.route.query.page)
    this.$http.get('pagehistory/pagehistory/' + this.route.query.page)
    .then(response => {
      this.pages = JSON.parse(JSON.stringify(response.data.pagehistory))
      this.pagelength = this.pages.length
      forEach(this.pages, (value) => {
        let currenttime = new Date()
        let diff = Math.abs(currenttime - new Date(value.updatedAt))
        let display = null
        if (Math.floor(diff / (86400000)) > 0) {
          display = display + Math.floor(diff / (86400000)) + ' days '
        }
        if (Math.floor(diff % (86400000) / (1000 * 60 * 60)) > 0) {
          display = display + Math.floor(diff % (86400000) / (1000 * 60 * 60)) + ' hours '
        }
        if (Math.floor(((diff % (86400000)) % (1000 * 60 * 60)) / (1000 * 60)) > 0) {
          display = display + Math.floor(((diff % (86400000)) % (1000 * 60 * 60)) / (1000 * 60)) + ' min '
        }
        if (Math.floor((((diff % (86400000)) % (1000 * 60 * 60)) % (1000 * 60)) * 0.001) > 0) {
          display = display + Math.floor((((diff % (86400000)) % (1000 * 60 * 60)) % (1000 * 60)) * 0.001) + ' sec '
        }
        value['historydiff'] = display
      })
      if (this.pages.length > 0) {
        this.json = this.pages[0].page_json
        this.tempindex = 0
      }
      this.loaderflag = false
    }).catch(error => {
      console.error(error)
    })
  },
  methods: {
    historyjson (index) {
      this.tempindex = index
      this.json = this.pages[index].page_json
    },
    loadhistory () {
      if (this.pages != null) {
        localStorage.setItem('dropped', JSON.stringify(this.pages[this.tempindex].page_json))
        Bus.fire('modal_load')
        var button = document.getElementById('modal').getElementsByClassName('modal-close')
        button[0].click()
      }
    },
    clearhistory () {
      // axios.get(APIENDPOINT + 'pagehistory/deletepagehistory/' + this.pages[this.tempindex].historypage_id)
      this.$http.get('pagehistory/deletepagehistory/' + this.pages[this.tempindex].historypage_id)
      .then((response) => {
        if (response.data.errorflag) {
          this.$swal('Error Occured', response.data.message, 'error')
        } else {
          this.$swal('Success', response.data.message, 'success')
          this.pages.splice(this.tempindex, 1)
          this.tempindex = 0
          this.pagelength = this.pages.length
          this.json = this.pages[0].page_json
        }
      }).catch(error => {
        console.error(error)
      })
    }
  }
}
</script>
