<style lang="scss">
</style>
<template lang="html">
<div class="columns is-multiline">
  <div class="column is-12 field has-addons">
    <p class="control">
      <a class="button is-static">PDF File</a>
    </p>
    <div class="file control">
      <label class="file-label">
        <input @change="uploadpdf()" class="file-input" type="file" id="pdffileinput">
          <span class="file-cta">
            <span class="file-icon">
              <i class="fa fa-upload"></i>
            </span>
            <span class="file-label">
              Choose a file…
            </span>
        </span>
      </label>
    </div>
  </div>
  <div class="column is-12">
    <a class="button is-large"></a>
  </div>
  <div class="column is-12">
    <table class="center-table table is-fullwidth" v-for="(file, index) in wordpdf" :key="index">
      <thead>
        <tr>
          <th>Text</th>
          <th>Sound</th>
          <th>Image</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(word, index) in file.temparray" :key="index">
          <td>
            <exp-field label="Word List Text">
              <exp-input type="textarea" id="format" v-model="word.text" placeholder="Word List Text"></exp-input>
            </exp-field>
          </td>
          <td>Audio: {{word.sound}}</td>
          <td>Image: {{word.img}}</td>
          <td>
            <ul class="level-left">
              <li class="level-item">
                <a><span><i class="fa fa-times has-text-danger"></i></span></a>
              </li>
              <li class="level-item">
                <a><span><i class="fa fa-plus has-text-success"></i></span></a>
              </li>
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</template>

<script>
import pdf from 'pdfjs'
import pdfdist from 'pdfjs-dist'
// import pdffile from '@/assets/json/wordlist.pdf'
import _ from 'lodash'
export default {
  name: 'pdf',
  data () {
    return {
      wordpdf: []
    }
  },
  mounted () {
    pdfdist.GlobalWorkerOptions.workerSrc = '../../node_modules/pdfjs-dist/build/pdf.worker.js'
  },
  methods: {
    uploadpdf () {
      let input = null
      if (typeof window.FileReader !== 'function') {
         bodyAppend('p', 'The file API isn\'t supported on this browser yet.')
         return
      }
     input = document.getElementById('pdffileinput')
     if (!input) {
         bodyAppend('p', 'Um, couldn\'t find the fileinput element.')
     }
     else if (!input.files) {
         bodyAppend('p', 'This browser doesn\'t seem to support the `files` property of file inputs.')
     }
     else if (!input.files[0]) {
         bodyAppend('p', 'Please select a file before clicking Load')
     }
     else {
         let file = input.files[0]
         let fr = new FileReader()
         fr.onload = (() => {
           pdfdist.getDocument(fr.result).then((data) => {
             var pagesarray = []
             for (var i = 0; i < data.pdfInfo.numPages; i++) {
               pagesarray.push(data.getPage(i + 1))
             }
             var pagepromise = Promise.all(pagesarray)
             pagepromise.then((page) => {
               var textarray = []
               for (var i = 0; i < page.length; i++) {
                 textarray.push(page[i].getTextContent())
               }
               var textpromise = Promise.all(textarray)
               textpromise.then((text) => {
                 for (var i = 0; i < text.length; i++) {
                   let temparray = []
                   let tempitem = ''
                   _.each(text[i].items, (value) => {
                     if (/\.*?\./.test(value.str)) {
                       tempitem = tempitem  + ' ' + value.str
                       temparray.push({text: tempitem, sound: null, img: null})
                       tempitem = ''
                     } else {
                       tempitem = tempitem + ' ' + value.str
                     }
                   })
                   this.wordpdf.push({temparray})
                 }
               })
             })
           }).catch((error) => {
             console.error(error)
           })
       })
       fr.readAsDataURL(file)
     }
    }
  }
}

</script>
