<style lang="css">
</style>
<template lang="html">
  <div class="columns level-item">
      <div class="column is-one-third">
          <h1 class="title">UPDATE PACKAGE</h1>
          <form @keydown="errors.clear($event.target.id)">
            <p class="help is-danger" v-text="errors.get('package_name')"></p>
              <exp-field label="Package Name">
                  <exp-input type="text" v-model="update_package.package_name" id="package_name" placeholder="Package Name"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('package_category')"></p>
              <exp-field label="Category">
                <exp-multiselect track-by="category_id" label="category_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="categoryarray" v-model="currentcategory">
                </exp-multiselect>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('isbn')"></p>
              <exp-field label="ISBN">
                  <exp-input type="text" v-model="update_package.isbn" id="isbn" placeholder="ISBN"></exp-input>
              </exp-field>
              <!-- <p class="help is-danger" v-text="errors.get('format')"></p>
              <exp-field label="Package Format">
                  <exp-input type="text" v-model="update_package.format" id="format" placeholder="Package Format"></exp-input>
              </exp-field> -->
              <p class="help is-danger" v-text="errors.get('version')"></p>
              <exp-field label="Version">
                  <exp-input type="number" v-model="update_package.version" id="version" step="0.1" placeholder="0.0"></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('iso')"></p>
              <exp-field label="ISO">
                <exp-multiselect track-by="country_iso" label="countryname" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="opt" v-model="currentiso">
                </exp-multiselect>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('digi_package_id')"></p>
              <exp-field label="Digi Package ID">
                  <exp-input type="text" v-model="update_package.digi_package_id" id="digi_package_id" placeholder="Digi Package ID"></exp-input>
              </exp-field>
              <!-- <div class="field">
                <div class="control">
                  <exp-checkbox trueValue="1" falseValue="0" type="text" class="checkbox" v-model="update_package.assigned">Assigned</exp-checkbox>
                </div>
              </div> -->
              <div class="field">
                  <div class="control">
                    <exp-checkbox trueValue="1" falseValue="0" type="text" class="checkbox" v-model="update_package.package_status">Package Status</exp-checkbox>
                  </div>
              </div>
              <div class="control has-text-centered">
                  <button class="button is-primary" @click.prevent="submit_updatepackage($event)">Submit</button>
              </div>
          </form>
      </div>
  </div>
</template>

<script>
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          return this.errors[i].message
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}
const clist = require('../config/countries.json')
export default {
  name: 'updatepackage',
  data () {
    return {
      update_package: {
        package_name: '',
        package_category: 0,
        image: 'image.png',
        isbn: '',
        format: '',
        version: 0.0,
        iso: '',
        download_videos: 0,
        assigned: 0,
        digi_package_id: null,
        package_status: 0,
        package_id: this.$route.query.package
      },
      opt: clist,
      categoryarray: [],
      currentcategory: {},
      currentiso: {},
      errors: new Error()
    }
  },
  mounted: function () {
    // axios.post(APIENDPOINT + 'package/categories')
    this.$http.post('packages/categories')
    .then(response => {
      this.categoryarray = response.data.categories
    }).catch(error => {
      console.error(error)
    })
    // axios.get(APIENDPOINT + 'package/find/' + this.$route.query.package)
    this.$http.get('packages/find/' + this.$route.query.package)
    .then((response) => {
      this.update_package.package_name = response.data.package.package_name
      this.update_package.format = response.data.package.format
      this.update_package.image = response.data.package.image
      this.update_package.isbn = response.data.package.isbn
      this.update_package.version = response.data.package.version
      this.update_package.iso = response.data.package.iso
      this.update_package.download_videos = response.data.package.download_videos
      this.update_package.assigned = response.data.package.assigned
      this.update_package.package_status = response.data.package.package_status
      this.update_package.digi_package_id = response.data.package.digi_package_id
      for (let i = 0; i < this.categoryarray.length; i++) {
        if (this.categoryarray[i].category_id === response.data.package.package_category) {
          // this.currentcategory = this.categoryarray[i]
          this.currentcategory = this.categoryarray[i]
        }
      }
      for (let i = 0; i < this.opt.length; i++) {
        if (this.opt[i].country_iso === response.data.package.iso) {
          this.currentiso = this.opt[i]
        }
      }
    })
  },
  methods: {
    submit_updatepackage (evt) {
      evt.preventDefault()
      this.update_package.package_category = this.currentcategory.category_id
      this.update_package.iso = this.currentiso.country_iso
      if (this.update_package.digi_package_id !== null && this.update_package.digi_package_id !== undefined) {
        this.update_package.assigned = 1
      } else {
        this.update_package.assigned = 0
      }
      // axios.post(APIENDPOINT + 'package/update', {
      //   data: this.update_package,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('packages/update', {data: this.update_package})
      .then(response => {
        if (response.data.errorflag) {
          if (response.data.message.errors === undefined) {
            this.$swal('Error Occurred!', response.data.message, 'error')
          } else {
            this.errors.record(response.data.message.errors)
          }
        } else {
          this.$swal('Great job', response.data.message, 'success')
          this.$router.push({path: `/packages/${this.update_package.package_name}`})
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
        console.error(error)
      })
    }
  }
}

</script>
