<!--Author George Panagiotinos  -->
<style lang="scss">
</style>
<template lang="html">
  <div class="columns level-item">
      <div class="column is-one-third">
          <h1 class="title">UPDATE SECTION</h1>
          <form @keydown="errors.clear($event.target.id)" >
            <p class="help is-danger" v-text="errors.get('section_name')"></p>
              <exp-field label="Section Name">
                  <exp-input type="text" v-model="update_section.section_name" id="section_name" placeholder="Section Name"></exp-input>
              </exp-field>
              <exp-field label="Category">
                <exp-multiselect track-by="category_id" label="category_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="categoryarray" v-model="currentcategory">
                </exp-multiselect>
              </exp-field>
              <exp-field label="Area">
                <exp-multiselect track-by="area_id" label="area_name" :hide-selected="true" deselectLabel="" selectLabel="" selectedLabel="" :options="areasarray" v-model="currentarea">
                </exp-multiselect>
              </exp-field>
              <div class="control has-text-centered">
                  <button class="button is-primary" @click.prevent="submit_updatesection($event)">Submit</button>
              </div>
          </form>
      </div>
  </div>
</template>

<script>
// import axios from 'axios'
import {
  // APIENDPOINT,
  SECTION_AREAS} from '../config/app-config'
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          return this.errors[i].message
        }
      }
    }
  }
  record (errors) {
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}
export default {
  name: 'updatesection',
  data () {
    return {
      update_section: {
        section_id: 0,
        section_name: '',
        section_category: 0,
        section_area: 0
      },
      errors: new Error(),
      categoryarray: [],
      areasarray: SECTION_AREAS,
      currentarea: {},
      currentcategory: {}
    }
  },
  mounted () {
    // axios.post(APIENDPOINT + 'package/categories')
    this.$http.post('packages/categories')
    .then(response => {
      this.categoryarray = response.data.categories
    }).catch(error => {
      console.error(error)
    })
    // axios.get(APIENDPOINT + 'section/find/' + this.$route.query.section)
    this.$http.get('section/find/' + this.$route.query.section)
    .then((response) => {
      this.update_section.section_name = response.data.section.section_name
      for (var i = 0; i < this.categoryarray.length; i++) {
        if (this.categoryarray[i].category_id === response.data.section.section_category) {
          this.currentcategory = this.categoryarray[i]
        }
      }
      for (var j = 0; j < this.areasarray.length; j++) {
        if (this.areasarray[j].area_id === response.data.section.section_area) {
          this.currentarea = this.areasarray[j]
        }
      }
    }).catch(error => {
      if (error.response.status !== 401) {
        this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
      }
      console.error(error)
    })
  },
  methods: {
    submit_updatesection (evt) {
      evt.preventDefault()
      this.update_section.section_category = this.currentcategory.category_id
      this.update_section.section_area = this.currentarea.area_id
      this.update_section.section_id = this.$route.query.section
      // axios.post(APIENDPOINT + 'section/update', {
      //   data: this.update_section,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('section/update', {data: this.update_section})
      .then(response => {
        if (response.data.errorflag) {
          this.errors.record(response.data.message.errors)
        } else {
          this.$swal('Great job', response.data.message, 'success')
        }
      }).catch(error => {
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
        console.error(error)
      })
    }
  }
}

</script>
