<style lang="scss">
</style>

<template lang="html">
  <div class="columns is-multiline is-mobile level-item">
    <div class="column is-one-third">
      <h1 class="title">NEW PILOT</h1>
      <form @keydown="errors.clear($event.target.id)">
        <p class="help is-danger" v-text="errors.get('pilot_name')"></p>
          <exp-field label="Pilot Name">
              <exp-input type="text" v-model="pilot_form.pilot_name" id="pilot_name" placeholder="Pilot Name" required></exp-input>
          </exp-field>
          <p class="help is-danger" v-text="errors.get('pilot_version')"></p>
            <exp-field label="Pilot Version">
                <exp-input type="number" v-model="pilot_form.pilot_version" id="pilot_version" placeholder="Pilot Version" step="0.1" min="0.1" required></exp-input>
            </exp-field>
            <p class="help is-danger" v-text="errors.get('pilot_foldername')"></p>
              <exp-field label="Pilot Folder Name">
                  <exp-input type="text" v-model="pilot_form.pilot_foldername" id="pilot_foldername" placeholder="Pilot Folder Name" required></exp-input>
              </exp-field>
              <p class="help is-danger" v-text="errors.get('pilot_description')"></p>
                <exp-field label="Pilot Description">
                    <exp-input type="textarea" v-model="pilot_form.pilot_description" id="pilot_description" placeholder="Pilot Description" required></exp-input>
                </exp-field>
          <div class="control has-text-centered">
              <button class="button is-primary" @click.prevent="submit_createpilot($event)">Submit</button>
          </div>
      </form>
    </div>
  </div>
</template>

<script>
class Error {
  constructor () {
    this.errors = {}
  }
  get (path) {
    if (this.errors) {
      for (var i = 0; i < this.errors.length; i++) {
        if (this.errors[i].path === path) {
          return this.errors[i].message
        }
      }
    }
  }
  record (errors) {
    console.log(errors)
    this.errors = errors
  }
  clear (path) {
    for (var i = 0; i < this.errors.length; i++) {
      if (this.errors[i].path === path) {
        delete this.errors[i].path
      }
    }
  }
}
// import axios from 'axios'
// import {APIENDPOINT} from '../config/app-config'
export default {
  name: 'uploadpilots',
  data () {
    return {
      pilot_form: {
        pilot_name: null,
        pilot_version: 0.1,
        pilot_foldername: null,
        pilot_description: null
      },
      errors: new Error()
    }
  },
  methods: {
    submit_createpilot (evt) {
      evt.preventDefault(evt)
      // axios.post(APIENDPOINT + 'pilotversions/create', {
      //   data: this.pilot_form,
      //   headers: {
      //     'Content-type': 'application/json'
      //   }
      // })
      this.$http.post('pilotversions/create', {data: this.pilot_form})
      .then(response => {
        console.log(response)
        if (response.data.errorflag) {
          this.errors.record(response.data.message.errors)
        } else {
          this.$swal('Great job', response.data.message, 'success')
        }
      }).catch(error => {
        console.log(error)
        if (error.response.status !== 401) {
          this.$swal('Error Occurred!', 'Server Application Error! Please Contact Application Support', 'error')
        }
      })
    }
  }
}

</script>
