<style lang="scss" scoped>
</style>
<template lang="html">
<div>
  <div class="columns is-multiline">
    <div class="tabs is-boxed column is-12">
      <ul>
        <li :class="[tab === 'checkprimary'? 'is-active': '']">
          <a @click="tabclicked('checkprimary')">
            <span>Check Settings</span>
          </a>
        </li>
        <li :class="[tab === 'modal'? 'is-active': '']">
          <a @click="tabclicked('modal')">
            <span>Modal Settings</span>
          </a>
        </li>
        <li :class="[tab === 'background'? 'is-active': '']">
          <a @click="tabclicked('background')">
            <span>Background</span>
          </a>
        </li>
      </ul>
    </div>
    <div v-if="tab === 'checkprimary'">
      <div class="column is-12">
        <a class="button is-info" @click = "loadchecknumbers()">
          Load Excersises
        </a>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Excersise IDs
            </a>
          </p>
          <p class="control">
            <input class="input" disabled type="text" v-model="el.bindchoicesid">
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Amount of Inputs
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="0" v-model="el.ammount">
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Check Unlock
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="0" v-model="el.checkunlock">
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Show Unlock
            </a>
          </p>
          <p class="control">
            <input class="input" type="number" placeholder="0" v-model="el.showunlock">
          </p>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <p class="control">
            <a class="button is-static">
              Hide Check Buttons
            </a>
          </p>
          <p class="control">
            <a v-if="el.buttonStyleObject.visibility === 'hidden'" class="button is-info" @click="hideCheckButtons(false)">
              Show
            </a>
            <a v-else class="button is-info" @click="hideCheckButtons(true)">
              Hide
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import filter from 'lodash/filter'
import forEach from 'lodash/forEach'
import ObjectMixins from '@/components/utils/ObjectMixins'
import setWith from 'lodash/setWith'
import get from 'lodash/get'
export default {
  name: 'Checkprimary',
  mixins: [ObjectMixins],
  props: {
    el: Object
  },
  data () {
    return {
      tab: null
    }
  },
  mounted () {
      this.el.settingindex = null
      this.tab = null
      this.el.settingtab = null
      // check if el json has buttonStyleObject
      // if not create (backward compatibility) old check icons objects
      this.defaultDynamicObjectPath(this.el, 'buttonStyleObject', {})
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    },
    /**
     * hideCheckButtons
     *  flag to hide(true) or show(false) check buttons(Reset, Check, Try again, Show)
     */
    hideCheckButtons (flag) {
      // get the object from el
      let object = {...get(this.el, 'buttonStyleObject', {})}
      if (flag) {
        // add style attr visibility hidden
        object['visibility'] = 'hidden'
        setWith(this.el, 'buttonStyleObject', object, Object)
      } else {
        // remove style attr visibility hidden
        delete object['visibility']
        setWith(this.el, 'buttonStyleObject', object, Object)
      }

    },
    // Method to load the default check values for each ui component based on json key that holds the array of ui-components
    loadchecknumbers () {
      this.el.ammount = 0
      this.el.checkunlock = 0
      this.el.showunlock = 0
      this.el.bindchoicesid = []
      let localstore = JSON.parse(localStorage.getItem('dropped'))
      localstore = filter(localstore, (item) => {
        return item.key !== 'checkprimary'
      })
      for (var i = 0; i < localstore.length; i++) {
        let keys = Object.keys(localstore[i])
        for (var j = 0; j < keys.length; j++) {
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "tapsonchange") {
              if (
                localstore[i].tapsonchange[0].bindchoicesid !== undefined &&
                localstore[i].tapsonchange[0].bindchoicesid !== null
              ) {
                if (localstore[i].tapsonchange.length > 0) {
                  this.el.ammount =
                    this.el.ammount + localstore[i].tapsonchange.length;
                  this.el.checkunlock =
                    this.el.checkunlock + localstore[i].tapsonchange.length;
                  this.el.showunlock = 2;
                  // this.el.showunlock = localstore[i].tapsonchange.length
                  this.el.bindchoicesid.push(localstore[i].bindchoicesid);
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (
              localstore[i][keys[j]] === "tapswithimage" ||
              localstore[i][keys[j]] === "taptapletters"
            ) {
              if (
                localstore[i].tapswithimage[0].bindchoicesid !== undefined &&
                localstore[i].tapswithimage[0].bindchoicesid !== null
              ) {
                if (localstore[i].tapswithimage.length > 0) {
                  this.el.ammount =
                    this.el.ammount + localstore[i].tapswithimage.length;
                  this.el.checkunlock =
                    this.el.checkunlock + localstore[i].tapswithimage.length;
                  this.el.showunlock = 2;
                  //  this.el.showunlock = this.el.showunlock + localstore[i].tapswithimage.length
                  this.el.bindchoicesid.push(
                    localstore[i].tapswithimage[0].bindchoicesid
                  );
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (
              localstore[i][keys[j]] === "taptapwithbg" ||
              localstore[i][keys[j]] === "taptapimageswithbg" ||
              localstore[i][keys[j]] === "taptapfreewithbg" ||
              localstore[i][keys[j]] === "taptappuzzlebg" ||
              localstore[i][keys[j]] === "tapmaze" ||
              localstore[i][keys[j]] === "taptappuzzlemultipleright"
            ) {
              if (localstore[i].taps.length > 0) {
                if (
                  localstore[i].taps[0].bindchoicesid !== undefined &&
                  localstore[i].taps[0].bindchoicesid !== null
                ) {
                  if (
                    localstore[i].taps[0].maxinput !== undefined &&
                    localstore[i].taps[0].maxinput !== null
                  ) {
                    this.el.ammount =
                      this.el.ammount +
                      parseInt(localstore[i].taps[0].maxinput);
                    this.el.checkunlock =
                      this.el.checkunlock +
                      parseInt(localstore[i].taps[0].maxinput);
                    this.el.showunlock = 2;
                    //this.el.showunlock = this.el.showunlock + localstore[i].taps[0].maxinput
                    this.el.bindchoicesid.push(
                      localstore[i].taps[0].bindchoicesid
                    );
                  } else {
                    this.el.ammount =
                      this.el.ammount + localstore[i].taps.length;
                    this.el.checkunlock =
                      this.el.checkunlock + localstore[i].taps.length;
                    this.el.showunlock = 2;
                    //  this.el.showunlock = this.el.showunlock + localstore[i].taps.length
                    this.el.bindchoicesid.push(
                      localstore[i].taps[0].bindchoicesid
                    );
                  }
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "typingsection") {
              if (
                localstore[i].bindchoicesid !== undefined &&
                localstore[i].bindchoicesid !== null
              ) {
                if (localstore[i].typingarray.length > 0) {
                  forEach(localstore[i].typingarray, values => {
                    forEach(values.textArray, (value, index) => {
                      if (index % 2) {
                        this.el.ammount++;
                      }
                    });
                  });
                  this.el.checkunlock = this.el.ammount;
                  this.el.showunlock = 2;
                  this.el.bindchoicesid.push(localstore[i].bindchoicesid);
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "truefalsewithbg") {
              if (
                localstore[i].truefalse[0].bindchoicesid !== undefined &&
                localstore[i].truefalse[0].bindchoicesid !== null
              ) {
                if (localstore[i].truefalse.length > 0) {
                  this.el.ammount =
                    this.el.ammount + localstore[i].truefalse.length;
                  this.el.checkunlock =
                    this.el.checkunlock + localstore[i].truefalse.length;
                  this.el.showunlock = 2;
                  //  this.el.showunlock = this.el.showunlock + localstore[i].truefalse.length
                  this.el.bindchoicesid.push(
                    localstore[i].truefalse[0].bindchoicesid
                  );
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "groupingwithbg") {
              if (
                localstore[i].groups[0].bindchoicesid !== undefined &&
                localstore[i].groups[0].bindchoicesid !== null
              ) {
                if (localstore[i].groups.length > 0) {
                  this.el.ammount =
                    this.el.ammount + localstore[i].choices.length;
                  this.el.checkunlock =
                    this.el.checkunlock + localstore[i].choices.length;
                  this.el.showunlock = 2;
                  //  this.el.showunlock = this.el.showunlock + localstore[i].groups.length
                  this.el.bindchoicesid.push(
                    localstore[i].groups[0].bindchoicesid
                  );
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "groupingimages") {
              if (
                localstore[i].imagegroups[0].bindchoicesid !== undefined &&
                localstore[i].imagegroups[0].bindchoicesid !== null
              ) {
                if (localstore[i].imagegroups.length > 0) {
                  this.el.ammount =
                    this.el.ammount + localstore[i].choicesarray.length;
                  this.el.checkunlock =
                    this.el.checkunlock + localstore[i].choicesarray.length;
                  this.el.showunlock = 2;
                  //   this.el.showunlock = this.el.showunlock + localstore[i].imagegroups.length
                  this.el.bindchoicesid.push(
                    localstore[i].imagegroups[0].bindchoicesid
                  );
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (
              localstore[i][keys[j]] === "multiplechoiceimgwithbg" ||
              localstore[i][keys[j]] === "multiplechoiceimgwithtext"
            ) {
              if (
                localstore[i].imgsarray[0].bindchoicesid !== undefined &&
                localstore[i].imgsarray[0].bindchoicesid !== null
              ) {
                if (localstore[i].imgsarray.length > 0) {
                  for (var w = 0; w < localstore[i].imgsarray.length; w++) {
                    this.el.ammount =
                      this.el.ammount +
                      localstore[i].imgsarray[w].rightanswer.length;
                  }
                  this.el.checkunlock = this.el.ammount;
                  this.el.showunlock = 2;
                  //   this.el.showunlock = this.el.ammount
                  this.el.bindchoicesid.push(
                    localstore[i].imgsarray[0].bindchoicesid
                  );
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "onesvg-coloring") {
              if (
                localstore[i].onesvg[0].bindchoicesid !== undefined &&
                localstore[i].onesvg[0].bindchoicesid !== null
              ) {
                if (localstore[i].onesvg.length > 0) {
                  this.el.ammount =
                    this.el.ammount + localstore[i].onesvg[0].pathsarray.length;
                  this.el.checkunlock = this.el.ammount;
                  this.el.showunlock = 2;
                  //  this.el.showunlock = this.el.ammount
                  this.el.bindchoicesid.push(
                    localstore[i].onesvg[0].bindchoicesid
                  );
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "crosswordssection") {
              if (
                localstore[i].bindchoicesid !== undefined &&
                localstore[i].bindchoicesid !== null
              ) {
                if (localstore[i].crosswords.length > 0) {
                  this.el.ammount =
                    this.el.ammount +
                    localstore[i].crosswords.filter(value => {
                      return !value.default;
                    }).length;
                  this.el.checkunlock = this.el.ammount;
                  this.el.showunlock = 2;
                  this.el.bindchoicesid.push(localstore[i].bindchoicesid);
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "wordsearchsection") {
              if (
                localstore[i].bindchoicesid !== undefined &&
                localstore[i].bindchoicesid !== null
              ) {
                if (localstore[i].wordsearch.length > 0) {
                  this.el.ammount =
                    this.el.ammount +
                    localstore[i].wordsearch.filter(word => {
                      return !word.default || word.default === undefined;
                    }).length;
                  this.el.checkunlock = this.el.ammount;
                  this.el.showunlock = 2;
                  this.el.bindchoicesid.push(localstore[i].bindchoicesid);
                }
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "taptapsection") {
              if (
                localstore[i].bindchoicesid !== undefined &&
                localstore[i].bindchoicesid !== null
              ) {
                if (localstore[i].tapsection.length > 0) {
                  let numberoftaps = 0;
                  localstore[i].tapsection.map(tap => {
                    if (tap.taptaps.length > 0) {
                      tap.taptaps.map((taptap, index) => {
                        taptap.split_txt.map((elem, index) => {
                          if (index % 2 == 1) {
                            numberoftaps++;
                          }
                        });
                      });
                    }
                  });

                  this.el.ammount = this.el.ammount + numberoftaps;
                  this.el.checkunlock = this.el.ammount;
                  this.el.showunlock = 2;
                  //  this.el.showunlock = this.el.showunlock + localstore[i].tapswithimage.length
                  this.el.bindchoicesid.push(localstore[i].bindchoicesid);
                }
              }
            }
          }
          if (keys[j] === "truefalsearray") {
            if (
              localstore[i].bindchoicesid !== undefined &&
              localstore[i].bindchoicesid !== null
            ) {
              if (localstore[i].truefalsearray.length > 0) {
                let numberoftruefalse = 0;
                localstore[i].truefalsearray.map(truefalse => {
                  if (truefalse.textArray.length > 0) {
                    truefalse.textArray.map((elem, index) => {
                      if (index % 2 == 1) {
                        numberoftruefalse++;
                      }
                    });
                  }
                });
                this.el.ammount = this.el.ammount + numberoftruefalse;
                this.el.checkunlock = this.el.ammount;
                this.el.showunlock = 2;
                this.el.bindchoicesid.push(localstore[i].bindchoicesid);
              }
            }
          }
          if (keys[j] === "key") {
            if (localstore[i][keys[j]] === "multiplechoiceimagesection") {
              if (
                localstore[i].bindchoicesid !== undefined &&
                localstore[i].bindchoicesid !== null
              ) {
                if (localstore[i].imagesgrouparray.length > 0) {
                  let numberofcorrectimages = 0;
                  localstore[i].imagesgrouparray.map(group => {
                    group.images.map(image => {
                      if (image.is_correct) {
                        numberofcorrectimages++;
                      }
                    });
                  });

                  this.el.ammount = this.el.ammount + numberofcorrectimages;
                  this.el.checkunlock = this.el.ammount;
                  this.el.showunlock = 2;
                  this.el.bindchoicesid.push(localstore[i].bindchoicesid);
                }
              }
            }
          }
          if (keys[j] === "key") {
              if(localstore[i][keys[j]] === 'multiplechoicessection') {
                if (localstore[i].bindchoicesid !== undefined && localstore[i].bindchoicesid !== null) {
                if (localstore[i].multiplechoicesarray.length > 0) {
                  // let numberofselect = 0
                  let numberofchoices = 0
                  console.log(localstore[i].multiplechoicesarray.length)
                  forEach(localstore[i].multiplechoicesarray, (values) => {
                    forEach(values.textArray, (value, index) => {
                      if (index % 2) {
                        // numberofselect++
                        forEach(value.values, (value, index) => {
                          if (value.isCorrectAnswer === true){
                            numberofchoices++
                          }
                        })
                      }
                    })
                  })
                  this.el.ammount = this.el.ammount + numberofchoices
                  this.el.checkunlock = this.el.ammount
                  this.el.showunlock = 2
                  this.el.bindchoicesid.push(localstore[i].bindchoicesid)
                }
              }
            }
          }
      }
      }
    }
  }
};
</script>
