<style lang="scss" scoped>
.snapshot{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  width: 100px;
  height: 100px;
}
.imagesview{
  margin-top: 5px;
}
.settingview{
  margin-top: 5px;
}
.editicon{
  padding-left: 5px;
  padding-top: 5px;
  font-size: 1em;
}
.textpadding{
  padding-right: 5px;
}
.banicon{
  padding-right: 5px;
  padding-top: 5px;
  font-size: 1em;
  color: #ff3860;
}
</style>

<template lang="html">
  <div v-if="el.settingtab === 'choicesimgs'">
    <div class="columns is-multiline">
      <div v-if="el.settingindex === null" class="field has-addons column is-12">
        <div class="control">
          <input class="input" type="text" placeholder="Image Filename" v-model="imgurl">
        </div>
        <div class="control">
          <a class="button is-info" @click="addimage(imgurl)">
            <i class="fa fa-plus"></i>
          </a>
        </div>
        <div class="control">
          <input class="input" type="text" disabled placeholder="Bind Choices ID" v-model="choicesid">
        </div>
      </div>
      <div v-if="el.settingindex === null" class="field has-addons column is-12">
        <p class="control">
            <exp-checkbox type="text" class="checkbox" @input="changeshuffle()" v-model="shuffleflag">Shuffle</exp-checkbox>
        </p>
      </div>
      <div v-if="el.settingindex === null" class="field has-addons column is-12">
        <p class="control">
            <exp-checkbox type="text" class="checkbox" @input="changechoicemulitple()" v-model="multipleflag">Re-use Choices</exp-checkbox>
        </p>
      </div>
      <div v-if="el.settingindex === null" class="field has-addons column is-12">
        <p class="control">
            <exp-checkbox type="text" class="checkbox" @input="changechoicesimagesstyle()" v-model="choicesimagesstyleflag">Add Choices Placeholder Style</exp-checkbox>
        </p>
      </div>
    </div>
    <div v-if="el.settingindex === null" class="imagesview columns is-multiline">
      <div class="column is-12 columns is-multiline">
        <div v-if="el.choicesarray.length > 0" v-for="(image, index) in el.choicesarray" :key="index" class="column is-6">
          <a @click="settingclicked(image.id)"><i class="fa fa-pencil has-text-info"></i></a>
          <a  @click="deleteimage(index)"><i class="fa fa-times has-text-danger"></i></a>
          <a @click="copyimage(index)"><i class="fa fa-copy has-text-success"></i></a>
          <img :src="mediafile + $route.query.package + '/' + image.imgsrc">
        </div>
      </div>
    </div>
    <div v-if="el.settingindex !== null" class="columns is-multiline settingview">
      <div class="column is-6 has-text-left">
        <a class="button is-info" @click="undochanges()"><i class="fa fa-repeat"> Reset</i></a>
      </div>
      <div class="column is-6 has-text-right">
        <a class="button is-info" @click="backtoimages()"><i class="fa fa-arrow-left"> Back</i></a>
      </div>
      <div class="column is-12">
        <p class="title">Image Data</p>
      </div>
      <div class="field has-addons column is-12">
        <p class="control">
          <a class="button is-static">
            Image Filename
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" v-model="el.choicesarray[el.settingindex].imgsrc">
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Image
          </a>
        </p>
        <img id="image" :src="mediafile + $route.query.package + '/' + el.choicesarray[el.settingindex].imgsrc" class="image snapshot control">
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Image Selected filename
          </a>
        </p>
        <input class="input control" type="text" placeholder="Image On Click" v-model="el.choicesarray[el.settingindex].imgonchange">
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Image Selected
          </a>
        </p>
        <img :src="mediafile + $route.query.package + '/' +  el.choicesarray[el.settingindex].imgonchange" class="image snapshot control">
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
          Sound filename
          </a>
        </p>
        <input class="input control" type="text" placeholder="Image Sound" v-model="el.choicesarray[el.settingindex].imgsound">
        <div class="control">
          <audio controls>
            <source :src="mediafile + $route.query.package + '/' + el.choicesarray[el.settingindex].imgsound" type="audio/wav">
          </audio>
        </div>
      </div>
      <div class="columns is-multiline">
        <div class="column is-12">
          <p class="title">Image Properties</p>
        </div>
        <div class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              Image Choice Space
            </a>
          </p>
          <exp-multiselect :openDirection="'top'" track-by='' label='' @input="imageflex()" v-model="tempcolumn" deselectLabel='' selectLabel='' selectedLabel='' :options="['is-2', 'is-3', 'is-4', 'is-5', 'is-6', 'is-7', 'is-8', 'is-9', 'is-10', 'is-11', 'is-12']">
          </exp-multiselect>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Float
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.float">
                  <option>none</option>
                  <option>left</option>
                  <option>right</option>
                  <option>inherit</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Image Width
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Width" v-model="object.imagewidth">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Image Height
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Height" v-model="object.imageheight">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                <span>Image Ratio Multiplier</span>
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" step="0.1" min="0" v-model="ratiomultiple">
            </p>
          </div>
        </div>
        <div class="column is-6">
          <exp-checkbox type="text" class="checkbox" v-model="ratiomultipleflag">Lock Multiplier</exp-checkbox>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Padding
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Top" v-model="object.bgtoppadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Right" v-model="object.bgrightpadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottompadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Left" v-model="object.bgleftpadding">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Margin
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Top" v-model="object.bgtopmargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Right" v-model="object.bgrightmargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottommargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Left" v-model="object.bgleftmargin">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Style
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.bgimgborderstyle">
                  <option>none</option>
                  <option>solid</option>
                  <option>dotted</option>
                  <option>dashed</option>
                  <option>double</option>
                  <option>groove</option>
                  <option>ridge</option>
                  <option>inset</option>
                  <option>outset</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Width
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Border Width" v-model="object.bgimgborderwidth">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Radius
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Border Radius" v-model="object.bgimgborderradius">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Color
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Border Color" v-model="object.bordercolor">
            </p>
          </div>
        </div>
        <!-- <div class="column is-12">
          <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
            <a @click="colorpick(color.colorhex)" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
            </a>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import {MEDIAENDPOINT, COLORS_OBJECTS} from '@/config/app-config.js'
export default {
  // Setting to Add New Image Choices to ui-component ChoicesImages throught choicesarray json array
  name: 'Choicesimages',
  props: {
    el: Object
  },
  data () {
    return {
      imgurl: null,
      imgidcount: 1,
      imgindex: null,
      mediafile: MEDIAENDPOINT,
      colorarray: COLORS_OBJECTS,
      choicesid: null,
      ratiomultipleflag: false,
      ratiomultiple: 1,
      tempcolumn: 'is-3',
      multipleflag: false,
      shuffleflag: false,
      choicesimagesstyleflag: true,
      object: {
        containerimagewidth: null,
        containerimageheight: null,
        imagewidth: null,
        imageheight: null,
        bgtoppadding: null,
        bgrightpadding: null,
        bgbottompadding: null,
        bgleftpadding: null,
        bgtopmargin: null,
        bgrightmargin: null,
        bgbottommargin: null,
        bgleftmargin: null,
        bordercolor: null,
        bgimgborderstyle: null,
        bgimgborderwidth: null,
        bgimgborderradius: null,
        float: null
      },
      tempobject: {}
    }
  },
  mounted () {
    this.el.settingindex = null
    if (this.el.shuffleflag !== null && this.el.shuffleflag !== undefined) {
      this.shuffleflag = this.el.shuffleflag
    }
    if (this.el.choicesmultiple !== null && this.el.choicesmultiple !== undefined) {
      this.multipleflag = this.el.choicesmultiple
    } else {
      this.multipleflag = false
    }
    if (this.el.choicesimagesstyleflag !== null && this.el.choicesimagesstyleflag !== undefined) {
      this.choicesimagesstyleflag = this.el.choicesimagesstyleflag
    }
  },
  methods: {
    // Add new Image Choice
    addimage (imgurl) {
      if (imgurl !== null) {
        if (this.el.choicesarray.length > 0) {
          let maximg = _.maxBy(this.el.choicesarray, 'id')
          this.imgidcount = maximg.id + 1
        }
        this.el.choicesarray.push({id: this.imgidcount, imgsrc: imgurl, imgonchange: null, column: 'is-3', imgsound: null, selected: false, change: false, bindchoicesid: null, styleobj: {}})
        this.imgurl = null
      }
    },
    settingclicked (imageid) {
      this.imgindex = _.findIndex(this.el.choicesarray, {'id': imageid})
      this.el.settingindex = this.imgindex
      this.tempcolumn = this.el.choicesarray[this.el.settingindex].column
      this.$nextTick(() => {
        this.$InputNumberStep('input', 'number', 38, 40, 10)
        var img = document.getElementById(('image'))
        let widthflag = (Math.round((this.object.imagewidth / img.naturalWidth) * 10) / 10)
        let heightflag = (Math.round((this.object.imageheight / img.naturalHeight) * 10) / 10)
        if (widthflag === heightflag) {
          this.ratiomultiple = widthflag
        } else {
          this.ratiomultiple = null
        }
        if (this.ratiomultipleflag) {
          this.object.imagewidth = img.naturalWidth
          this.object.imageheight = img.naturalHeight
        }
      })
      if (this.el.choicesarray[this.imgindex].styleobj.height !== undefined) {
        this.object.imageheight = this.el.choicesarray[this.imgindex].styleobj.height.replace(/px/g, '')
      } else {
        this.object.imageheight = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.width !== undefined) {
        this.object.imagewidth = this.el.choicesarray[this.imgindex].styleobj.width.replace(/px/g, '')
      } else {
        this.object.imagewidth = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.paddingTop !== undefined) {
        this.object.bgtoppadding = this.el.choicesarray[this.imgindex].styleobj.paddingTop.replace(/%/g, '')
      } else {
        this.object.bgtoppadding = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.paddingBottom !== undefined) {
        this.object.bgbottompadding = this.el.choicesarray[this.imgindex].styleobj.paddingBottom.replace(/%/g, '')
      } else {
        this.object.bgbottompadding = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.paddingLeft !== undefined) {
        this.object.bgleftpadding = this.el.choicesarray[this.imgindex].styleobj.paddingLeft.replace(/%/g, '')
      } else {
        this.object.bgleftpadding = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.paddingRight !== undefined) {
        this.object.bgrightpadding = this.el.choicesarray[this.imgindex].styleobj.paddingRight.replace(/%/g, '')
      } else {
        this.object.bgrightpadding = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.marginTop !== undefined) {
        this.object.bgtopmargin = this.el.choicesarray[this.imgindex].styleobj.marginTop.replace(/%/g, '')
      } else {
        this.object.bgtopmargin = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.marginBottom !== undefined) {
        this.object.bgbottommargin = this.el.choicesarray[this.imgindex].styleobj.marginBottom.replace(/%/g, '')
      } else {
        this.object.bgbottommargin = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.marginRight !== undefined) {
        this.object.bgrightmargin = this.el.choicesarray[this.imgindex].styleobj.marginRight.replace(/%/g, '')
      } else {
        this.object.bgrightmargin = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.marginLeft !== undefined) {
        this.object.bgleftmargin = this.el.choicesarray[this.imgindex].styleobj.marginLeft.replace(/%/g, '')
      } else {
        this.object.bgleftmargin = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.borderWidth !== undefined) {
        this.object.bgimgborderwidth = this.el.choicesarray[this.imgindex].styleobj.borderWidth.replace(/px/g, '')
      } else {
        this.object.bgimgborderwidth = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.borderStyle !== undefined) {
        this.object.bgimgborderstyle = this.el.choicesarray[this.imgindex].styleobj.borderStyle
      } else {
        this.object.bgimgborderstyle = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.borderRadius !== undefined) {
        this.object.bgimgborderradius = this.el.choicesarray[this.imgindex].styleobj.borderRadius.replace(/px/g, '')
      } else {
        this.object.bgimgborderradius = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.borderColor !== undefined) {
        this.object.bordercolor = this.el.choicesarray[this.imgindex].styleobj.borderColor
      } else {
        this.object.bordercolor = null
      }
      if (this.el.choicesarray[this.imgindex].styleobj.float !== undefined) {
        this.object.float = this.el.choicesarray[this.imgindex].styleobj.float
      } else {
        this.object.float = null
      }
    },
    colorpick (hex) {
      this.object.bordercolor = hex
    },
    loadobj () {
      if (this.object.bgtoppadding !== null && this.object.bgtoppadding !== undefined && this.object.bgtoppadding !== '') {
        this.tempobject.paddingTop = this.object.bgtoppadding + '%'
      } else {
        if (this.tempobject.paddingTop !== undefined) {
          delete this.tempobject.paddingTop
        }
      }
      if (this.object.bgbottompadding !== null && this.object.bgbottompadding !== undefined && this.object.bgbottompadding !== '') {
        this.tempobject.paddingBottom = this.object.bgbottompadding + '%'
      } else {
        if (this.tempobject.paddingBottom !== undefined) {
          delete this.tempobject.paddingBottom
        }
      }
      if (this.object.bgleftpadding !== null && this.object.bgleftpadding !== undefined && this.object.bgleftpadding !== '') {
        this.tempobject.paddingLeft = this.object.bgleftpadding + '%'
      } else {
        if (this.tempobject.paddingLeft !== undefined) {
          delete this.tempobject.paddingLeft
        }
      }
      if (this.object.bgrightpadding !== null && this.object.bgrightpadding !== undefined && this.object.bgrightpadding !== '') {
        this.tempobject.paddingRight = this.object.bgrightpadding + '%'
      } else {
        if (this.tempobject.paddingRight !== undefined) {
          delete this.tempobject.paddingRight
        }
      }
      if (this.object.bgtopmargin !== null && this.object.bgtopmargin !== undefined && this.object.bgtopmargin !== '') {
        this.tempobject.marginTop = this.object.bgtopmargin + '%'
      } else {
        if (this.tempobject.marginTop !== undefined) {
          delete this.tempobject.marginTop
        }
      }
      if (this.object.bgbottommargin !== null && this.object.bgbottommargin !== undefined && this.object.bgbottommargin !== '') {
        this.tempobject.marginBottom = this.object.bgbottommargin + '%'
      } else {
        if (this.tempobject.marginBottom !== undefined) {
          delete this.tempobject.marginBottom
        }
      }
      if (this.object.bgleftmargin !== null && this.object.bgleftmargin !== undefined && this.object.bgleftmargin !== '') {
        this.tempobject.marginLeft = this.object.bgleftmargin + '%'
      } else {
        if (this.tempobject.marginLeft !== undefined) {
          delete this.tempobject.marginLeft
        }
      }
      if (this.object.bgrightmargin !== null && this.object.bgrightmargin !== undefined && this.object.bgrightmargin !== '') {
        this.tempobject.marginRight = this.object.bgrightmargin + '%'
      } else {
        if (this.tempobject.marginRight !== undefined) {
          delete this.tempobject.marginRight
        }
      }
      if (this.object.bgimgbordercolor !== null && this.object.bgimgbordercolor !== undefined && this.object.bgimgbordercolor !== '') {
        this.tempobject.backgroundColor = this.object.bgcolor
      } else {
        if (this.tempobject.backgroundColor !== undefined) {
          delete this.tempobject.backgroundColor
        }
      }
      if (this.object.bgimgborderwidth !== null && this.object.bgimgborderwidth !== undefined && this.object.bgimgborderwidth !== '') {
        this.tempobject.borderWidth = this.object.bgimgborderwidth + 'px'
      } else {
        if (this.tempobject.borderWidth !== undefined) {
          delete this.tempobject.borderWidth
        }
      }
      if (this.object.bgimgborderstyle !== null && this.object.bgimgborderstyle !== undefined && this.object.bgimgborderstyle !== '') {
        this.tempobject.borderStyle = this.object.bgimgborderstyle
      } else {
        if (this.tempobject.borderStyle !== undefined) {
          delete this.tempobject.borderStyle
        }
      }
      if (this.object.bgimgborderradius !== null && this.object.bgimgborderradius !== undefined && this.object.bgimgborderradius !== '') {
        this.tempobject.borderRadius = this.object.bgimgborderradius + 'px'
      } else {
        if (this.tempobject.borderRadius !== undefined) {
          delete this.tempobject.borderRadius
        }
      }
      if (this.object.bordercolor !== null && this.object.bordercolor !== undefined && this.object.bordercolor !== '') {
        this.tempobject.borderColor = this.object.bordercolor
      } else {
        if (this.tempobject.borderColor !== undefined) {
          delete this.tempobject.borderColor
        }
      }
      if (this.object.imagewidth !== null && this.object.imagewidth !== undefined && this.object.imagewidth !== '') {
        this.tempobject.width = this.object.imagewidth + 'px'
      } else {
        if (this.tempobject.width !== undefined) {
          delete this.tempobject.width
        }
      }
      if (this.object.imageheight !== null && this.object.imageheight !== undefined && this.object.imageheight !== '') {
        this.tempobject.height = this.object.imageheight + 'px'
      } else {
        if (this.tempobject.height !== undefined) {
          delete this.tempobject.height
        }
      }
      if (this.object.float !== null && this.object.float !== undefined && this.object.float !== '') {
        this.tempobject.float = this.object.float
      } else {
        if (this.tempobject.float !== undefined) {
          delete this.tempobject.float
        }
      }
      this.el.choicesarray[this.el.settingindex].styleobj = JSON.parse(JSON.stringify(this.tempobject))
    },
    backtoimages () {
      this.el.settingindex = null
    },
    deleteimage (index) {
      this.el.choicesarray.splice(index, 1)
      if (this.el.taps !== undefined) {
        if (this.el.taps !== null) {
          for (var i = 0; i < this.el.taps.length; i++) {
            this.el.taps[i].imgonchange = []
          }
        }
      }
      if (this.el.tapswithimage !== undefined) {
        if (this.el.tapswithimage !== null) {
          for (var i = 0; i < this.el.tapswithimage.length; i++) {
            this.el.tapswithimage[i].imgonchange = []
          }
        }
      }
    },
    copyimage (index) {
      let copyimage = _.maxBy(this.el.choicesarray, 'id')
      let imageid = copyimage.id + 1
      this.el.choicesarray.push({
        id: imageid,
        imgsrc: this.el.choicesarray[index].imgsrc,
        imgonchange: this.el.choicesarray[index].imgonchange,
        imgsound: this.el.choicesarray[index].imgsound,
        column: this.el.choicesarray[index].column,
        selected: false,
        change: false,
        bindchoicesid: null,
        styleobj: this.el.choicesarray[index].styleobj
      })
    },
    undochanges () {
      this.el.choicesarray[this.el.settingindex].imgonchange = null
      this.el.choicesarray[this.el.settingindex].imgsound = null
    },
    imageflex () {
      this.el.choicesarray[this.el.settingindex].column = this.tempcolumn
    },
    changechoicemulitple () {
      if (this.multipleflag) {
        if (this.el.choicesmultiple === undefined) {
          this.$set(this.el, 'choicesmultiple', this.multipleflag)
        } else {
          this.el.choicesmultiple = this.multipleflag
        }
      } else {
        this.el.choicesmultiple = false
      }
    },
    changeshuffle () {
      if (this.shuffleflag) {
        if (this.el.shuffleflag === undefined) {
          this.$set(this.el, 'shuffleflag', this.shuffleflag)
        } else {
          this.el.shuffleflag = this.shuffleflag
        }
      } else {
        this.el.shuffleflag = null
      }
    },
    changechoicesimagesstyle () {
      if (this.choicesimagesstyleflag) {
        this.el.choicesimagesstyleflag = this.choicesimagesstyleflag
      } else {
        this.el.choicesimagesstyleflag = false
      }
    }
  },
  computed: {
    compobject: function () {
      return this.object
    },
    elchanges: function () {
      return this.el
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadobj()
      },
      deep: true
    },
    ratiomultiple: {
      handler (value) {
        if (this.ratiomultipleflag) {
          var img = document.getElementById(('image'))
          this.object.imagewidth = Math.round(this.ratiomultiple * img.naturalWidth)
          this.object.imageheight = Math.round(this.ratiomultiple * img.naturalHeight)
        }
      }
    },
    elchanges: {
      handler (element) {
        let keys = Object.keys(this.el)
        for (var i = 0; i < keys.length; i++) {
          switch (keys[i]) {
            case 'taps':
              if (element.taps.length > 0 && element.choicesarray.length > 0) {
                _.forEach(element.choicesarray, (object) => {
                  object.bindchoicesid = element.taps[0].bindchoicesid
                })
                this.choicesid = element.taps[0].bindchoicesid
              }
              break
            case 'tapswithimage':
              if (element.tapswithimage.length > 0 && element.choicesarray.length > 0) {
                _.forEach(element.choicesarray, (object) => {
                  object.bindchoicesid = element.tapswithimage[0].bindchoicesid
                })
                this.choicesid = element.tapswithimage[0].bindchoicesid
              }
              break
            case 'imagegroups':
              if (element.imagegroups.length > 0 && element.choicesarray.length > 0) {
                _.forEach(element.choicesarray, (object) => {
                  object.bindchoicesid = element.imagegroups[0].bindchoicesid
                })
                this.choicesid = element.imagegroups[0].bindchoicesid
              }
              break
          }
        }
      },
      deep: true
    }
  }
}

</script>
