<style lang="scss">
</style>

<template lang="html">
  <div class="columns is-multiline">
    <div class="tabs is-boxed column is-12">
      <ul>
        <li :class="[tab === 'maze'? 'is-active': '']">
          <a @click="tabclicked('maze')">
            <span>Selectable Inputs</span>
          </a>
        </li>
        <li :class="[tab === 'background'? 'is-active': '']">
          <a @click="tabclicked('background')">
            <span>Selectable BG.</span>
          </a>
        </li>
      </ul>
    </div>
    <div v-if="el.settingtab === 'maze'" class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <div class="control">
          <a class="button is-static">
            <span>Selectable Input</span>
          </a>
        </div>
        <div class="control">
          <a class="button is-info"  @click="addnewinput()"><i class="fa fa-plus"></i></a>
        </div>
        <p class="control">
            <a class="button is-static">
                Selectable ID
            </a>
        </p>
        <p v-if="el.taps.length > 0" class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.taps[0].bindchoicesid"></p>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              <span>Selectable Input</span>
            </a>
          </div>
          <div class="control">
            <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.taps">
            </exp-multiselect>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div v-if="currentobj !== null && currentindex !== null">
          <a class="button is-success" style="margin-bottom: 5px;" @click="copytap()">Copy</a>
          <a class="button is-danger" style="margin-bottom: 5px;" @click="deletetap()">Delete</a>
          <!-- Tap Content  -->
          <div class="columns is-multiline">
            <div class="field has-addons column is-8">
              <div class="control">
                <a class="button is-static">
                  Position Left from Previous input
                </a>
              </div>
              <input class="input control" type="number" placeholder="Maze Input Order" v-model="inputspace">
              <div class="control">
                <a class="button is-static">
                  %
                </a>
              </div>
            </div>
            <div class="column is-12">
              <img v-if="el.taps[currentindex].imageinput !== null && el.taps[currentindex].imageinput !== undefined && el.taps[currentindex].imageinput !== ''" :src="mediafile + $route.query.package + '/' + el.taps[currentindex].imageinput">
            </div>
            <div class="field has-addons column is-12">
              <div class="control">
                <a class="button is-static">
                  Filename Input Image On Change
                </a>
              </div>
              <div class="control">
                <input class="input" type="text" placeholder="Tap Input Image Filename" v-model="el.taps[currentindex].imageinput">
              </div>
            </div>
            <div class="field has-addons column is-12">
              <div class="control">
                <a class="button is-static">
                Limit of
                </a>
              </div>
              <div class="control">
                <input class="input" type="number" placeholder="Input Limit" v-model="el.taps[currentindex].maxinput">
              </div>
            </div>
              <div v-if="el.taps[currentindex].orderflag" class="field has-addons column is-12">
                <div class="control">
                  <a class="button is-static">
                    Input Order
                  </a>
                </div>
                <input class="input control" type="number" placeholder="Maze Input Order" v-model="el.taps[currentindex].order">
              </div>
              <!-- <div class="column is-12 field has-addons">
                <p class="control">
                  <exp-checkbox @input="orderflaginput($event)" type="text" class="checkbox" v-model="el.taps[currentindex].orderflag">Order</exp-checkbox>
                </p>
              </div> -->
              <div class="column is-12 field has-addons">
                <p class="control">
                  <exp-checkbox type="text" class="checkbox" v-model="el.taps[currentindex].rightanswer">isRight</exp-checkbox>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from 'lodash'
import eventbus from '@/config/eventhub.js'
import {
  MEDIAENDPOINT
} from '@/config/app-config'
export default {
  name: 'Mazebgtap',
  props: {
    el: Object
  },
  data() {
    return {
      tab: null,
      tapidcount: 1,
      currentobj: null,
      currentindex: null,
      mediafile: MEDIAENDPOINT,
      inputspace: 13.5
    }
  },
  created() {
    this.tab = this.el.settingtab
  },
  mounted() {
    // if (this.el.settingindex !== null) {
    //   this.currentobj = this.el.taps[this.el.settingindex]
    // } else {
    //   this.currentobj = null
    // }
    eventbus.listen('edit-component', () => {
      this.currentobj = null
      this.el.settingindex = null
      this.el.settingtab = null
    })
  },
  methods: {
    tabclicked(tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    },
    addnewinput() {
      if (this.el.taps.length > 0) {
        let maxtap = _.maxBy(this.el.taps, 'id')
        this.tapidcount = maxtap.id + 1
      }
      this.el.taps.push({
        id: this.tapidcount,
        bindchoicesid: 'maze' + this.el.index,
        imageinput: null,
        order: null,
        orderflag: false,
        column: null,
        maxinput: 1,
        rightanswer: false,
        bgobject: {}
      })
    },
    orderflaginput(evt) {
      _.forEach(this.el.taps, (value) => {
        value.orderflag = evt
      })
    },
    copytap() {
      let newobj = JSON.parse(JSON.stringify(this.el.taps[this.currentindex]))
      let maxtap = _.maxBy(this.el.taps, 'id')
      newobj.id = maxtap.id + 1
      if (newobj.bgobject.hasOwnProperty("left")) {
        newobj.bgobject.left = (parseInt(newobj.bgobject.left.replace(/%/g, '')) + parseInt(this.inputspace)) + '%'
      }
      this.el.taps.push(newobj)
      this.currentobj = newobj
    },
    deletetap() {
      this.el.settingindex = null
      this.el.taps.splice(this.currentindex, 1)
      this.currentindex = null
      this.currentobj = null
      this.tab = null
      this.el.settingtab = null
    },
    changebindchoicesid() {
      for (var i = 1; i < this.el.taps.length; i++) {
        this.el.taps[i].bindchoicesid = this.el.taps[0].bindchoicesid
      }
    }
  },
  computed: {
    customel: function() {
      return this.el
    }
  },
  watch: {
    customel: {
      handler(element) {
        this.tab = element.settingtab
        if (element.hasOwnProperty("taps") && this.currentindex != null) {
          for (var i = 0; i < element.taps.length; i++) {
              element.taps[i].maxinput = this.el.taps[this.currentindex].maxinput
          }
        }
      },
      deep: true
    },
    currentobj: function(obj) {
      if (obj !== null) {
        this.el.settingindex = _.findIndex(this.el.taps, {
          'id': obj.id
        })
        this.currentindex = _.findIndex(this.el.taps, {
          'id': obj.id
        })
        this.$forceUpdate()
      } else {
        this.el.settingindex = null
        this.currentindex = null
      }
    }
  }
}
</script>
