<style lang="scss" scoped>
.snapshot{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  width: 100px;
  height: 100px;
}
.imagesview{
  margin-top: 5px;
}
.settingview{
  margin-top: 5px;
}
.editicon{
  padding-left: 5px;
  padding-top: 5px;
  font-size: 1em;
}
.textpadding{
  padding-right: 5px;
}
.banicon{
  padding-right: 5px;
  padding-top: 5px;
  font-size: 1em;
  color: #ff3860;
}
</style>

<template lang="html">
  <div>
  <div v-if="el.settingtab === 'image' || el.settingtab === 'tapinput' || el.settingtab === 'multiplechoiceimgtext'">
    <div class="columns is-multiline">
      <div class="field has-addons column is-12">
        <div class="control">
          <a class="button is-static">
            Add Multiple Choices Area
          </a>
        </div>
        <div class="control">
          <a class="button is-info" @click="addmcimage()">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
              Multiple Choices ID
            </a>
        </p>
        <p v-if="el.imgsarray.length > 0" class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.imgsarray[0].bindchoicesid"></p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <div class="control">
          <a class="button is-static">
            <span>Multiple Choice Image</span>
          </a>
        </div>
        <div class="control">
          <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel='' selectLabel='' selectedLabel='' :options="el.imgsarray">
          </exp-multiselect>
        </div>
      </div>
    </div>
    <div v-if="el.settingindex !== null" class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <div class="control">
          <a class="button is-static">
            Add Choice Image
          </a>
        </div>
        <div class="control">
          <input type="text" class="input" placeholder="Image Filename" v-model="imgchoiceurl">
        </div>
        <div class="control">
          <a class="button is-info" @click="addimagechoice(imgchoiceurl)">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>

      <div class="column is-12">
        <a @click="copyimage()" class="button is-success">Copy</a>
        <a @click="deleteimage()" class="button is-danger">Delete</a>
        <a @click="resetrightanswer()" class="button is-info">Reset Right Answers</a>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <exp-checkbox type="text" class="checkbox" v-model="el.imgsarray[el.settingindex].multiple">Allow Multiple Choices</exp-checkbox>
        </p>
        <div v-if="el.imgsarray[el.settingindex].multiple" style="margin-left: 5px;" class="control field has-addons">
          <div class="control">
            <a class="button is-static">
              Choices Limit
            </a>
          </div>
          <div class="control">
            <input type="number" class="input" placeholder="Choices Limit" v-model="el.imgsarray[el.settingindex].maxinput">
          </div>
        </div>
      </div>
      <div v-if="choiceimgindex === null" class="column is-12">
        <div class="columns is-multiline">
          <div v-for="(image, index) in el.imgsarray[el.settingindex].imgchoices" :key="image.id" class="column">
            <div class="columns is-multiline">
              <div class="column is-12 is-gapless is-paddingless">
                <a @click="choiceimgset(index)"><i class="fa fa-pencil has-text-info"></i></a>
                <a @click="choiceimgcopy(index)"><i class="fa fa-copy has-text-success"></i></a>
                <a @click="choiceimgdelete(index)"><i class="fa fa-times has-text-danger"></i></a>
              </div>
              <div class="column is-12 is-gapless is-paddingless">
                <img :id="'image' + index" class="image snapshot" :src="mediafile + $route.query.package + '/' + image.imgsrc">
              </div>
              <div class="column is-12 is-gapless is-paddingless">
                <a @click="rightanswer(index)" class="button"><span>isRight</span><span
                  v-if="lodash.findIndex(el.imgsarray[el.settingindex].rightanswer, {'id': image.id}) === -1" class="icon"><i class="fa fa-times has-text-danger"></i></span><span v-else class="icon"><i class="fa fa-check has-text-success"></i></span></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-12" v-if="choiceimgindex !== null">
        <div class="columns is-multiline">
          <div class="column is-4 is-offset-4">
            <a class="button is-static"><span class="has-text-info has-text-weight-bold">Image Choice Settings</span></a>
          </div>
          <div class="column is-12">
            <img :id="'image' + choiceimgindex" class="snapshot" :src="mediafile + $route.query.package + '/' + el.imgsarray[el.settingindex].imgchoices[choiceimgindex].imgsrc">
          </div>
          <div class="column is-12">
            <a class="button is-info" @click="choiceimgindex = null"><span class="icon"><i class="fa fa-arrow-left"></i></span><span>Back</span></a>
          </div>
          <div class="column is-12 field has-addons">
            <div class="control">
              <a class="button is-static">Image Filename</a>
            </div>
            <div class="control">
              <input type="text" class="input" v-model="el.imgsarray[el.settingindex].imgchoices[choiceimgindex].imgsrc">
            </div>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Image Width
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Width" v-model="object.width">
              </p>
              <p class="control">
                <a class="button is-static">
                  px
                </a>
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Image Height
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Height" v-model="object.height">
              </p>
              <p class="control">
                <a class="button is-static">
                  px
                </a>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  <span>Image Ratio Multiplier</span>
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" step="0.1" min="0" v-model="ratiomultiple">
              </p>
            </div>
          </div>
          <div class="column is-6">
            <exp-checkbox type="text" class="checkbox" v-model="ratiomultipleflag">Lock Multiplier</exp-checkbox>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  <span>Space Around Image Container</span>
                </a>
              </p>
              <p class="control">
                <a v-if="object.bgtoppadding === 0 && object.bgrightpadding === 0 && object.bgbottompadding === 0 && object.bgleftpadding === 0" class="button is-info" title="Default Padding" @click="removePaddingImgContainer(false)">
                  <span>Add <span class="has-text-success">(Default Padding)</span></span>
                </a>
                <a v-else class="button is-info" title="Image Element Padding 0" @click="removePaddingImgContainer(true)">
                  <span>Remove <span class="has-text-success">(Image Element Padding 0)</span></span>
                </a>
              </p>
            </div>
          </div>
          <div class="column is-6">
            <exp-checkbox type="text" class="checkbox" v-model="ratiomultipleflag">Lock Multiplier</exp-checkbox>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Top
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Top" v-model="object.top">
              </p>
              <p class="control">
                <a class="button is-static">
                  %
                </a>
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Left
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Left" v-model="object.left">
              </p>
              <p class="control">
                <a class="button is-static">
                  %
                </a>
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  z-Index
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="z-Index" v-model="object.zindex">
              </p>
              <p class="control">
                <a class="button is-static">
                  %
                </a>
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Padding
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Top" v-model="object.bgtoppadding">
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Right" v-model="object.bgrightpadding">
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottompadding">
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Left" v-model="object.bgleftpadding">
              </p>
              <p class="control">
                <a class="button is-static">
                  %
                </a>
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Margin
                </a>
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Top" v-model="object.bgtopmargin">
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Right" v-model="object.bgrightmargin">
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottommargin">
              </p>
              <p class="control">
                <input class="input" type="number" placeholder="Left" v-model="object.bgleftmargin">
              </p>
              <p class="control">
                <a class="button is-static">
                  %
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div v-if="this.el.settingtab === 'multiplechoiceimgtext'" class="column is-12">
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              Question Text
            </a>
          </div>
          <div class="control">
            <input type="text" class="input" placeholder="Question Text" v-model="el.imgsarray[el.settingindex].text">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import eventbus  from '@/config/eventhub'
import _ from 'lodash'
export default {
  name: 'Multiplechoiceimg',
  props: {
    el: Object
  },
  data () {
    return {
      imgchoiceurl: null,
      lodash: _,
      imgidcount: 1,
      currentobj: null,
      mediafile: MEDIAENDPOINT,
      choiceimgindex: null,
      ratiomultiple: 1,
      ratiomultipleflag: false,
      object: {
        bgtoppadding: null,
        bgbottompadding: null,
        bgleftpadding: null,
        bgrightpadding: null,
        bgtopmargin: null,
        bgrightmargin: null,
        bgbottommargin: null,
        bgleftmargin: null,
        top: null,
        left: null,
        width: null,
        height: null,
        zindex: null
      },
      tempobject: {}
    }
  },
  mounted () {
    this.el.settingindex = null
    eventbus.listen('edit-component', () => {
      this.currentobj = null
      this.el.settingindex = null
      this.el.settingtab = null
    })
  },
  methods: {
    addmcimage () {
      let bindchoices = 'multiplechoiceimg'
      if (this.el.imgsarray.length > 0) {
        let maximg = _.maxBy(this.el.imgsarray, 'id')
        this.imgidcount = maximg.id + 1
        bindchoices = this.el.imgsarray[0].bindchoicesid
      }
      this.el.imgsarray.push({id: this.imgidcount, column: null, bindchoicesid: bindchoices, imgchoices: [], rightanswer: [], text: null, textstyle: {}, multiple: false, maxinput: 1, staticimage: {}, bgobject: {}})
    },
    addimagechoice (imgchoiceurl) {
      if (this.imgchoiceurl !== null) {
        let choiceid = 1
        if (this.el.imgsarray[this.el.settingindex].imgchoices.length > 0) {
          let maxchoiceimg = _.maxBy(this.el.imgsarray[this.el.settingindex].imgchoices, 'id')
          choiceid = maxchoiceimg.id + 1
        }
        this.el.imgsarray[this.el.settingindex].imgchoices.push({
          id: choiceid,
          imgsrc: imgchoiceurl,
          bgobject: {},
          check: false,
          selected: false
        })
        this.imgchoiceurl = null
      }
    },
    choiceimgset (index) {
      this.choiceimgindex = index
      this.tempobject = JSON.parse(JSON.stringify(this.el.imgsarray[this.el.settingindex].imgchoices[index].bgobject))
      if (this.tempobject.paddingTop !== undefined) {
        this.object.bgtoppadding = this.tempobject.paddingTop.replace(/%/g, '')
      } else {
        this.object.bgtoppadding = null
      }
      if (this.tempobject.paddingBottom !== undefined) {
        this.object.bgbottompadding = this.tempobject.paddingBottom.replace(/%/g, '')
      } else {
        this.object.bgbottompadding = null
      }
      if (this.tempobject.paddingLeft !== undefined) {
        this.object.bgleftpadding = this.tempobject.paddingLeft.replace(/%/g, '')
      } else {
        this.object.bgleftpadding = null
      }
      if (this.tempobject.paddingRight !== undefined) {
        this.object.bgrightpadding = this.tempobject.paddingRight.replace(/%/g, '')
      } else {
        this.object.bgrightpadding = null
      }
      if (this.tempobject.marginTop !== undefined) {
        this.object.bgtopmargin = this.tempobject.marginTop.replace(/%/g, '')
      } else {
        this.object.bgtopmargin = null
      }
      if (this.tempobject.marginBottom !== undefined) {
        this.object.bgbottommargin = this.tempobject.marginBottom.replace(/%/g, '')
      } else {
        this.object.bgbottommargin = null
      }
      if (this.tempobject.marginLeft !== undefined) {
        this.object.bgleftmargin = this.tempobject.marginLeft.replace(/%/g, '')
      } else {
        this.object.bgleftmargin = null
      }
      if (this.tempobject.marginRight !== undefined) {
        this.object.bgrightmargin = this.tempobject.marginRight.replace(/%/g, '')
      } else {
        this.object.bgrightmargin = null
      }
      if (this.tempobject.width !== undefined) {
        this.object.width = this.tempobject.width.replace(/px/g, '')
      } else {
        this.object.width = null
      }
      if (this.tempobject.height !== undefined) {
        this.object.height = this.tempobject.height.replace(/px/g, '')
      } else {
        this.object.height = null
      }
      this.$nextTick(() => {
        this.$InputNumberStep('input', 'number', 38, 40, 10)
        var img = document.getElementById(('image' + this.choiceimgindex))
        let widthflag = (Math.round((this.object.width / img.naturalWidth) * 10) / 10)
        let heightflag = (Math.round((this.object.height / img.naturalHeight) * 10) / 10)
        if (widthflag === heightflag) {
          this.ratiomultiple = widthflag
        } else {
          this.ratiomultiple = null
        }
      })
      if (this.tempobject.top !== undefined) {
        this.object.top = this.tempobject.top.replace(/%/g, '')
      } else {
        this.object.top = null
      }
      if (this.tempobject.left !== undefined) {
        this.object.left = this.tempobject.left.replace(/%/g, '')
      } else {
        this.object.left = null
      }
      if (this.tempobject.zIndex !== undefined) {
        this.object.zindex = this.tempobject.zIndex
      } else {
        this.object.zindex = null
      }
    },
    loadbg () {
      if (this.object.bgtoppadding !== null && this.object.bgtoppadding !== undefined && this.object.bgtoppadding !== '') {
        this.tempobject.paddingTop = this.object.bgtoppadding + '%'
      } else {
        if (this.tempobject.paddingTop !== undefined) {
          delete this.tempobject.paddingTop
        }
      }
      if (this.object.bgbottompadding !== null && this.object.bgbottompadding !== undefined && this.object.bgbottompadding !== '') {
        this.tempobject.paddingBottom = this.object.bgbottompadding + '%'
      } else {
        if (this.tempobject.paddingBottom !== undefined) {
          delete this.tempobject.paddingBottom
        }
      }
      if (this.object.bgleftpadding !== null && this.object.bgleftpadding !== undefined && this.object.bgleftpadding !== '') {
        this.tempobject.paddingLeft = this.object.bgleftpadding + '%'
      } else {
        if (this.tempobject.paddingLeft !== undefined) {
          delete this.tempobject.paddingLeft
        }
      }
      if (this.object.bgrightpadding !== null && this.object.bgrightpadding !== undefined && this.object.bgrightpadding !== '') {
        this.tempobject.paddingRight = this.object.bgrightpadding + '%'
      } else {
        if (this.tempobject.paddingRight !== undefined) {
          delete this.tempobject.paddingRight
        }
      }
      if (this.object.bgtopmargin !== null && this.object.bgtopmargin !== undefined && this.object.bgtopmargin !== '') {
        this.tempobject.marginTop = this.object.bgtopmargin + '%'
      } else {
        if (this.tempobject.marginTop !== undefined) {
          delete this.tempobject.marginTop
        }
      }
      if (this.object.bgbottommargin !== null && this.object.bgbottommargin !== undefined && this.object.bgbottommargin !== '') {
        this.tempobject.marginBottom = this.object.bgbottommargin + '%'
      } else {
        if (this.tempobject.marginBottom !== undefined) {
          delete this.tempobject.marginBottom
        }
      }
      if (this.object.bgleftmargin !== null && this.object.bgleftmargin !== undefined && this.object.bgleftmargin !== '') {
        this.tempobject.marginLeft = this.object.bgleftmargin + '%'
      } else {
        if (this.tempobject.marginLeft !== undefined) {
          delete this.tempobject.marginLeft
        }
      }
      if (this.object.bgrightmargin !== null && this.object.bgrightmargin !== undefined && this.object.bgrightmargin !== '') {
        this.tempobject.marginRight = this.object.bgrightmargin + '%'
      } else {
        if (this.tempobject.marginRight !== undefined) {
          delete this.tempobject.marginRight
        }
      }
      if (this.object.width !== null && this.object.width !== undefined && this.object.width !== '') {
        this.tempobject.width = this.object.width + 'px'
      } else {
        if (this.tempobject.width !== undefined) {
          delete this.tempobject.width
        }
      }
      if (this.object.height !== null && this.object.height !== undefined && this.object.height !== '') {
        this.tempobject.height = this.object.height + 'px'
      } else {
        if (this.tempobject.height !== undefined) {
          delete this.tempobject.height
        }
      }
      if (this.object.zindex !== null && this.object.zindex !== undefined && this.object.zindex !== '') {
        this.tempobject.zIndex = this.object.zindex
      } else {
        if (this.tempobject.zIndex !== undefined) {
          delete this.tempobject.zIndex
        }
      }
      if (this.object.top !== null && this.object.top !== undefined && this.object.top !== '') {
        this.tempobject.top = this.object.top + '%'
        this.tempobject.position = 'absolute'
      } else {
        if (this.tempobject.top !== undefined) {
          delete this.tempobject.top
          delete this.tempobject.position
        }
      }
      if (this.object.left !== null && this.object.left !== undefined && this.object.left !== '') {
        this.tempobject.left = this.object.left + '%'
        this.tempobject.position = 'absolute'
      } else {
        if (this.tempobject.left !== undefined) {
          delete this.tempobject.left
          delete this.tempobject.position
        }
      }
      this.el.imgsarray[this.el.settingindex].imgchoices[this.choiceimgindex].bgobject = JSON.parse(JSON.stringify(this.tempobject))
    },
    choiceimgdelete (index) {
      this.el.imgsarray[this.el.settingindex].imgchoices.splice(index, 1)
      this.currentobj = null
      this.choiceimgindex = null
    },
    choiceimgcopy (index) {
      let imgchoicecopy = JSON.parse(JSON.stringify(this.el.imgsarray[this.el.settingindex].imgchoices[index]))
      let maxchoiceimg = _.maxBy(this.el.imgsarray[this.el.settingindex].imgchoices, 'id')
      this.el.imgsarray[this.el.settingindex].imgchoices.push({
        id: maxchoiceimg.id + 1,
        imgsrc: imgchoicecopy.imgsrc,
        bgobject: JSON.parse(JSON.stringify(imgchoicecopy.bgobject)),
        check: false,
        selected: false
      })
    },
    copyimage () {
      let newobj = JSON.parse(JSON.stringify(this.el.imgsarray[this.el.settingindex]))
      let maximg = _.maxBy(this.el.imgsarray, 'id')
      newobj.id = maximg.id + 1
      this.el.imgsarray.push(newobj)
    },
    rightanswer (index) {
      if (this.el.imgsarray[this.el.settingindex].multiple) {
        let rightanswerindex = _.findIndex(this.el.imgsarray[this.el.settingindex].rightanswer, {'id': this.el.imgsarray[this.el.settingindex].imgchoices[index].id})
        if (rightanswerindex === -1) {
          this.el.imgsarray[this.el.settingindex].rightanswer.push({id: this.el.imgsarray[this.el.settingindex].imgchoices[index].id})
        } else {
          _.remove(this.el.imgsarray[this.el.settingindex].rightanswer, (value) => {
            return value.id === this.el.imgsarray[this.el.settingindex].imgchoices[index].id
          })
          this.el.imgsarray[this.el.settingindex].rightanswer = JSON.parse(JSON.stringify(this.el.imgsarray[this.el.settingindex].rightanswer))
        }
      } else {
        if (this.el.imgsarray[this.el.settingindex].rightanswer.length > 0) {
          this.el.imgsarray[this.el.settingindex].rightanswer[0].id = this.el.imgsarray[this.el.settingindex].imgchoices[index].id
        } else {
          this.el.imgsarray[this.el.settingindex].rightanswer.push({id: this.el.imgsarray[this.el.settingindex].imgchoices[index].id})
          this.el.imgsarray[this.el.settingindex].maxinput++
        }
      }
    },
    resetrightanswer () {
      this.el.imgsarray[this.el.settingindex].rightanswer.splice(0, this.el.imgsarray[this.el.settingindex].rightanswer.length)
      this.el.imgsarray[this.el.settingindex].maxinput--
    },
    backtoimages () {
      this.el.settingindex = null
      this.el.settingtab = null
      this.el.choiceimgindex = null
      this.currentobj = null
    },
    deleteimage () {
      this.el.imgsarray.splice(this.el.settingindex, 1)
      this.el.settingindex = null
    },
    changebindchoicesid () {
      for (var i = 1; i < this.el.imgsarray.length; i++) {
        this.el.imgsarray[i].bindchoicesid = this.el.imgsarray[0].bindchoicesid
      }
    },
    removePaddingImgContainer (flag) {
      if (flag) {
        this.object.bgtoppadding = 0
        this.object.bgrightpadding = 0
        this.object.bgbottompadding = 0
        this.object.bgleftpadding = 0
      } else {
        this.object.bgtoppadding = null
        this.object.bgrightpadding = null
        this.object.bgbottompadding = null
        this.object.bgleftpadding = null
      }
    }
  },
  computed: {
    compobject: function () {
      return this.object
    },
    elsettingindex: function () {
      return this.el.settingindex
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadbg()
      },
      deep: true
    },
    elsettingindex: {
      handler (index) {
        if (index === null) {
          this.currentobj = null
        }
      },
      deep: true
    },
    currentobj: function (obj) {
      if (obj !== null) {
        this.el.settingindex = _.findIndex(this.el.imgsarray, {'id': obj.id})
        // this.el.settingtab = 'tapinput'
        this.$forceUpdate()
      } else {
        this.el.settingindex = null
      }
    },
    ratiomultiple: {
      handler (value) {
        if (this.ratiomultipleflag) {
          var img = document.getElementById('image' + this.choiceimgindex)
          if (value !== 1) {
            this.object.width = img.naturalWidth
            this.object.height = img.naturalHeight
            this.object.width = Math.round(this.object.width * value)
            this.object.height = Math.round(this.object.height * value)
          } else {
            this.object.width = img.naturalWidth
            this.object.height = img.naturalHeight
          }
        }
      }
    }
  }
}

</script>
