<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed column is-12">
    <ul>
      <li :class="[tab === 'player'? 'is-active': '']">
        <a @click="tabclicked('player')">
          <span>Player</span>
        </a>
      </li>
      <li :class="[tab === 'background'? 'is-active': '']">
        <a @click="tabclicked('background')">
          <span>Background</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="column is-12" v-if="tab === 'player'">
    <div class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <p class="control" >
          <a class="button is-static">
            Video FileName
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Video Filename" v-model="el.videosrc">
        </p>
        <p v-if="el.videosrc !== null" class="control">
          <video id="video" width="420" controls>
            <source :src="mediafile + $route.query.package + '/' + el.videosrc" :type="'video/' + el.videomimetype">
          </video>
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Video Type
          </a>
        </p>
        <p class="control">
          <input class="input" disabled type="text" placeholder="Video Type" v-model="el.videomimetype">
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Video Width
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Video Width" v-model="el.videowidth">
        </p>
        <p class="control">
          <a class="button is-static">
            Video Height
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Video Height" v-model="el.videoheight">
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Multiplier
          </a>
        </p>
        <p class="control">
          <input class="input" @input="multiplierfun()" :disabled="!multiplierflag" type="number" placeholder="Video Height" step="0.1" min="0" v-model="multiplier">
        </p>
        <p class="control">
          <exp-checkbox type="text" class="checkbox" v-model="multiplierflag">Lock Multiplier</exp-checkbox>
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'PrimaryVideoPlayer',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      mediafile: MEDIAENDPOINT,
      mimetype: null,
      multiplierflag: false,
      multiplier: 1
    }
  },
  mounted () {
    this.tab = this.el.settingtab
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    },
    multiplierfun () {
      var vid = document.getElementById('video')
      this.el.videowidth =  Math.round(this.multiplier * vid.videoWidth)
      this.el.videoheight = Math.round(this.multiplier * vid.videoHeight)
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        if (element.videosrc !== null && element.videosrc !== undefined) {
          element.videomimetype = element.videosrc.split('.').pop()
        }
      },
      deep: true
    }
  },
}

</script>
