<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed column is-12">
    <ul>
      <li :class="[tab === 'player'? 'is-active': '']">
        <a @click="tabclicked('player')">
          <span>Player</span>
        </a>
      </li>
      <li :class="[tab === 'background'? 'is-active': '']">
        <a @click="tabclicked('background')">
          <span>Background</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="column is-12" v-if="tab === 'player'">
    <div class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <p class="control" >
          <a class="button is-static">
            Audio FileName
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Audio Filename" v-model="el.audiosrc">
        </p>
        <p v-if="el.audiosrc !== null" class="control">
          <audio controls preload="none">
            <source :src="mediafile + $route.query.package + '/' + el.audiosrc" :type="'audio/' + mimetype">
          </audio>
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <exp-checkbox type="text" class="checkbox" v-model="el.htmlflag">HTML5 AUDIO</exp-checkbox>
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'PrimaryAudioPlayer',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      mediafile: MEDIAENDPOINT,
      mimetype: null
    }
  },
  created () {
    this.tab = this.el.settingtab
    this.mimetype = this.el.audiosrc.split('.').pop()
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    }
  }
}

</script>
