<style lang="scss" scoped>
.snapshot{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  width: 100px;
  height: 100px;
}
.imagesview{
  margin-top: 5px;
}
.settingview{
  margin-top: 5px;
}
.editicon{
  padding-left: 5px;
  padding-top: 5px;
  font-size: 1em;
}
.textpadding{
  padding-right: 5px;
}
.banicon{
  padding-right: 5px;
  padding-top: 5px;
  font-size: 1em;
  color: #ff3860;
}
</style>

<template lang="html">
<div class="columns is-multiline" v-if="el.settingtab === 'staticimg'">
  <div v-if="tempindex === null" class="column is-12 field has-addons">
    <p class="control">
      <a class="button is-static">
        New Static Img
      </a>
    </p>
    <div class="control">
      <input class="input" type="text" placeholder="Image URL" v-model="imgurl">
    </div>
    <div class="control">
      <a class="button is-info" @click="addimage(imgurl)">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <div class="column is-12" v-if="tempindex === null">
    <div class="imagesview columns is-multiline">
      <div v-for="(image, index) in el.staticimgs" :key="image.id" class="column is-6">
        <div class="snapshot" :style="{backgroundImage: 'url('+ media + $route.query.package + '/' + image.src + ')', backgroundSize: '20px', backgroundRepeat: 'no-repeat', backgroundPosition: 'center'}">
          <a @click="settingclicked(index)"><i class="fa fa-pencil editicon pull-left"></i></a>
          <a @click="deleteimage(index)"><i class="fa fa-times banicon is-danger pull-right"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-12" v-else>
    <div class="columns is-multiline">
      <div class="column is-6">
        <a class="button" @click="back()">
          <i class="fa fa-arrow-left has-text-info is-size-5"> Back</i>
        </a>
      </div>
      <div class="column is-6">
        <a class="button" @click="reset()">
          <i class="fa fa-undo has-text-danger is-size-5"> Reset</i>
        </a>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Width
          </a>
        </p>
        <div class="control">
          <input class="input" type="number" placeholder="Image Width" v-model="object.imgwidth">
        </div>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Height
          </a>
        </p>
        <div class="control">
          <input class="input" type="number" placeholder="Image Height" v-model="object.imgheight">
        </div>
        <p class="control">
          <a class="button is-static">
            px
          </a>
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Left
          </a>
        </p>
        <div class="control">
          <input class="input" type="number" placeholder="Image Left Position" v-model="object.imgleft">
        </div>
        <p class="control">
          <a class="button is-static">
            %
          </a>
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Top
          </a>
        </p>
        <div class="control">
          <input class="input" type="number" placeholder="Image Top Position" v-model="object.imgtop">
        </div>
        <p class="control">
          <a class="button is-static">
            %
          </a>
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config'
import maxBy from 'lodash/maxBy'
export default {
  name: 'staticimgsposabsolute',
  props: {
    el: Object
  },
  data () {
    return {
      media: MEDIAENDPOINT,
      tempindex: null,
      imgurl: null,
      imgid: 1,
      object: {
        imgtop: null,
        imgleft: null,
        imgwidth: null,
        imgheight: null
      },
      tempwidth: null
    }
  },
  methods: {
    addimage (imgurl) {
      if (imgurl !== null) {
        if (this.el.staticimgs.length > 0) {
          let maximg = maxBy(this.el.staticimgs, 'id')
          this.imgid = maximg.id + 1
        }
        this.el.staticimgs.push({
          id: this.imgid,
          src: imgurl,
          imgstyle: {width: '20px', height: '20px', position: 'absolute', left: '0%', top: '0%'}
        })
      }
    },
    loadimgstyle () {
      this.el.staticimgs[this.tempindex].imgstyle.width = this.object.imgwidth + 'px'
      this.el.staticimgs[this.tempindex].imgstyle.height = this.object.imgheight + 'px'
      this.el.staticimgs[this.tempindex].imgstyle.top = this.object.imgtop + '%'
      this.el.staticimgs[this.tempindex].imgstyle.left = this.object.imgleft + '%'
    },
    deleteimage (index) {
      this.el.staticimgs.splice(index, 1)
    },
    settingclicked (index) {
      this.tempindex = index
      this.object.imgwidth = this.el.staticimgs[index].imgstyle.width.replace(/px/g, '')
      this.object.imgheight = this.el.staticimgs[index].imgstyle.height.replace(/px/g, '')
      this.object.imgtop = this.el.staticimgs[index].imgstyle.top.replace(/%/g, '')
      this.object.imgleft = this.el.staticimgs[index].imgstyle.left.replace(/%/g, '')
    },
    back () {
      this.tempindex = null
    },
    reset () {
      this.object.imgtop = 0
      this.object.imgleft = 0
      this.object.imgwidth = 20
      this.object.imgheight = 20
    }
  },
  computed: {
    compobject: function () {
      return this.object
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadimgstyle()
      },
      deep: true
    }
  }
}

</script>
