<style lang="scss">



</style>
<template lang="html">
  <div class="columns is-multiline" v-if="el.settingtab === 'staticimages'">
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Static Image
        </a>
      </p>
      <div class="control">
        <input class="input" type="text" placeholder="Image" v-model="tempimage">
      </div>
      <div class="control">
        <a class="button is-info" @click="addimage(tempimage)">
          <i class="fa fa-plus"></i>
        </a>
      </div>
    </div>
    <div v-if="this.el.staticimages !== undefined" class="column is-12">
      <div class="columns is-multiline">
        <div class="column is-12 field has-addons">
          <div class="control">
            <a class="button is-static">
              <span>Images</span>
            </a>
          </div>
          <div class="control">
            <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel='' selectLabel='' selectedLabel='' @input="staticImageSettings()" :options="el.staticimages">
            </exp-multiselect>
          </div>
      </div>
      <div v-if="el.settingindex != null" class="column is-12">
        <a class="button is-success" @click="copyimage()"><span>Copy</span></a>
        <a class="button is-danger" @click="deleteimage()"><span>Delete</span></a>
      </div>
      </div>
    </div>
  </div>
</template>

<script>
import Bus from '@/config/eventhub'
import {
  MEDIAENDPOINT
} from '@/config/app-config'
import maxBy from 'lodash/maxBy'
import findIndex from 'lodash/findIndex'
export default {
  name: 'staticimages',
  props: {
    el: Object
  },
  data () {
    return {
      currentobj: null,
      media: MEDIAENDPOINT,
      tempindex: null,
      imageid: 1,
      tempimage: null
    }
  },
  methods: {
    addimage(image) {
      if (image !== null) {
        if (this.el.staticimages === undefined) {
          this.$set(this.el, 'staticimages', [])
        } else {
          if (this.el.staticimages.length > 0) {
            let maximg = maxBy(this.el.staticimages, 'id')
            this.imageid = maximg.id + 1
          }
        }
        this.el.staticimages.push({
          id: this.imageid,
          staticimage: {imgsrc: image}
        })
        this.tempimage = null
      }
    },
    staticImageSettings () {
       Bus.fire('uicomponentimages_close')
      if (this.currentobj !== null) {
        let tempIndex = findIndex(this.el.staticimages, {
          'id': this.currentobj.id
        })
        if (tempIndex > -1) {
         Bus.fire('uicomponentimages_open', {style: 'staticimages[' + tempIndex + '].staticimage', image: this.el.staticimages[tempIndex].staticimage.imgsrc})
        }
      }
    },
    deleteimage() {
      Bus.fire('uicomponentimages_close')
      this.el.staticimages.splice(this.el.settingindex, 1)
      this.currentobj = null
    },
    copyimage () {
      Bus.fire('uicomponentimages_close')
      let newobj = JSON.parse(JSON.stringify(this.el.staticimages[this.el.settingindex]))
      let maximg = _.maxBy(this.el.staticimages, 'id')
      newobj.id = maximg.id + 1
      this.el.staticimages.push(newobj)
    },
    back() {
      Bus.fire('uicomponentimages_close')
      this.currentobj = null
    }
  },
  computed: {
    elsettingtab: function () {
      return this.el.settingtab
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadbg()
      },
      deep: true
    },
    elsettingtab: {
      handler (index) {
        this.currentobj = null
      },
      deep: true
    },
    currentobj: function (obj) {
      if (obj !== null) {
        Bus.fire('staticimages_index_change')
        this.el.settingindex = findIndex(this.el.staticimages, {
          'id': obj.id
        })
      } else {
        this.el.settingindex = null
      }
    },
  }
}
</script>
