<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline" v-if="el.settingtab === 'statictexts'">
  <div class="column is-12 field has-addons">
    <p class="control">
      <a class="button is-static">
        Static Text
      </a>
    </p>
    <div class="control">
      <input class="input" type="text" placeholder="Text" v-model="temptext">
    </div>
    <div class="control">
      <a class="button is-info" @click="addtext(temptext)">
        <i class="fa fa-plus"></i>
      </a>
    </div>
  </div>
  <div v-if="this.el.statictexts !== undefined" class="column is-12">
    <div class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <div class="control">
          <a class="button is-static">
            <span>Texts</span>
          </a>
        </div>
        <div class="control">
          <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel='' selectLabel='' selectedLabel='' @input="staticTextSettings()" :options="el.statictexts">
          </exp-multiselect>
        </div>
    </div>
    <div v-if="el.settingindex != null" class="column is-12 field has-addons">
      <vue-editor v-model="el.statictexts[el.settingindex].text"></vue-editor>
    </div>
    <div  v-if="el.settingindex != null" class="column is-12">
      <a @click="copytext()" class="button is-success">Copy</a>
      <a @click="deletetext()" class="button is-danger">Delete</a>
    </div>
    <!-- <div v-if="el.settingindex != null" class="column is-12">
      <a class="button is-success" @click="copy()"><span>Copy</span></a>
      <a class="button is-danger" @click="deletetext()"><span>Delete</span></a>
      <a class="button is-info" @click="back()"><span>Back</span></a>
    </div> -->
    </div>
  </div>
</div>
</template>

<script>
import Bus from '@/config/eventhub'
import {
  MEDIAENDPOINT
} from '@/config/app-config'
import maxBy from 'lodash/maxBy'
import findIndex from 'lodash/findIndex'
export default {
  name: 'statictexts',
  props: {
    el: Object
  },
  data() {
    return {
      currentobj: null,
      media: MEDIAENDPOINT,
      tempindex: null,
      textid: 1,
      temptext: null
    }
  },
  methods: {
    copytext () {
      Bus.fire('uicomponenttext_close')
      let newobj = JSON.parse(JSON.stringify(this.el.statictexts[this.el.settingindex]))
      let maximg = _.maxBy(this.el.statictexts, 'id')
      newobj.id = maximg.id + 1
      this.el.statictexts.push(newobj)
    },
    addtext(text) {
      if (text !== null) {
        if (this.el.statictexts === undefined) {
          this.$set(this.el, 'statictexts', [])
        } else {
          if (this.el.statictexts.length > 0) {
            let maximg = maxBy(this.el.statictexts, 'id')
            this.textid = maximg.id + 1
          }
        }
        this.el.statictexts.push({
          id: this.textid,
          text: text,
          textstyle: {}
        })
        this.temptext = null
      }
    },
    staticTextSettings () {
      Bus.fire('uicomponenttext_close')
      if (this.currentobj !== null) {
        let tempIndex = findIndex(this.el.statictexts, {
          'id': this.currentobj.id
        })
        if (tempIndex > -1) {
         Bus.fire('uicomponenttext_open', {style: 'statictexts[' + tempIndex + '].textstyle'})
        }
      }
    },
    deletetext() {
      Bus.fire('uicomponenttext_close')
      this.el.statictexts.splice(this.el.settingindex, 1)
      this.currentobj = null
    },
    back() {
      Bus.fire('uicomponenttext_close')
      this.currentobj = null
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadbg()
      },
      deep: true
    },
    elsettingindex: {
      handler (index) {
        if (index === null) {
          this.currentobj = null
        }
      },
      deep: true
    },
    currentobj: function (obj) {
      if (obj !== null) {
        this.el.settingindex = findIndex(this.el.statictexts, {
          'id': obj.id
        })
      } else {
        this.el.settingindex = null
      }
    },
  }
}
</script>
