<style lang="scss">
.snapshot{
  height: 100px;
  width: 100px;
}
.smalltabs{
  font-size: 0.8em;
}
svg path[id]:hover{
  fill: #e30613;
}
</style>
<template lang="html">
<div class="columns is-multiline is-mobile">
  <div class="tabs is-boxed column is-12">
    <ul>
      <li :class="[tab === 'choicesimgs'? 'is-active': '']">
        <a @click="tabclicked('choicesimgs')">
          <span class="smalltabs">Img. Choices</span>
        </a>
      </li>
      <li :class="[tab === 'choicesbackground'? 'is-active': '']">
        <a @click="tabclicked('choicesbackground')">
          <span class="smalltabs">Img. Choices BG.</span>
        </a>
      </li>
      <li :class="[tab === 'tapinput'? 'is-active': '']">
        <a @click="tabclicked('tapinput')">
          <span class="smalltabs">Missing Input</span>
        </a>
      </li>
      <li :class="[tab === 'background'? 'is-active': '']">
        <a @click="tabclicked('background')">
          <span class="smalltabs">Puzzle BG.</span>
        </a>
      </li>
      <li :class="[tab === 'staticimages'? 'is-active': '']">
        <a @click="tabclicked('staticimages')">
          <span class="smalltabs">Static Img.</span>
        </a>
      </li>
      <li :class="[tab === 'statictexts'? 'is-active': '']">
        <a @click="tabclicked('statictexts')">
          <span class="smalltabs">Static Texts</span>
        </a>
      </li>
    </ul>
    </div>
  <div class="column is-12" v-if="el.settingtab === 'tapinput'">
    <div class="columns is-multiline settingview">
      <div class="column is-12">
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              <span>New Tap Input</span>
            </a>
          </div>
          <div class="control">
            <a class="button is-info" @click="addnewtap()"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              <span>TapInput</span>
            </a>
          </div>
          <div class="control">
            <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.onesvg">
            </exp-multiselect>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div v-if="currentobj !== null">
          <a class="button is-success" style="margin-bottom: 5px;" @click="copytap()">Copy</a>
          <a class="button is-danger" style="margin-bottom: 5px;" @click="deletetap()">Delete</a>
          <!-- Tap Content  -->
          <div class="columns is-multiline">
            <div class="column is-12">
              <a @click="svgflag = !svgflag" class="button has-text-info"><span v-if="!svgflag">Image</span><span v-else>Code</span> </a>
            </div>
            <div v-if="!svgflag" class="column is-12">
              <span>SVG Code</span>
                 <exp-input placeholder="Tap Input Image URL" type="textarea"  v-model="el.onesvg[currentindex].imageinput"></exp-input>
            </div>
            <div v-else class="column is-12">
              <span>SVG Image</span>
                 <span @click="addsvginput($event)" v-html="el.onesvg[currentindex].imageinput"></span>
            </div>
            <div v-if="el.onesvg[currentindex].pathsarray !== undefined" class="field has-addons column is-12">
              <div class="control">
                <a class="button is-static">
                  SVG Paths
                </a>
              </div>
              <div class="control">
                <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="pathobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.onesvg[currentindex].pathsarray">
                </exp-multiselect>
              </div>
            </div>
            <div v-if="pathobj !== null && pathindex !== null" class="column is-12">
              <a class="button is-danger" style="margin-bottom: 5px;" @click="deletepath()">Delete Path</a>
            </div>
            <div v-if="pathobj !== null && pathindex !== null" class="column is-12">
              <exp-checkbox type="text" class="checkbox" v-model="el.onesvg[currentindex].pathsarray[pathindex].AllRight">All Right</exp-checkbox>
            </div>
            <div v-if="pathobj !== null && pathindex !== null" v-for="(choice, index) in el.choicesarray" :key="choice.id" class="column is-12">
                <div class="field has-addons">
                  <div class="control">
                    <div v-if="el.onesvg[currentindex].imgonchange.length > index">
                        <img v-if="el.onesvg[currentindex].imgonchange[index].imgonchangesrc !== null" class="image snapshot" :src="mediafile + $route.query.package + '/' + el.onesvg[currentindex].imgonchange[index].imgonchangesrc">
                    </div>
                  </div>
                  <div class="control">
                    <img id="image" class="image snapshot" :src="mediafile + $route.query.package + '/' + choice.imgsrc">
                  </div>
                  <div class="control">
                    <div class="rightanswer_btn">
                      <a @click="pickrightanswer(choice.id, choice.svgfill)" v-if="el.onesvg[currentindex].pathsarray[pathindex].svgright === null" class="button">isRight</a>
                      <a v-if="el.onesvg[currentindex].pathsarray[pathindex].svgright === choice.id" class="button righticon"><i class="fa fa-check"></i></a>
                      <a @click="pickrightanswer(choice.id, choice.svgfill)" v-if="el.onesvg[currentindex].pathsarray[pathindex].svgright !== null && el.onesvg[currentindex].pathsarray[pathindex].svgright !== choice.id" class="button wrongicon"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash'
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'svgone',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      tapidcount: 1,
      currentobj: null,
      currentindex: null,
      mediafile: MEDIAENDPOINT,
      svgflag: false,
      pathobj: null,
      pathindex: null
    }
  },
  created () {
    this.tab = this.el.settingtab
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.pathobj = null
      this.tab = tab
      this.el.settingtab = tab
    },
    addnewtap () {
      if (this.el.onesvg.length > 0) {
        let maxtap = _.maxBy(this.el.onesvg, 'id')
        this.tapidcount = maxtap.id + 1
      }
      let choicescount = this.el.choicesarray.length
      this.el.onesvg.push({id: this.tapidcount, bindchoicesid: 'svgone', imageinput: null, imgonchange: [], bgobject: {}, pathsarray: []})
      for (var i = 0; i < this.el.choicesarray.length; i++) {
        this.el.onesvg[this.el.onesvg.length - 1].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null, svgfill: this.el.choicesarray[i].svgfill})
      }
    },
    copytap () {
      let newobj = JSON.parse(JSON.stringify(this.el.onesvg[this.currentindex]))
      let maxtap = _.maxBy(this.el.onesvg, 'id')
      newobj.id = maxtap.id + 1
      this.el.onesvg.push(newobj)
    },
    deletetap () {
      this.el.onesvg.splice(this.currentindex, 1)
      this.currentindex = null
      this.currentobj = null
    },
    deletepath () {
      this.el.onesvg[this.currentindex].pathsarray.splice(this.pathindex, 1)
      this.pathobj = null
    },
    pickrightanswer (choiceid, fill) {
      this.el.onesvg[this.currentindex].pathsarray[this.pathindex].svgright = choiceid
      this.el.onesvg[this.currentindex].pathsarray[this.pathindex].svgfill = fill
    },
    addsvginput(evt) {
      if (evt.target.id !== null && evt.target.id !== undefined) {
        if (this.el.onesvg[this.currentindex].pathsarray !== undefined) {
          if (_.findIndex(this.el.onesvg[this.currentindex].pathsarray, {'id': evt.target.id}) === -1) {
            this.el.onesvg[this.currentindex].pathsarray.push({id: evt.target.id, svgfill: null, svgright: null, isRight: false})
          }
        }
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tab = element.settingtab
      },
      deep: true
    },
    currentobj: function (obj) {
      if (obj !== null) {
        this.pathobj = null
        this.el.settingindex = _.findIndex(this.el.onesvg, {'id': obj.id})
        this.currentindex = _.findIndex(this.el.onesvg, {'id': obj.id})
        this.$forceUpdate()
      } else {
        this.el.settingindex = null
        this.currentindex = null
        this.pathobj = null
      }
    },
    pathobj: function (obj) {
      if (obj !== null) {
        this.pathindex = _.findIndex(this.el.onesvg[this.currentindex].pathsarray, {'id': obj.id})
        _.forEach(this.el.onesvg[this.currentindex].pathsarray, (path) => {
          if (path.id === obj.id) {
            document.getElementById(path.id).setAttribute("fill", '#e30613')
          } else {
            document.getElementById(path.id).setAttribute("fill", '#FFFFFF')
          }
        })
        this.$forceUpdate()
      } else {
        this.pathindex = null
        _.forEach(this.el.onesvg[this.currentindex].pathsarray, (nullpath) => {
          document.getElementById(nullpath.id).setAttribute("fill", '#FFFFFF')
        })
      }
    }
  }
}
</script>
