<style lang="scss" scoped>
.snapshot{
  height: 100px;
  width: 100px;
}
.smalltabs{
  font-size: 0.8em;
}
</style>
<template lang="html">
<div class="columns is-multiline is-mobile">
  <div class="tabs is-boxed column is-12">
    <ul>
      <li :class="[tab === 'choicesimgs'? 'is-active': '']">
        <a @click="tabclicked('choicesimgs')">
          <span>Coloring Choices</span>
        </a>
      </li>
      <li :class="[tab === 'choicesbackground'? 'is-active': '']">
        <a @click="tabclicked('choicesbackground')">
          <span>Coloring Choices BG.</span>
        </a>
      </li>
      <li :class="[tab === 'tapinput'? 'is-active': '']">
        <a @click="tabclicked('tapinput')">
          <span>SVG Input</span>
        </a>
      </li>
      <li :class="[tab === 'background'? 'is-active': '']">
        <a @click="tabclicked('background')">
          <span>SVG BG.</span>
        </a>
      </li>
      <li :class="[tab === 'staticimg'? 'is-active': '']">
        <a @click="tabclicked('staticimg')">
          <span>Static Img.</span>
        </a>
      </li>
    </ul>
    </div>
  <div class="column is-12" v-if="el.settingtab === 'tapinput'">
    <div class="columns is-multiline">
      <div class="column is-12">
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              <span>New SVG Input</span>
            </a>
          </div>
          <div class="control">
            <a class="button is-info"  @click="addnewtap()"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              <span>SVG Input</span>
            </a>
          </div>
          <div class="control">
            <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.taps">
            </exp-multiselect>
          </div>
        </div>
      </div>
      <div class="column is-12">
        <div v-if="currentobj !== null">
          <a class="button is-success" style="margin-bottom: 5px;" @click="copytap()">Copy</a>
          <a class="button is-danger" style="margin-bottom: 5px;" @click="deletetap()">Delete</a>
          <!-- Tap Content  -->
          <div class="columns is-multiline">
            <div class="column">
              <span>SVG Code</span>
                 <exp-input placeholder="Tap Input Image URL" type="textarea"  v-model="el.taps[currentindex].imageinput"></exp-input>
            </div>
            <div class="field has-addons column is-12">
              <div class="control">
                <a class="button is-static">
                  Text
                </a>
              </div>
              <div class="control">
                <input class="input" type="text" placeholder="Tap Input Text" v-model="el.taps[currentindex].text">
              </div>
            </div>
            <div v-for="(choice, index) in el.choicesarray" :key="choice.id" class="column is-12">
              <div class="field has-addons">
                <div class="control">
                  <a class="button is-static">
                    SVG Color on Change
                  </a>
                </div>
                <div class="control">
                  <input v-if="currentindex !== null" class="input" type="text" placeholder="SVG Hex Color Fill" v-model="el.taps[currentindex].imgonchange[index].svgfill">
                </div>
              </div>
                <div class="field has-addons">
                  <div class="control">
                    <div v-if="el.taps[currentindex].imgonchange.length > index">
                      <div class="snapshot" :style="{backgroundColor: el.taps[currentindex].imgonchange[index].svgfill}">
                      </div>
                    </div>
                  </div>
                  <div class="control">
                    <img id="image" class="image snapshot" :src="mediafile + $route.query.package + '/' + choice.imgsrc">
                  </div>
                  <div class="control">
                    <div class="rightanswer_btn">
                      <a @click="pickrightanswer(choice.id)" v-if="el.taps[currentindex].rightanswer === null" class="button">isRight</a>
                      <a v-if="el.taps[currentindex].rightanswer === choice.id" class="button righticon"><i class="fa fa-check"></i></a>
                      <a @click="pickrightanswer(choice.id)" v-if="el.taps[currentindex].rightanswer !== null && el.taps[currentindex].rightanswer !== choice.id" class="button wrongicon"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import _ from 'lodash'
import eventbus from '@/config/eventhub.js'
import {MEDIAENDPOINT} from '@/config/app-config'
export default {
  name: 'svgtaps',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      tapidcount: 1,
      currentobj: null,
      currentindex: null,
      mediafile: MEDIAENDPOINT
    }
  },
  created () {
    this.tab = this.el.settingtab
  },
  methods: {
    tabclicked (tab) {
      this.tab = tab
      this.el.settingtab = tab
      this.el.settingindex = null
    },
    addnewtap () {
      if (this.el.taps.length > 0) {
        let maxtap = _.maxBy(this.el.taps, 'id')
        this.tapidcount = maxtap.id + 1
      }
      let choicescount = this.el.choicesarray.length
      this.el.taps.push({id: this.tapidcount, bindchoicesid: 'tap' + this.el.index, imageinput: null, rightanswer: null,  imgonchange: [], bgobject: {}})
      for (var i = 0; i < this.el.choicesarray.length; i++) {
        this.el.taps[this.el.taps.length - 1].imgonchange.push({id: this.el.choicesarray[i].id, imgonchangesrc: null, svgfill: this.el.choicesarray[i].svgfill})
      }
    },
    copytap () {
      let newobj = JSON.parse(JSON.stringify(this.el.taps[this.currentindex]))
      let maxtap = _.maxBy(this.el.taps, 'id')
      newobj.id = maxtap.id + 1
      this.el.taps.push(newobj)
    },
    deletetap () {
      this.el.taps.splice(this.currentindex, 1)
      this.currentindex = null
      this.currentobj = null
    },
    pickrightanswer (choiceid) {
      this.el.taps[this.currentindex].rightanswer = choiceid
    },
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tab = element.settingtab
      },
      deep: true
    },
    currentobj: function (obj) {
      if (obj !== null) {
        this.el.settingindex = _.findIndex(this.el.taps, {'id': obj.id})
        this.currentindex = _.findIndex(this.el.taps, {'id': obj.id})
        this.$forceUpdate()
      }
    }
  }
}

</script>
