<style lang="scss" scoped>
.navmenu{
  margin-bottom: 15px;
}
.shadowbutton{
  margin: 2px;
  border: solid 1px;
  border-color: #d3d3d3;
  text-align: center;
}
.snapshot{
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  border-color: #b3b3b3;
  background-repeat: round;
  width: 100px;
  height: 100px;
}
.rightanswer_btn{
  padding-top: 40%;
  padding-left: 10%;
  .righticon{
    font-size: 1.3em;
    color: #23D161;
  }
  .wrongicon{
    font-size: 1.3em;
    color: #FF3860;
  }
}
</style>

<template lang="html">
<div v-if="el.settingtab === 'tapinput'">
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>New Tap On Change Input</span>
      </a>
    </div>
    <div class="control">
      <a class="button is-info"  @click="addnewtap()"><i class="fa fa-plus"></i></a>
    </div>
  </div>
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>Inputs per Lines</span>
      </a>
    </div>
    <div class="control">
      <input class="input" type="number" placeholder="Number of Inputs" v-model="el.inputsperlines">
    </div>
  </div>
  <div class="field has-addons">
    <div class="control">
      <a class="button is-static">
        <span>TapsOnChange</span>
      </a>
    </div>
    <div class="control">
      <exp-multiselect :openDirection="'top'" track-by="id" label="id" v-model="currentobj" deselectLabel="" selectLabel="" selectedLabel="" :options="el.tapsonchange">
      </exp-multiselect>
    </div>
  </div>
  <!-- Each tap input Settings -->
  <div v-if="currentobj !== null">
    <a class="button is-success" style="margin-bottom: 5px;" @click="copytap()">Copy</a>
    <a class="button is-danger" style="margin-bottom: 5px;" @click="deletetap()">Delete</a>
    <a v-if="tapnav === 'style' || tapnav === 'border'" class="button is-info" style="margin-bottom: 5px;" @click="loadstyle()">Load Style</a>
    <a v-if="tapnav === 'style' || tapnav === 'border'" class="button is-info" style="margin-bottom: 5px;" @click="resetstyle()">Reset Style</a>
    <!-- Tap Content  -->
    <div class="columns is-multiline">
      <div class="field has-addons column is-12">
        <div class="control">
          <a class="button is-static">
            URL Input Image
          </a>
        </div>
        <div class="control">
          <input class="input" type="text" placeholder="Tap Input Image URL" v-model="el.tapsonchange[currentindex].imageinput">
        </div>
        <div class="control">
          <a @click="loadimg()" class="button is-info">
            Load Image
          </a>
        </div>
      </div>
      <div class="field has-addons column is-12">
        <div class="control">
          <a class="button is-static">
            Text
          </a>
        </div>
        <div class="control">
          <input class="input" type="text" placeholder="Tap Input Text" v-model="el.tapsonchange[currentindex].text">
        </div>
      </div>
      <div v-for="(choice, index) in el.choicesarray" :key="choice.id" class="column is-12">
        <div class="field has-addons">
          <div class="control">
            <a class="button is-static">
              URL Image On Change
            </a>
          </div>
          <div class="control">
            <input class="input" type="text" placeholder="Image URL On Change" v-model="el.tapsonchange[currentindex].imgonchange[index].imgonchangesrc">
          </div>
          <div class="control">
            <a @click="loadonchangeimg(choice.id, index)" class="button is-info">
              Load Image
            </a>
          </div>
        </div>
          <div class="field has-addons">
            <div class="control">
              <div v-if="el.tapsonchange[currentindex].imgonchange.length > index" class="snapshot" :style="{backgroundImage: 'url(' + el.tapsonchange[currentindex].imgonchange[index].imgonchangesrc + ')', backgroundSize: '100px'}">
              </div>
            </div>
            <div class="control">
              <div class="snapshot" :style="{backgroundImage: 'url(' + choice.imgsrc + ')', backgroundSize: '100px'}">
              </div>
            </div>
            <div class="control">
              <div class="rightanswer_btn">
                <a @click="pickrightanswer(choice.id)" v-if="el.tapsonchange[currentindex].rightanswer === null" class="button">isRight</a>
                <a v-if="el.tapsonchange[currentindex].rightanswer === choice.id" class="button righticon"><i class="fa fa-check"></i></a>
                <a @click="pickrightanswer(choice.id)" v-if="el.tapsonchange[currentindex].rightanswer !== null && el.tapsonchange[currentindex].rightanswer !== choice.id" class="button wrongicon"><i class="fa fa-times"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</template>

<script>
import {COLORS_OBJECTS} from '@/config/app-config.js'
import _ from 'lodash'
export default {
  name: 'taptapimages',
  props: {
    el: Object
  },
  data () {
    return {
      tapidcount: 1,
      currentindex: null,
      currentobj: null,
      tapnav: null,
      imgurl: null,
      imgurlonchange: null,
      colorarray: COLORS_OBJECTS,
      inputheight: '100',
      inputwidth: '100',
      borderstyle: 'none',
      bordercolor: 'transparent',
      borderwidth: null,
      borderradius: null,
      toppadding: null,
      rightpadding: null,
      bottompadding: null,
      leftpadding: null,
      topmargin: null,
      rightmargin: null,
      bottommargin: null,
      leftmargin: null,
      tempstyleobj: {},
      fontsize: null,
      fontstyle: null,
      fontweight: null,
      textalign: null,
      textcolor: 'black',
      tempfontobj: {}
    }
  },
  methods: {
    tabclicked (tab) {
      this.tapnav = tab
      this.el.settingtab = tab
    },
    addnewtap () {
      if (this.el.tapsonchange.length > 0) {
        let maxtap = _.maxBy(this.el.tapsonchange, 'id')
        this.tapidcount = maxtap.id + 1
      }
      let choicescount = this.el.choicesarray.length
      this.el.tapsonchange.push({id: this.tapidcount, imageinput: null, imagecolor: null, rightanswer: null, inputshadow: 'shadow-depth-1', column: null, staticimage: {imgsrc: null, position: 'right', marginTop: null, marginLeft: null}, imgonchange: [], text: '', inputstyle: {}, textstyle: {}})
      for (var i = 0; i < choicescount; i++) {
        this.el.tapsonchange[this.el.tapsonchange.length - 1].imgonchange.push({id: null, imgonchangesrc: null})
      }
    },
    copytap () {
      let newobj = JSON.parse(JSON.stringify(this.el.tapsonchange[this.currentindex]))
      let maxtap = _.maxBy(this.el.tapsonchange, 'id')
      newobj.id = maxtap.id + 1
      this.el.tapsonchange.push(newobj)
    },
    loadimg () {
      // this.el.tapsonchange[this.currentindex].imageinput = this.imgurl
      this.bgcolor = null
    },
    pickrightanswer (choiceid) {
      this.el.tapsonchange[this.currentindex].rightanswer = choiceid
    },
    loadonchangeimg (choiceid, index) {
      this.el.tapsonchange[this.currentindex].imgonchange[index].id = choiceid
    },
    deletetap () {
      this.el.tapsonchange.splice(this.currentindex, 1)
      this.currentindex = null
      this.currentobj = null
    }
  },
  watch: {
    currentobj: function (obj) {
      if (obj !== null) {
        this.el.settingindex = _.findIndex(this.el.tapsonchange, {'id': obj.id})
        this.currentindex = _.findIndex(this.el.tapsonchange, {'id': obj.id})
        this.$forceUpdate()
      }
    }
  }
}

</script>
