<style lang="scss" scoped>
</style>
<template lang="html">
<div>
  <div class="tabs is-boxed">
    <ul>
      <li :class="[tab === 'choicesimgs'? 'is-active': '']">
        <a @click="tabclicked('choicesimgs')">
          <span>Choices</span>
        </a>
      </li>
      <li :class="[tab === 'choicesbackground'? 'is-active': '']">
        <a @click="tabclicked('choicesbackground')">
          <span>Choices Backgound</span>
        </a>
      </li>
    </ul>
    </div>
    <div class="tabs is-boxed">
    <ul>
      <li :class="[tab === 'tapinput'? 'is-active': '']">
        <a @click="tabclicked('tapinput')">
          <span>Tap Input</span>
        </a>
      </li>
      <li :class="[tab === 'background'? 'is-active': '']">
        <a @click="tabclicked('background')">
          <span>Tap Input Background</span>
        </a>
      </li>
    </ul>
  </div>
</div>
</template>

<script>

export default {
  name: 'Taptapcoloring',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null
    }
  },
  created () {
    this.tab = this.el.settingtab
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.tab = tab
      this.el.settingtab = tab
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tab = element.settingtab
      },
      deep: true
    }
  }
}

</script>
