<style lang="scss" scoped>
</style>
<template lang="html">
<div class="columns is-multiline">
  <div class="tabs is-boxed column is-12 is-paddingless">
      <ul>
        <li :class="{'is-active': tab === 'choice'}"><a @click="tabclicked('choice')">Choices</a></li>
        <li :class="{'is-active': tab === 'tapinput'}"><a @click="tabclicked('tapinput')">Tap Input</a></li>
        <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">BG Set.</a></li>
        <li :class="{'is-active': tab === 'choicesbackground'}"><a @click="tabclicked('choicesbackground')">Choices BG Set.</a></li>
      </ul>
    </div>
    <div v-if="tab === 'tapinput'" class="column is-12">
        <div class="field has-addons">
            <p class="control">
                <a class="button is-static">
                    New TapTap
                </a>
            </p>
            <div class="field has-addons">
                <p class="contol"><a class="button" @click="add_taptap()"><i class="fa fa-plus"></i></a></p>
                <p class="control">
                    <a class="button is-static">
                        Tap Tap ID
                    </a>
                </p>
                <p class="contol"><input @input="changebindchoicesid()" class="input" type="text" placeholder="Bind Choices ID" v-model="el.taps[0].bindchoicesid"></p>
            </div>
        </div>
      </div>
      <div class="column is-12 columns is-multiline" v-if="el.settingtab === 'tapinput'">
        <div  class="column is-12 field has-addons">
          <p class="control">
            <a class="button is-static">
              Taps
            </a>
          </p>
          <p class="control">
            <exp-field>
              <exp-multiselect track-by="id" label="id" v-model="currentobj" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" :options="this.el.taps">
              </exp-multiselect>
            </exp-field>
          </p>
        </div>
        <div v-if="this.el.settingindex !== null" class="column is-6">
          <p class="control">
            <a @click="delete_taptap()" class="button is-danger">
              <i class="fa fa-trash is-size-6"> Delete Tap</i>
            </a>
          </p>
        </div>
        <div v-if="this.el.settingindex !== null" class="column is-6">
          <p class="control">
            <a @click="copy_taptap()" class="button is-info">
              <i class="fa fa-copy is-size-6"> Copy Tap</i>
            </a>
          </p>
        </div>
      </div>
    </div>
</template>

<script>
import maxBy from 'lodash/maxBy'
import Bus from '@/config/eventhub.js'
export default {
  name: 'taptapfreewithbg',
  data () {
    return {
      tab: null,
      tapid: 1,
      currentobj: null,
      taptap: {
        id: 0,
        rightanswer: null,
        tapinput: '1)......',
        beforetext: 'Text before tap input ',
        aftertext: ' Text after tap input',
        capitalize: false,
        choicemultiple: false,
        bindchoicesid: 'tap',
        bgobject: {}
      }
    }
  },
  props: {
    el: Object
  },
  mounted () {
    this.tab = null
    this.el.settingindex = null
    this.el.settingtab = null
  },
  methods: {
    add_taptap () {
      if (this.el.taps.length > 0) {
        let maxtaps = maxBy(this.el.taps, 'id')
        this.tapid = maxtaps.id + 1
      }
      this.el.taps.push({
        id: this.tapid,
        rightanswer: this.taptap.rightanswer,
        tapinput: this.tapid + ')......',
        beforetext: this.taptap.beforetext,
        aftertext: this.taptap.aftertext,
        capitalize: this.taptap.capitalize,
        choicemultiple: this.taptap.choicemultiple,
        bindchoicesid: this.taptap.bindchoicesid,
        bgobject: this.taptap.bgobject,
        column: null
      })
    },
    delete_taptap () {
      this.el.taps.splice(this.el.settingindex, 1)
      for (var i = 0; i < this.el.taps.length; i++) {
        this.el.taps[i].id = (i + 1)
      }
      this.el.settingindex = null
      this.currentobj = null
    },
    copy_taptap () {
      let copytaps = maxBy(this.el.taps, 'id')
      this.tapid = copytaps.id + 1
      this.el.taps.push({
        id: this.tapid,
        rightanswer: this.el.taps[this.el.settingindex].rightanswer,
        tapinput: this.tapid + ')......',
        beforetext: this.el.taps[this.el.settingindex].beforetext,
        aftertext: this.el.taps[this.el.settingindex].aftertext,
        capitalize: this.el.taps[this.el.settingindex].capitalize,
        choicemultiple: this.el.taps[this.el.settingindex].choicemultiple,
        bindchoicesid: this.el.taps[this.el.settingindex].bindchoicesid,
        bgobject: this.el.taps[this.el.settingindex].bgobject,
        column: this.el.taps[this.el.settingindex].column
      })
    },
    tabclicked (tab) {
      this.el.settingindex = null
      this.el.settingtab = tab
      this.tab = tab
      Bus.fire('settingsection', tab)
    },
    changebindchoicesid () {
      for (var i = 1; i < this.el.taps.length; i++) {
        this.el.taps[i].bindchoicesid = this.el.taps[0].bindchoicesid
      }
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.tab = element.settingtab
      },
      deep: true
    },
    currentobj: function (obj) {
      if (obj !== null) {
        this.el.settingindex = _.findIndex(this.el.taps, {'id': obj.id})
        // this.currentindex = _.findIndex(this.el.taps, {'id': obj.id})
        this.$forceUpdate()
      }
    }
  }
}
</script>
