<style lang="scss">
</style>

<template lang="html">
  <div>
    <div v-if="(el.settingindex !== null && (el.settingtab === 'tapinput' || el.settingtab === 'text' || el.settingtab === 'rubricquestion' || el.settingtab === 'multiplechoiceimgtext' || el.settingtab === 'grouping'))" class="columns">
      <div class="column is-12">
        <a @click="flag = !flag" class="uicomp_acordeon has-text-info">
          <span v-if="!flag"><i class="fa fa-plus"></i></span>
          <span v-if="flag"><i class="fa fa-times"></i></span>
          Text Style Settings
        </a>
      </div>
    </div>
<div v-if="flag && (el.settingindex !== null && (el.settingtab === 'tapinput' || el.settingtab === 'text' || el.settingtab === 'rubricquestion' || el.settingtab === 'multiplechoiceimgtext' || el.settingtab === 'grouping'))" class="columns is-multiline">
  <div class="column">
    <div class="tabs is-boxed">
    <ul>
      <li :class="{'is-active': bgflag}"><a @click="bgflag = !bgflag" ><span class="icon"><i class="fa fa-pencil"></i></span><span>Text Background</span></a></li>
      <li :class="{'is-active': !bgflag}"><a @click="bgflag = !bgflag"><span class="icon"><i class="fa fa-pencil"></i></span><span>Text Style</span></i></a></li>
    </ul>
  </div>
    <!-- <a v-if="!bgflag" @click="bgflag = !bgflag" class="button has-text-info" ><i class="fa fa-pencil"> Text Background</i></a>
    <a v-if="bgflag"  @click="bgflag = !bgflag" class="button has-text-info" ><i class="fa fa-pencil"> Text Style</i></a> -->
  </div>
  <div class="columns is-multiline" v-if="!bgflag">
    <div class="column is-12">
      <div class="columns is-multiline">
        <div class="column is-5">
          <a class="button has-text-info" @click="resetstyle()"><i class="fa fa-repeat"> Reset Text Style</i></a>
        </div>
        <div class="column is-5">
          <a class="button has-text-info" @click="el.texttab = null"><i class="fa fa-arrow-left"> Back</i></a>
        </div>
      </div>
    </div>
    <div class="column is-12 has-text-left">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Font Size
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" placeholder="Font Size" step="0.1" v-model="object.fontsize">
        </p>
        <p class="control">
          <a class="button is-static">
            em
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Font Style
          </a>
        </p>
        <p class="control">
          <a @click="object.fontstyle = 'normal'" class="button has-text-info" :class="{ 'is-active': object.fontstyle === 'normal' }">
            N
          </a>
        </p>
        <p class="control">
          <a @click="object.fontstyle = 'italic'" class="button has-text-info" :class="{ 'is-active': object.fontstyle === 'italic' }">
            <span style="font-style: italic">I</span>
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Font Weight
          </a>
        </p>
        <p class="control">
          <a @click="object.fontweight = 'normal'" class="button has-text-info" :class="{ 'is-active': object.fontweight === 'normal' }">
            N
          </a>
        </p>
        <p class="control">
          <a @click="object.fontweight = 'bold'" class="button has-text-info" :class="{ 'is-active': object.fontweight === 'bold' }">
            <span style="font-weight: bold">B</span>
          </a>
        </p>
        <p class="control">
          <a @click="object.fontweight = 'bolder'" class="button has-text-info" :class="{ 'is-active': object.fontweight === 'bolder' }">
            <span style="font-weight: bolder">B-er</span>
          </a>
        </p>
        <p class="control">
          <a @click="object.fontweight = 'lighter'" class="button has-text-info" :class="{ 'is-active': object.fontweight === 'lighter' }" >
            <span style="font-weight: lighter">L-er</span>
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Text Transform
          </a>
        </p>
        <p class="control">
          <a @click="object.texttransform = 'none'" class="button has-text-info" :class="{ 'is-active': object.texttransform === 'none' }">
            None
          </a>
        </p>
        <p class="control">
          <a @click="object.texttransform = 'capitalize'" class="button has-text-info" :class="{ 'is-active': object.texttransform === 'capitalize' }">
            <span style="text-transform: capitalize">Cap</span>
          </a>
        </p>
        <p class="control">
          <a @click="object.texttransform = 'uppercase'" class="button has-text-info" :class="{ 'is-active': object.texttransform === 'uppercase' }">
            <span style="text-transform: uppercase">Ucase</span>
          </a>
        </p>
        <p class="control">
          <a @click="object.texttransform = 'lowercase'" class="button has-text-info" :class="{ 'is-active': object.texttransform === 'lowercases' }">
            <span style="text-transform: lowercase">Lcase</span>
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Text Decoration
          </a>
        </p>
        <p class="control">
          <a @click="object.textdecoration = 'none'" class="button has-text-info"  :class="{ 'is-active': object.textdecoration === 'none' }">
            N
          </a>
        </p>
        <p class="control">
          <a @click="object.textdecoration = 'underline'" class="button has-text-info" :class="{ 'is-active': object.textdecoration === 'underline' }">
            <span style="text-decoration: underline">ULine</span>
          </a>
        </p>
        <p class="control">
          <a @click="object.textdecoration = 'overline'" class="button has-text-info" :class="{ 'is-active': object.textdecoration === 'overline' }">
            <span style="text-decoration: overline">OLine</span>
          </a>
        </p>
        <p class="control">
          <a @click="object.textdecoration = 'line-through'" class="button has-text-info"  :class="{ 'is-active': object.textdecoration === 'line-through' }">
            <span style="text-decoration: line-through">LineThr</span>
          </a>
        </p>
      </div>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="control">
          <a class="button is-static">
            Color
          </a>
        </p>
        <p class="control">
          <input class="input" type="text" placeholder="Text Color" v-model="object.color">
        </p>
      </div>
    </div>
    <!-- <div class="column is-12">
      <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
        <a @click="colorpick(color.colorhex, 'style')" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
        </a>
      </div>
    </div> -->
  </div>
  <!-- Text Backgound Style -->
  <div v-if="bgflag">
    <div class="columns is-multiline">
    <div class="column is-5">
      <a class="button has-text-info" @click="resetstyle()"><i class="fa fa-repeat"> Reset Text Style</i></a>
    </div>
    <div class="column is-5">
      <a class="button has-text-info" @click="back()"><i class="fa fa-arrow-left"> Back</i></a>
    </div>
  </div>
    <div class="columns is-multiline">
      <!-- <div class="column is-6 pull-right">
        <a class="button is-info" @click="resetbg()"><i class="fa fa-repeat"> Reset Background Setting</i></a>
      </div> -->
      <div v-if="object.bgimage !== null && object.bgimage !== ''" class="column is-7">
        <img v-if="object.bgimage !== null" :alt="object.bgimage" id="uictextimage" :src="mediafile + $route.query.package + '/' + object.bgimage" class="image">
      </div>
        <!-- <div class="column is-12 has-text-left">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Filename
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Background Image" v-model="object.bgimage">
            </p>
          </div>
        </div> -->
        <!-- <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Repeat
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.bgrepeat">
                  <option>no-repeat</option>
                  <option>repeat</option>
                  <option>repeat-x</option>
                  <option>repeat-y</option>
                  <option>space</option>
                  <option>round</option>
                  <option>initial</option>
                  <option>inherit</option>
                </select>
              </span>
            </p>
          </div>
        </div> -->
      <div class="column is-12 tabs is-boxed">
        <ul>
          <li :class="[buttoncolors === 'properties' ? 'is-active': '' ]">
            <a @click="buttoncolors = 'properties'">Properties</a>
          </li>
          <li :class="[buttoncolors === 'bgcolor' ? 'is-active': '' ]">
            <a @click="buttoncolors = 'bgcolor'">Background Color</a>
          </li>
          <li :class="[buttoncolors === 'bgborder' ? 'is-active': '' ]">
            <a @click="buttoncolors = 'bgborder'" >Background Border</a>
          </li>
        </ul>
      </div>
      <!-- background border settings -->
      <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'bgborder'">
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Style
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.bgimgborderstyle">
                  <option>none</option>
                  <option>solid</option>
                  <option>dotted</option>
                  <option>dashed</option>
                  <option>double</option>
                  <option>groove</option>
                  <option>ridge</option>
                  <option>inset</option>
                  <option>outset</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Width
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Border Width" v-model="object.bgimgborderwidth">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-6">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Radius
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Border Radius" v-model="object.bgimgborderradius">
            </p>
            <p class="control">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Color
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Border Color" v-model="object.bgimgbordercolor">
            </p>
          </div>
        </div>
        <!-- <div class="column is-12">
          <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
            <a @click="colorpick(color.colorhex, 'border')" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
            </a>
          </div>
        </div> -->
      </div>
      <!-- background border settings -->
      <!-- background color  -->
      <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'bgcolor'">
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Color
              </a>
            </p>
            <p class="control">
              <input class="input" type="text" placeholder="Backgound Color" v-model="object.bgcolor">
            </p>
          </div>
        </div>
        <!-- <div class="column is-12">
          <div class="color-group"  v-for="colorgroup in colorarray" :key="colorgroup.id">
            <a @click="colorpick(color.colorhex, 'bgcolor')" v-for="color in colorgroup.colors" :key="color.id" class="color-block" :style="{backgroundColor: color.colorhex}">
            </a>
          </div>
        </div> -->
      </div>
      <!-- background color -->
      <!-- background paddings and margins -->
      <div class="column is-12 columns is-multiline" v-if="buttoncolors === 'properties'">
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Float
              </a>
            </p>
            <p class="control">
              <span class="select">
                <select v-model="object.float">
                  <option>none</option>
                  <option>left</option>
                  <option>right</option>
                  <option>inherit</option>
                </select>
              </span>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="contol">
              <a class="button is-static">
                Width
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" v-model="object.width">
            </p>
            <p class="contol">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="contol">
              <a class="button is-static">
                Height
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" v-model="object.height">
            </p>
            <p class="contol">
              <a class="button is-static">
                px
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="contol">
              <a class="button is-static">
                Top
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" v-model="object.top">
            </p>
            <p class="contol">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="contol">
              <a class="button is-static">
                Left
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" v-model="object.left">
            </p>
            <p class="contol">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="contol">
              <a class="button is-static">
                z-Index
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" v-model="object.zindex">
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Padding
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Top" v-model="object.bgtoppadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Right" v-model="object.bgrightpadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottompadding">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Left" v-model="object.bgleftpadding">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
        <div class="column is-12">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                Margin
              </a>
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Top" v-model="object.bgtopmargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Right" v-model="object.bgrightmargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Bottom" v-model="object.bgbottommargin">
            </p>
            <p class="control">
              <input class="input" type="number" placeholder="Left" v-model="object.bgleftmargin">
            </p>
            <p class="control">
              <a class="button is-static">
                %
              </a>
            </p>
          </div>
        </div>
      </div>
      <!-- background paddings and margins -->
    </div>
  </div>
</div>
</div>
</template>

<script>
import {MEDIAENDPOINT, COLORS_OBJECTS} from '@/config/app-config.js'
import findIndex from 'lodash/findIndex'
export default {
  name: 'Textstyle',
  props: {
    el: Object
  },
  data() {
    return {
      buttoncolors: 'none',
      flag: false,
      ratiomultiple: 1,
      multiplierflag: false,
      object: {
        fontsize: null,
        color: null,
        fontstyle: null,
        fontweight: null,
        texttransform: null,
        textdecoration: null,
        bgimgborderwidth:null,
        bgimgborderradius: null,
        bgimgbordercolor: null,
        bgtoppadding: null,
        bgbottompadding: null,
        bgleftpadding: null,
        bgrightpadding: null,
        bgtopmargin: null,
        bgrightmargin: null,
        bgbottommargin: null,
        bgleftmargin: null,
        bgcolor: null,
        bgimage: null,
        bgrepeat: null,
        bgimgborderstyle: null,
        width: null,
        height: null,
        left: null,
        top: null,
        zindex: null,
        float: null
      },
      bgflag: true,
      textobject: {},
      colorarray: COLORS_OBJECTS,
      mediafile: MEDIAENDPOINT
    }
  },
  mounted() {
    if ((this.el.settingtab === 'tapinput' || this.el.settingtab === 'text' || this.el.settingtab === 'rubricquestion' || this.el.settingtab === 'grouping') && this.el.settingindex !== null) {
      this.loadonmount()
    }
  },
  methods: {
    loadstyle() {
      // if (this.el[this.uicomponentkey][this.el.settingindex].textstyle !== undefined && this.el[this.uicomponentkey][this.el.settingindex].textstyle !== null) {
      //   this.textobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingindex].textstyle))
      // }
      this.$InputNumberStep('input', 'number', 38, 40, 10)
      if (this.object.fontsize !== null && this.object.fontsize !== undefined && this.object.fontsize !== "") {
        this.textobject.fontSize = this.object.fontsize + 'em'
      } else {
        if (this.textobject.fontSize !== undefined) {
          delete this.textobject.fontSize
        }
      }
      if (this.object.color !== null) {
        this.textobject.color = this.object.color
      }
      if (this.object.fontstyle !== null) {
        this.textobject.fontStyle = this.object.fontstyle
      }
      if (this.object.fontweight !== null) {
        this.textobject.fontWeight = this.object.fontweight
      }
      if (this.object.textdecoration !== null) {
        this.textobject.textDecoration = this.object.textdecoration
      }
      if (this.object.texttransform !== null) {
        this.textobject.textTransform = this.object.texttransform
      }
      if (this.object.bgimage !== null && this.object.bgimage !== undefined && this.object.bgimage !== "") {
        this.textobject.backgroundImage = this.object.bgimage
        this.$nextTick(() => {
          if (this.ratiomultiple === 1 && this.multiplierflag) {
            var img = document.getElementById('uictextimage')
            if (img !== undefined) {
              this.object.width = img.naturalWidth
              this.object.height = img.naturalHeight
            }
          }
        })
      } else {
        if (this.textobject.backgroundImage !== undefined) {
          delete this.textobject.backgroundImage
        }
      }
      if (this.object.bgrepeat !== null && this.object.bgrepeat !== undefined && this.object.bgrepeat !== "") {
        this.textobject.backgroundRepeat = this.object.bgrepeat
      } else {
        if (this.textobject.backgroundRepeat !== undefined) {
          delete this.textobject.backgroundRepeat
        }
      }
      if (this.object.bgcolor !== null && this.object.bgcolor !== undefined && this.object.bgcolor !== "") {
        this.textobject.backgroundColor = this.object.bgcolor
      } else {
        if (this.textobject.backgroundColor !== undefined) {
          delete this.textobject.backgroundColor
        }
      }
      if (this.object.bgimgborderwidth !== null && this.object.bgimgborderwidth !== undefined && this.object.bgimgborderwidth !== "") {
        this.textobject.borderWidth = this.object.bgimgborderwidth + 'px'
      } else {
        if (this.textobject.borderWidth !== undefined) {
          delete this.textobject.borderWidth
        }
      }
      if (this.object.bgimgborderstyle !== null && this.object.bgimgborderstyle !== undefined && this.object.bgimgborderstyle !== "") {
        this.textobject.borderStyle = this.object.bgimgborderstyle
      } else {
        if (this.textobject.borderStyle !== undefined) {
          delete this.textobject.borderStyle
        }
      }
      if (this.object.bgimgborderradius !== null && this.object.bgimgborderradius !== undefined && this.object.bgimgborderradius !== "") {
        this.textobject.borderRadius = this.object.bgimgborderradius + 'px'
      } else {
        if (this.textobject.borderRadius !== undefined) {
          delete this.textobject.borderRadius
        }
      }
      if (this.object.bgimgbordercolor !== null && this.object.bgimgbordercolor !== undefined && this.object.bgimgbordercolor !== "") {
        this.textobject.borderColor = this.object.bgimgbordercolor
      } else {
        if (this.textobject.borderColor !== undefined) {
          delete this.textobject.borderColor
        }
      }
      if (this.object.bgtoppadding !== null && this.object.bgtoppadding !== undefined && this.object.bgtoppadding !== "") {
        this.textobject.paddingTop = this.object.bgtoppadding + '%'
      } else {
        if (this.textobject.paddingTop !== undefined) {
          delete this.textobject.paddingTop
        }
      }
      if (this.object.bgbottompadding !== null && this.object.bgbottompadding !== undefined && this.object.bgbottompadding !== "") {
        this.textobject.paddingBottom = this.object.bgbottompadding + '%'
      } else {
        if (this.textobject.paddingBottom !== undefined) {
          delete this.textobject.paddingBottom
        }
      }
      if (this.object.bgleftpadding !== null && this.object.bgleftpadding !== undefined && this.object.bgleftpadding !== "") {
        this.textobject.paddingLeft = this.object.bgleftpadding + '%'
      } else {
        if (this.textobject.paddingLeft !== undefined) {
          delete this.textobject.paddingLeft
        }
      }
      if (this.object.bgrightpadding !== null && this.object.bgrightpadding !== undefined && this.object.bgrightpadding !== "") {
        this.textobject.paddingRight = this.object.bgrightpadding + '%'
      } else {
        if (this.textobject.paddingRight !== undefined) {
          delete this.textobject.paddingRight
        }
      }
      if (this.object.bgtopmargin !== null && this.object.bgtopmargin !== undefined && this.object.bgtopmargin !== "") {
        this.textobject.marginTop = this.object.bgtopmargin + '%'
      } else {
        if (this.textobject.marginTop !== undefined) {
          delete this.textobject.marginTop
        }
      }
      if (this.object.bgbottommargin !== null && this.object.bgbottommargin !== undefined && this.object.bgbottommargin !== "") {
        this.textobject.marginBottom = this.object.bgbottommargin + '%'
      } else {
        if (this.textobject.marginBottom !== undefined) {
          delete this.textobject.marginBottom
        }
      }
      if (this.object.bgleftmargin !== null && this.object.bgleftmargin !== undefined && this.object.bgleftmargin !== "") {
        this.textobject.marginLeft = this.object.bgleftmargin + '%'
      } else {
        if (this.textobject.marginLeft !== undefined) {
          delete this.textobject.marginLeft
        }
      }
      if (this.object.bgrightmargin !== null && this.object.bgrightmargin !== undefined && this.object.bgrightmargin !== "") {
        this.textobject.marginRight = this.object.bgrightmargin + '%'
      } else {
        if (this.textobject.marginRight !== undefined) {
          delete this.textobject.marginRight
        }
      }
      if (this.object.width !== null && this.object.width !== undefined && this.object.width !== "") {
        this.textobject.width = this.object.width + 'px'
      } else {
        if (this.textobject.width !== undefined) {
          delete this.textobject.width
        }
      }
      if (this.object.height !== null && this.object.height !== undefined && this.object.height !== "") {
        this.textobject.height = this.object.height + 'px'
      } else {
        if (this.textobject.height !== undefined) {
          delete this.textobject.height
        }
      }
      if (this.object.zindex !== null && this.object.zindex !== undefined && this.object.zindex !== "") {
        this.textobject.zIndex = this.object.zindex
      } else {
        if (this.textobject.zIndex !== undefined) {
          delete this.textobject.zIndex
        }
      }
      if (this.object.left !== null && this.object.left !== undefined && this.object.left !== "") {
        this.textobject.left = this.object.left + '%'
        this.textobject.position = 'absolute'
      } else {
        if (this.textobject.left !== undefined) {
          delete this.textobject.left
        }
      }
      if (this.object.top !== null && this.object.top !== undefined && this.object.top !== "") {
        this.textobject.top = this.object.top + '%'
        this.textobject.position = 'absolute'
      } else {
        if (this.textobject.top !== undefined) {
          delete this.textobject.top
        }
      }
      if (this.object.float !== null && this.object.float !== undefined && this.object.float !== "") {
        this.textobject.float = this.object.float
      } else {
        if (this.textobject.float !== undefined) {
          delete this.textobject.float
        }
      }
      if (this.el[this.uicomponentkey][this.el.settingindex].textstyle !== undefined && this.el[this.uicomponentkey][this.el.settingindex].textstyle !== null) {
        Object.keys(this.el[this.uicomponentkey][this.el.settingindex].textstyle).forEach((key) => {
          delete this.el[this.uicomponentkey][this.el.settingindex].textstyle[key]
        })
        this.el[this.uicomponentkey][this.el.settingindex].textstyle = JSON.parse(JSON.stringify(this.textobject))
      }
    },
    resetstyle() {
      delete this.textobject.width
      delete this.textobject.height
      delete this.textobject.backgroundImage
      delete this.textobject.backgroundRepeat
      delete this.textobject.backgroundColor
      delete this.textobject.borderWidth
      delete this.textobject.borderStyle
      delete this.textobject.borderRadius
      delete this.textobject.borderColor
      delete this.textobject.paddingTop
      delete this.textobject.paddingBottom
      delete this.textobject.paddingLeft
      delete this.textobject.paddingRight
      delete this.textobject.marginTop
      delete this.textobject.marginBottom
      delete this.textobject.marginLeft
      delete this.textobject.marginRight
      delete this.textobject.fontSize
      delete this.textobject.color
      delete this.textobject.fontStyle
      delete this.textobject.fontWeight
      delete this.textobject.fontWeight
      delete this.textobject.fontWeight
      delete this.textobject.textDecoration
      delete this.textobject.textTransform
      delete this.textobject.left
      delete this.textobject.top
      delete this.textobject.position
      delete this.textobject.zIndex
      this.el[this.uicomponentkey][this.el.settingindex].textstyle = JSON.parse(JSON.stringify(this.textobject))
      this.object.fontsize = null
      this.object.color = null
      this.object.fontstyle = null
      this.object.fontweight = null
      this.object.texttransform = null
      this.object.textdecoration = null
      this.object.bgimgborderwidth =null
      this.object.bgimgborderradius = null
      this.object.bgimgbordercolor = null
      this.object.bgtoppadding = null
      this.object.bgbottompadding = null
      this.object.bgleftpadding = null
      this.object.bgrightpadding = null
      this.object.bgtopmargin = null
      this.object.bgrightmargin = null
      this.object.bgbottommargin = null
      this.object.bgleftmargin = null
      this.object.bgcolor = null
      this.object.bgimage = null
      this.object.bgrepeat = null
      this.object.bgimgborderstyle = null
      this.object.width = null
      this.object.height = null
      this.object.left = null
      this.object.top = null
      this.object.zindex = null
    },
    loadonmount() {
      this.uicomponentkey = null
      this.object.fontsize = null
      this.object.color = null
      this.object.fontstyle = null
      this.object.fontweight = null
      this.object.texttransform = null
      this.object.textdecoration = null
      this.object.bgimgborderwidth =null
      this.object.bgimgborderradius = null
      this.object.bgimgbordercolor = null
      this.object.bgtoppadding = null
      this.object.bgbottompadding = null
      this.object.bgleftpadding = null
      this.object.bgrightpadding = null
      this.object.bgtopmargin = null
      this.object.bgrightmargin = null
      this.object.bgbottommargin = null
      this.object.bgleftmargin = null
      this.object.bgcolor = null
      this.object.bgimage = null
      this.object.bgrepeat = null
      this.object.bgimgborderstyle = null
      this.object.width = null
      this.object.height = null
      this.object.left = null
      this.object.top = null
      this.object.zindex = null
      let keys = Object.keys(this.el)
      if (this.el.settingtab === 'statictexts') {
        if (keys.includes('statictexts')) {
          this.uicomponentkey = 'statictexts'
        } else {
          this.el['statictexts'] = []
          this.uicomponentkey = 'statictexts'
        }
      } else {
        for (var i = 0; i < keys.length; i++) {
          switch (keys[i]) {
            case 'typing':
              this.uicomponentkey = 'typing'
              break
            case 'taps':
              this.uicomponentkey = 'taps'
              break
            case 'tapsonchange':
              this.uicomponentkey = 'tapsonchange'
              break
            case 'imgsarray':
              this.uicomponentkey = 'imgsarray'
              break
            case 'tapswithimage':
              this.uicomponentkey = 'tapswithimage'
              break
            case 'rubricText':
              this.uicomponentkey = 'rubricText'
              break
            case 'textarray':
              this.uicomponentkey = 'textarray'
              break
            case 'imagegroups':
              this.uicomponentkey = 'imagegroups'
              break
          }
        }
      }
      if (this.el[this.uicomponentkey] !== undefined) {
        if (this.el[this.uicomponentkey].length > 0) {
          if (this.el[this.uicomponentkey][this.el.settingindex].textstyle !== undefined && this.el[this.uicomponentkey][this.el.settingindex].textstyle !== null) {
            this.textobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingindex].textstyle))
          }
          if (this.textobject.fontSize !== undefined) {
            this.object.fontsize = this.textobject.fontSize.replace(/em/g, '')
          }
          if (this.textobject.color !== undefined) {
            this.object.color = this.textobject.color
          }
          if (this.textobject.fontStyle !== undefined) {
            this.object.fontstyle = this.textobject.fontStyle
          }
          if (this.textobject.fontWeight !== undefined) {
            this.object.fontweight = this.textobject.fontWeight
          }
          if (this.textobject.textTransform !== undefined) {
            this.object.texttransform = this.textobject.textTransform
          }
          if (this.textobject.textDecoration !== undefined) {
            this.object.textdecoration = this.textobject.textDecoration
          }
          if (this.textobject.backgroundImage !== undefined) {
            this.object.bgimage = this.textobject.backgroundImage.replace(/url|\(|\)/g, '')
          }
          if (this.textobject.backgroundRepeat !== undefined) {
            this.object.bgrepeat = this.textobject.backgroundRepeat
          }
          if (this.textobject.backgroundColor !== undefined) {
            this.object.bgcolor = this.textobject.backgroundColor
          }
          if (this.textobject.borderWidth !== undefined) {
            this.object.bgimgborderwidth = this.textobject.borderWidth.replace(/px/g, '')
          }
          this.object.bgimgborderstyle = this.textobject.borderStyle
          if (this.textobject.borderRadius !== undefined) {
            this.object.bgimgborderradius = this.textobject.borderRadius.replace(/px/g, '')
          }
          this.object.bgimgbordercolor = this.textobject.borderColor
          if (this.textobject.paddingTop !== undefined) {
            this.object.bgtoppadding = this.textobject.paddingTop.replace(/%/g, '')
          }
          if (this.textobject.paddingBottom !== undefined) {
            this.object.bgbottompadding = this.textobject.paddingBottom.replace(/%/g, '')
          }
          if (this.textobject.paddingBottom !== undefined) {
            this.object.bgbottompadding = this.textobject.paddingBottom.replace(/%/g, '')
          }
          if (this.textobject.paddingLeft !== undefined) {
            this.object.bgleftpadding = this.textobject.paddingLeft.replace(/%/g, '')
          }
          if (this.textobject.paddingRight !== undefined) {
            this.object.bgrightpadding = this.textobject.paddingRight.replace(/%/g, '')
          }
          if (this.textobject.marginTop !== undefined) {
            this.object.bgtopmargin = this.textobject.marginTop.replace(/%/g, '')
          }
          if (this.textobject.marginBottom !== undefined) {
            this.object.bgbottommargin = this.textobject.marginBottom.replace(/%/g, '')
          }
          if (this.textobject.marginLeft !== undefined) {
            this.object.bgleftmargin = this.textobject.marginLeft.replace(/%/g, '')
          }
          if (this.textobject.marginRight !== undefined) {
            this.object.bgrightmargin = this.textobject.marginRight.replace(/%/g, '')
          }
          if (this.textobject.width !== undefined) {
            this.object.width = this.textobject.width.replace(/px/g, '')
          }
          if (this.textobject.height !== undefined) {
            this.object.height = this.textobject.height.replace(/px/g, '')
          }
          if (this.textobject.top !== undefined) {
            this.object.top = this.textobject.top.replace(/%/g, '')
          }
          if (this.textobject.left !== undefined) {
            this.object.left = this.textobject.left.replace(/%/g, '')
          }
          if (this.textobject.zIndex !== undefined) {
            this.object.zindex = this.textobject.zIndex
          }
        }
      }
    },
    colorpick(hex, refs) {
      switch (refs) {
        case 'border':
          this.object.bgimgbordercolor = hex
          break
        case 'bgcolor':
          this.object.bgcolor = hex
          break
        case 'style':
          this.object.color = hex
          break
      }
    },
    back() {
      this.flag = false
      this.el.texttab = null
    }
  },
  computed: {
    compobject: function() {
      return this.object
    },
    elindexchanges: function() {
      return this.el.settingindex
    },
    eltabchanges: function() {
      return this.el.settingtab
    }
  },
  watch: {
    compobject: {
      handler(object) {
        this.loadstyle()
      },
      deep: true
    },
    elindexchanges: {
      handler(element) {
        if ((this.el.settingtab === 'tapinput' || this.el.settingtab === 'text' || this.el.settingtab === 'rubricquestion' || this.el.settingtab === 'multiplechoiceimgtext' || this.el.settingtab === 'grouping') && this.el.settingindex !== null) {
          this.loadonmount ()
        }
      },
      deep: true
    },
    eltabchanges: {
      handler(element) {
        if ((this.el.settingtab === 'tapinput' || this.el.settingtab === 'text' || this.el.settingtab === 'rubricquestion' || this.el.settingtab === 'multiplechoiceimgtext' || this.el.settingtab === 'grouping') && this.el.settingindex !== null) {
          this.loadonmount ()
        }
      },
      deep: true
    }
  }
}
</script>
