<style lang="scss" scoped>
</style>

<template lang="html">
  <div class="columns is-multiline" v-if="el.settingid !== null">
    <div class="column is-6 pull-right">
      <a class="button is-info" @click="resetpos()"><i class="fa fa-repeat"> Reset Position</i></a>
    </div>
    <div class="column is-12">
      <div class="field has-addons">
        <p class="contol">
          <a class="button is-static">
            Left
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" v-model="object.positionleft">
        </p>
        <p class="contol">
          <a class="button is-static">
            %
          </a>
        </p>
      </div>
      <div class="field has-addons">
        <p class="contol">
          <a class="button is-static">
            Top
          </a>
        </p>
        <p class="control">
          <input class="input" type="number" v-model="object.positiontop">
        </p>
        <p class="contol">
          <a class="button is-static">
            %
          </a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  // Settings to absolute Position for each ui-component
  // position properties of bgobject inside each ui-component of json ui-component array
  name: 'uicomponentposition',
  props: {
    el: Object
  },
  data () {
    return {
      object: {
        position: 'absolute',
        positiontop: 0,
        positionleft: 0
      },
      tempobject: {}
    }
  },
  mounted () {
    if ((this.el.settingtab === 'typing' || this.el.settingtab === 'taptap') && this.el.settingid !== null) {
      this.loadonmount()
    }
  },
  methods: {
    loadpos () {
      // Method to load users inputs to temp object and throught that to json bgobject
      this.tempobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingid].bgobject))
      this.tempobject.position = this.object.position
      if (this.object.postionleft !== 0) {
        this.tempobject.left = this.object.positionleft + '%'
      }
      if (this.object.positiontop !== 0) {
        this.tempobject.top = this.object.positiontop + '%'
      }
      this.el[this.uicomponentkey][this.el.settingid].bgobject = JSON.parse(JSON.stringify(this.tempobject))
    },
    // Reset bgobject
    resetpos () {
      this.object.position = 'absolute'
      this.object.positiontop = 0
      this.object.positionleft = 0
      delete this.tempobject.position
      delete this.tempobject.left
      delete this.tempobject.top
      this.el[this.uicomponentkey][this.el.settingid].bgobject = JSON.parse(JSON.stringify(this.tempobject))
    },
    // load the initial values of json to user inputs
    loadonmount () {
      let keys = Object.keys(this.el)
      for (var i = 0; i < keys.length; i++) {
        switch (keys[i]) {
          case 'typing':
            this.uicomponentkey = 'typing'
            break
          case 'taps':
            this.uicomponentkey = 'taps'
            break
        }
      }
      if (this.el[this.uicomponentkey].length > 0 && this.el.settingid !== null) {
        this.tempobject = JSON.parse(JSON.stringify(this.el[this.uicomponentkey][this.el.settingid].bgobject))
        if (this.tempobject.left !== undefined) {
          this.object.positionleft = this.tempobject.left.replace(/%/g, '')
        }
        if (this.tempobject.top !== undefined) {
          this.object.positiontop = this.tempobject.top.replace(/%/g, '')
        }
      }
    }
  },
  computed: {
    compobject: function () {
      return this.object
    },
    elchanges: function () {
      return this.el
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loadpos()
      },
      deep: true
    },
    elchanges: {
      handler (element) {
        this.el = element
        if ((element.settingtab === 'typing' || element.settingtab === 'taptap') && element.settingid !== null) {
          this.loadonmount()
        }
      },
      deep: true
    }
  }
}

</script>
