<style lang="scss">
</style>

<template lang="html">
<div class="columns is-multiline">
  <div class="column is-12">
    <div class="tabs is-boxed">
      <ul>
        <li :class="{'is-active': tab === 'wordsearch'}"><a @click="tabclicked('wordsearch')">WordSearch</a></li>
          <li :class="{'is-active': tab === 'wordsearch_ui'}"><a @click="tabclicked('wordsearch_ui')">WordSearch UI</a></li>
          <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">BG. Settings</a></li>
          <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
          <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
      </ul>
    </div>
  </div>
  <div class="column is-12">
    <div v-if="tab === 'wordsearch'" class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button" @click="resetWordSearch()">Reset</a>
        </p>
        <p class="control">
          <a class="button is-static">Max Letters per Row:</a>
        </p>
        <p class="control">
          <input type="number" class="input" @input="changeMaxSize()" v-model="maxsize">
        </p>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
            <a class="button is-static">
              Word
            </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="word">
        </p>
        <p class="control">
          <a class="button has-text-info" @click="add_word()">Add</a>
        </p>
        <p class="control">
            <a class="button is-static is-small">
              (One Word Or Multiple Words(word,word,word,...))
            </a>
        </p>
      </div>
      <div class="column is-12">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Word</th>
              <th>Row</th>
              <th>Column</th>
              <th>Choose Start Point</th>
              <th>Direction</th>
              <th>Default</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(word, index) in el.wordsearch" :key="index">
              <th>{{index}}</th>
              <th>{{word.text}}</th>
              <th>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <span>{{word.startY}}</span>
                  </p>
                </div>
              </th>
              <th>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <span>{{word.startX}}</span>
                  </p>
                </div>
              </th>
              <th>
                <div class="column is-12 field has-addons">
                  <p class="control">
                    <exp-multiselect :openDirection="'down'" track-by="id" label="label" deselectLabel='' selectLabel='' selectedLabel='' @input="selectPosition(index)" :options="availablePositions" v-model="startPosition"></exp-multiselect>
                  </p>
                </div>
              </th>
              <th><exp-multiselect :openDirection="'down'" :hideSelected="true" @input="selectDirection(index, $event)" v-model="word.direction" :options="['horizontal', 'vertical']"></exp-multiselect></th>
              <th><exp-checkbox type="text" class="checkbox" @input="createLettersArray()" v-model="word.default"></exp-checkbox></th>
              <th><a><span class="icon is-small has-text-danger" @click="deleteWord(index)"><i class="fa fa-times"></i></span></a></th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button" @click="randomLetters()">Random Letters</a>
        </p>
        <p class="control">
          <exp-multiselect :openDirection="'down'" track-by="id" label="label" :hideSelected="true" @input="selectRandom()" :options="randomPositions" v-model="randomPosition"></exp-multiselect>
        </p>
        <p class="control" v-if="randomIndex !== null">
          <input type="text" class="input" v-model="el.letters[randomIndex].text">
        </p>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="columns is-multiline" v-if="tab === 'wordsearch_ui'">
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Border Style
          </a>
        </p>
        <p class="control">
          <span class="select">
            <select v-model="uiobject.borderStyle">
              <option>solid</option>
              <option>dotted</option>
              <option>dashed</option>
              <option>double</option>
              <option>groove</option>
              <option>ridge</option>
              <option>inset</option>
              <option>outset</option>
            </select>
          </span>
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Border Color
          </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="uiobject.borderColor">
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Circling Color
          </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="pixiuiobject.circlingcolor">
        </p>
      </div>
      <div class="column is-6 field has-addons">
        <p class="control">
          <a class="button is-static">
            Default Circling Color
          </a>
        </p>
        <p class="control">
          <input type="text" class="input" v-model="pixiuiobject.defaultcirclingcolor">
        </p>
      </div>
    </div>
  </div>
</div>
</template>
<script>
import range from 'lodash/range'
import forEach from 'lodash/forEach'
import findIndex from 'lodash/findIndex'
import filter from 'lodash/filter'
import sortBy from 'lodash/sortBy'
import maxBy from 'lodash/maxBy'
export default {
  name: 'wordsearchsettings',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      word: null, // Each new word or array of words
      boxsize: 72,
      containerboxsize: 72,
      maxsize: 1,
      letters: [], // array with all possible positions
      arraycord: [], // cordination of possible positions
      availablePositions: [], // available positions
      startPosition: {}, // start position of each word
      indexcounter: 0, // id helper for availablePositions
      randomPosition: null, // choose one of each random position
      randomIndex: null,
      randomPositions: [], // all positions with random letters
      wordId: 1, // word id helper
      // ui datat
      uiobject: {
        borderStyle: 'solid',
        borderColor: null
      },
      pixiuiobject: {
        circlingcolor: 0x000000,
        defaultcirclingcolor: 0x000000
      }
    }
  },
  mounted () {
    // Retrieve container size from localhost
    if (this.el.containerboxsize !== null && this.el.containerboxsize !== undefined) {
      this.containerboxsize = this.el.containerboxsize
      this.maxsize = (this.el.containerboxsize/this.boxsize)
    }
    // init exercise or load localstorage, check letters array for notassigned positions
    if (findIndex(this.letters, {'type': 'notassigned'}) !== -1) {
      this.el.letters = [...this.letters]
      this.initLettersArray()
      if (this.el.wordsearch.length > 0) {
        this.createLettersArray()
      }
    } else {
      this.letters = [...this.el.letters]
      this.initAvailablePositionsArray()
      this.populateRandomPositions()
    }
    this.indexcounter = 0
    // load ui object from localstorage wordsearchui
    this.uiobject = {...this.el.wordsearchui}
    this.pixiuiobject = {...this.el.pixiwordsearchui}
  },
  methods: {
    tabclicked (tab) {
      this.el.settingindex = null
      this.el.settingtab = tab
      this.tab = tab
    },
    /**
     * [initLettersArray]
     * Initialize Array letters(possible position of letters in wordsearch square)
     * Initialize helper Array availablePositions
     * @return {[type]} [description]
     */
    initLettersArray () {
      this.letters = []
      this.arraycord = []
      this.arraycord = range(0, this.containerboxsize, this.boxsize)
      forEach(this.arraycord, (valueX) => {
        forEach(this.arraycord, (valueY) => {
          this.letters.push({text: '', x: valueX, y: valueY, type: 'notassigned', wordId: null})
        })
      })
      this.initAvailablePositionsArray()
    },
    /**
     * [initAvailablePositionsArray]
     * Initialize helper Array availablePositions
     * @return {[type]} [description]
     */
    initAvailablePositionsArray () {
      this.availablePositions = []
      this.arraycord = []
      this.arraycord = range(0, this.containerboxsize, this.boxsize)
      forEach(this.arraycord, (valueY) => {
        forEach(this.arraycord, (valueX) => {
          this.availablePositions.push({id: this.indexcounter, x: valueX, y: valueY, label: Math.floor(valueY/this.boxsize) + ', ' + Math.floor(valueX/this.boxsize) })
          this.indexcounter++
        })
      })
    },
    /**
     * [add_word add new word or array of words]
     */
    add_word () {
      if (this.word !== null) {
        if (this.word.indexOf(',') === -1) {
          if (this.el.wordsearch.length > 0) {
            this.wordId = (maxBy(this.el.wordsearch, 'wordId').wordId + 1)
          }
          this.el.wordsearch.push({text: this.word.split(' ').join(''), startX: null, startY: null, direction: null, wordId: this.wordId, default: false})
        } else {
          forEach(this.word.split(','), (word) => {
            if (this.el.wordsearch.length > 0) {
              this.wordId = (maxBy(this.el.wordsearch, 'wordId').wordId + 1)
            }
            this.el.wordsearch.push({text: word.split(' ').join(''), startX: null, startY: null, direction: null, wordId: this.wordId, default: false})
          })
        }
        this.word = null
      }
    },
    /**
     * [selectPosition select starting position of each word]
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    selectPosition (index) {
      this.el.wordsearch[index].startX = (this.startPosition.x/this.boxsize)
      this.el.wordsearch[index].startY = (this.startPosition.y/this.boxsize)
      this.startPosition = null
    },
    /**
     * [selectDirection select direction for each word]
     * @param  {[type]} index [description]
     * @return {[type]}       [description]
     */
    selectDirection (index, direction) {
        // check if direction is valid
        if (this.el.wordsearch[index].direction === 'horizontal') {
          if((this.el.wordsearch[index].startX + this.el.wordsearch[index].text.length) * this.boxsize <= this.el.containerboxsize) {
            this.createLettersArray()
          } else {
            this.el.wordsearch[index].direction = null
          }
        } else if (this.el.wordsearch[index].direction === 'vertical') {
          if ((this.el.wordsearch[index].startY + this.el.wordsearch[index].text.length) * this.boxsize <= this.el.containerboxsize) {
            this.createLettersArray()
          } else {
            this.el.wordsearch[index].direction = null
          }
        }
    },
    deleteWord (index) {
      this.el.wordsearch.splice(index, 1)
      this.createLettersArray()
    },
    /**
     * [createLettersArray create array letters]
     * wordId is the same for the first and last letter for each word, for checking
     * @return {[type]} [description]
     */
    createLettersArray () {

      this.initLettersArray()
      forEach(this.el.wordsearch, (word) => {
        if (word.startX !== null && word.startY !== null) {
          let firstX = (word.startX * this.boxsize)
          let firstY = (word.startY * this.boxsize)
          forEach(word.text, (letter, counter) => {
            let tempIncrease = (counter*this.boxsize)
            if (word.direction === 'horizontal') {
              this.letters[findIndex(this.letters, {'x': (firstX + tempIncrease), 'y': firstY})].text = letter
              this.letters[findIndex(this.letters, {'x': (firstX + tempIncrease), 'y': firstY})].type = 'word'
              if (counter === 0 || counter === (word.text.length - 1)) {
                this.letters[findIndex(this.letters, {'x': (firstX + tempIncrease), 'y': firstY})].wordId = word.wordId
              }
            } else {
              this.letters[findIndex(this.letters, {'x': firstX, 'y': (firstY + tempIncrease)})].text = letter
              this.letters[findIndex(this.letters, {'x': firstX, 'y': (firstY + tempIncrease)})].type = 'word'
              if (counter === 0 || counter === (word.text.length - 1)) {
                this.letters[findIndex(this.letters, {'x': firstX, 'y': (firstY + tempIncrease)})].wordId = word.wordId
              }
            }
          })
        }
      })
      this.el.letters = []
      this.el.letters = [...this.letters]
    },
    /**
     * [randomLetters Populate free positions with random consonants ]
     * @return {[type]} [description]
     */
    randomLetters () {
      var possible = "BCDFGJKLMNPQRSTVWXZ"
      forEach(this.letters, (value) => {
        if (value.type === 'notassigned') {
          value.text = possible.charAt(Math.floor(Math.random() * possible.length))
          value.type = 'random'
        }
      })
      this.el.letters = [...this.letters]
      this.populateRandomPositions()
    },
    /**
     * [populateRandomPositions init helper array randomPositions with the positions of random letters]
     * @return {[type]} [description]
     */
    populateRandomPositions () {
      this.randomPositions = sortBy(filter([...this.letters], (value) => {
        return value.type === 'random'
      }), ['y', 'x'])
      forEach(this.randomPositions, (value, index) => {
        value['id'] = index
        value['label'] = Math.floor(value.y/this.boxsize) + ', ' + Math.floor(value.x/this.boxsize)
      })
    },
    /**
     * [selectRandom select one of the random positions]
     * @return {[type]} [description]
     */
    selectRandom () {
        this.randomIndex = findIndex(this.el.letters, {'x': this.randomPosition.x, 'y': this.randomPosition.y})
    },
    /**
     * [changeMaxSize change max size of wordsearch square]
     * @return {[type]} [description]
     */
    changeMaxSize () {
      this.el.containerboxsize = this.containerboxsize = this.maxsize * this.boxsize
      this.resetWordSearch()
    },
    resetWordSearch () {
      this.el.wordsearch = []
      this.createLettersArray()
    },
    /**
     * [loaduiobject load wordsearch ui]
     * @return {[type]} [description]
     */
    loaduiobject () {
      forEach(this.uiobject, (value, attr) => {
        if (value === null || value === undefined || value === '') {
          delete this.uiobject[attr]
        }
      })
      this.el.wordsearchui = {...this.uiobject}
    },
    loadpixiuiobject () {
      forEach(this.pixiuiobject, (value, attr) => {
        if (value === null || value === undefined || value === '') {
          delete this.pixiuiobject[attr]
        }
      })
      this.el.pixiwordsearchui = {...this.pixiuiobject}
    }
  },
  computed: {
    compobject: function () {
      return this.uiobject
    },
    comppixiobject: function () {
      return this.pixiuiobject
    }
  },
  watch: {
    compobject: {
      handler (object) {
        this.loaduiobject()
      },
      deep: true
    },
    comppixiobject: {
      handler (object) {
        this.loadpixiuiobject()
      },
      deep: true
    }
  }
}

</script>
