<style lang="scss">
</style>
<template lang="html">
<div class="columns is-multiline is-mobile checkprimary_placeholder" :style="[el.bgobject, {backgroundImage: bgimage}]">
  <!-- <v-touch class="column is-paddingless is-1 navbutton has-text-centered" tag="a" @tap="previouspage()">
    <i class="fa fa-angle-left is-vertical-center left"></i>
  </v-touch> -->
  <div :style="el.buttonStyleObject" class="column is-5">
    <div class="columns is-mobile has-center-items">
      <div class="column is-3 has-center-items">
        <v-touch tap="a" @tap="reset()" class="buttonstyle reset" :class="{activereset: resetflag, notavailable: !resetflag}"><i v-if="!resetflag" class="fa fa-refresh"></i><span v-if="resetflag" >RESET</span></v-touch>
      </div>
      <div class="column is-3 has-center-items">
        <v-touch tap="a" @tap="check()" class="buttonstyle check" :class="{activecheck: checkflag, notavailable: !checkflag}"><i v-if="!checkflag" class="fa fa-check"></i><span v-if="checkflag" >CHECK</span></v-touch>
      </div>
      <div class="column is-3 has-center-items">
        <v-touch tap="a"  @tap="tryagain()"  class="buttonstyle tryagain" :class="{activetryagain: tryagainflag, notavailable: !tryagainflag}"><i v-if="!tryagainflag" class="fa fa-repeat"></i><span v-if="tryagainflag" >TRY AGAIN</span></v-touch>
      </div>
      <div class="column is-3 has-center-items">
        <v-touch tap="a" @tap="show()" class="buttonstyle show" :class="{activeshow: showflag, notavailable: !showflag}"><i v-if="!showflag" class="fa fa-eye"></i><span v-if="showflag" >SHOW</span></v-touch>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="columns is-mobile">
      <template v-for="(helpButton, index) in el.modalarray">
        <div class="checkFooterHelpButtons column">
          <v-touch tag="a" :style="{borderColor: helpButton.modalObject.color}" @tap="modalopen(index)">
            <span :style="{color: helpButton.modalObject.color}">{{helpButton.text}}</span>
          </v-touch>
        </div>
      </template>

      <!-- <div class="checkFooterHelpButtons column is-6">
        <v-touch tag="a" @tap="modalopen(0)">
         <span>GRAMMAR</span>
        </v-touch>
      </div> -->
    </div>
  </div>
  <!-- <v-touch class="column is-paddingless is-1 navbutton has-center-items has-text-centered" tag="a" @tap="nextpage()">
    <span class="icon is-size-1"><i class="fa fa-angle-right"></i></span>
  </v-touch> -->
  <div :style="[scoreopen ? {}: {display: 'none'}]" class="column is-3 has-text-right">
    <div class="columns is-multiline is-mobile score_placeholder">
      <div class="ammounttext column is-12 is-paddingless">
        <span v-if="countisRight <= ammount">{{countisRight}}/{{ammount}}</span><span v-else>{{ammount}}/{{ammount}}</span>
        <span style="opacity: 0;" :style="[countperc > 9 ? {display: 'none'}:{}]">0</span><span :class="perctextcolor" :style="[countperc > 99 ? {display: 'none'}:{}]">{{countperc}}%</span>
        <span style="color: #23D160;" :style="[countperc < 99 ? {display: 'none'}:{}]">100%</span>
      </div>
      <div class="rightwrong_placeholder column is-12 is-paddingless">
        <p class="belowchecktext right">Right Answers: <span>{{countisRight}}</span></p>
        <p class="belowchecktext wrong">Wrong Answers: <span v-if="ammount - countisRight > -1">{{ammount - countisRight}}</span><span v-else>0</span></p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import eventbus from '../../config/eventhub.js'
import findIndex from 'lodash/findIndex'
import filter from 'lodash/filter'
import remove from 'lodash/remove'
import ComponentFooterModal from '@/ui-components/modal/ComponentFooterModal'
const FooterModal = Vue.extend(ComponentFooterModal)
import {MEDIAENDPOINT} from '@/config/app-config.js'
export default {
  name: 'expCheckprimary',
  props: {
    el: Object
  },
  data () {
    return {
      bindchoices: [], // Bind Choices ID, Bind Check footer with exercise section
      ammount: null, // Ammount of ui-components exercise
      checkunlock: null, // Ammount of Inputs to Unlock Checks
      showunlock: null, // Ammount of Check clicks to Unlock Show
      userinput: [], // Array of users current inputs
      checkflag: false, // Flag to open and close check button
      checkcount: 0, // Count of Check hits
      showflag: false, // Flag to open and close show button
      tryagainflag: false, // Flag to open and close tryagain button
      resetflag: true, // Flag to open and close reset button
      percentage: 10, // Score percentage
      countperc: 0, // Count to Percentage
      countisRight: 0, // Count Right User Answers
      strokecolor: 'danger', //  Score SVG circle color
      perctextcolor: 'danger', // Score Percentage color
      scoreopen: false, // Flag to open user score
      run: null, // Variable to hold interval
      payload: null,
      modalarray: [],
      bgimage: null,
      mediafile: MEDIAENDPOINT
    }
  },
  mounted () {
    this.modalarray = JSON.parse(JSON.stringify(this.el.modalarray))
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.$nextTick(() => {
      // Load informations from JSON
      if (this.el.ammount > 0 && this.el.checkunlock > 0 && this.el.showunlock > 0) {
      this.ammount = this.el.ammount
      this.checkunlock = this.el.checkunlock
      this.showunlock = this.el.showunlock
      this.bindchoices = JSON.parse(JSON.stringify(this.el.bindchoicesid))
    }
      // Event to add and remove users choice from userinput array
      eventbus.listen('checkprimary_input', (inputdata) => {
      switch (inputdata.evt) {
          case 'add':
            let tempindex = findIndex(this.userinput, (value) => {
              return (value.inputid === inputdata.inputid && value.bindchoiceid === inputdata.bindchoiceid && value.useranswerid === inputdata.id)
            })
            if (tempindex === -1) {
              this.userinput.push({useranswerid: inputdata.id, bindchoiceid: inputdata.bindchoiceid, isRight: inputdata.isRight, inputid: inputdata.inputid})
            } else {
              this.userinput[tempindex].useranswerid = inputdata.id
              this.userinput[tempindex].isRight = inputdata.isRight
            }
            break
          case 'remove':
            let removeindex = findIndex(this.userinput, {'inputid': inputdata.inputid, 'useranswerid': inputdata.id, 'bindchoiceid': inputdata.bindchoiceid})
            if (removeindex !== -1) {
              this.userinput.splice(removeindex, 1)
            }
            break
        }
        // check if length of userinput array is enough to open check button
      if (this.userinput.length >= this.checkunlock && this.resetflag) {
          this.checkflag = true
        } else {
          this.checkflag = false
          this.tryagainflag = false
        }
    })
      // Listen when primary timer run out and show check and rightanswers
      eventbus.listen('primarytimer_end', () => {
      this.check()
      this.show()
      this.resetflag = false
      this.showflag = false
      this.tryagainflag = false
      this.checkflag = false
    })
    })
    eventbus.listen('edit-component', () => {
      this.reset()
      this.checkflag = false
      this.userinput = []
      this.showflag = false
      this.checkcount = 0
      this.tryagainflag = false
      this.percentage = 0
      this.countperc = 0
      this.countisRight = 0
      this.scoreopen = false
      this.strokecolor = 'danger'
      this.perctextcolor = 'danger'
      this.resetflag = true
    })
    eventbus.listen_once('edit-modal-settings', (index) => {
      this.modalopen(index)
    })
  },
  methods: {
    // open modal
    modalopen (index) {
      new FooterModal({
        el: document.createElement('div'),
        propsData: {
          el: this.el.modalarray[index].modalObject,
          query: this.$route.query.package.toString(),
          visible: true
        }
      })
    },
    // Reset Methods, Click Reset Button
    // Reset All users inputs
    reset () {
      for (var i = 0; i < this.bindchoices.length; i++) {
        if (this.bindchoices[i].startsWith('tap') || this.bindchoices[i].startsWith('choice1')) {
          eventbus.fire('taptap_clearinput', 0)
          // re enable choices in choices component
          let enablechoice = {inputid: 0}
          eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
        } else if (this.bindchoices[i].startsWith('truefalse')) {
          eventbus.fire('taptap_clearinput', 0)
          eventbus.fire('truefalse_clearinput')
        } else if (this.bindchoices[i].startsWith('typing')) {
          eventbus.fire('taptap_clearinput', 0)
          eventbus.fire('typing_clearinput')
        } else if (this.bindchoices[i].startsWith('missingletter')) {
          eventbus.fire('missingletter_clearinput')
        } else if (this.bindchoices[i].startsWith('taptapcoloring')) {
          eventbus.fire('taptapcoloring_clearinput')
        } else {
          eventbus.fire('changetaptap_clearinput', 0)
          eventbus.fire('grouping_clearchoice', 0)
          let enablechoice = {inputid: 0}
          eventbus.fire('choicestaptap_enableuserchoice', enablechoice)
        }
      }
      // primary
      eventbus.fire('checkprimary_reset')
      this.checkflag = false
      this.userinput = []
      this.showflag = false
      this.checkcount = 0
      this.tryagainflag = false
      this.percentage = 0
      this.countperc = 0
      this.countisRight = 0
      this.scoreopen = false
      this.strokecolor = 'danger'
      this.perctextcolor = 'danger'
    },
    // method run when click button check
    check () {
      // event to inform primary ui-components that check button clicked
      eventbus.fire('checkprimary_check')
      // event to inform workbook ui-components that check button clicked
      for (var i = 0; i < this.bindchoices.length; i++) {
        let checkobject = {id: this.bindchoices[i], buttonevent: 'check'}
        eventbus.fire('checktaptap_check', checkobject)
      }
      this.scoreopen = true
      this.countisRight = filter(this.userinput, {'isRight': true}).length
      this.percentage = ((this.countisRight * 100) / this.ammount)
      this.checkcount++
      this.tryagainflag = true
      if (this.checkcount >= this.showunlock) {
        this.showflag = true
      }
      this.checkflag = false
      // Check Score Count Effect
      this.countperc = Math.round(this.percentage)
      if (this.percentage >= 100) {
        eventbus.fire('checkprimary_stoptime')
        this.checkflag = false
        this.tryagainflag = false
        this.showflag = false
        // this.resetflag = false
      }
      // setScore(this.countperc, this.payload)
    },
    tryagain () {
      this.scoreopen = false
      for (var i = 0; i < this.bindchoices.length; i++) {
        let checkobject = {id: this.bindchoices[i], buttonevent: 'tryagain'}
        eventbus.fire('checktaptap_check', checkobject)
      }
      eventbus.fire('checkprimary_tryagain')
      remove(this.userinput, (value) => {
        return (!value.isRight)
      })
      if (this.userinput.length >= this.checkunlock && this.resetflag) {
        this.checkflag = true
      } else {
        this.checkflag = false
        this.tryagainflag = false
      }
    },
    show () {
      eventbus.fire('checktaptap_showrightanswers')
      eventbus.fire('checkprimary_show')
      eventbus.fire('checkprimary_stoptime')
      this.checkflag = false
      this.tryagainflag = false
      this.showflag = false
      // this.resetflag = false
    }
  },
  computed: {
    customel: function () {
      return this.el
    },
    compstroke: function () {
      return (251.33 - (this.countperc * 251.33) / 100)
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.ammount = element.ammount
        this.bindchoices = JSON.parse(JSON.stringify(element.bindchoicesid))
        this.checkunlock = element.checkunlock
        this.showunlock = element.showunlock
        this.userinput = []
        this.checkflag = false
        this.checkcount = 0
        this.showflag = false
        this.tryagainflag = false
        this.resetflag = true
        this.countperc = 0
        this.countisRight = 0
        this.strokecolor = 'danger'
        this.perctextcolor = 'danger'
        this.scoreopen = false
        this.modalarray = JSON.parse(JSON.stringify(element.modalarray))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
        }
      },
      deep: true
    },
    // Reset Check Primary footer when nav through pages
    '$route': function (val) {
      clearInterval(this.run)
      this.checkflag = false
      this.userinput = []
      this.showflag = false
      this.checkcount = 0
      this.tryagainflag = false
      this.percentage = 0
      this.countperc = 0
      this.countisRight = 0
      this.scoreopen = false
      this.strokecolor = 'danger'
      this.perctextcolor = 'danger'
    }
  },
  beforeDestroy () {
    clearInterval(this.run)
    eventbus.off('checkprimary_input')
    eventbus.off('primarytimer_end')
  }
}

</script>
