<style lang="scss" scoped>
</style>

<template lang="html">
  <span v-if="text !== ''" :style="[/\r|\n/.exec(text) ? {whiteSpace: 'pre'} : {whiteSpace: 'normal', wordBreak: 'break-word', fontSize: fontSize + 'em'}]"  v-html="text"></span>
</template>

<script>
export default {
  name: "expTrueFalseText",
  props: {
    el: Object,
    text: String,
    fontSize: String,
  },
  data() {
    return {
    };
  },
};
</script>
