<style lang="scss" scoped>
.rel_inline_block{
  position: relative;
  display: inline-block;
}
</style>
<template lang="html">
<span :style="[truefalseObject.tfobgobject, {backgroundImage: bgImage}]">
  <!-- <span v-for="(choice,index) in truefalseObject.choicesarray" :key="choice.id" style="position: relative; display: inline-block;"> -->
<span v-for="(choice,index) in truefalseObject.choicesarray" :key="choice.id" class="rel_inline_block"  :style="[truefalseObject.choicesarray[index].choice_bgobject]">
  <v-touch
    class="button choices_style_2 shadow-depth-3"
    tag="div"
    @tap="onTap(index)"
    :style="[{fontSize: fontSize},choice.selected ? {backgroundColor: '#bebebe'} : {}]"
    >
    <span v-if="choice.selected">
      <i style="visibility: hidden;"
      :class="{'fa fa-check has-check-righticon is-size-5': isRightFlag  , 'fa fa-times has-check-wrongicon is-size-5': !isRightFlag }"></i>
      <span>{{choice.text}}</span>
      <i :class="{'fa fa-check has-check-righticon is-size-5': isRightFlag && checkFlag , 'fa fa-times has-check-wrongicon is-size-5': !isRightFlag && checkFlag }"></i>
      <i :style="(isRightFlag && checkFlag) || (!isRightFlag && checkFlag) ?{display: 'none'}:{visibility: 'hidden'}"
      :class="{'fa fa-check has-check-righticon is-size-5': isRightFlag  , 'fa fa-times has-check-wrongicon is-size-5': !isRightFlag }"
      ></i>
    </span>
    <span v-else>
      <i style="visibility: hidden;" :class="{'fa fa-check has-check-righticon is-size-5': choice.id==truefalseObject.rightanswer[0]  , 'fa fa-times has-check-wrongicon is-size-5': choice.id!=truefalseObject.rightanswer[0]  }"></i>
      <span>{{choice.text}}</span>
      <i style="visibility: hidden;"
      :class="{'fa fa-check has-check-righticon is-size-5': choice.id==truefalseObject.rightanswer[0]  , 'fa fa-times has-check-wrongicon is-size-5': choice.id!=truefalseObject.rightanswer[0]  }"></i>
      <i :style="(choice.id==truefalseObject.rightanswer[0] ) || (choice.id!=truefalseObject.rightanswer[0] ) ?{display: 'none'}:{visibility: 'hidden'}"
      :class="{'fa fa-check has-check-righticon is-size-5': choice.id==truefalseObject.rightanswer[0]  , 'fa fa-times has-check-wrongicon is-size-5': choice.id!=truefalseObject.rightanswer[0] }"
      ></i>
    </span>
  </v-touch>
</span>
</span>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import findIndex from 'lodash/findIndex'
import {MEDIAENDPOINT} from '@/config/app-config.js'
export default {
  name: 'expTrueFalseObject',
  props: {
    truefalseObject: Object,
    bindchoicesid: String,
    fontSize: String
  },
  data () {
    return {
      checkFlag: false,
      currentselected: null,
      bgImage: null
    }
  },
  mounted () {
    // console.log('tf',this.$props)
    if (this.truefalseObject.tfobgobject.backgroundImage !== undefined && this.truefalseObject.tfobgobject.backgroundImage !== null && this.truefalseObject.tfobgobject.backgroundImage !== '') {
      this.bgImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.truefalseObject.tfobgobject.backgroundImage + ')'
    }
    this.$nextTick(() => {
      eventbus.listen('checkprimary_check', () => {
        this.checkFlag = true
      })
      eventbus.listen('checkprimary_reset', () => {
        this.reset()
      })
      eventbus.listen('checkprimary_tryagain', () => {
        // this.checkFlag = false
        if (!this.isRightFlag) {
          this.reset()
        }
      })
      eventbus.listen('checkprimary_show', () => {
        this.reset()
        let index = findIndex(this.truefalseObject.choicesarray, {'id': this.truefalseObject.rightanswer[0]})
        this.currentselected = index
        this.truefalseObject.choicesarray[this.currentselected].selected = true
        // this.isRightFlag=true;
        this.checkFlag = true
      })
    })
  },
  methods: {
    onTap (index) {
      if (!this.checkFlag) {
        this.truefalseObject.choicesarray[index].selected = true
        this.truefalseObject.choicesarray.map((choice, i) => {
          if (i !== index) choice.selected = false
        })
        this.currentselected = index
        let payload = {id: this.truefalseObject.truefalseId, inputid: this.truefalseObject.truefalseId, bindchoiceid: this.bindchoicesid, isRight: this.isRightFlag, evt: 'add'}
        eventbus.fire('checkprimary_input', payload)
      }
    },
    reset () {
      Object.assign(this.$data, this.$options.data())
      this.truefalseObject.choicesarray.map(choice => choice.selected = false)
    }
  },
  computed: {
    isRightFlag () {
      if (this.currentselected != null) {
        if (this.truefalseObject.choicesarray[this.currentselected].id === this.truefalseObject.rightanswer[0]) return true
        else return false
      }
    },
    customtfobgobject () {
      return this.truefalseObject.tfobgobject
    }
  },
  watch: {
    customtfobgobject: {
      handler (element) {
        if (element.backgroundImage !== undefined && element.backgroundImage !== null && element.backgroundImage !== '') {
          this.bgImage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.backgroundImage + ')'
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('checkprimary_show')
    eventbus.off('checkprimary_tryagain')
    eventbus.off('checkprimary_reset')
    eventbus.off('checkprimary_check')
  }
}
</script>
