 <style lang="scss">
</style>
<template lang="html">
<div class="truefalse_placeholder" :style="[el.bgobject, {backgroundImage: bgimage}]">
  <div id="truefalse" :class="{'columns is-multiline is-mobile': breakline}">
    <div :style="!breakline ? {display: 'inline-block'}: {display: 'block'}" :class="{'column is-12 is-paddingless': breakline}" v-html="compbftext"></div><v-touch :class="{notavailable: disableinput, 'column is-3 is-paddingless': breakline}" v-for="choice in availablechoices" :key="choice.id" tag="a" @tap="inputclicked(choice.id)"><span class="truefalsechoices_style_3" :style="[choice.selected ? {backgroundColor: '#bebebe'} : {}, breakline ? {display: 'block'} : {display: 'inline-block'}]">
      <i style="visibility: hidden;" class="fa fa-check has-check-righticon is-size-5"></i>{{choice.text}}<i :class="{'fa fa-check has-check-righticon is-size-5': righticon && choice.selected, 'fa fa-times has-check-wrongicon is-size-5': wrongicon && choice.selected}"></i><i :style="(righticon && choice.selected) || (wrongicon && choice.selected) ?{display: 'none'}:{visibility: 'hidden'}" class="fa fa-check has-check-wrongicon is-size-5"></i>
    </span></v-touch>
    <div :style="!breakline ? {display: 'inline-block'}: {display: 'block'}" :class="{'column is-12 is-paddingless': breakline}" v-html="compaftext"></div>
  </div>
</div>
</template>

<script>
import {MEDIAENDPOINT} from '@/config/app-config.js'
import eventbus from '../../config/eventhub.js'
export default {
  name: 'expTruefalse',
  props: {
    el: Object
  },
  data () {
    return {
      availablechoices: [],
      beforetext: '',
      breakline: false,
      componentid: 'truefalse1',
      choiceid: null,
      bindchoicesid: null,
      wrongicon: false,
      righticon: false,
      aftertext: null,
      userinputid: 0,
      hasinput: false,
      rightanswer: 0,
      disableinput: false,
      parentel: null,
      bgimage: null
    }
  },
  mounted () {
    if (this.el.bgobject.backgroundImage !== undefined && this.el.bgobject.backgroundImage !== null && this.el.bgobject.backgroundImage !== '') {
      this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + this.el.bgobject.backgroundImage + ')'
    }
    this.$nextTick(() => {
      eventbus.listen('checktaptap_check', (checkobject) => {
        if (checkobject.buttonevent === 'tryagain') {
          if (this.userinputid !== this.rightanswer) {
            this.disableinput = false
            this.hasinput = false
            this.wrongicon = false
            this.userinputid = 0
            for (var i = 0; i < this.availablechoices.length; i++) {
              this.availablechoices[i].selected = false
            }
          } else {
            this.disableinput = true
          }
        } else if (checkobject.buttonevent === 'check') {
          this.disableinput = true
          if (checkobject.id === this.bindchoicesid) {
          // if user input is empty do nothing
            if (!this.hasinput) {
              this.righticon = false
              this.wrongicon = false
            // if user input is not the right one then put the css class with the red wrong icon (times) and re enable this choice at choices array
            } else if (parseInt(this.userinputid) !== this.rightanswer) {
              this.wrongicon = true
              this.righticon = false
            } else {
              this.right = true
              this.righticon = true
              this.wrongicon = false
              let rightanswer = {id: this.userinputid, choisestaptapid: checkobject.id, componentid: this.componentid}
              eventbus.fire('checktaptap_rightanswer', rightanswer)
            }
          }
        }
      })
      eventbus.listen('checktaptap_showrightanswers', () => {
        this.inputclicked(this.rightanswer)
        this.right = true
        this.righticon = true
        this.wrongicon = false
      })
      eventbus.listen('truefalse_clearinput', () => {
        this.righticon = false
        this.wrongicon = false
        this.inputclicked(0)
        this.hasinput = false
        this.disableinput = false
        this.userinputid = 0
      })

    })
    this.availablechoices = JSON.parse(JSON.stringify(this.el.choicesarray))
    if (this.el.rightanswer === null) {
      this.el.rightanswer = 0
    } else {
      this.rightanswer = this.el.rightanswer.id
    }
    this.choiceid = this.el.id
    if (this.el.id !== null) {
      this.componentid = this.el.id
    }
    if (this.el.beforetext !== null) {
      this.beforetext = this.el.beforetext
    } else {
       this.this.beforetext = null
    }
    if (this.el.aftertext !== null) {
      this.aftertext = this.el.aftertext
    } else {
       this.aftertext = null
    }
    this.breakline = this.el.breakline
    this.bindchoicesid = this.el.bindchoicesid
  },
  methods: {
    inputclicked (choiceid) {
      eventbus.fire('truefalse_starttimer')
      for (var i = 0; i < this.availablechoices.length; i++) {
        if (this.availablechoices[i].id === choiceid) {
          this.availablechoices[i].selected = true
        } else {
          this.availablechoices[i].selected = false
        }
      }
      this.userinputid = choiceid
      this.hasinput = true
      this.availablechoices.forEach((item) => {
        if (item.id === parseInt(this.userinputid)) {
          let hasinputobject = {id: parseInt(this.el.id), componentid: this.componentid, evt: 'add'}
          eventbus.fire('checktaptap_hasinput', hasinputobject)
          let isRight = false
          if (this.rightanswer === parseInt(this.userinputid)) {
            isRight = true
          }
          let inputobj = {id: parseInt(this.el.id), inputid: this.componentid, bindchoiceid: this.bindchoicesid, isRight: isRight, evt: 'add'}
          eventbus.fire('checkprimary_input', inputobj)
        } else {
          let hasinputobject = {id: parseInt(this.el.id), componentid: this.componentid, evt: 'remove'}
          eventbus.fire('checktaptap_hasinput', hasinputobject)
        }
      })
    }
  },
  computed: {
    customel: function () {
      return this.el
    },
    compbftext: function () {
      return this.beforetext
    },
    compaftext: function () {
      return this.aftertext
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.choiceid = element.id
        this.breakline = element.breakline
        if (this.el.id !== null) {
          this.componentid = this.el.id
        }
        if (this.el.beforetext !== null) {
          this.beforetext = this.el.beforetext
        }
        if (this.el.aftertext !== null) {
          this.aftertext = this.el.aftertext
        }
        if (element.rightanswer === null) {
          this.rightanswer = 0
        } else {
          this.rightanswer = element.rightanswer.id
        }
        this.bindchoicesid = element.bindchoicesid
        this.availablechoices = JSON.parse(JSON.stringify(element.choicesarray))
        if (element.bgobject.backgroundImage !== undefined && element.bgobject.backgroundImage !== null && element.bgobject.backgroundImage !== '') {
          this.bgimage = 'url(' + MEDIAENDPOINT + this.$route.query.package + '/' + element.bgobject.backgroundImage + ')'
       } else {
          this.bgimage = null
        }
      },
      deep: true
    }
  },
  beforeDestroy () {
    eventbus.off('checktaptap_check')
    eventbus.off('checktaptap_showrightanswers')
    eventbus.off('truefalse_clearinput')
  }
}

</script>
