<style lang="scss" scoped>
</style>
<template lang="html">
<div class="columns">
  <div class="column is-1">
    <ul>
      <li v-for="left in list" :key="left.id" v-if="left.list === 'left' && !(left.selected)"><div class="matchthewords_choiceplaceholder">
        <v-touch :id="left.id"  tag="a" v-on:tap="selectedchoiceid = left.id"><span :id="left.id">{{left.text}}</span></v-touch><i class="fa fa-circle matchthewords_doticon"></i>
      </div>
      </li>
    </ul>
  </div>
  <div class="column is-3">
    <ul>
        <li v-for="right in list" :key="right.id" v-if="right.list === 'right'"><div class="matchthewords_choiceplaceholder"><v-touch tag="a" v-on:doubletap="removeselected(right.id, right.connectedchoice.id)" :id="right.connectedchoice.id"><span>{{right.connectedchoice.text}}</span></v-touch><span v-if="Object.keys(right.connectedchoice).length > 0"> <i class="fa fa-circle matchthewords_doticon"></i><i class="fa fa-arrows-h"></i></span><i class="fa fa-circle matchthewords_doticon"></i><v-touch :class="{notavailable: (selectedchoiceid === 0)}" :id="right.id"  tag="a" v-on:tap="choiceselected(right.id)"><span :id="right.id">{{right.text}}</span></v-touch><span><i :class="{'fa fa-check has-text-success': right.righticon, 'fa fa-times has-text-danger': right.wrongicon}"></i></span></div></li>
    </ul>
  </div>
  <div class="column is-2">
    <a class="button is-success" @click="check()">Check</a>
    <a class="button is-success" @click="tryagain()">Try Again</a>
    <a class="button is-success" @click="reset()">Reset</a>
  </div>
</div>
</template>

<script>
import eventbus from '../../config/eventhub.js'
import _ from 'lodash'
export default {
  name: 'expMatchthewords',
  props: {
    el: Object
  },
  data () {
    return {
      list: [{id: 1, text: 'choice1', bindleft: 0, list: 'left', selected: false, connectedchoice: {}, righticon: false, wrongicon: false}, {id: 2, text: 'choice2', bindleft: 0, list: 'left', selected: false, connectedchoice: {}, righticon: false, wrongicon: false}, {id: 3, text: 'choice3', bindright: 0, list: 'right', selected: false, connectedchoice: {}, righticon: false, wrongicon: false}, {id: 4, text: 'choice4', bindright: 0, list: 'right', selected: false, connectedchoice: {}, righticon: false, wrongicon: false}],
      selectedchoiceid: 0,
      rightanswer: [{id: 3, rightid: 1}, {id: 4, rightid: 2}],
      componentid: 'matchtheword',
      bindchoicesid: 'matchtheword'
    }
  },
  created () {
    eventbus.listen('checktaptap_check', (checkobject) => {
      if (checkobject.buttonevent === 'tryagain') {
      } else if (checkobject.buttonevent === 'check') {
        for (var i = 0; i < this.rightanswer.length; i++) {
          let object = _.filter(this.list, {'id': this.rightanswer[i].id})[0]
          if (Object.keys(object.connectedchoice).length > 0) {
            if (object.connectedchoice.id === this.rightanswer[i].rightid) {
              object.righticon = true
              object.wrongicon = false
            } else {
              object.righticon = false
              object.wrongicon = true
            }
          } else {
            object.righticon = false
            object.wrongicon = false
          }
        }
      }
    })
    eventbus.listen('matchtheword_clearinput', () => {
    })
    eventbus.listen('checktaptap_showrightanswers', () => {
    })
  },
  methods: {
    choiceselected (choiceid) {
      let tempobject = {}
      for (var i = 0; i < this.list.length; i++) {
        if (this.list[i].id === this.selectedchoiceid) {
          tempobject = this.list[i]
          this.list[i].selected = true
        }
      }
      for (var j = 0; j < this.list.length; j++) {
        if (this.list[j].id === choiceid) {
          this.list[j].connectedchoice = tempobject
        }
      }
      let hasinputobject = {id: choiceid, componentid: this.componentid, evt: 'add'}
      eventbus.fire('checktaptap_hasinput', hasinputobject)
      this.selectedchoiceid = 0
    },
    removeselected (matchid, choiceid) {
      for (var i = 0; i < this.list.length; i++) {
        if (this.list[i].id === matchid) {
          this.list[i].connectedchoice = {}
        }
        if (this.list[i].id === choiceid) {
          this.list[i].selected = false
        }
      }
      let hasinputobject = {id: choiceid, componentid: this.componentid, evt: 'remove'}
      eventbus.fire('checktaptap_hasinput', hasinputobject)
    },
    check () {
      for (var i = 0; i < this.rightanswer.length; i++) {
        let object = _.filter(this.list, {'id': this.rightanswer[i].id})[0]
        if (Object.keys(object.connectedchoice).length > 0) {
          if (object.connectedchoice.id === this.rightanswer[i].rightid) {
            object.righticon = true
            object.wrongicon = false
          } else {
            object.righticon = false
            object.wrongicon = true
          }
        } else {
          object.righticon = false
          object.wrongicon = false
        }
      }
    },
    tryagain () {
      for (var i = 0; i < this.list.length; i++) {
        if (this.list[i].wrongicon) {
          let object = _.filter(this.list, {'id': this.list[i].connectedchoice.id})[0]
          object.selected = false
          this.list[i].wrongicon = false
          this.list[i].connectedchoice = {}
        }
      }
    },
    reset () {
      for (var i = 0; i < this.list.length; i++) {
        this.list[i].selected = false
        this.list[i].connectedchoice = {}
        this.list[i].wrongicon = false
        this.list[i].righticon = false
      }
    }
  },
  computed: {
    customel: function () {
      return this.el
    }
  },
  watch: {
    customel: {
      handler (element) {
        this.list = JSON.parse(JSON.stringify(element.list))
        this.rightanswer = JSON.parse(JSON.stringify(element.rightanswer))
      }
    }
  }
}

</script>
