<style lang="scss" scoped>
.modal {
  max-width: 1024px;
  .modal-content {
    max-width: 850px;
    min-width: 850px;
    overflow-x: hidden;
  }
}
</style>
<template lang="html">
  <modal :ref="'componentFooterModal'" id="modal" :visible="visible" @close="close" :closable="false">
    <div class="componentContainer">
      <div class="modalClose">
        <v-touch tag="a" @tap="buttonCloseModal()"><span class="icon"><i class="fa fa-times"></i></span></v-touch>
      </div>
      <div class="helpbuttonsection">
        <modalComponent :query="query" :el="el"></modalComponent>
      </div>
    </div>
  </modal>
</template>

<script>
import { Modal } from 'vue-bulma-modal'
import HelpButtonsSection from '@/sections/Footer/Primary/HelpButtonsSection.vue'
export default {
  components: {
    modalComponent: HelpButtonsSection,
    modal: Modal
  },
  props: {
    el: Object,
    visible: Boolean,
    query: String,
  },
  data () {
    return {
        compat: null
    }
  },
  mounted () {
    document.getElementById('app').style.overflowY = 'hidden'
    document.documentElement.style.overflowY = 'hidden'
    document.getElementsByTagName('body')[0].style.overflowY = 'hidden'
  },
  methods: {
    buttonCloseModal () {
      this.$refs['componentFooterModal'].deactive()
    },
    close () {
      document.getElementById('app').removeAttribute('style')
       document.getElementsByTagName('body')[0].removeAttribute('style')
      document.documentElement.style.overflowY = 'auto'
      this.$emit('close')
    }
  }
}
</script>
