<style lang="scss">
</style>

<template lang="html">
  <div class="columns is-multiline is-mobile" v-if="openFlag">
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Start Position (Row, Column)
        </a>
      </p>
      <p class="control">
        <exp-multiselect :openDirection="'down'" track-by="id" label="label" deselectLabel='' selectLabel='' selectedLabel='' v-model="object.start" :options="keyAvailablePositions"></exp-multiselect>
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
        <a class="button is-static">
          Direction
        </a>
      </p>
      <p class="control">
        <exp-multiselect :openDirection="'down'" deselectLabel='' selectLabel='' selectedLabel='' v-model="object.direction" :options="['horizontal', 'vertical']"></exp-multiselect>
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
          <a class="button is-static">
            Check HighLight Color
          </a>
      </p>
      <p class="control">
        <input type="text" class="input" v-model="object.color">
      </p>
    </div>
    <div class="column is-12 field has-addons">
      <p class="control">
          <a class="button is-static">
            BG HighLight Color
          </a>
      </p>
      <p class="control">
        <input type="text" class="input" v-model="object.bgcolor">
      </p>
    </div>
    <div v-if="!checkObjectNull" class="column is-12 field has-addons">
      <p class="control">
          <a class="button is-info" @click="selectKeyDirection(object)">
            Add
          </a>
      </p>
    </div>
    <div class="column is-12">
      <table class="table" v-if="keysArray.length > 0">
        <thead>
          <tr>
            <th>ID</th>
            <th>Word</th>
            <th>Row</th>
            <th>Column</th>
            <th>Direction</th>
            <th>Color</th>
            <th>BG Color</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(key, index) in keysArray">
            <th>{{index}}</th>
            <th>{{key.word}}</th>
            <th>{{key.row}}</th>
            <th>{{key.column}}</th>
            <th>{{key.direction}}</th>
            <th :style="{backgroundColor: key.color}" >{{key.color}}</th>
            <th :style="{backgroundColor: key.bgcolor}" >{{key.bgcolor}}</th>
            <th><a @click="deleteKey(index)"><span class="icon is-small has-text-danger"><i class="fa fa-times"></i></span></a></th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import eventbus from '@/config/eventhub.js'
import some from 'lodash/some'
import isEmpty from 'lodash/isEmpty'
import groupBy from 'lodash/groupBy'
import minBy from 'lodash/minBy'
import set from 'lodash/set'
import sortBy from 'lodash/sortBy'
export default {
  name: 'crosswordskeysettings',
  props: {
    el: Object
  },
  data () {
    return {
      object: {
        start: null,
        direction: null,
        color: null,
        bgcolor: null
      },
      keysArray: [],
      openFlag: false
    }
  },
  mounted () {
    eventbus.listen('crosswordskeysettings_open', (data) => {
      this.openFlag = true
      let lettersArray = JSON.parse(JSON.stringify(this.el.letters))
      let lettersArrayObject = groupBy(lettersArray.filter((value) => {
        return value.BgKeyHighlight !== null && value.BgKeyHighlight !== undefined
      }), 'BgKeyHighlight')
      // filter letters array with only secret message letters
      // group by BgKeyHighlight Color

      // for each secret key create the word with appropriate settings
      Object.keys(lettersArrayObject).forEach((value) => {
        let object = {}
        let word = ''
        if (lettersArrayObject[value][0].row === lettersArrayObject[value][1].row) {
          object['direction'] = 'horizontal'
          object['row']  = lettersArrayObject[value][0].row
          object['column'] = minBy(lettersArrayObject[value], 'column').column
          object['color']  = lettersArrayObject[value][0].checkKeyHighlight
          object['bgcolor']  = lettersArrayObject[value][0].BgKeyHighlight
          lettersArrayObject[value] = sortBy(lettersArrayObject[value], 'column')
        } else if (lettersArrayObject[value][0].column === lettersArrayObject[value][1].column) {
          object['direction'] = 'vertical'
          object['column']  = lettersArrayObject[value][0].column
          object['row'] = minBy(lettersArrayObject[value], 'row').row
          object['color']  = lettersArrayObject[value][0].checkKeyHighlight
          object['bgcolor']  = lettersArrayObject[value][0].BgKeyHighlight
          lettersArrayObject[value] = sortBy(lettersArrayObject[value], 'row')
        }
         object['word'] = lettersArrayObject[value].map((value) => {
           return value.letter
         }).join('')
        this.keysArray.push(object)
      })
    })
    eventbus.listen('crosswordskeysettings_close', (data) => {
      this.openFlag = false
    })
  },
  methods: {
    selectKeyDirection (object) {
      let keyWord = ''
        object.direction === 'horizontal' ? this.el.letters.forEach((value, index) => {
          if (value.row === object.start.row && value.column === object.start.column) {
            keyWord = keyWord + value.letter
            set(this.el.letters[index], 'BgKeyHighlight', object.bgcolor)
            set(this.el.letters[index], 'checkKeyHighlight', object.color)
          } else if (value.row === object.start.row) {
            keyWord = keyWord + value.letter
            set(this.el.letters[index], 'checkKeyHighlight', object.color)
            set(this.el.letters[index], 'BgKeyHighlight', object.bgcolor)
          }
        }): this.el.letters.forEach((value, index) => {
          if (value.row === object.start.row && value.column === object.start.column) {
            keyWord = keyWord + value.letter
            set(this.el.letters[index], 'BgKeyHighlight', object.bgcolor)
            set(this.el.letters[index], 'checkKeyHighlight', object.color)
          } else if (value.column === object.start.column) {
            keyWord = keyWord + value.letter
            set(this.el.letters[index], 'checkKeyHighlight', object.color)
            set(this.el.letters[index], 'BgKeyHighlight', object.bgcolor)
          }
        })
        this.keysArray.push({word: keyWord, row: object.start.row, column: object.start.column, direction: object.direction, bgcolor: object.bgcolor, color: object.color})
        Object.keys(this.object).forEach((key) => {
          this.object[key] = null
        })
    },
    deleteKey (index) {
      let row = this.keysArray[index].row
      let column = this.keysArray[index].column
      let direction = this.keysArray[index].direction
      if (direction === 'horizontal') {
        this.el.letters.forEach((object) => {
          if (object.row === row) {
            object.BgKeyHighlight = null
            object.checkKeyHighlight = null
          }
        })
      } else if (direction === 'vertical') {
        this.el.letters.forEach((object) => {
          if (object.column === column) {
            object.BgKeyHighlight = null
            object.checkKeyHighlight = null
          }
        })
      }
      this.keysArray.splice(index, 1)
    }
  },
  computed: {
    keyAvailablePositions: function () {
      return this.el.letters.map((value) => {
        return {row: value.row, column: value.column, label: value.row + ', ' + value.column}
      })
    },
    checkObjectNull: function () {
      return some(this.object, isEmpty)
    }
  }
}

</script>
