<style lang="scss">
</style>
<template lang="html">
  <div class="columns is-multiline">
    <div class="column is-12 is-paddingless">
      <div class="tabs is-boxed">
        <ul>
          <li :class="{'is-active': tab === 'choice'}"><a @click="tabclicked('choice')">Choices</a></li>
          <li :class="{'is-active': tab === 'grouping'}"><a @click="tabclicked('grouping')">Grouping</a></li>
          <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">Groups BG.</a></li>
          <li :class="{'is-active': tab === 'choicesbackground'}"><a @click="tabclicked('choicesbackground')">Choices BG.</a></li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
import Bus from '@/config/eventhub.js'
export default {
  name: 'groupingwithbg',
  data () {
    return {
      settingcomp: null,
      tab: null
    }
  },
  props: {
    el: Object
  },
  methods: {
    tabclicked (tab) {
      this.settingcomp = null
      this.el.settingtab = tab
      this.tab = tab
      Bus.fire('settingsection', tab)
    }
  }
}
</script>
