<style lang="scss">
.center_column_flex {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	.field:not(:last-child) {
		margin-bottom: 0px;
	}
}
.start_column_flex {
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	.field:not(:last-child) {
		margin-bottom: 0px;
	}
}
.center_row_flex_evenly {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	.field:not(:last-child) {
		margin-bottom: 0px;
	}
}
.center_row_flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	.field:not(:last-child) {
		margin-bottom: 0px;
	}
}
.slide-fade-enter-active {
	transition: all 0.3s linear;
}
.slide-fade-enter,
.slide-fade-leave-to {
	transform: translateY(10px);
	opacity: 0;
}
.slide-left-fade-enter-active {
	transition: all 0.3s linear;
}
.slide-left-fade-enter,
.slide-left-fade-leave-to {
	transform: translateX(10px);
	opacity: 0;
}
.grey {
	background-color: lightgrey;
}
</style>

<template lang="html">
<div class="columns is-multiline">
  <!-- <pre>{{object}}</pre> -->
  <div class="tabs is-boxed column is-12 is-paddingless">
      <ul>
        <li :class="{'is-active': tab === 'karaoke'}"><a @click="tabclicked('karaoke')">Karaoke</a></li>
        <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">BG. Settings</a></li>
        <li :class="{'is-active': tab === 'controller'}"><a @click="tabclicked('controller')">Controller</a></li>
        <li :class="{'is-active': tab === 'statictexts'}"><a @click="tabclicked('statictexts')">Static Texts</a></li>
        <li :class="{'is-active': tab === 'staticimages'}"><a @click="tabclicked('staticimages')">Static Images</a></li>
      </ul>
  </div>
  <!-- //----------------------------------------------------------AUDIO FILE----------------------------------------------------------------------- -->
  <div v-if="el.settingtab === 'karaoke'" class="column is-12">
    <div class="columns is-multiline">
      <div class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">Audio File Name</a>
        </p>
        <p class="control">
          <input class="input" type="text" v-model="el.audiofilename">
        </p>
        <p class="control">
          <p class="button is-static notavailable" :disabled="el.audiofilename===null||el.audiofilename===undefined||el.audiofilename===''"  @click="changeContext()">cntx</p>
        </p>
      </div>
<!-- //----------------------------------------------------------XML FILE----------------------------------------------------------------------- -->
      <div class="level">
        <div class="level-item has-text-centered">
          <div class="column is-12 field has-addons">
            <p class="control">
              <a class="button is-static">XML File</a>
            </p>
            <div v-if="xmlfile===null||el.textarray.length==0" class="file control">
              <label class="file-label">
                <input @change="uploadxml()" class="file-input" type="file" id="xmlfileinput">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fa fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                </span>
              </label>
            </div>
            <div v-else class="control">
              <a class="button" disabled>{{xmlfile}}</a>
            </div>
            <p class="control">
              <a class="button is-danger" :disabled="xmlfile==null||el.textarray.length==0" :class="[xmlfile==null||el.textarray.length==0?'notavailable':'']" @click="xmlfile=null"><i class="fa fa-trash"></i></a>
            </p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div class="column is-12 field has-addons">
            <p class="control">
              <router-link :to="{path: '/karaoke', query:{package: $route.query.package, module: $route.query.module, page: $route.query.page}}"  class="button is-info">Custom Karaoke Text</router-link>
            </p>
          </div>
        </div>
      </div>
<!-- //----------------------------------------------------------TITLE TOGGLE------------------------------------------------------------------------ -->
    <div class="column is-12">
      <transition name="slide-fade">
      <div v-if="!titleFlag" class="field has-addons ">
        <div class="control">
          <a class="button is-static">
            Title
          </a>
        </div>
        <div class="control">
          <a class="button has-text-info" :disabled="el.textarray.length==0" :class="[el.textarray.length==0?'notavailable':'']" @click="addGroup('title')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
      </transition>

      <transition name="slide-fade">
      <div v-if="titleFlag" class="field has-addons ">
        <div class="control">
          <a class="button is-static">
            Title
          </a>
        </div>
        <div class="control">
          <a class="button has-text-info" :disabled="el.segments[0].expanded== false" :class="[el.segments[0].expanded== false?'notavailable':'']" @click="el.segments[0].expanded= false">
            <i class="fa fa-window-minimize"></i>
          </a>
        </div>
        <div class="control">
          <a class="button has-text-info" :disabled="el.segments[0].expanded ==true" :class="[el.segments[0].expanded ==true?'notavailable':'']" @click="el.segments[0].expanded =true">
            <i class="fa fa-window-maximize"></i>
          </a>
        </div>
        <div class="control">
          <a class="button is-danger"  @click="deleteTitle();">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </div>
      </transition>

      <transition name="slide-fade">
      <div v-if="titleFlag&& el.segments[0].expanded ==true" class=" center_column_flex">
        <div class="field has-addons ">
          <div class="control">
            <a class="button is-static">
              Select range:
            </a>
          </div>
          <div class="control">
            <input v-focus class="input is-rounded" min="1" max="textarray.length" type="number" @input="getRange('title',el.segments[0].range.start,el.segments[0].range.end)"  v-model="el.segments[0].range.start">
          </div>
          <div class="control">
            <a class="button is-static">
              to
            </a>
          </div>
          <div class="control">
            <input  class="input is-rounded" :min="parseInt(el.segments[0].range.start)+1" max="textarray.length" type="number" @input="getRange('title',el.segments[0].range.start,el.segments[0].range.end)"  v-model="el.segments[0].range.end">
          </div>
        </div>
      </div>
      </transition>
    </div>
<!-- //----------------------------------------------------------SUBTITLE TOGGLE------------------------------------------------------------------------ -->
    <div class="column is-12">
      <transition name="slide-fade">
      <div v-if="!subtitleFlag" class="field has-addons ">
        <div class="control">
          <a class="button is-static">
            Subtitle
          </a>
        </div>
        <div class="control">
          <a class="button has-text-info" :disabled="titleFlag!=true" :class="[titleFlag!=true?'notavailable':'']" @click="addGroup('subtitle')">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
      </transition>

      <transition name="slide-fade">
      <div v-if="subtitleFlag" class="field has-addons ">
        <div class="control">
          <a class="button is-static">
            Subtitle
          </a>
        </div>
        <div class="control">
          <a class="button has-text-info" :disabled="el.segments[1].expanded== false" :class="[el.segments[1].expanded== false?'notavailable':'']" @click="el.segments[1].expanded= false">
            <i class="fa fa-window-minimize"></i>
          </a>
        </div>
        <div class="control">
          <a class="button has-text-info" :disabled="el.segments[1].expanded ==true" :class="[el.segments[1].expanded ==true?'notavailable':'']" @click="el.segments[1].expanded =true">
            <i class="fa fa-window-maximize"></i>
          </a>
        </div>
        <div class="control">
          <a class="button is-danger"  @click="deleteSubtitle();">
            <i class="fa fa-trash"></i>
          </a>
        </div>
      </div>
      </transition>

      <transition name="slide-fade">
      <div v-if="subtitleFlag&&titleFlag&& el.segments[1].expanded ==true" class=" center_column_flex">
        <div class="field has-addons ">
        <div class="control">
          <a class="button is-static">
            Select range:
          </a>
        </div>
        <div class="control">
          <input v-focus  class="input" min="0" max="textarray.length" type="number"  @input="getRange('subtitle',el.segments[1].range.start,el.segments[1].range.end)"  v-model="el.segments[1].range.start">
        </div>
        <div class="control">
          <a class="button is-static">
            to
          </a>
        </div>
        <div class="control">
          <input  class="input" :min="parseInt(el.segments[1].range.start)+1" max="textarray.length" type="number"  @input="getRange('subtitle',el.segments[1].range.start,el.segments[1].range.end)"  v-model="el.segments[1].range.end">
        </div>
      </div>
      </div>
      </transition>
    </div>
<!-- //----------------------------------------------------------ADD GROUP----------------------------------------------------------------------- -->
    <div class="column is-12">
      <div class="field has-addons ">
        <div class="control">
          <a class="button is-static">
            Add a segment
          </a>
        </div>
        <div class="control">
          <a class="button has-text-info" :disabled="el.textarray.length==0" :class="[el.textarray.length==0?'notavailable':'']" @click="addGroup(null)">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
      <transition name="slide-fade">
      <div focus v-if="minusTitleandSubtitleArray.length>0" class="column is-12">
        <div class="center_row_flex_evenly">
          <div class="field has-addons">
            <p class="control">
              <a class="button is-static">
                  Your segments:
              </a>
            </p>
            <p class="control">
              <exp-field>
                <exp-multiselect track-by="id" label="id" v-model="currentobj" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" :options="minusTitleandSubtitleArray" @input="selectGroup()">
                </exp-multiselect>
              </exp-field>
            </p>
          </div>
        </div>

      </div>
      </transition>
    </div>


    <div class="column card is-12 ">
      <div  v-if="currentobj !== null" class="start_column_flex">
        <div class="field has-addons" style="margin-bottom:10px">
          <p class="control"><a class="button is-static">Group: {{currentobj.id}}</a></p>
        </div>
        <transition name="slide-fade">
        <div class="field has-addons" style="margin-bottom:10px">
          <div class="control">
            <a class="button is-static">
              Select range:
            </a>
          </div>
          <div class="control">
            <input v-focus  class="input" min="0" max="textarray.length" type="number" @input="getRange('group',el.segments[groupIndex].range.start,el.segments[groupIndex].range.end)" subtitle  v-model="el.segments[groupIndex].range.start">
          </div>
          <div class="control">
            <a class="button is-static">
              to
            </a>
          </div>
          <div class="control">
            <input  class="input" :min="parseInt(el.segments[groupIndex].range.start)+1" @input="getRange('group',el.segments[groupIndex].range.start,el.segments[groupIndex].range.end)" max="textarray.length" type="number" @change=""  v-model="el.segments[groupIndex].range.end">
          </div>
        </div>
        </transition>
        <div class="field has-addons" style="align-self:flex-end">
          <p class="control"><a class="button is-info "@click="goBack()">Back</a></p>
          <p class="control"><a class="button is-danger "@click="deleteGroup()">Delete</a></p>
        </div>
      </div>
    </div>

<!-- //----------------------------------------------------------LOWER TABS------------------------------------------------------------------------ -->
      <div class="column is-12">
        <div class="tabs is-boxed column is-12 is-paddingless">
            <ul>
              <li :class="{'is-active': innertab === 'highlight'}"><a @click="innerTabClicked('highlight')">Highlight</a></li>
              <li v-if="titleFlag" :class="{'is-active': innertab === 'title'}"><a @click="innerTabClicked('title')">Title</a></li>
              <li v-if="subtitleFlag" :class="{'is-active': innertab === 'subtitle'}"><a @click="innerTabClicked('subtitle')">Subtitle</a></li>
              <template v-if="minusTitleandSubtitleArray.length>0" v-for="(group,index) in minusTitleandSubtitleArray" >
                <transition name="slide-left-fade">
                <li v-if="group.expanded" :class="{'is-active': innertab === group.id}"><a @click="innerTabClicked(group.id)" :key="group.id">Group:{{index}}</a></li>
                </transition>
              </template>
            </ul>
        </div>
      </div>
      <div v-if="decorationflag" class="column is-12">
        <div class="columns is-multiline">
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  Text Decoration
                </a>
              </p>
              <p class="control">
                <a :class="{'grey': textdecortab=='n'}" @click="object.textdecoration = 'none';textdecortab='n'" class="button has-text-info">
                  None
                </a>
              </p>
              <p class="control">
                <a :class="{'grey': textdecortab=='u'}" @click="object.textdecoration = 'underline';textdecortab='u'" class="button has-text-info">
                  <span style="text-decoration: underline">ULine</span>
                </a>
              </p>
              <p class="control">
                <a :class="{'grey': textdecortab=='o'}" @click="object.textdecoration = 'overline';textdecortab='o'" class="button has-text-info">
                  <span style="text-decoration: overline">OLine</span>
                </a>
              </p>
              <p class="control">
                <a :class="{'grey': textdecortab=='l'}" @click="object.textdecoration = 'line-through';textdecortab='l'" class="button has-text-info">
                  <span style="text-decoration: line-through">LineThr</span>
                </a>
              </p>
            </div>
          </div>
          <div class="column is-12">
            <div class="field has-addons">
              <p class="control">
                <a class="button is-static">
                  BG. Color
                </a>
              </p>
              <p class="control">
                <input v-focus class="input" type="text" placeholder="Border Color" v-model="object.bgcolor">
              </p>
            </div>
          </div>
            <div class="column is-12">
              <div class="field has-addons">
                <p class="control">
                  <a class="button is-static">
                    Decor. Color
                  </a>
                </p>
                <p class="control">
                  <input class="input" type="text" placeholder="Border Color" v-model="object.decorcolor">
                </p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import countBy from 'lodash/countBy'
import eventbus from '@/config/eventhub.js'
import { COLORS_OBJECTS } from '@/config/app-config.js'
import Peaks from 'peaks.js'
import { APIENDPOINT, MEDIAENDPOINT } from '@/config/app-config'
export default {
  name: 'karaokesection',
  props: {
    el: Object
  },
  data () {
    return {
      tab: null,
      xmlfile: null,
      segments: {},
      innertab: null,
      titleFlag: false,
      subtitleFlag: false,
      groupIndex: null,
      currentobj: null,
      offset: 0,
      textarray: [],
			// colorarray: COLORS_OBJECTS,
      decorationflag: false,
      textdecortab: null,
      MEDIAENDPOINT: MEDIAENDPOINT,
      object: {
        bgcolor: null,
        decorcolor: null,
        textdecoration: null
      },
      tempobject: {
        'text-decoration-line': null,
        'text-decoration-color': null,
        'background-color': null
      }
    }
  },
  directives: {
    focus: {
      inserted: function (element) {
        element.focus()
        element.scrollIntoView({ behavior: 'smooth' })
      }
    }
  },
  mounted () {
    this.$nextTick(() => {
      let t = localStorage.getItem('updatedsegments')
      if (t === undefined || t === null) {
				// console.log('got no new stuff')
      } else {
				// Object.assign(this.$data, this.$options.data());
				// console.log('got new stuff', JSON.parse(t))
        this.$set(this.el, 'textarray', JSON.parse(t))
				// this.el.textarray = JSON.parse(t);
        localStorage.removeItem('updatedsegments')
				// console.log('new and updated textarray', this.el.textarray)
        this.el.segments = {}
      }

      if (this.el.segments[0] !== undefined) {
        this.titleFlag = true
        this.offset++
      }
      if (this.el.segments[1] !== undefined) {
        this.subtitleFlag = true
        this.offset++
      }
      _.forEach(this.el.segments, o => {
        o.expanded = false
      })
      if (_.size(this.el.highlightobject) !== 0) {
        for (let key in this.el.highlightobject) {
          if (key == 'background-color') {
            this.object.bgcolor = this.el.highlightobject[key]
          }
          if (key == 'text-decoration-color') {
            this.object.decorcolor = this.el.highlightobject[key]
          }
          if (key == 'text-decoration-line') {
            this.object.textdecoration = this.el.highlightobject[key]
            if (this.object.textdecoration !== null) {
              this.textdecortab = this.object.textdecoration.charAt(0)
            }
          }
        }
      }
    })
  },
  methods: {
    addGroup (arg) {
      if (arg !== null) {
        if (arg == 'title') {
          this.$set(this.el.segments, 0, {
            id: 'title',
            range: {
              start: 0,
              end: null
            },
            arr: [],
            bgobject: {},
            expanded: true
          })
          this.titleFlag = true
          this.offset += 1
        }
        if (arg == 'subtitle') {
          this.$set(this.el.segments, 1, {
            id: 'subtitle',
            range: {
              start: null,
              end: null
            },
            arr: [],
            bgobject: {},
            expanded: true
          })
          this.subtitleFlag = true
          this.offset += 1
        }
      } else {
        let size = 0
        if (this.titleFlag) {
          size += 1
        }
        if (this.subtitleFlag) {
          size += 1
        }
        this.$set(
					this.el.segments,
					2 + this.minusTitleandSubtitleArray.length,
          {
            id: 'group' + this.minusTitleandSubtitleArray.length,
            range: {
              start: null,
              end: null
            },
            arr: [],
            bgobject: {},
            expanded: false
          }
				)
      }
    },
    selectGroup () {
      let obj = Object.entries(this.el.segments).filter(o => {
        if (o[1].id == this.currentobj.id) return o[0]
      })
      this.groupIndex = obj[0][0]
      this.minusTitleandSubtitleArray.forEach(o => {
        if (o.id !== this.currentobj.id) {
          o.expanded = false
        } else o.expanded = true
      })
    },
    goBack () {
      this.currentobj = null
      this.minusTitleandSubtitleArray.forEach(o => {
        o.expanded = false
      })
    },
    deleteTitle () {
      this.$delete(this.el.segments, '0')
      this.titleFlag = false
      this.offset -= 1
      if (this.subtitleFlag) {
        this.deleteSubtitle()
      }
    },
    deleteSubtitle () {
      this.$delete(this.el.segments, '1')
      this.subtitleFlag = false
      this.offset -= 1
    },
    deleteGroup () {
      this.$delete(this.el.segments, this.groupIndex)
      this.currentobj = null
    },
    getRange (src, min, max) {
      if (
				min === undefined ||
				min === null ||
				max === undefined ||
				max === null
			) {
        return
      }
      let words = this.el.textarray.slice(min - 1, max)
      switch (src) {
        case 'title':
          this.el.segments[0].arr.length = 0
          this.el.segments[0].arr = words
          break
        case 'subtitle':
          this.el.segments[1].arr.length = 0
          this.el.segments[1].arr = words
          break
        case 'group':
          this.el.segments[this.groupIndex].arr.length = 0
          this.el.segments[this.groupIndex].arr = words
          break
      }
    },
    changeContext () {
      console.log(document.querySelector('audio').currentSrc)
    },
    tabclicked (tab) {
      this.el.settingtab = tab
      this.tab = tab
      switch (tab) {
        case 'background':
          eventbus.firePrimarySettings('uicomponentbgsettings_open', {
            style: `bgobject`
          })
          break
        case 'controller':
          eventbus.firePrimarySettings('uicomponentbgsettings_open', {
            style: `controller_bgobject`
          })
          break
      }
    },
    innerTabClicked (tab) {
      this.innertab = tab
      switch (tab) {
        case 'title':
          eventbus.firePrimarySettings('uicomponenttext_open', {
            style: `segments[0].bgobject`
          })
          this.decorationflag = false
          break
        case 'subtitle':
          eventbus.firePrimarySettings('uicomponenttext_open', {
            style: `segments[1].bgobject`
          })
          this.decorationflag = false
          break
        case 'highlight':
          this.decorationflag = !this.decorationflag
          eventbus.closePrimarySettings()
          break
        default:
          eventbus.firePrimarySettings('uicomponenttext_open', {
            style: `segments[${this.groupIndex}].bgobject`
          })
          this.decorationflag = false
      }
    },
    uploadxml () {
      this.textarray = []
      if (this.titleFlag) {
        this.deleteTitle()
      }
      this.el.segments = {}
      Object.assign(this.$data, this.$options.data())
      let input = null
      if (typeof window.FileReader !== 'function') {
        bodyAppend('p', "The file API isn't supported on this browser yet.")
        return
      }
      input = document.getElementById('xmlfileinput')
      if (!input) {
        bodyAppend('p', "Um, couldn't find the fileinput element.")
      } else if (!input.files) {
        bodyAppend(
					'p',
					"This browser doesn't seem to support the `files` property of file inputs."
				)
      } else if (!input.files[0]) {
        bodyAppend('p', "Please select a file before clicking 'Load'")
      } else {
        let file = input.files[0]
        let fr = new FileReader()
        fr.onload = () => {
          var parser = new DOMParser()
          var doc = parser.parseFromString(fr.result, 'application/xml')
          let wordslength = 0
          for (
						var i = 0;
						i < doc.childNodes[0].getElementsByTagName('lyric').length;
						i++
					) {
            var text = doc.childNodes[0]
							.getElementsByTagName('lyric')
							[i].getAttribute('text')
            var xmltime = doc.childNodes[0]
							.getElementsByTagName('lyric')
							[i].getAttribute('time')
						// this.textarray.push({ text: text, area: null, time: xmltime });
            this.textarray.push({
              id: i,
              labelText: text,
              startTime: xmltime
            })
          }
          this.el.textarray = JSON.parse(JSON.stringify(this.textarray))
        }
				// console.log(this.el.textarray);
        this.xmlfile = file.name
        fr.readAsText(file)
      }
    },
    loadhighlight () {
      if (this.object.decorcolor !== null) {
				// this.tempobject.textDecorationColor = this.object.decorcolor;
        this.tempobject['text-decoration-color'] = this.object.decorcolor
      }
      if (this.object.bgcolor !== null) {
				// this.tempobject.backgroundColor = this.object.bgcolor;
        this.tempobject['background-color'] = this.object.bgcolor
      }
      if (this.object.textdecoration !== null) {
				// this.tempobject.textDecoration = this.object.textdecoration;
        this.tempobject['text-decoration-line'] = this.object.textdecoration
      }
      this.el.highlightobject = JSON.parse(JSON.stringify(this.tempobject))
    }
  },
  computed: {
    compobject: function () {
      return this.object
    },
		// copy: function() {
		//   return JSON.parse(JSON.stringify(this.textarray));
		// },
    minusTitleandSubtitleArray: function () {
      return _.toArray(this.el.segments).slice(this.offset)
    }
  },
  watch: {
    compobject: {
      handler (object) {
				// console.log('change!')
        this.loadhighlight()
      },
      deep: true
    }
  }
}
</script>
