<style lang="scss">
</style>
<template lang="html">
  <div class="columns is-multiline">
    <div class="tabs is-boxed column is-12 is-paddingless">
      <ul>
        <li :class="{'is-active': tab === 'missingletter'}"><a @click="tabclicked('missingletter')">Missing Letter</a></li>
        <li :class="{'is-active': tab === 'background'}"><a @click="tabclicked('background')">Background Settings</a></li>
      </ul>
    </div>
  <div v-if="tab === 'missingletter'" class="column is-12">
      <div class="field has-addons">
          <p class="control">
              <a class="button is-static">
                  New Missing Letter
              </a>
          </p>
          <div class="field has-addons">
              <p class="contol"><a class="button" @click="add_missingletter()"><i class="fa fa-plus"></i></a></p>
          </div>
      </div>
    </div>
  <div class="column is-12 columns is-multiline" v-if="el.settingtab === 'missingletter'">
      <div  class="column is-12 field has-addons">
        <p class="control">
          <a class="button is-static">
            Missing Letter
          </a>
        </p>
        <p class="control">
          <exp-field>
            <exp-multiselect track-by="id" label="id" v-model="settingcomp" :hide-selected="false" deselectLabel="" selectLabel="" selectedLabel="" :allow-empty="false" :openDirection="'top'" @input="add_setting()" :options="el.missingletter">
            </exp-multiselect>
          </exp-field>
        </p>
      </div>
      <div v-if="this.el.settingid !== null" class="column is-6">
        <p class="control">
          <a @click="delete_missingletter()" class="button is-danger">
            Delete Tap
          </a>
        </p>
      </div>
      <div v-if="this.el.settingid !== null" class="column is-6">
        <p class="control">
          <a @click="copy_missingletter()" class="button is-info">
            Copy Tap
          </a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
import Bus from '@/config/eventhub.js'
import maxBy from 'lodash/maxBy'
export default {
  // Main Setting Page for Missing Letter with BG section
  name: 'missingletterwithbg',
  data () {
    return {
      settingcomp: null,
      missingletterid: 1,
      tab: null,
      missingletter: {
        id: 0,
        beforetext: 'Text before missingletter input ',
        aftertext: 'Text after missingletter input',
        bindchoicesid: 'missingletter',
        wordarray: []
      }
    }
  },
  props: {
    el: Object
  },
  mounted () {
    this.tab = null
    this.el.settingid = null
    this.el.settingtab = null
  },
  methods: {
    // Add new missing letter component
    add_missingletter () {
      // find the max id of json missing letter array and increase it by one
      if (this.el.missingletter.length > 0) {
        let maxmissingletter = maxBy(this.el.missingletter, 'id')
        this.missingletterid = maxmissingletter.id + 1
      }
      // add new missingletter to json
      this.el.missingletter.push({
        id: this.missingletterid,
        beforetext: 'Text before missingletter input ',
        aftertext: 'Text after missingletter input',
        bindchoicesid: 'missingletter',
        wordarray: []
      })
    },
    // delete on of missing letter component and re-calculate the ids
    delete_missingletter () {
      this.el.missingletter.splice(this.el.settingid, 1)
      for (var i = 0; i < this.el.missingletter.length; i++) {
        this.el.missingletter[i].id = (i + 1)
      }
      this.el.settingid = null
      this.settingcomp = null
    },
    // copy missing letter component
    copy_missingletter () {
      let copymissingletter = maxBy(this.el.missingletter, 'id')
      this.missingletterid = copymissingletter.id + 1
      this.el.missingletter.push({
        id: this.missingletterid,
        beforetext: this.el.missingletter[this.el.settingid].beforetext,
        aftertext: this.el.missingletter[this.el.settingid].aftertext,
        bindchoicesid: this.el.missingletter[this.el.settingid].bindchoicesid,
        wordarray: this.el.missingletter[this.el.settingid].wordarray
      })
    },
    // dop down menu choose to edit one of the missing letter components based on id
    // and send the index as this.el.settingid
    add_setting () {
      this.el.settingid = (this.settingcomp.id - 1)
      Bus.fire('settingsection', 'missingletter')
    },
    // Navigation method
    tabclicked (tab) {
      this.el.settingid = null
      this.settingcomp = null
      this.el.settingtab = tab
      this.tab = tab
      Bus.fire('settingsection', tab)
    }
  }
}

</script>
